%preloader {
  animation: spin 800ms infinite linear;
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2236px%22%20height%3D%2236px%22%20viewBox%3D%220%200%2036%2036%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22circle%22%20cx%3D%2218%22%20cy%3D%2218%22%20r%3D%2213%22%3E%3C%2Fcircle%3E%3C%2Fdefs%3E%3Ccircle%20fill%3D%22%23E7EAEE%22%20cx%3D%2218%22%20cy%3D%2218%22%20r%3D%2218%22%3E%3C%2Fcircle%3E%3Cmask%20id%3D%22mask%22%20fill%3D%22white%22%3E%3Cuse%20xlink%3Ahref%3D%22%23circle%22%3E%3C%2Fuse%3E%3C%2Fmask%3E%3Cuse%20fill%3D%22%23FFFFFF%22%20xlink%3Ahref%3D%22%23circle%22%3E%3C%2Fuse%3E%3Crect%20fill%3D%22%239999CC%22%20mask%3D%22url%28%23mask%29%22%20x%3D%2218%22%20y%3D%2218%22%20width%3D%2214%22%20height%3D%2214%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22%23CC3333%22%20mask%3D%22url%28%23mask%29%22%20x%3D%224%22%20y%3D%224%22%20width%3D%2214%22%20height%3D%2214%22%3E%3C%2Frect%3E%3C%2Fsvg%3E%0A') no-repeat;
  margin-left: -18px;
  margin-top: -18px;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  z-index: 10;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
