// -------------------------------------
// Polylog Promo
// -------------------------------------

.tile.eof,
.card-header.eof {
  background: rgb(0, 0, 51) url('/a/img/polylog-promo/2017-eof/eof.jpg') no-repeat;

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    background-image: url('/a/img/polylog-promo/2017-eof/eof@2x.jpg');
    background-size: 602px 252px;
  }
}

.card-header.eof {
  background-position: top right -12rem;
}


.tile.eof {
  @include media-breakpoint-up(sm) {
    display: flex;
  }
}

.tile.eof .tile-body {
  padding-top: 6.6rem;

  @include media-breakpoint-up(sm) {
    flex: 0 0 260px;
  }
}

.tile.eof .tile-summary {
  color: rgba(255, 255, 255, .54);
}

// Logo

.eof .tile-logo,
.eof .card-logo {
  position: absolute;
}

.eof .tile-logo {
  top: 2.4rem;
  left: 2.4rem;

  @include media-breakpoint-up(xl) {
    left: 3.2rem;
  } // xl
}

.eof .card-logo {
  margin-left: -2.8rem;
  top: 9.6rem;
  left: 50%;
}


