<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="/ru/upcoming-events" itemprop="url">

    <figure class="card-header eof">
      <img class="card-logo" src="/a/img/polylog-promo/2017-eof/logo.svg" itemprop="image" alt="Логотип Первого Евразийского ортопедического форума">
    </figure>

    <div class="card-body solid">

      <h3 class="card-headline" itemprop="name">Первый Евразийский ортопедический форум</h3>

      <div class="card-summary">
        <p class="sr-only" itemprop="description">
          Более 3000 практикующих врачей из 25 стран АТР и Евросоюза соберутся на форуме. 2 дня, 10 залов, более 150 лекций, мастер-классов, клинических случаев, презентаций новых технологий и оборудования. Крупнейшая в Евразии выставка по травматологии-ортопедии – более 4000 кв. метров.
        </p>

        <span class="nowrap">
          <time datetime="2017-06-29T10:00" itemprop="startDate" content="2017-06-29T10:00">
            29—</time><time datetime="2017-06-30T18:00" itemprop="endDate" content="2017-06-30T18:00">30 июня 2017.
          </time>
        </span>
        <address itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Москва,</span>
          </span>
          <span itemprop="name">
            Экспоцентр
          </span>
          <span class="sr-only" itemprop="telephone">+7 (903) 130-12-03</span>
        </address>
      </div>
    </div>
  </a>
</div>
