<div class="col-lg-6" itemscope itemtype="http://schema.org/Event">
  <a class="tile eof poster wide" href="/ru/upcoming-events" itemprop="url" aria-label="Первый Евразийский ортопедический Форум. 29–30 июня 2017 в московском Экспоцентре">

    <img class="tile-logo" src="/a/img/polylog-promo/2017-eof/logo.svg" itemprop="image" alt="Логотип Первого Евразийского ортопедического форума">

    <div class="tile-body">

      <h2 class="tile-headline mb-1" itemprop="name">
        Первый Евразийский ортопедический форум
      </h2>

      <div class="tile-summary">
        <p class="sr-only" itemprop="description">
          Более 3000 практикующих врачей из 25 стран АТР и Евросоюза соберутся на форуме. 2 дня, 10 залов, более 150 лекций, мастер-классов, клинических случаев, презентаций новых технологий и оборудования. Крупнейшая в Евразии выставка по травматологии-ортопедии – более 4000 кв. метров.
        </p>

        <span class="nowrap">
          <time datetime="2017-06-29T10:00" itemprop="startDate" content="2017-06-29T10:00">
            29—</time><time datetime="2017-06-30T18:00" itemprop="endDate" content="2017-06-30T18:00">30 июня 2017.
          </time>
        </span>
        <address itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Москва,</span>
          </span>
          <span itemprop="name">
            Экспоцентр
          </span>
          <span class="sr-only" itemprop="telephone">+7 (903) 130-12-03</span>
        </address>
      </div>

    </div>

    <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>

  </a>{# / tile #}
</div>
