// -----------------------------------------------------------------------------
// Containers
// -----------------------------------------------------------------------------

// main.container {

//   @include media-breakpoint-up(md) {
//     opacity: 0;
//     transform: translateY(48px);
//     transition: all .4s ease-in;
//     will-change: transform, opacity;
//   }

//   &.in-view {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

.container {
  position: relative;

  @include media-breakpoint-only(sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container,
.jumbotron-container {
  // Add some more space on tablets
  @include media-breakpoint-only(lg) {
    width: 900px;
  }

  // Add some more space on tablets
  @include media-breakpoint-only(lg-xl) {
    width: 932px;
  }
}


// Extra space on index pages
.separated-jumbotron main.container {
  padding-top: .4rem;

  @include media-breakpoint-up(sm) {
    padding-top: 1.2rem;
  } // sm

  @include media-breakpoint-up(md) {
    padding-top: 6rem;
  } // md

  @include media-breakpoint-up(lg) {
    padding-top: 8.2rem;
  } // lg
}
