// -----------------------------------------------------------------------------
// Helpers
// -----------------------------------------------------------------------------

// Reduse gaps between inputs in line set
.snuggled-left { padding-left: 0; }
.snuggled-right { padding-right: 0; }

// 1) Empty space around the .full-width parent equals
// the viewport width (1440 on Macbook 15")
// minus width of the container (900 on desktops)
// minus width of the navbar (226 on desktops).
// And the result is divided in half to calculate the negative margin from
// each side.
// -(1440 + 900 + 226 + 15) / 2 = 149,5
// Without navbar formula would be simpler
// 50% - 50vw.
// 2) Variables and map values should be interpolate in functions. #{ … }
// #{map-get($navbar-width, 'md')}

.full-width {
  margin-left: -16px;
  margin-right: -16px;

  @include media-breakpoint-up(sm) {
    margin-left: -24px;
    margin-right: -24px;
  } // sm

  @include media-breakpoint-up(md) {
    margin-left: calc((-100vw + 100% + #{map-get($navbar-width, 'md')} + 15px) / 2); // 1, 2
    margin-right: calc((-100vw + 100% + #{map-get($navbar-width, 'md')} + 15px) / 2);
  } // md

  @include media-breakpoint-up(xl) {
    margin-left: calc((-100vw + 100% + #{map-get($navbar-width, 'lg')} + 15px) / 2);
    margin-right: calc((-100vw + 100% + #{map-get($navbar-width, 'lg')} + 15px) / 2);
  } // lg
}

.hidden-lg-xl-only {
  @include media-breakpoint-only(lg) {
    display: none !important;
  } // lg
}

// Sizing utilities (w-50, h-75 etc) are not responsive
// 1) One module height is 252px
.h-lg-2mod {
  @include media-breakpoint-up(lg) {
    height: 514px; // 1)
  } // lg
}

// Sizing utilities (w-50, h-75 etc) are not responsive
// 1) One module height is 252px
.w-lg-2mod {
  @include media-breakpoint-up(lg) {
    min-width: 444px;
  } // lg
}

//
.row.w-lg-2mod {
  @include media-breakpoint-up(lg) {
    min-width: 456px;
  } // lg
}
