// -----------------------------------------------------------------------------
// Legacy
// -----------------------------------------------------------------------------

// -------------------------------------
// Floats and clearers
// -------------------------------------

// stylelint-disable selector-class-pattern
.cfx::before,
.cfx::after,
.cfx_left::before,
.cfx_left::after {
  content: '';
  display: table;
  line-height: 0;
}

.cfx::after,
.row::after { clear: both; }

.cfx_left::after { clear: left; }


@include media-breakpoint-up(sm) {
  .left { float: left; }
  .right { float: right; }
}

.left,
.right {
  @include media-breakpoint-up(sm) {
    max-width: 44%;
  }

  @include media-breakpoint-up(md) {
    max-width: none;
  }
}


// -------------------------------------
// Columns
// -------------------------------------

.col-1of2,
.col1_2,
.col2_2 {
  padding: 0 16px;
}

// .col-1of2,
// .col1_2,
// .col2_2 {
//   display: block;
//   list-style: none;
//   list-style-image: none;
//   margin-bottom: 0;
//   padding: 0 16px;
//   position: relative;
//   min-height: 1px;

//   @include media-breakpoint-up(md) {
//     float: left;
//     padding: 0 32px;
//     width: 50%;
//   }
// }

// @include media-breakpoint-up(md) {
//   .col2_2 { float: right; };
// }

// Old case-studies
dl.col1_2,
dl.col2_2 {
  margin-bottom: 0;

  dd {
    padding-left: 80px;

    a {
      color: $color-text-secondary !important;
      text-decoration: none;
    }
  }

  dt {
    padding-left: 80px;
    position: relative;

    img {
      border: 1px solid $color-border;
      position: absolute;
      left: 0;
      top: .2em;
    }
  }
}

.pad-free-offset {
  margin-left: -16px;

  @include media-breakpoint-up(md) {
    margin-left: -32px;
  }
}


// -------------------------------------
// Hide ugly-looking blocks
// -------------------------------------

.col1_2.pull_quote,
.col2_2.pull_quote,
.left.vertical.img_caption,
.left.horizontal.img_caption,
ul.gallery.cfx {
  display: none;
}
