// -----------------------------------------------------------------------------
// Main container variations
// -----------------------------------------------------------------------------

.page-search main.container {
  padding-top: 6.8rem;

  @include media-breakpoint-up(md) {
    padding-top: 17.4rem;
  } // md
}

// -------------------------------------
// Title
// -------------------------------------

.search-headline {
  @extend .hidden-md-up, %headline-large;

  padding-left: 2.4rem;
}

// -------------------------------------
// Counter
// -------------------------------------

.search-counter {
  color: $color-text-secondary;
  text-align: left;
  margin-top: .2rem;
  margin-bottom: 2.3rem;
  padding-left: 2.4rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    padding-left: 0;
  } // md
}

// -------------------------------------
// List view
// -------------------------------------

.list-view.search .list-view-inner {

  list-style: none;
  padding-left: 24px;

  // Reset side paddings
  @include media-breakpoint-up(md) {
    padding-left: 0;
  } // md
}

.list-view.search .entry {
  position: relative;
}

.list-view.search .entry-counter {
  color: $color-text-secondary;
  font-weight: normal;
  text-align: right;
  position: absolute;
  top: 0;
  left: -32px;
  width: 2.4rem;
}
