{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    @media (max-width: 767px) {
      .page-header-headline > i {
        display: none;
      }
    }
    .mosaic-pic.event-conference {
      background-image: url('/a/img/s-company/about/doctors.jpg');
    }
    .mosaic-pic.event-forum {
      background-image: url('/a/img/s-company/about/eef.jpg');
    }
    .mosaic-pic.pr-veb {
      background-image: url('/a/img/s-company/about/masha.jpg');
    }
    .mosaic-pic.office-view {
      background-image: url('/a/img/s-company/about/view.jpg');
    }
    .mosaic-pic.pr-team {
      background-image: url('/a/img/s-company/about/dasha-r.jpg');
    }
    .mosaic-pic.pr-award {
      background-image: url('/a/img/s-company/about/award.jpg');
    }
    .section.benefits {
      padding-top: 2.2rem;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-company has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Общие сведения<span class="hidden-sm-down"> о&nbsp;компании</span></h1>
      <span class="page-header-icon" aria-hidden="true"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-company/about/header.jpg" alt="Команда">
    </figure>

<!--




CUT IN BODY




-->
    <div class="page-lead d-flex justify-content-center text-center pt-66 mb-36">
      <p class="col-lg-7">Агентство «Полилог» было основано в&nbsp;Москве, в&nbsp;<span class="nowrap">2000-м</span> году группой журналистов. С&nbsp;тех пор мы&nbsp;оказываем услуги&nbsp;PR и&nbsp;event-менеджмента компаниям разной величины из&nbsp;всевозможных отраслей, а&nbsp;также внедряем IT-решения в&nbsp;госсекторе. Среди наших клиентов есть начинающие бренды и&nbsp;международные гиганты. Машиностроители и&nbsp;ритейлеры, органы власти и&nbsp;финансисты. <a href="/ru/projects/industries">В&nbsp;общем, люди и&nbsp;организации из&nbsp;любой государственной или&nbsp;коммерческой сферы</a>.</p>
    </div>

    <figure class="mosaic">

      <div class="row">

        {# Img: Conference #}
        <div class="col-lg-3 hidden-md-down">
          <div class="mosaic-pic event-conference" role="img" aria-label="Организация мероприятий" title="Event-менеджмент"></div>
        </div>{# / img #}

        {# Metric #}
        <div class="col-sm-6 col-lg-3">
          <div class="tile metric fluid text-center">

            <div class="tile-body aligned-center-2-lines">
              <h2 class="tile-number">2000</h2>
              <span class="tile-thought-end compact">год основания</span>
            </div>

          </div>{# / metric #}
        </div>{# / metric #}

        {# Img: Forum #}
        <div class="col-sm-6 col-lg-6 hidden-xs-down">
          <div class="mosaic-pic event-forum" role="img" aria-label="Организация мероприятий" title="Event-менеджмент"></div>
        </div>{# / img #}

        <div class="col-sm-6 col-lg-6">
          <div class="mosaic-pic pr-veb" role="img" aria-label="Public relations" title="Public relations"></div>
        </div>{# / img #}

        <div class="col-sm-6 col-lg-3">
          <div class="tile metric fluid text-center">

            <div class="tile-body aligned-center-3-lines">
              <h2 class="tile-number">92</h2>
              <span class="tile-thought-end compact">почти сотня<br>сотрудников</span>
            </div>

          </div>{# / metric #}
        </div>{# / metric #}

        <div class="col-lg-3 hidden-md-down">
          <div class="mosaic-pic office-view has-instagram-link" role="img" aria-label="Переговорка агентства" title="Переговорка агентства">
            <a class="mosaic-hidden-link" href="https://www.instagram.com/polylogteam/" target="_blank">Наш&nbsp;«Инстаграм»</a>
          </div>
        </div>{# / img #}

      </div>
    </figure>

    <hr class="tiles2title hidden">

    <section class="section section-marketing">

      <h2 class="section-headline text-center next-is-icon">
        На&nbsp;клиента работают десятки пиарщиков, менеджеров<br>
        <small>и&nbsp;лидеров мнений</small>
      </h2>

      <div class="row">

        <div class="section-marketing-col team">
          <h3>Команда</h3>
          <p>Профессиональный коллектив <span class="hidden-lg-xl-down">менеджеров и&nbsp;консультантов </span>с&nbsp;журналистским, социологическим, историческим, психологическим и&nbsp;экономическим образованием. C&nbsp;богатым опытом.</p>
        </div>

        <div class="section-marketing-col experts">
          <h3>Эксперты, звезды</h3>
          <p>К&nbsp;работе над проектами привлекаются лидеры мнений и&nbsp;специалисты. Эксперты в&nbsp;ключевых областях бизнеса. Звезды телевидения, радио, кино и&nbsp;эстрады. Чиновники.</p>
        </div>

        <div class="section-marketing-col travel-agency">
          <h3>Своё туристическое агентство</h3>
          <p>Агентство Corporate Travel (корпоративный и&nbsp;VIP туризм) в&nbsp;структуре группы позволяет нам организовывать международные мероприятия любого уровня сложности.</p>
        </div>

      </div>
    </section>

    {# The Second Mosaic#}
    <figure class="mosaic">

      <div class="row">

        {# Img: Dasha-R #}
        <div class="col-lg-3 hidden-md-down">
          <div class="mosaic-pic pr-team" role="img" aria-label="Коллектив PR-агентства" title="Коллектив PR-агентства"></div>
        </div>{# / img #}

        {# Img: Award #}
        <div class="col-sm-6 col-lg-6 hidden-xs-down">
          <div class="mosaic-pic pr-award" role="img" aria-label="Награды PR-агентства" title="Награды PR-агентства"></div>
        </div>{# / img #}

        {# Metric #}
        <div class="col-sm-6 col-lg-3">
          <div class="tile metric fluid text-center">

            <div class="tile-body aligned-center-3-lines">
              <h2 class="tile-number">600+</h2>
              <span class="tile-thought-end compact">более шестисот проектов</span>
            </div>

          </div>{# / metric #}
        </div>{# / metric #}

      </div>
    </figure>

    <section class="section benefits under-mosaic">
      <div class="row">

        <div class="col-lg-6">
          <h2 class="section-headline secondary">Вместе надолго</h2>
          <ul>
            <li>90% наших клиентов работают с&nbsp;нами по&nbsp;нескольку лет.</li>
            <li>В&nbsp;частности, потому что мы&nbsp;работаем на&nbsp;KPI, привязанные к&nbsp;бизнес-целям клиента.</li>
            <li>Знакомим клиентов между собой, помогаем им&nbsp;в&nbsp;организации совместных проектов.</li>
            <li>«Полилог» является единственным в&nbsp;России пиар-агентством, <strong>сертифицированным по&nbsp;стандарту ISO 9001:2008</strong>. Области: разработка и&nbsp;реализация программ по&nbsp;связям с&nbsp;общественностью и&nbsp;процессы, связанные с&nbsp;организацией деловых мероприятий.</li>
            <li class="hidden-md-down">Аудит проводили эксперты международной компании «Бюро Веритас Сертификейшн» (ранее BVQI).</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h2 class="section-headline secondary">Награды и&nbsp;рейтинги</h2>
          <p class="mb-0"><strong><span class="hlaquo-body">«</span>Полилог» на&nbsp;протяжении многих лет занимает высокие места в&nbsp;отраслевых рейтингах.</strong></p>
          <ul>
            <li>Ведущие PR-агентства по&nbsp;версии AllAdvertising.</li>
            <li>Крупнейшие консалтинговые компании России по&nbsp;версии по&nbsp;версии журнала «Эксперт».</li>
            <li>Крупнейшие коммуникационные (PR) компании по&nbsp;версии группы РИА Новости.</li>
            <li>НР2К&nbsp;— Национальный рейтинг коммуникационных компаний.</li>
          </ul>
          <p>Среди профессиональных наград&nbsp;— Национальная премия в&nbsp;сфере пиар «Серебряный лучник».</p>
        </div>

      </div>
    </section>
  <hr class="text2cta hidden">

<!--




/ CUT IN BODY




-->
  </article>


</main>

{% endblock %}{# / block content #}
