// -----------------------------------------------------------------------------
// GALLERY — Legacy
// -----------------------------------------------------------------------------

.sec-gallery {
  @include media-breakpoint-up(lg) {
    margin-right: -181px;
    margin-left: -181px;
    min-height: 656px;
  }
}



.sec-gallery,
#gallery,
figure.gallery {
  margin-bottom: $spacer-y;
  position: relative;
}

#gallery,
figure.gallery {
  min-height: 380px;
  width: auto;
}

#gallery {
  overflow: hidden;
}

#gallery figcaption,
.gallery figcaption {
  padding: 0;
}

figure.gallery ul,
nav.gallery,
ul.gallery {
  list-style-image: none;
  list-style-type: none;
  width: 100%;

  &::before,
  &::after {
    content: '';
    display: table;
    line-height: 0;
  }

  &::after {
    clear: both;
  }

  li {
    @extend .pb-0;

    float: left;
    margin: 0 1.2rem 1.2rem 0;

    &:nth-child(n+6) {
      display: none;
    }
  }
  a {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    display: block;
    text-indent: -400em;
    height: 60px;
    width: 78px;
    height: 58px;
  }
}




// 1) 6px is half the body text leading
.tbn-viewport {
  text-align: center;
  margin-top: ($spacer-y / 2);
  margin-bottom: ($spacer-y) * 2 + .6rem; // 1
  position: relative;
  overflow: hidden;
  height: 72px;
  width: 100%;

  ul {
    // display: flex;
    // justify-content: center;
    text-align: left;
    list-style-image: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 498px;

    li {
      border-radius: $border-radius;
      display: inline-block;
      position: relative;
      overflow: hidden;
      width: 72px;
      height: 72px;
    }

    li:nth-child(n+6) {
      display: none;
    }

    li:not(:nth-child(5)) {
      margin-right: 12px;
    }

    // 1) Hide hard coded borders
    a {
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, .12);
      display: block;
      text-indent: -400em;
      position: relative;
      top: -2px; // 1
      left: -2px;
      width: 76px;
      height: 76px;
    }
  }
}

.sec-gallery .disable {
  cursor: default;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity .4s linear;
}

.tbn-prev,
.tbn-next {
  display: none;
  // background-color: $color-background-secondary;
  // background-image: linear-gradient(to bottom, lighten($color-background-secondary, ($tone * 3)), $color-background-secondary);
  // background-repeat: repeat-x;
  // background-color: rgba(0, 0, 0, 0);
  // border: 1px solid $color-border;
  // border-bottom-color: darken($color-background-secondary, ($tone * 3));
  // border-radius: $border-radius;
  // display: block;
  // direction: ltr;
  // text-align: left;
  // text-indent: -4000em;
  // overflow: hidden;
  // padding: 0;
  // position: absolute;
  // bottom: 36px;
  // height: 33px;
  // width: 33px;

  // &::before,
  // &::before {
  //   content: '';
  //   display: block;
  //   line-height: 0;
  //   margin: -5px 0 0 -3px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   height: 10px;
  //   width: 7px;
  // }

  // &:hover,
  // &:active, {
  //   background-color: lighten($color-background-secondary, ($tone * 3));
  // }
}

// .tbn-prev {
//   left: -60px;

//   &::before {
//     background-position: -18px -162px;
//   }
// }

// .tbn-next {
//   right: -60px;

//   &::before {
//     background-position: -78px -162px;
//   }
// }



// -----------------------------------------------------------------------------
// MODERN
// -----------------------------------------------------------------------------
