// -----------------------------------------------------------------------------
// Legacy and Modern
// -----------------------------------------------------------------------------

.clients-logo,
.case_studies a,
#cln_beeline span,
#cln_mpf span,
#cln_borjomi span,
#lukoil,
#rus_bel,
#sangtuda {
  @extend %text-hide;

  background: url('/a/img/clients/logos.svg') no-repeat;
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

.clients-logo.sandoz,
#sandoz {
  background-position: 0 0;
}

.clients-logo.apec,
#cln-apec {
  background-position: -100px 0;
}

.clients-logo.mitsubishi,
#cln-mitsubishi {
  background-position: -200px 0;
}

.clients-logo.microsoft,
#cln-microsoft {
  background-position: -300px 0;
}

.clients-logo.samsung,
#cln-samsung {
  background-position: 0 -100px;
}

.clients-logo.logitech,
#cln-logitech,
#logitech {
  background-position: -100px -100px;
}

.clients-logo.unesco,
#cln-unesco {
  background-position: -200px -100px;
}

.clients-logo.beeline,
#cln-beeline,
#cln_beeline span {
  background-position: -300px -100px;
}

.clients-logo.philips,
#cln-philips,
#philips {
  background-position: 0 -200px;
}

.clients-logo.scania,
#cln-scania {
  background-position: -100px -200px;
}

.clients-logo.barbie,
#cln-barbie {
  background-position: -200px -200px;
}

.clients-logo.lukoil,
#cln-lukoil,
#lukoil {
  background-position: -300px -200px;
}

.clients-logo.ochakovo,
#cln-ochakovo {
  background-position: 0 -300px;
}

.clients-logo.borjomi,
#cln-borjomi,
#cln_borjomi span {
  background-position: -100px -300px;
}

.clients-logo.gazprom-oil,
#cln-gazprom {
  background-position: -200px -300px;
}

.clients-logo.mpf,
#cln-mpf,
#cln_mpf span {
  background-position: -300px -300px;
}

.clients-logo.rus-bel,
#rus_bel {
  background-position: 0 -400px;
}

.clients-logo.sangtuda,
#cln-sangtuda {
  background-position: -100px -400px;
}


// -----------------------------------------------------------------------------
// Containers
// -----------------------------------------------------------------------------

.clients {
  display: flex;
  justify-content: space-around;
}
