{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .pic-vignette.fundraising {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      }

    @media (min-width: 544px) {
      .pic-vignette.fundraising {
        background-image: url('/a/img/s-services/fundraising/coins-xs.svg');
        background-position: 12px 90%;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
      }
    }

    @media (min-width: 768px) {
      .pic-vignette.fundraising {
        background-image: url('/a/img/s-services/fundraising/coins-v.svg');
        background-position: center top;
        background-size: 100% auto;
      }
    }

    .section.benefits {
      background: rgb(229, 232, 236) url('/a/img/s-services/fundraising/benefits-fundraising.jpg') center top no-repeat;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-services page-fundraising has-dark-jumbotron separated-jumbotron">
{% endblock %}


{% block content %}

{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">
  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    <div class="jumbotron-body">
      <h1 class="jumbotron-headline ani-slide-down">
        Fundraising
      </h1>
      <blockquote class="jumbotron-quote ani-slide-down">
        <span class="hlaquo-body">“</span>Our projects include both those with the&nbsp;seed capital and without.<span class="hidden-xs-down"> These can be&nbsp;business events, city festivals and many others. Associations can make use of&nbsp;our services in&nbsp;order to&nbsp;accumulate capital for&nbsp;current and strategic activity. We&nbsp;undertake the&nbsp;whole fundraising cycle&nbsp;— from the&nbsp;preparatory works for&nbsp;sales to&nbsp;collecting feedback from the&nbsp;partners.</span>”
      </blockquote>
      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/en/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Get in Touch
      </a>
    </div>{# / jumbotron-body #}
    {# Person #}
    <figure class="jumbotron-person fundraising ani-fade-in">
      <a class="js-mfp-video" href="https://www.youtube.com/watch?v=PHLxF3bEw2k" title="[Видео] Руководитель департамента по развитию бизнеса рассказывает о фандрайзинге для клиентов PR-агентства">
        <img class="jumbotron-portrait" src="/a/img/people/liza-slyozkina.png" alt="Elizaveta Slezkina, Head of Business Development">
      </a>
      <figcaption>
        Elizaveta Slezkina,<br>
        Head of&nbsp;Business Development
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">
<!--




CUT IN BODY




-->
{# WHAT IS IT #}
<section class="section container">
  <div class="row justify-content-between align-items-stretch">
    <div class="col-md-8">
      <h2 class="section-headline text-center pt-18 pt-md-0">
        Fundraising&nbsp;— accumulation of&nbsp;funds<br>
        <small class="hidden-md-down">for&nbsp;events, charity, etc</small>
      </h2>
      <p class="text-center">We&nbsp;divide fundraising services by&nbsp;3&nbsp;categories depending on&nbsp;the&nbsp;type of&nbsp;the&nbsp;project and the&nbsp;needed capital volume.</p>
      <ul class="list-check mb-0">
        <li class="list-check-item">Fundraising for&nbsp;business and mass events&nbsp;— complex monetization system based on&nbsp;sponsorship integrations, ticket services and organization of&nbsp;exhibitions.</li>
        <li class="list-check-item">Fundraising for&nbsp;social and charity projects&nbsp;— attraction of&nbsp;financial and non-financial (media, intellectual, service and other) partners, helping to&nbsp;capitalize the&nbsp;project.</li>
        <li class="list-check-item">Fundraising for&nbsp;public organizations, associations and sport clubs&nbsp;— development and implementation of&nbsp;the&nbsp;long-term financial assistance system based on&nbsp;sponsorship, membership dues &amp;&nbsp;fees and paid services.</li>
      </ul>
    </div>
    <figure class="pic-vignette fundraising col-md-3 mb-0" aria-hidden="true">
      <img src="/a/img/s-services/fundraising/piggy-bank.png" alt="Fundraising">
    </figure>
  </div>
</section>{# / what is it #}
<hr class="box2box hidden">

{# BENEFITS #}
<section class="section benefits light in-box full-width">
  <div class="container">
    <h2 class="section-headline text-center mb-md-12">
      Fundraising for&nbsp;your business: <small>enough for&nbsp;all the&nbsp;needs &amp;&nbsp;wants</small>
    </h2>
    <div class="section-body col-lg-6 offset-lg-3 text-center mb-1ss">
      <p>Talented and hard-working staff is&nbsp;needed 24/7 for&nbsp;effective fundraising. We&nbsp;have both people and time. We&nbsp;will take the&nbsp;non-core load off your business so&nbsp;that you could focus on&nbsp;priority tasks. You can find other advantages of&nbsp;fundraising below:</p>
    </div>
    <ul class="list-ul two-lg columns">
      <li class="hidden-md-down">Additional sources of&nbsp;funding&nbsp;— we&nbsp;will conduct a&nbsp;complex market research in&nbsp;order to&nbsp;find ways of&nbsp;extra monetization.</li>
      <li>Outsourced sales managers<span class="hidden-xs-down">&nbsp;— ready-to-take-an-action team of&nbsp;professionals</span>.</li>
      <li class="hidden-xs-down">Transparent work&nbsp;— online access to&nbsp;databases and status of&nbsp;the&nbsp;work as&nbsp;well as&nbsp;regular reporting</li>
      <li><span class="hidden-md-down">Back office burden reduction&nbsp;— </span> <span class="text-md-capitalize">we</span>&nbsp;undertake accounting and document work.</li>
      <li>Liability control<span class="hidden-xs-down">&nbsp;— we&nbsp;undertake the&nbsp;control of&nbsp;liabilities to&nbsp;sponsors</span>.</li>
      <li class="hidden-xs-down">Closed loop&nbsp;— from the&nbsp;development of&nbsp;the&nbsp;concept to&nbsp;post analytics and recommendations.</li>
      </ul>
  </div>
</section>
<hr class="box2title hidden">

{# TODO #}
<section class="section container">
  <h2 class="section-headline text-center">
    A&nbsp;brief summary of&nbsp;our&nbsp;work:<br>
    <small>from SWOT&nbsp;analysis to&nbsp;multi-valued amounts</small>
  </h2>
  <div class="section-body col-lg-6 offset-lg-3 text-center mb-2s">
    <p>Fundraising is&nbsp;a&nbsp;multi-stage process where every detail is&nbsp;vital. We&nbsp;realize full cycle of&nbsp;fundraising work with an&nbsp;obligatory post analysis which widens our opportunities for&nbsp;future sponsorship integrations.</p>
  </div>
  <div class="row">
    <div class="col-lg-6 pl-72">

      <h3 class="list-caption has-icon analysis">Analytics</h3>
      <ul class="list-to-do">
        <li class="list-to-do-item">SWOT analysis</li>
        <li class="list-to-do-item">Analysis of&nbsp;potential sponsors</li>
        <li class="list-to-do-item">Competition analysis</li>
        <li class="list-to-do-item">Media analytics</li>
        <li class="list-to-do-item">Strategy elaboration</li>
        <li class="list-to-do-item">Monetization planning</li>
      </ul>

      <h3 class="list-caption has-icon preparation-alt">Pre-sale preparation</h3>
      <ul class="list-to-do">
        <li class="list-to-do-item">Project positioning</li>
        <li class="list-to-do-item">Information newsletters</li>
        <li class="list-to-do-item">Negotiations with potential clients</li>
        <li class="list-to-do-item">Transaction completion</li>
      </ul>

      <h3 class="list-caption has-icon selling">Sales</h3>
      <ul class="list-to-do">
        <li class="list-to-do-item">Preparation of&nbsp;the base of&nbsp;potential partners</li>
        <li class="list-to-do-item">Cold call and sales letters</li>
        <li class="list-to-do-item">Negotiations with potential clients</li>
        <li class="list-to-do-item">Closing</li>
      </ul>

    </div>{# / col (1): benefits #}
    <div class="col-lg-6 pl-72">

      <h3 class="list-caption has-icon contracts">Contract work</h3>
      <ul class="list-to-do">
        <li class="list-to-do-item">Preparation and execution of&nbsp;contracts</li>
        <li class="list-to-do-item">Invoice issue</li>
        <li class="list-to-do-item">Invoice settlement control</li>
        <li class="list-to-do-item">Closing documents</li>
      </ul>

      <h3 class="list-caption has-icon assistance">Customer support</h3>
      <ul class="list-to-do">
        <li class="list-to-do-item">Sponsor liability matrix</li>
        <li class="list-to-do-item">Terms of&nbsp;reference specification</li>
        <li class="list-to-do-item">Satisfaction of&nbsp;liabilities audit</li>
        <li class="list-to-do-item">Media support</li>
      </ul>

      <h3 class="list-caption has-icon analytics">Project closeout</h3>
      <ul class="list-to-do">
        <li class="list-to-do-item">KPI analysis</li>
        <li class="list-to-do-item">Reporting to&nbsp;sponsors</li>
        <li class="list-to-do-item">Reporting to&nbsp;the&nbsp;client</li>
        <li class="list-to-do-item">Feedback collection</li>
        <li class="list-to-do-item">Recommendations</li>
      </ul>

    </div>{# / col (2): benefits #}

  </div>{# / row: todo #}
</section>

<hr class="text2title">

{# CASE STUDIES #}
<section class="section details container">

  <h2 class="section-headline text-center">
    Examples of&nbsp;fundraising projects:<br>
    <small>festivals, forums and congresses</small>
  </h2>

  <div class="section-body col-lg-6 offset-lg-3 text-center mb-2s">
    <p>About&nbsp;20% of&nbsp;our projects are realized with the&nbsp;help of&nbsp;fundraising. Accumulation of&nbsp;resources for&nbsp;us is&nbsp;balanced system that enables achievement of&nbsp;great results and opens new horizons for&nbsp;the&nbsp;client.</p>
  </div>

  {# Carousel — Projects #}
  <div class="section-footer carousel slide js-manual" id="carousel-fundraising" data-ride="carousel">
      {# Carousel viewport #}
      <div class="carousel-inner" role="listbox">

        {# Vidfest #}
        <figure class="carousel-item active">
          <a class="section-carousel-link" href="/en/news/2015/06-11.htm" title="Video Blogger Festival">
            <img src="/a/img/s-services/fundraising/featured/fundraising-vidfest.jpg" alt="Video Blogger Festival">
          </a>
          <figcaption>
            Video Blogger Festival
          </figcaption>
        </figure>{#  / vidfest #}

        {# Ufa 2015 #}
        <figure class="carousel-item">
          <a class="section-carousel-link" href="/en/news/2015/06-01.htm" title="“Big Chemistry” Forum">
            <img src="/a/img/s-services/fundraising/featured/ufa-2015.jpg" alt="“Big Chemistry” Forum">
          </a>
          <figcaption>
            “Big Chemistry” Forum
          </figcaption>
        </figure>{#  / ufa 2105 #}

        {# Traumatologists #}
        <figure class="carousel-item">
          <a class="section-carousel-link" href="/en/news/2014/02-25-traumatology.htm" title="Congress of Traumatologists and Orthopedists">
            <img src="/a/img/s-services/fundraising/featured/traumatologists.jpg" alt="Congress of Traumatologists and Orthopedists">
          </a>
          <figcaption>
            Congress of&nbsp;Traumatologists and&nbsp;Orthopedists
          </figcaption>
        </figure>{#  / Traumatologists #}
      </div>{# / viewport #}

      <ol class="carousel-indicators">
        <li data-target="#carousel-fundraising" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-fundraising" data-slide-to="1"></li>
        <li data-target="#carousel-fundraising" data-slide-to="2"></li>
      </ol>
  </div>{# / carousel #}

</section>{# case studies #}
<!--




/ CUT IN BODY




-->
</main>{# / page-content #}


{% endblock %}{# / block content #}
