{# R&D #}

{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .chart {
      background: transparent url("/a/img/s-services/rnd/what-is-guy.jpg") no-repeat bottom right;
      position: relative;
      min-height: 550px; }
      @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
        .chart {
          background-image: url("/a/img/s-services/rnd/what-is-guy@2x.jpg"); } }
      .chart::after {
        background: transparent url("/a/img/s-services/rnd/what-is-chart.svg") no-repeat 0 0;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 12px;
        width: 65px;
        height: 278px; }
        @media (min-width: 544px) {
          .chart::after {
            top: 1.8rem; } }
        @media (min-width: 768px) {
          .chart::after {
            left: 14px;
            height: 312px; } }
        @media (min-width: 992px) {
          .chart::after {
            left: 17px;
            width: 188px;
            height: 528px; } }

    .benefits {
      background-color: #151212;
      background-image: linear-gradient(rgba(6, 5, 5, 0) 0%, rgba(6, 5, 5, 0.7) 50%, rgba(6, 5, 5, 0.85) 65%, rgba(6, 5, 5, 0.925) 75.5%, rgba(6, 5, 5, 0.963) 82.85%, rgba(6, 5, 5, 0.981) 88%, #060505 100%), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/a/img/s-services/rnd/benefits-rnd.jpg");
      background-position: center 384px, center top, center top;
      background-repeat: no-repeat;
      background-size: 100% 120px, auto 100%, auto 504px; }
      @media (min-width: 992px) {
        .benefits {
          background-color: #140b00;
          background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/a/img/s-services/rnd/benefits-rnd.jpg");
          background-position: center top, center top;
          background-size: auto 100%, auto 504px; } }
  </style>
{% endblock %}

{% block body %}
<body class="section-services page-pr page-rnd has-dark-jumbotron separated-jumbotron">
{% endblock %}


{% block content %}

{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    {# Body #}
    <div class="jumbotron-body">

      <h1 class="jumbotron-headline ani-slide-down">
        ИТ-решения
        {# Исследования и&nbsp;IT-решения в&nbsp;госсекторе #}
      </h1>

      <blockquote class="jumbotron-quote ani-slide-down">
      <span class="hlaquo-body">«</span>Перевод в&nbsp;электронную форму государственных услуг, развитие межведомственного электронного взаимодействия<span class="hidden-xs-down">, совершенствование работы с&nbsp;обращениями граждан, обеспечение открытости. Сначала мы&nbsp;оптимизируем процесс, потом разрабатываем проект нормативно-правового акта и&nbsp;только потом автоматизируем</span>».
      </blockquote>

      {#<a class="jumbotron-btn video ani-slide-down js-mfp-video" href="https://www.youtube.com/watch?v=MFQQeqGu3SY" role="button"> #}
      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/ru/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Пообщаемся?
      </a>
    </div>{# / jumbotron-body #}

    {# Person #}
    <figure class="jumbotron-person rnd ani-fade-in">

      {# <a class="js-mfp-video" href="https://www.youtube.com/watch?v=MFQQeqGu3SY"title="[Видео] Руководитель департамента исследований и разработок рассказывает об оптимизации и автоматизации процессов для госструктур"> #}
        <img class="jumbotron-portrait" src="/a/img/people/lyuda-bogatyreva.png" alt="Людмила Богатырёва, руководитель департамента исследований и разработок">
      {# </a> #}
      <figcaption>
        Людмила Богатырёва,<br>
        руководитель департамента исследований и&nbsp;разработок
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">


{# -----------------------------------------------------------------------------
    What Is It
   -------------------------------------------------------------------------- #}

<!--




CUT IN BODY




-->
  <section class="section container">
    <div class="row gutters-sm">

      <div class="col-sm-9 col-lg-7 pt-lg-12">
        <h2 class="section-headline">
          Наш вклад в&nbsp;становление электронного государства<span class="hidden-sm-down">: <small>научные исследования  и&nbsp;ПО</small></span>
        </h2>

        <p>С&nbsp;2010 года компания «Полилог» консультирует органы власти по&nbsp;основным направлениям реализации административной реформы и&nbsp;развития электронного государства в&nbsp;России.</p>
        <p class="mb-0"><strong>Какие услуги мы&nbsp;оказываем:</strong></p>
        <ul>
          <li>оптимизация бизнес-процессов заказчика;</li>
          <li>разработка проектов нормативно-правовых актов, стандартов, регламентов, инструкций;</li>
          <li>разработка стратегий и&nbsp;планов, концептуальное проектирование;</li>
          <li>создание, развитие, модернизация информационных систем;</li>
          <li>техническая и&nbsp;методическая поддержка эксплуатации информационных систем.</li>
        </ul>
        <p>Компания отвечает самым строгим требованиям по&nbsp;соблюдению в&nbsp;своих проектах стандартов защиты информации, что подтверждается наличием лицензии на&nbsp;осуществление деятельности по&nbsp;технической защите конфиденциальной информации Федеральной службы по&nbsp;техническому и&nbsp;экспортному контролю.</p>
      </div>

      <div class="pic-vignette chart col-sm-3 col-lg-4 offset-lg-1 hidden-xs-down" role="img" aria-label="От архитектуры процессов до внедрения" title="От архитектуры процессов до внедрения"></div>
    </div>
  </section>{# / what is it #}


{# -----------------------------------------------------------------------------
    Benefits
   -------------------------------------------------------------------------- #}

  <section class="section benefits dark in-box full-width mt-18 mt-md-64 mb-58 mb-md-82">
    <div class="container">

      <h2 class="section-headline text-center mb-md-1s">Исследования <span class="nowrap">и IT-решения:</span><br>
      <small>какие продукты вы&nbsp;можете у&nbsp;нас заказать</small></h2>

      <ul class="list-check two-lg columns">
        <li class="list-check-item">Оптимизация и&nbsp;перевод в&nbsp;электронную форму государственных услуг. <span class="text-muted-negative">Мы&nbsp;делаем доступным и&nbsp;прозрачным общение органов власти с&nbsp;физическими и&nbsp;юридическими лицами (потребителями услуг)</span>. <span class="link negative" data-target="#modal-egovernance" data-toggle="modal">Подробнее</span></li>
        <li class="list-check-item">Улучшение работы с&nbsp;обращениями граждан. <span class="text-muted-negative">Новые стандарты по&nbsp;работе с&nbsp;обращениями, которые включают критерии классификации, типовые ответы, методику прогнозирования объема обращений.</span> <span class="link negative" data-target="#modal-feedback" data-toggle="modal">Подробнее</span></li>
        <li class="list-check-item">Развитие межведомственного электронного взаимодействия. <span class="text-muted-negative">Межведомственное электронное взаимодействие органов власти позволяет существенно сократить объем документов.</span> <span class="link negative" data-target="#modal-interagency-cooperation" data-toggle="modal">Подробнее</span></li>
        <li class="list-check-item">Повышение открытости деятельности. <span class="text-muted-negative">Мы&nbsp;разрабатываем и&nbsp;наполняем сайты ведомств, разрабатываем удобные форматы информирования, публикуем сведения в&nbsp;форме открытых данных.</span> <span class="link negative" data-target="#modal-transparency" data-toggle="modal">Подробнее</span></li>
      </ul>

    </div>
  </section>

  <section class="modal" id="modal-egovernance" role="dialog" tabindex="-1" aria-labelledby="headline-egovernance" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button class="modal-close" data-dismiss="modal" aria-label="Закрыть" title="Закрыть"></button>
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="article-headline" id="headline-egovernance">Оптимизация и&nbsp;перевод в&nbsp;электронную форму государственных услуг</h2>

          <p>Мы&nbsp;делаем доступным и&nbsp;прозрачным общение органов власти с&nbsp;физическими и&nbsp;юридическими лицами (потребителями услуг). Мы&nbsp;переводим взаимодействие полностью в&nbsp;электронный вид, без необходимости заявителю посещать орган власти, создаем удобные и&nbsp;дружелюбные интерфейсы для электронных заявлений, а&nbsp;также реализуем правовую и&nbsp;техническую основу для выдачи результатов услуг в&nbsp;электронной форме. Не&nbsp;забываем и&nbsp;про удобство сотрудников органов власти, поэтому наши решения максимально автоматизируют их&nbsp;работу и&nbsp;позволяют обрабатывать электронные и&nbsp;бумажные заявления в&nbsp;одной системе.</p>

          <h3>Рейтинги, в&nbsp;которых мы&nbsp;способствуем росту позиций наших заказчиков</h3>
          <ul>
            <li>Мониторинг качества перевода государственных и&nbsp;муниципальных услуг в&nbsp;электронную форму (Минэкономразвития России)</li>
            <li>Рейтинг работоспособности сервисов в&nbsp;среде СМЭВ (Минкомсвязи России)</li>
            <li>Рейтинг по&nbsp;выполнению поручения по&nbsp;обеспечению качества работы информационных систем федеральных органов исполнительной власти, государственных внебюджетных фондов и&nbsp;иных организаций (Минкомсвязи России)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="modal" id="modal-feedback" role="dialog" tabindex="-1" aria-labelledby="headline-feedback" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button class="modal-close" data-dismiss="modal" aria-label="Закрыть" title="Закрыть"></button>
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="article-headline" id="headline-feedback">Совершенствование работы с обращениями граждан</h2>
          <p>Мы&nbsp;разрабатываем стандарты по&nbsp;работе с&nbsp;обращениями, которые включают критерии классификации обращений, типовые ответы, методику прогнозирования объема обращений на&nbsp;плановый период и&nbsp;проведения мониторинга социальной активности с&nbsp;целью оперативного принятия решений, направленных на&nbsp;ее&nbsp;снижение. Это позволяет выстраивать эффективную систему работы с&nbsp;гражданами и&nbsp;повышать качество деятельности наших заказчиков.</p>
          <p><strong>Мы&nbsp;способствуем росту позиций наших заказчиков в&nbsp;рейтинге</strong> по&nbsp;работе с&nbsp;обращениями и&nbsp;запросами граждан в&nbsp;приемных Президента&nbsp;РФ, в&nbsp;государственных органах и&nbsp;органах местного самоуправления (Администрация Президента России)</p>
        </div>
      </div>
    </div>
  </section>

  <section class="modal" id="modal-interagency-cooperation" role="dialog" tabindex="-1" aria-labelledby="headline-interagency-cooperation" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button class="modal-close" data-dismiss="modal" aria-label="Закрыть" title="Закрыть"></button>
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="article-headline" id="headline-interagency-cooperation">Развитие межведомственного электронного взаимодействия</h2>
          <p>Межведомственное электронное взаимодействие органов власти позволяет существенно сократить объем документов, который ложится на&nbsp;плечи заявителя, если мы&nbsp;говорим о&nbsp;госуслугах, или&nbsp;же плечи субъекта проверки, если речь идет о&nbsp;контрольно-надзорной деятельности. Это намного практичнее и&nbsp;для самих органов власти, которые в&nbsp;режиме онлайн запрашивают данные друг у&nbsp;друга, без необходимости ведения бумажного документооборота.</p>

          <h3>Рейтинги, в&nbsp;которых мы&nbsp;способствуем росту позиций наших заказчиков</h3>
          <ul>
            <li>Рейтинг работоспособности сервисов в&nbsp;среде СМЭВ (Минкомсвязи России)</li>
            <li>Рейтинг по&nbsp;выполнению поручения по&nbsp;обеспечению качества работы информационных систем федеральных органов исполнительной власти, государственных внебюджетных фондов и&nbsp;иных организаций (Минкомсвязи России)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="modal" id="modal-transparency" role="dialog" tabindex="-1" aria-labelledby="headline-transparency" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button class="modal-close" data-dismiss="modal" aria-label="Закрыть" title="Закрыть"></button>
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="article-headline" id="headline-transparency">Повышение открытости деятельности</h2>

          <p>Мы&nbsp;разрабатываем и&nbsp;наполняем сайты ведомств (официальные сайты, отраслевые порталы, системы обратной связи и&nbsp;иные WEB-решения), разрабатываем удобные форматы информирования (инфографика, видеоролики), публикуем сведения в&nbsp;форме открытых данных для дальнейших исследований или использования в&nbsp;электронных сервисах и&nbsp;мобильных приложениях.</p>

          <h3>Рейтинги, в&nbsp;которых мы&nbsp;способствуем росту позиций наших заказчиков</h3>
          <ul>
            <li>Рейтинг официальных сайтов органов власти (Минэкономразвития России)</li>
            <li>Рейтинг открытых данных (Минэкономразвития России)</li>
            <li>Рейтинг достигнутых результатов органов власти по&nbsp;внедрению и&nbsp;развитию механизмов открытости (Открытое правительство)</li>
            <li>Рейтинг федеральных органов исполнительной власти по&nbsp;уровню доверия и&nbsp;удовлетворенности граждан, общественных объединений и&nbsp;предпринимательского сообщества уровнем открытости федеральных органов исполнительной власти (ВЦИОМ совместно с&nbsp;Открытым правительством)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{# -----------------------------------------------------------------------------
    Todo
   -------------------------------------------------------------------------- #}

  <section class="section container">

    <h2 class="section-headline text-center next-is-text">
      Как мы&nbsp;это делаем<span class="hidden-xs-down">.<br>
      <small>От&nbsp;анализа нормативно-правовых актов до&nbsp;внедрения <span class="nowrap">IT-решений</span></small></span>
    </h2>

    <div class="row">

      <div class="col-lg-6 pl-72">

        <h3 class="list-caption has-icon analysis">
          Предварительный анализ
        </h3>
        <ul class="list-to-do">
        <li class="list-to-do-item normal">Анализ отраслевых <abbr aria-label="Нормативно-правовые акты" title="Нормативно-правовые акты">НПА</abbr></li>
          <li class="list-to-do-item normal">Анализ требований регулирующих органов</li>
          <li class="list-to-do-item normal">Проведение мозговых штурмов</li>
          <li class="list-to-do-item normal">Формализация проблемы заказчика</li>
          <li class="list-to-do-item normal">Разработка методологии обследования</li>
         </ul>

        <h3 class="list-caption has-icon conception pt-lg-1s">
          Проведение обследования
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Анкетирование и&nbsp;интервьюирование заказчика</li>
          <li class="list-to-do-item normal">Сбор и&nbsp;анализ данных</li>
          <li class="list-to-do-item normal">Разработка концепции решения проблемы</li>
          <li class="list-to-do-item normal">Утверждение концепции заказчиком</li>
          <li class="list-to-do-item normal">Документирование требований</li>
         </ul>

        <h3 class="list-caption has-icon business-processes pt-lg-1s">
          Оптимизация бизнес-процессов
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Формализация целей и&nbsp;задач оптимизации</li>
          <li class="list-to-do-item normal">Описание процесса as&nbsp;is (как есть)</li>
          <li class="list-to-do-item normal">Построение моделей to&nbsp;be (как будет)</li>
          <li class="list-to-do-item normal">Разработка проектов <abbr aria-label="Нормативно-правовые акты" title="Нормативно-правовые акты">НПА</abbr> согласно модели to&nbsp;be</li>
          <li class="list-to-do-item normal">Формализация требований к&nbsp;внедрению системы</li>
         </ul>

        <h3 class="list-caption has-icon software-design pt-lg-1s">
          Проектирование <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr>
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Описание процедур обработки данных</li>
          <li class="list-to-do-item normal">Описание алгоритмов принятия решений</li>
          <li class="list-to-do-item normal">Описание пользовательских сценариев</li>
          <li class="list-to-do-item normal">Архитектура и&nbsp;моделирование данных</li>
          <li class="list-to-do-item normal">Формализация требований в&nbsp;техническом проекте</li>
         </ul>

        <h3 class="list-caption has-icon development pt-lg-1s">
          Разработка
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Front-end&nbsp;— разработка пользовательского интерфейса</li>
          <li class="list-to-do-item normal">Back-end&nbsp;— разработка базы данных, бизнес-логики</li>
          <li class="list-to-do-item normal">Разработка сервисов в&nbsp;<abbr aria-label="Система межведомственного электронного взаимодействия" title="Система межведомственного электронного взаимодействия">СМЭВ</abbr></li>
          <li class="list-to-do-item normal">Интеграция с&nbsp;<abbr aria-label="Система межведомственного электронного взаимодействия" title="Система межведомственного электронного взаимодействия">СМЭВ</abbr>, <abbr title="Единый портал государственных услуг">ЕПГУ</abbr>, <abbr aria-label="Единая система идентификации и аутентификации" title="Единая система идентификации и аутентификации">ЕСИА</abbr></li>
          <li class="list-to-do-item normal">Интеграция с&nbsp;<abbr aria-label="Система электронного документооборота" title="Система электронного документооборота">СЭДО</abbr>, сайтом, 1С</li>
         </ul>

      </div>{# / col (1): to-dos #}

      <div class="col-lg-6 pl-72">

        <h3 class="list-caption has-icon databases">
          Нормализация баз данных
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Миграция данных из&nbsp;других <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr></li>
          <li class="list-to-do-item normal">Разработка единых справочников</li>
          <li class="list-to-do-item normal">Внедрение классификаторов</li>
          <li class="list-to-do-item normal">Вычистка базы данных</li>
          <li class="list-to-do-item normal">Разработка регламента работы с&nbsp;<abbr aria-label="База данных" title="База данных">БД</abbr></li>
         </ul>

        <h3 class="list-caption has-icon testing">
          Тестирование
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Разработка программы и&nbsp;методики испытаний</li>
          <li class="list-to-do-item normal">Предварительное тестирование</li>
          <li class="list-to-do-item normal">Опытная эксплуатация</li>
          <li class="list-to-do-item normal">Приемочное тестирование</li>
          <li class="list-to-do-item normal">Проект приказа о&nbsp;вводе в&nbsp;эксплуатацию</li>
         </ul>

        <h3 class="list-caption has-icon implementation">
          Внедрение
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Настройка сервера и&nbsp;установка ПО</li>
          <li class="list-to-do-item normal">Разработка эксплуатационной документации</li>
          <li class="list-to-do-item normal">Обучение</li>
          <li class="list-to-do-item normal">Доступ к&nbsp;базе знаний</li>
          <li class="list-to-do-item normal">Разработка положения об&nbsp;<abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr></li>
         </ul>

        <h3 class="list-caption has-icon promotion">
          Продвижение
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Пошаговые инструкции</li>
          <li class="list-to-do-item normal">Видеоролики, инфографика</li>
          <li class="list-to-do-item normal">SEO-продвижение</li>
          <li class="list-to-do-item normal">Интернет-баннеры</li>
          <li class="list-to-do-item normal">Информационные кампании</li>
         </ul>

        <h3 class="list-caption has-icon expert">
          Экспертное сопровождение
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Консультирование по&nbsp;изменению <abbr aria-label="Нормативно-правовые акты" title="Нормативно-правовые акты">НПА</abbr></li>
          <li class="list-to-do-item normal">Подготовка отчетности для регуляторов</li>
          <li class="list-to-do-item normal">Подготовка аналитических справок по&nbsp;запросу</li>
          <li class="list-to-do-item normal hidden-lg-xl-only">Участие в&nbsp;рабочих группах</li>
          <li class="list-to-do-item normal">Разработка рекомендаций</li>
         </ul>

        <h3 class="list-caption has-icon technical-support">
          Техническое сопровождение
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item normal">Мониторинг программного и&nbsp;аппаратного обеспечения</li>
          <li class="list-to-do-item normal hidden-lg-xl-only">Обеспечение работоспособности <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr></li>
          <li class="list-to-do-item normal hidden-lg-xl-only">Системное обслуживание и&nbsp;администрирование</li>
          <li class="list-to-do-item normal hidden-lg-xl-only">Управление обновлениями <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr></li>
          <li class="list-to-do-item normal hidden-lg-xl-only">Информационно-техническая поддержка</li>
        </ul>

      </div>{# / col (2): to-dos #}

    </div>{# / row: todo #}
  </section>

  <hr class="text2title">

{# -----------------------------------------------------------------------------
    Case Studies
   -------------------------------------------------------------------------- #}

  <section class="section details container">

    <h2 class="section-headline text-center">
      Примеры проектов&nbsp;— исследования <span class="nowrap">и IT-решения</span>
    </h2>

    <div class="section-body col-lg-8 offset-lg-2 text-muted text-center">
      <p>Компания «Полилог» имеет успешный опыт проведения исследований и&nbsp;внедрения своих <span class="nowrap">IT-решений</span> в&nbsp;интересах Администрации Президента РФ, Минэкономразвития России, Минпромторга России, Минрегиона России, Ростуризма, Росстандарта и&nbsp;множества региональных органов власти. Мы&nbsp;не&nbsp;предлагаем типовой продукт, а&nbsp;создаем уникальные решения под задачи заказчика. Мы&nbsp;используем в&nbsp;работе отечественное программное обеспечение с&nbsp;открытым исходным кодом.</p>
    </div>

{# ----------------------------------
    Carousel — Projects
   ---------------------------------- #}

    <div class="section-footer separated carousel carousel slide js-manual" id="carousel-it" data-ride="carousel">

      {# Carousel viewport #}
      <div class="carousel-inner" role="listbox">

        {# Trade Ministry #}
        <figure class="carousel-item active">

          <a class="section-carousel-link" href="/ru/projects/2017/avtomatizaciya-gosuslug-minpromtorga-rossii" title="Госуслуги Минпромторга">
            <img src="/a/img/s-services/rnd/featured/industry-trade-ministry-02.png" alt="Госуслуги Минпромторга">
          </a>

          <figcaption>
            Госуслуги Минпромторга
          </figcaption>
        </figure>

        {# Rosstandart #}
        <figure class="carousel-item">

          <a class="section-carousel-link" href="/ru/projects/2017/elektronnye-gosuslugi-obespechenie-predostavleniya" title="Госуслуги Росстандарта">
            <img src="/a/img/s-services/rnd/featured/rosstandart.jpg" alt="Госуслуги Росстандарта">
          </a>

          <figcaption>
            Госуслуги Росстандарта
          </figcaption>
        </figure>

        {# Rostourism #}
        <figure class="carousel-item">

          <a class="section-carousel-link" href="/ru/projects/2017/vidzhet-my-reestre-turoperatorov" title="Виджет Ростуризма «Мы в реестре туроператоров»">
            <img src="/a/img/s-services/rnd/featured/rostourism-widget.jpg" alt="Виджет Ростуризма «Мы в реестре туроператоров»">
          </a>

          <figcaption>
            Виджет Ростуризма
          </figcaption>
        </figure>

        {# Region 2.0 #}
        <figure class="carousel-item">

          <a class="section-carousel-link" href="/ru/projects/2010/avtomatizirovannaya-sistema-prognozirovaniya-politicheskih" title="Автоматизированная система прогнозирования политических кризисов">
            <img src="/a/img/s-services/rnd/featured/region-2-0.png" alt="Автоматизированная система прогнозирования политических кризисов">
          </a>

          <figcaption>
            Система прогнозирования политических кризисов
          </figcaption>
        </figure>

        {# Yakutiya #}
        <figure class="carousel-item">

          <a class="section-carousel-link" href="/ru/projects/2018/redizayn-modernizaciya-investicionnogo-portala-respubliki-saha" title="Редизайн и модернизация инвестиционного портала Республики Саха (Якутия)">
            <img src="/a/img/s-services/rnd/featured/yakutinvest.jpg" alt="Редизайн и модернизация инвестиционного портала Республики Саха (Якутия)">
          </a>

          <figcaption>
            Инвестиционный портал Республики Саха (Якутия)
          </figcaption>
        </figure>

      </div>{# / viewport #}

      <ol class="carousel-indicators">
        <li data-target="#carousel-it" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-it" data-slide-to="1"></li>
        <li data-target="#carousel-it" data-slide-to="2"></li>
        <li data-target="#carousel-it" data-slide-to="3"></li>
        <li data-target="#carousel-it" data-slide-to="4"></li>
      </ol>
    </div>{# / carousel #}

  </section>{# PR ervices #}

  <hr class="box2title hidden">

<!--




/ CUT IN BODY




-->

{# -----------------------------------------------------------------------------
    Testimonials
   -------------------------------------------------------------------------- #}

</main>{# / page-content #}

{% endblock %}{# / block content #}

{% block cta %}

  {% include "/components/cta/cta.twig" %}
  <p class="cta-alt">Можете напрямую связаться с&nbsp;Людмилой Богатырёвой:<br>
  <a class="link phone-number has-icon" id="contact-it" href="tel:+7-964-536-5844" content="+79645365844" title="Звоните">+7 (964) 536-58-44</a> <a class="link email has-icon js-contact" href="mailto:bogatyreva(at)gmail(dot)com?subject=polylog.ru" title="Написать письмо">email</a></p>
{% endblock %}{# / block cta #}
