//- index.pug

//- Settings -------------------------------------------------------------------

extends /pages/base/base.pug
append config
  - var bodyClasses = "section-services page-pr page-rnd has-dark-jumbotron separated-jumbotron"

  //- We can use mixins. See example in menu.pug

//- Head -----------------------------------------------------------------------
append head
  style.
    .chart {
      background: transparent url("/a/img/s-services/rnd/what-is-guy.jpg") no-repeat bottom right;
      position: relative;
      min-height: 550px; }
      @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
        .chart {
          background-image: url("/a/img/s-services/rnd/what-is-guy@2x.jpg"); } }
      .chart::after {
        background: transparent url("/a/img/s-services/rnd/what-is-chart.svg") no-repeat 0 0;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 12px;
        width: 65px;
        height: 278px; }
        @media (min-width: 544px) {
          .chart::after {
            top: 1.8rem; } }
        @media (min-width: 768px) {
          .chart::after {
            left: 14px;
            height: 312px; } }
        @media (min-width: 992px) {
          .chart::after {
            left: 17px;
            width: 188px;
            height: 528px; } }

    .benefits {
      background-color: #151212;
      background-image: linear-gradient(rgba(6, 5, 5, 0) 0%, rgba(6, 5, 5, 0.7) 50%, rgba(6, 5, 5, 0.85) 65%, rgba(6, 5, 5, 0.925) 75.5%, rgba(6, 5, 5, 0.963) 82.85%, rgba(6, 5, 5, 0.981) 88%, #060505 100%), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/a/img/s-services/rnd/benefits-rnd.jpg");
      background-position: center 384px, center top, center top;
      background-repeat: no-repeat;
      background-size: 100% 120px, auto 100%, auto 504px; }
      @media (min-width: 992px) {
        .benefits {
          background-color: #140b00;
          background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/a/img/s-services/rnd/benefits-rnd.jpg");
          background-position: center top, center top;
          background-size: auto 100%, auto 504px; } }

//- Content --------------------------------------------------------------------

block content

  .jumbotron-container

    // CUT IN JUMBOTRON ––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    .jumbotron-body
      h1.jumbotron-headline.ani-slide-down Исследования и&nbsp;IT-решения в&nbsp;госсекторе
      blockquote.jumbotron-quote.ani-slide-down <span class="hlaquo-body">«</span>Перевод в&nbsp;электронную форму государственных услуг, развитие межведомственного электронного взаимодействия<span class="hidden-xs-down">, совершенствование работы с&nbsp;обращениями граждан, обеспечение открытости. Сначала мы&nbsp;оптимизируем процесс, потом разрабатываем проект нормативно-правового акта и&nbsp;только потом автоматизируем</span>».

      //- a.jumbotron-btn.video.ani-slide-down.js-mfp-video(href="https://www.youtube.com/watch?v=MFQQeqGu3SY" role="button")
      a.jumbotron-btn.ani-slide-down.js-open-modal(href="/ru/company/contact-us" data-target="#modal" data-toggle="modal" role="button") Пообщаемся?

    //- Person
    figure.jumbotron-person.rnd.ani-fade-in
      //-     a.js-mfp-video(href="https://www.youtube.com/watch?v=MFQQeqGu3SY"title="[Видео] Руководитель департамента исследований и разработок рассказывает об оптимизации и автоматизации процессов для госструктур")
      img.jumbotron-portrait(src="/a/img/people/lyuda-bogatyreva.png" alt="Людмила Богатырёва, руководитель департамента исследований и разработок")

      figcaption Людмила Богатырёва,<br>
        | руководитель департамента исследований и разработок

    // / CUT IN JUMBOTRON ––––––––––––––––––––––––––––––––––––––––––––––––––––––

  main.container

    // CUT IN BODY –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    //- Case Studies ---------------------------------------------------------
    section.section.container
      .row.gutters-sm
        .col-sm-9.col-lg-7.pt-lg-12
          h2.section-headline Наш вклад в&nbsp;становление электронного государства<span class="hidden-sm-down">: <small>научные исследования и&nbsp;ПО</small></span>
          p С 2010 года компания «Полилог» консультирует органы власти по основным направлениям реализации административной реформы и развития электронного государства в России.
          p.mb-0 <strong>Какие услуги мы&nbsp;оказываем:</strong>
          ul
            li оптимизация бизнес-процессов заказчика;
            li разработка проектов нормативно-правовых актов, стандартов, регламентов, инструкций;
            li разработка стратегий и планов, концептуальное проектирование;
            li создание, развитие, модернизация информационных систем;
            li техническая и методическая поддержка эксплуатации информационных систем.
          p Компания отвечает самым строгим требованиям по соблюдению в своих проектах стандартов защиты информации, что подтверждается наличием лицензии на осуществление деятельности по технической защите конфиденциальной информации Федеральной службы по техническому и экспортному контролю.
        .pic-vignette.chart.col-sm-3.col-lg-4.offset-lg-1.hidden-xs-down(role="img" aria-label="От архитектуры процессов до внедрения" title="От архитектуры процессов до внедрения")

    //- Benefits -------------------------------------------------------------
    section.section.benefits.dark.in-box.full-width.mt-18.mt-md-64.mb-58.mb-md-82
      .container
        h2.section-headline.text-center.mb-md-1s Исследования <span class="nowrap">и IT-решения:</span><br>
          small какие продукты вы можете у нас заказать
        ul.list-check.two-lg.columns
          li.list-check-item Оптимизация и&nbsp;перевод в&nbsp;электронную форму государственных услуг. <span class="text-muted-negative">Мы&nbsp;делаем доступным и&nbsp;прозрачным общение органов власти с&nbsp;физическими и&nbsp;юридическими лицами (потребителями услуг)</span>. <span class="link negative" data-target="#modal-egovernance" data-toggle="modal">Подробнее</span>
          li.list-check-item Улучшение работы с&nbsp;обращениями граждан. <span class="text-muted-negative">Новые стандарты по&nbsp;работе с&nbsp;обращениями, которые включают критерии классификации, типовые ответы, методику прогнозирования объема обращений.</span> <span class="link negative" data-target="#modal-feedback" data-toggle="modal">Подробнее</span>
          li.list-check-item Развитие межведомственного электронного взаимодействия. <span class="text-muted-negative">Межведомственное электронное взаимодействие органов власти позволяет существенно сократить объем документов.</span> <span class="link negative" data-target="#modal-interagency-cooperation" data-toggle="modal">Подробнее</span>
          li.list-check-item Повышение открытости деятельности. <span class="text-muted-negative">Мы&nbsp;разрабатываем и&nbsp;наполняем сайты ведомств, разрабатываем удобные форматы информирования, публикуем сведения в&nbsp;форме открытых данных.</span> <span class="link negative" data-target="#modal-transparency" data-toggle="modal">Подробнее</span>

    section#modal-egovernance.modal(role="dialog" tabindex="-1" aria-labelledby="headline-egovernance" aria-hidden="true")
      .modal-dialog(role="document")
        button.modal-close(data-dismiss="modal" aria-label="Закрыть" title="Закрыть")
        .modal-content
          .modal-body
            h2#headline-egovernance.article-headline Оптимизация и перевод в электронную форму государственных услуг
            p Мы делаем доступным и прозрачным общение органов власти с физическими и юридическими лицами (потребителями услуг). Мы переводим взаимодействие полностью в электронный вид, без необходимости заявителю посещать орган власти, создаем удобные и дружелюбные интерфейсы для электронных заявлений, а также реализуем правовую и техническую основу для выдачи результатов услуг в электронной форме. Не забываем и про удобство сотрудников органов власти, поэтому наши решения максимально автоматизируют их работу и позволяют обрабатывать электронные и бумажные заявления в одной системе.
            h3 Рейтинги, в которых мы способствуем росту позиций наших заказчиков
            ul
              li Мониторинг качества перевода государственных и муниципальных услуг в электронную форму (Минэкономразвития России)
              li Рейтинг работоспособности сервисов в среде СМЭВ (Минкомсвязи России)
              li Рейтинг по выполнению поручения по обеспечению качества работы информационных систем федеральных органов исполнительной власти, государственных внебюджетных фондов и иных организаций (Минкомсвязи России)

    section#modal-feedback.modal(role="dialog" tabindex="-1" aria-labelledby="headline-feedback" aria-hidden="true")
      .modal-dialog(role="document")
        button.modal-close(data-dismiss="modal" aria-label="Закрыть" title="Закрыть")
        .modal-content
          .modal-body
            h2#headline-feedback.article-headline Совершенствование работы с обращениями граждан
            p Мы разрабатываем стандарты по работе с обращениями, которые включают критерии классификации обращений, типовые ответы, методику прогнозирования объема обращений на плановый период и проведения мониторинга социальной активности с целью оперативного принятия решений, направленных на ее снижение. Это позволяет выстраивать эффективную систему работы с гражданами и повышать качество деятельности наших заказчиков.
            p <strong>Мы&nbsp;способствуем росту позиций наших заказчиков в&nbsp;рейтинге</strong> по&nbsp;работе с&nbsp;обращениями и&nbsp;запросами граждан в&nbsp;приемных Президента&nbsp;РФ, в&nbsp;государственных органах и&nbsp;органах местного самоуправления (Администрация Президента России)

    section#modal-interagency-cooperation.modal(role="dialog" tabindex="-1" aria-labelledby="headline-interagency-cooperation" aria-hidden="true")
      .modal-dialog(role="document")
        button.modal-close(data-dismiss="modal" aria-label="Закрыть" title="Закрыть")
        .modal-content
          .modal-body
            h2#headline-interagency-cooperation.article-headline Развитие межведомственного электронного взаимодействия
            p Межведомственное электронное взаимодействие органов власти позволяет существенно сократить объем документов, который ложится на плечи заявителя, если мы говорим о госуслугах, или же плечи субъекта проверки, если речь идет о контрольно-надзорной деятельности. Это намного практичнее и для самих органов власти, которые в режиме онлайн запрашивают данные друг у друга, без необходимости ведения бумажного документооборота.
            h3 Рейтинги, в которых мы способствуем росту позиций наших заказчиков
            ul
              li Рейтинг работоспособности сервисов в среде СМЭВ (Минкомсвязи России)
              li Рейтинг по выполнению поручения по обеспечению качества работы информационных систем федеральных органов исполнительной власти, государственных внебюджетных фондов и иных организаций (Минкомсвязи России)

    section#modal-transparency.modal(role="dialog" tabindex="-1" aria-labelledby="headline-transparency" aria-hidden="true")
      .modal-dialog(role="document")
        button.modal-close(data-dismiss="modal" aria-label="Закрыть" title="Закрыть")
        .modal-content
          .modal-body
            h2#headline-transparency.article-headline Повышение открытости деятельности
            p Мы разрабатываем и наполняем сайты ведомств (официальные сайты, отраслевые порталы, системы обратной связи и иные WEB-решения), разрабатываем удобные форматы информирования (инфографика, видеоролики), публикуем сведения в форме открытых данных для дальнейших исследований или использования в электронных сервисах и мобильных приложениях.
            h3 Рейтинги, в которых мы способствуем росту позиций наших заказчиков
            ul
              li Рейтинг официальных сайтов органов власти (Минэкономразвития России)
              li Рейтинг открытых данных (Минэкономразвития России)
              li Рейтинг достигнутых результатов органов власти по внедрению и развитию механизмов открытости (Открытое правительство)
              li Рейтинг федеральных органов исполнительной власти по уровню доверия и удовлетворенности граждан, общественных объединений и предпринимательского сообщества уровнем открытости федеральных органов исполнительной власти (ВЦИОМ совместно с Открытым правительством)

    //- Todo -----------------------------------------------------------------
    section.section.container
      h2.section-headline.text-center.next-is-text Как мы&nbsp;это делаем<span class="hidden-xs-down">.<br>
        <small>От&nbsp;анализа нормативно-правовых актов до&nbsp;внедрения <span class="nowrap">IT-решений</span></small></span>
      .row
        .col-lg-6.pl-72

          h3.list-caption.has-icon.analysis Предварительный анализ
          ul.list-to-do
            li.list-to-do-item.normal Анализ отраслевых <abbr aria-label="Нормативно-правовые акты" title="Нормативно-правовые акты">НПА</abbr>
            li.list-to-do-item.normal Анализ требований регулирующих органов
            li.list-to-do-item.normal Проведение мозговых штурмов
            li.list-to-do-item.normal Формализация проблемы заказчика
            li.list-to-do-item.normal Разработка методологии обследования

          h3.list-caption.has-icon.conception.pt-lg-1s Проведение обследования
          ul.list-to-do
            li.list-to-do-item.normal Анкетирование и интервьюирование заказчика
            li.list-to-do-item.normal Сбор и анализ данных
            li.list-to-do-item.normal Разработка концепции решения проблемы
            li.list-to-do-item.normal Утверждение концепции заказчиком
            li.list-to-do-item.normal Документирование требований

          h3.list-caption.has-icon.business-processes.pt-lg-1s Оптимизация бизнес-процессов
          ul.list-to-do
            li.list-to-do-item.normal Формализация целей и задач оптимизации
            li.list-to-do-item.normal Описание процесса as is (как есть)
            li.list-to-do-item.normal Построение моделей to be (как будет)
            li.list-to-do-item.normal Разработка проектов <abbr aria-label="Нормативно-правовые акты" title="Нормативно-правовые акты">НПА</abbr> согласно модели to&nbsp;be
            li.list-to-do-item.normal Формализация требований к внедрению системы

          h3.list-caption.has-icon.software-design.pt-lg-1s Проектирование <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr>
          ul.list-to-do
            li.list-to-do-item.normal Описание процедур обработки данных
            li.list-to-do-item.normal Описание алгоритмов принятия решений
            li.list-to-do-item.normal Описание пользовательских сценариев
            li.list-to-do-item.normal Архитектура и моделирование данных
            li.list-to-do-item.normal Формализация требований в техническом проекте

          h3.list-caption.has-icon.development.pt-lg-1s Разработка
          ul.list-to-do
            li.list-to-do-item.normal Front-end — разработка пользовательского интерфейса
            li.list-to-do-item.normal Back-end — разработка базы данных, бизнес-логики
            li.list-to-do-item.normal Разработка сервисов в&nbsp;<abbr aria-label="Система межведомственного электронного взаимодействия" title="Система межведомственного электронного взаимодействия">СМЭВ</abbr>
            li.list-to-do-item.normal Интеграция с&nbsp;<abbr aria-label="Система межведомственного электронного взаимодействия" title="Система межведомственного электронного взаимодействия">СМЭВ</abbr>, <abbr title="Единый портал государственных услуг">ЕПГУ</abbr>, <abbr aria-label="Единая система идентификации и аутентификации" title="Единая система идентификации и аутентификации">ЕСИА</abbr>
            li.list-to-do-item.normal Интеграция с&nbsp;<abbr aria-label="Система электронного документооборота" title="Система электронного документооборота">СЭДО</abbr>, сайтом, 1С

        .col-lg-6.pl-72
          h3.list-caption.has-icon.databases Нормализация баз данных
          ul.list-to-do
            li.list-to-do-item.normal Миграция данных из&nbsp;других <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr>
            li.list-to-do-item.normal Разработка единых справочников
            li.list-to-do-item.normal Внедрение классификаторов
            li.list-to-do-item.normal Вычистка базы данных
            li.list-to-do-item.normal Разработка регламента работы с&nbsp;<abbr aria-label="База данных" title="База данных">БД</abbr>

          h3.list-caption.has-icon.testing Тестирование
          ul.list-to-do
            li.list-to-do-item.normal Разработка программы и методики испытаний
            li.list-to-do-item.normal Предварительное тестирование
            li.list-to-do-item.normal Опытная эксплуатация
            li.list-to-do-item.normal Приемочное тестирование
            li.list-to-do-item.normal Проект приказа о вводе в эксплуатацию

          h3.list-caption.has-icon.implementation Внедрение
          ul.list-to-do
            li.list-to-do-item.normal Настройка сервера и установка ПО
            li.list-to-do-item.normal Разработка эксплуатационной документации
            li.list-to-do-item.normal Обучение
            li.list-to-do-item.normal Доступ к базе знаний
            li.list-to-do-item.normal Разработка положения об&nbsp;<abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr>

          h3.list-caption.has-icon.promotion Продвижение
          ul.list-to-do
            li.list-to-do-item.normal Пошаговые инструкции
            li.list-to-do-item.normal Видеоролики, инфографика
            li.list-to-do-item.normal SEO-продвижение
            li.list-to-do-item.normal Интернет-баннеры
            li.list-to-do-item.normal Информационные кампании

          h3.list-caption.has-icon.expert Экспертное сопровождение
          ul.list-to-do
            li.list-to-do-item.normal Консультирование по&nbsp;изменению <abbr aria-label="Нормативно-правовые акты" title="Нормативно-правовые акты">НПА</abbr>
            li.list-to-do-item.normal Подготовка отчетности для регуляторов
            li.list-to-do-item.normal Подготовка аналитических справок по запросу
            li.list-to-do-item.normal.hidden-lg-xl-only Участие в рабочих группах
            li.list-to-do-item.normal Разработка рекомендаций

          h3.list-caption.has-icon.technical-support Техническое сопровождение
          ul.list-to-do
            li.list-to-do-item.normal Мониторинг программного и аппаратного обеспечения
            li.list-to-do-item.normal.hidden-lg-xl-only Обеспечение работоспособности <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr>
            li.list-to-do-item.normal.hidden-lg-xl-only Системное обслуживание и администрирование
            li.list-to-do-item.normal.hidden-lg-xl-only Управление обновлениями <abbr aria-label="Автоматизированные информационные системы" title="Автоматизированные информационные системы">АИС</abbr>
            li.list-to-do-item.normal.hidden-lg-xl-only Информационно-техническая поддержка

    hr.text2title

    //- Case Studies ---------------------------------------------------------
    section.section.details.container
      h2.section-headline.text-center Примеры проектов — исследования <span class="nowrap">и IT-решения</span>
      .section-body.col-lg-8.offset-lg-2.text-muted.text-center
        p Компания «Полилог» имеет успешный опыт проведения исследований и внедрения своих <span class="nowrap">IT-решений</span> в интересах Администрации Президента РФ, Минэкономразвития России, Минпромторга России, Минрегиона России, Ростуризма, Росстандарта и множества региональных органов власти. Мы не предлагаем типовой продукт, а создаем уникальные решения под задачи заказчика. Мы используем в работе отечественное программное обеспечение с открытым исходным кодом.

      //-  Carousel — Projects –––––––––––––––––––––––––––––––––––––––––––––––

      #carousel-it.section-footer.separated.carousel.carousel.slide.js-manual(data-ride="carousel")
        .carousel-inner(role="listbox")

          //- Trade Ministry
          figure.carousel-item.active
            a.section-carousel-link(href="/ru/projects/2016/razvitie-federalnoy-informacionnoy-sistemy-okazaniya" title="Госуслуги Минпромторга")
              img(src="/a/img/s-services/rnd/featured/industry-trade-ministry.jpg" alt="Госуслуги Минпромторга")
            figcaption Госуслуги Минпромторга

          //- Rosstandart
          figure.carousel-item
            a.section-carousel-link(href="/ru/projects/2017/elektronnye-gosuslugi-obespechenie-predostavleniya" title="Госуслуги Росстандарта")
              img(src="/a/img/s-services/rnd/featured/rosstandart.jpg" alt="Госуслуги Росстандарта")
            figcaption Госуслуги Росстандарта

          //- Rostourism
          figure.carousel-item
            a.section-carousel-link(href="/ru/projects/2016/federalnoe-agentstvo-turizmu-sovershenstvuet-rabotu-otkrytymi" title="Экспертная поддержка Ростуризма в области открытых данных")
              img(src="/a/img/s-services/rnd/featured/rostourism-open-data.jpg" alt="Экспертная поддержка Ростуризма в области открытых данных")
            figcaption Открытые данные Ростуризма

          //- Region 2.0
          figure.carousel-item
            a.section-carousel-link(href="/ru/projects/2010/avtomatizirovannaya-sistema-prognozirovaniya-politicheskih" title="Автоматизированная система прогнозирования политических кризисов")
              img(src="/a/img/s-services/rnd/featured/region-2-0.png" alt="Автоматизированная система прогнозирования политических кризисов")
            figcaption Система прогнозирования политических кризисов

        ol.carousel-indicators
          li.active(data-target="#carousel-it" data-slide-to="0")
          li(data-target="#carousel-it" data-slide-to="1")
          li(data-target="#carousel-it" data-slide-to="2")
          li(data-target="#carousel-it" data-slide-to="3")

    hr.box2title.hidden

    // CUT IN BODY –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//- CTA ------------------------------------------------------------------------
append cta
  p.cta-alt Можете напрямую связаться с Людмилой Богатырёвой:<br>
  a.link.phone-number.has-icon(href="tel:+7-964-536-5844" content="+79645365844" title="Звоните") +7 (964) 536-58-44
  a.link.email.has-icon.js-contact(href="mailto:bogatyreva(at)gmail(dot)com?subject=polylog.ru" title="Написать письмо") email

