{% extends "/pages/base/base.twig" %}

{% block body %}
<body class="section-blog">
{% endblock %}

{% block content %}

<main class="container">

  {# Page header #}
  <div class="page-header">
    <h1 class="page-header-headline">Идеи и&nbsp;опыт</h1>
    <span class="page-header-icon" role="presentation"></span>
  </div>{# / page header #}

  {# Entries List & Sidebar #}
  <div class="row main">

    {# Entries List #}
    <ul class="list-view narrow">

      {# Entry #1 #}
      <li class="entry">

        <figure class="media-wrapper">
          <img class="entry-img" src="/a/img/blog/2017/02-07/clients.jpg" alt="#todo">
        </figure>

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Провокация потенциальных клиентов&nbsp;— альтернатива классическим переговорам
          </h2>

          <p class="entry-summary">
            Потеря клиентов&nbsp;- очень болезненный процесс, в ходе которого вы также рискуете потерять набранные за долгие годы работы имиджевые очки. Что делать в этой ситуации? Провоцировать.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #2 #}
      <li class="entry">

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Всем спасибо, все на собрание
          </h2>

          <p class="entry-summary">
            Для сотрудников, занятых различного рода проектами, время летит молниеносно. Один проект не&nbsp;успевает закончиться, как уже «горят» сроки по&nbsp;второму и&nbsp;нужно объявлять начало третьего. В&nbsp;таком темпе работы на&nbsp;анализ собственных ошибок, подведение итогов работы проектной группы зачастую попросту не&nbsp;остается времени.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #3 #}
      <li class="entry">

        <figure class="media-wrapper">
          <img class="entry-img" src="/a/img/blog/2017/_tmp/01.jpg" alt="#todo">
        </figure>

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            «Мужественные» йогурты, или как одна идея обеспечила успех бренду
          </h2>

          <p class="entry-summary">
            Однажды к&nbsp;PR-агентству Naked Communications обратилась всем известная компания Danone с&nbsp;просьбой провести рекламную кампанию для их&nbsp;нового продукта с&nbsp;созвучным названием Danio..
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #4 #}
      <li class="entry">

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Хейтеры на&nbsp;пороге: инструкция по&nbsp;противодействию
          </h2>

          <p class="entry-summary">
            Хейтеры в&nbsp;сети&nbsp;— обычное для нашего времени явление, а&nbsp;потому каждая бизнес-компания должна знать, как отвечать на&nbsp;их&nbsp;сообщения.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #5 #}
      <li class="entry">

        <figure class="media-wrapper">
          <img class="entry-img" src="/a/img/blog/2017/_tmp/02.jpg" alt="#todo">
        </figure>

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Коммуникационные тренды 2016
          </h2>

          <p class="entry-summary">
            2016 год открывает новые возможности и&nbsp;тренды в&nbsp;сфере коммуникаций. О&nbsp;том, без чего нельзя обойтись при разработке коммуникационной стратегии, читайте ниже.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #6 #}
      <li class="entry">

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Может&nbsp;ли политик изменить общественное мнение?
          </h2>

          <p class="entry-summary">
            Сталкивались&nbsp;ли вы&nbsp;когда-нибудь с&nbsp;мнением о&nbsp;том, что политикам известны такие технологии публичных выступлений, которые могут изменить общественное мнение по&nbsp;любому вопрос? Если ваш ответ положительный, тогда читайте эту статью внимательнее.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #7 #}
      <li class="entry">

        <figure class="media-wrapper">
          <img class="entry-img" src="/a/img/blog/2017/_tmp/03.jpg" alt="#todo">
        </figure>

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Политизируй это: негативная реклама как способ воздействия на&nbsp;избирателей
          </h2>

          <p class="entry-summary">
            Политическая реклама представляет лишь один из&nbsp;инструментов политика при воздействии на&nbsp;целевую аудиторию, но&nbsp;чаще всего практика ее&nbsp;использования приобретает актуальность во&nbsp;время выборов.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #8 #}
      <li class="entry">

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Что делать с&nbsp;избирателями после выборов: постэлекторальные коммуникации
          </h2>

          <p class="entry-summary">
            Предвыборная гонка сегодня немыслима без работы с&nbsp;социальными сетями, вебсайтами и&nbsp;прочими ресурсами кампании в&nbsp;сети. Однако после того, как выборы состоялись, эти платформы превращаются в&nbsp;скучные сайты с&nbsp;устаревшей информацией, к&nbsp;которой избиратель сразу&nbsp;же теряет интерес. Можно&nbsp;ли избежать этой ситуации? Разумеется, да.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #9 #}
      <li class="entry">

        <figure class="media-wrapper">
          <img class="entry-img" src="/a/img/blog/2017/_tmp/04.jpg" alt="#todo">
        </figure>

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            Европейский подход к&nbsp;информированию аудитории: какую стратегию выберете&nbsp;вы?
          </h2>

          <p class="entry-summary">
            Работа с&nbsp;средствами массовой коммуникации занимает особое место в&nbsp;любой рекламной компании. Понятно, что важнейшая цель использования средств коммуникации заключается в&nbsp;том, чтобы рассказать о&nbsp;вашем продукте максимальному количеству людей. Отсюда логично напрашивается вывод: больше напоминаний&nbsp;— эффективнее реклама. Однако, при всей своей очевидности этот вывод далеко не&nbsp;всегда верен.
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

      {# Entry #10 #}
      <li class="entry">

        <a class="entry-body" href="#todo">
          <h2 class="entry-headline">
            B2B? B2C? B2C2B!
          </h2>

          <p class="entry-summary">
            Наличие сильных союзников, зарекомендовавших себя на&nbsp;рынке, может серьезно повысить рейтинг вашей компании. Однако, привлечь подобных партнеров к&nbsp;сотрудничеству не&nbsp;так просто. Что делать, если путем прямых переговоров вам не&nbsp;удается выстроить отношения сотрудничества с&nbsp;нужным контрагентом?
          </p>
        </a>

        <footer class="entry-footer meta">
          <time class="meta-date" datetime="2017-02-02"><i>2</i> фев 2017</time>
          <ul class="meta-tags">
            <li><a href="#todo">Менеджмент</a></li>
          </ul>
        </footer>
      </li>

    </ul>{# / entries list #}

    {# Sidebar #}
    <aside class="sidebar">

      {# Categories #}
      <div class="module categories">
        <h2 class="module-headline">Темы</h2>
        <ul class="module-list ul">
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/gr">GR</a> <span>14</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/pr-2-0/index.htm">PR 2.0 и интернет-маркетинг</a> <span>215</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/word-of-mouth-marketing/index.htm">WOM-маркетинг</a> <span>88</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/branding/index.htm">Брендинг</a> <span>118</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/journalism">Журналистика</a> <span>32</span></li>
          <li class="module-item"><a class="module-link" href="/ru/category/temy-bloga/ivent-menedzhment">Ивент-менеджмент</a> <span>46</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/metrics/index.htm+">Измерения</a> <span>12</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/guerrilla-marketing">Партизанский маркетинг</a> <span>44</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/pr-marketing-classics">Классика по средам</a> <span>47</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/marketing/index.htm">Маркетинг</a> <span>109</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/management">Менеджмент</a> <span>17</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/pr/index.htm">Пиар (PR)</a> <span>415</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/promotions/index.htm">Промо-кампании</a> <span>211</span></li>
          <li class="module-item"><a class="module-link" href="/ru/pr-blog/atl/index.htm">Реклама</a> <span>135</span></li>
        </ul>
      </div>{# / categories #}

      {# Popular #}
      <div class="module popular">
        <h2 class="module-headline">Лучшее за месяц</h2>
        <ol class="module-list ol">
          <li class="module-item"><a class="module-link" href="#todo">SWOT-анализ МакДональдса</a></li>
          <li class="module-item"><a class="module-link" href="#todo">Самые провальные промо- и&nbsp;PR-кампании</a></li>
          <li class="module-item"><a class="module-link" href="#todo">Успешная корпоративная газета: идеи, проверенные временем</a></li>
          <li class="module-item"><a class="module-link" href="#todo">26 способов привлечь посетителей в музей - Часть II</a></li>
          <li class="module-item"><a class="module-link" href="#todo">Пять самых эффективных PR–кампаний</a></li>
        </ol>
      </div>{# / popular #}

    </aside>{# / sidebar #}

  </div>{# / row #}

  {# Pagination v1
  <nav class="pagination">
    <a class="pagination-prev" href="#" aria-label="Назад" title="Назад"></a>
    <span class="pagination-counter"><b>1</b> из 24</span>
    <a class="pagination-next disabled" href="#" aria-label="Вперёд" title="Вперёд"></a>
  </nav> #}{# / pagination #}

</main>

{# Pagination #}
<div class="item-list">
  <ul class="pager">
    <li class="pager-previous first">&nbsp;</li>
    <li class="pager-current">1 из 146</li>
    <li class="pager-next last"><a title="На следующую страницу" href="/ru/pr-blog?page=1">следующая страница</a></li>
  </ul>
</div>
{# / pagination #}


{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-blog.twig" %}
{% endblock %}{# / block body add-on #}
