{% extends "/pages/base/base.twig" %}

{% block body %}
<body class="section-blog">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article" itemscope itemtype="https://schema.org/Article">

    <header class="article-eyebrow meta">
      <a class="meta-link section back" href="/ru/blog">Блог</a>&nbsp;—
      <a class="meta-link section" href="/ru/blog/pr-marketing" itemprop="articleSection">Идеи и&nbsp;опыт</a>
      <ul class="meta-tags ml-1s" itemprop="keywords">
        <li><a href="/ru/blog/marketing">Маркетинг</a></li>
      </ul>
    </header>

    <h1 class="article-headline" itemprop="headline">
      Провокация потенциальных клиентов&nbsp;— альтернатива классическим переговорам
    </h1>

    <img src="/a/img/blog/2017/02-07/clients.jpg" alt="">

    <div class="article-lead">

      {% include "/components/social-tools/article-like-share.twig" %}

      <p itemprop="about">Взаимодействие бизнес-партнеров&nbsp;— сложный процесс, в&nbsp;котором никто не&nbsp;заинтересован в&nbsp;дополнительных рисках. Поэтому если ваша компания столкнулась с&nbsp;проблемами, не&nbsp;удивляйтесь, если партнеры вспомнят знаменитую поговорку: спасение утопающих&nbsp;— дело рук самих утопающих.</p>

    </div>

    <div class="article-body" itemprop="articleBody">

      <p>Потеря клиентов&nbsp;— очень болезненный процесс, в&nbsp;ходе которого вы&nbsp;также рискуете потерять набранные за&nbsp;долгие годы работы имиджевые очки. Что делать в&nbsp;этой ситуации? Провоцировать.</p>
      <p>Неожиданно? Как показывают исследования Harvard Business Review, провокация работает ничуть не&nbsp;хуже обычных переговоров. Все, что вам нужно, это обнаружить проблему в&nbsp;компании, на&nbsp;сотрудничество с&nbsp;которой вы&nbsp;рассчитываете, и&nbsp;навязать им&nbsp;мнение о&nbsp;том, что ее&nbsp;решение должно быть произведено безотлагательно, и&nbsp;только вы&nbsp;знаете, как это сделать. Более того, ваша компания как раз обладает всем необходимым, чтобы помочь партнерам решить обнаруженную вами проблему.</p>
      <h2>Кейс компании Sybase</h2>
      <p>Весной 2008 года компания Sybase столкнулась с&nbsp;кризисом в&nbsp;отношениях со&nbsp;своими бизнес-партнерами: им&nbsp;все чаще отказывали в&nbsp;совместных проектах, финансировании и&nbsp;проч. Тогда компания, проведя глубокое аналитическое исследование, выявила риски, с&nbsp;которыми столкнулись ее&nbsp;партнеры и&nbsp;предложила им&nbsp;свой нестандартный антикризисный план, представив его как не&nbsp;просто привлекательный, но&nbsp;необходимый план действий. Подобные провокационные технологии&nbsp;— дело очень рискованное, как минимум потому, что вряд&nbsp;ли вы&nbsp;обладаете полной информацией о&nbsp;положении дел в&nbsp;компаниях-партнерах. Поэтому единственное, что вы&nbsp;можете сделать на&nbsp;первом этапе&nbsp;— угадать самые «болезненные» точки компании. Но&nbsp;все&nbsp;же ваше предложение не&nbsp;должно базироваться лишь на&nbsp;том, что подсказывает вам шестое чувство; здесь, как и&nbsp;в&nbsp;любом серьезном деле, понадобится фундаментальная подготовка.</p>
      <h2>Как обнаружить проблему?</h2>
      <p>Начинать следует с&nbsp;разработки длинного списка всех проблем, с&nbsp;которыми ваши партнеры потенциально могли&nbsp;бы столкнуться. Однако, выбрать придется лишь одну и&nbsp;ваше попадание должно быть 100%-ным. Проанализируйте текущие проблемы индустрии в&nbsp;целом, ознакомьтесь с&nbsp;инвестиционным рынком выбранной компании-партнера, в&nbsp;общем, постарайтесь охватить все возможные показатели.</p>
      <h2>Как сформулировать предложение?</h2>
      <p>Теперь, когда потенциальная проблема обнаружена, вам нужно сформулировать свое предложение. Оно должно быть лаконичным, логично выстроенным&nbsp;и, что самое важное, оно должно взывать к&nbsp;незамедлительным действиям. Влиятельным инструментом станет ненавязчивое сравнение компании с&nbsp;ее&nbsp;конкурентами, которые должны предстать перед вашим клиентом в&nbsp;наиболее выгодном свете. Вы&nbsp;также можете обратиться к&nbsp;предшествующему антикризисному опыту компании, аккуратно указав на&nbsp;некоторые недостатки. Sybase кстати в&nbsp;своей провокационной кампании «атаковали» не&nbsp;только лиц, принимающих решение в&nbsp;компании, но&nbsp;и&nbsp;команду менеджеров. Путем непрямых коммуникаций им&nbsp;удалось повысить тревожность среди менеджеров и&nbsp;«забросить» выбранную проблему в&nbsp;повестку партнеров.</p>
      <h2>Подтверждая сказанное</h2>
      <p>Для того, чтобы подтвердить наличие проблемы в&nbsp;компании, в&nbsp;чем вы&nbsp;сами, напомним, можете быть не&nbsp;до&nbsp;конца уверены, был разработан хитрый трюк. Предложите клиентам провести более глубокую диагностику на&nbsp;добровольных началах. Для вас это небольшое вложение станет отличной возможностью получить доступ к&nbsp;реальной ситуации и&nbsp;инсайтам компании, а&nbsp;значит&nbsp;— скорректировать ваше предложение и&nbsp;утвердить первоначальный диагноз. В&nbsp;дальнейшем вы&nbsp;уже сможете привести конкретные примеры, с&nbsp;которыми компании будет сложно поспорить.</p>
      <h2>Сообщая о&nbsp;проблеме</h2>
      <p>После того, как вы&nbsp;проделали свой анализ, главное&nbsp;— представить его лицу, принимающему решения. Помните, у&nbsp;вас будет лишь один шанс убедить этого человека в&nbsp;необходимости сотрудничать с&nbsp;вами и&nbsp;поэтому вам жизненно необходимо ему понравиться. Постарайтесь найти как можно больше информации о&nbsp;своем собеседнике, вплоть до&nbsp;его постов в&nbsp;социальных сетях. Воспринимайте это как подготовку к&nbsp;свиданию, которое неизбежно должно заставить вашего собеседника влюбиться в&nbsp;вас по&nbsp;уши.</p>
      <p>На&nbsp;этом провокационная кампания заканчивается и&nbsp;вам остается лишь дождаться решения партнера. Повторим, описанная идея&nbsp;— большой риск, связанный с&nbsp;серьезными вложениями. Однако, как показывает практика, подобный риск помог многим компаниям, переживающим кризис, выйти из&nbsp;него, а&nbsp;старт-апам&nbsp;— начать свой успешный путь.</p>

    </div>{# / article-body #}

    <footer class="article-footer meta">
      <time class="meta-date" itemprop="datePublished" datetime="2017-02-02"><i>2</i> фев 2017</time>
      <cite class="meta-src"><span class="hidden-sm-down">По материалам </span><a href="https://hbr.org" target="_blank">Harvard Business Review</a></cite>
    </footer>

    <section class="comments">

      <h2 class="sr-only">Комментарии</h2>

      <div id="disqus_thread"></div>

      <script>

      // Replace PAGE_URL with your page's canonical URL variable

      // var disqus_config = function () {
      // this.page.url = PAGE_URL;
      // };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//polylog-pr.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>

    <script type="text/javascript">
        var disqus_shortname = 'polylog-pr';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

    </section>{# / comments #}

  </article>

  <aside class="article-related container tiles">

    <div class="row rock">

      {# RELATIVE CASE #}
      <div class="col-sm-6 col-lg-3">
        <a class="tile related-case poster link" href="#todo">
          <div class="tile-body">

            <h3 class="tile-eyebrow">
              Из нашего опыта
            </h3>

            <h2 class="tile-link">
              День города Москвы 2016: PR-сопровождение и&nbsp;аккредитация СМИ
            </h2>

            <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>

          </div>{# / tile-body #}
        </a>{# / tile #}
      </div>{# / col: relative case #}

      {# RELATIVE ARTICLE #1 #}
      <div class="col-sm-6 col-lg-3">
        <a class="tile first-related-article poster link" href="#todo">
          <div class="tile-body">

            <h3 class="tile-eyebrow">
              Также по теме
            </h3>

            <h2 class="tile-link">
              Всем спасибо, все на&nbsp;собрание
            </h2>

            <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>

          </div>{# / tile-body #}
        </a>{# / tile #}
      </div>{# / col: relative article #1 #}

      {# RELATIVE ARTICLE #2 #}
      <div class="col-sm-6 col-lg-3 hidden-lg-down">
        <a class="tile second-related-article poster link" href="#todo">
          <div class="tile-body">

            <span class="tile-eyebrow">
              …
            </span>

            <h2 class="tile-link">
              Европейский подход  к&nbsp;информированию аудитории: какую стратегию  выберете&nbsp;вы?
            </h2>

            <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>

          </div>{# / tile-body #}
        </a>{# / tile #}
      </div>{# / col: relative article #2 #}

      {# RELATIVE ARTICLE #3 #}
      <div class="col-sm-6 col-lg-3 hidden-lg-down">
        <a class="tile third-related-article poster link" href="#todo">
          <div class="tile-body">

            <span class="tile-eyebrow">
              …
            </span>

            <h2 class="tile-link">
              B2B? B2C? B2C2B!
            </h2>

            <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>

          </div>{# / tile-body #}
        </a>{# / tile #}
      </div>{# / col: relative article #3 #}

    </div>

  </aside>

</main>

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-blog.twig" %}
{% endblock %}{# / block body add-on #}
