{% extends "/pages/base/base.twig" %}

{% block content %}
  <form class="form -password" action="/wp-login.php?action=postpass" method="post">
    <label for="form-password-{{post.ID}}">Password</label>
    <input class="form-control" id="form-password-{{post.ID}}" name="post_password" type="password" maxlength="20" placeholder="Password">
    <button class="btn secondary" type="submit">Submit</button>
  </form>
{% endblock %}




