// -------------------------------------
// Polylog Promo
// -------------------------------------

// a.tile.event-name.poster.wide          # Images and details container. Display: flex, justify-content: center, align-items: stretch;
// .tile-summary                          # Images container, relatively positioned. text-align: center to center main pic
//    .tile-img                           # Static positioned image
//    .tile-logo                          # Absolutely positioned image


// .card-header.okroshka-2018             # Images container, relatively positioned. Display: flex, justify-content: center;
//    .tile-img                           # Absolutely positioned image
//    .tile-logo                          # Absolutely positioned image

// Image and Details Container
.tile.okroshka-2018 {
  background-color: rgb(13, 38, 25);
  display: flex;
  align-items: stretch;
  justify-content: center;
}

// Images Containers
.okroshka-2018 .tile-summary,
.card-header.okroshka-2018 {
  background: rgb(13, 38, 25) url('/a/img/polylog-promo/2018-okroshka/ornament.svg') center center no-repeat;
  // display: flex;
  // justify-content: center;
  text-align: center;
  position: relative;
}

.okroshka-2018 {
  .tile-summary,
  .tile-details {
    flex: 0 0 216px;
  }
}

// Main Image

.tile.okroshka-2018 .tile-img,
.okroshka-2018 .card-img {
  position: static;
  margin-top: .3rem;
}

// Logo

.okroshka-2018 .tile-logo,
.okroshka-2018 .card-logo {
  margin-left: (-184px / 2);
  position: absolute;
  bottom: .6rem;
  left: 50%;
}

.okroshka-2018 .tile-details {
  display: none;

  @include media-breakpoint-up(sm) {
    background: rgba(0, 0, 0, 0) url('/a/img/polylog-promo/2018-okroshka/date.svg') left center no-repeat;
    display: block;
  } // sm
}


