<div class="col-lg-6" itemscope itemtype="http://schema.org/Event">
  <a class="tile okroshka-2018 poster wide" href="/ru/upcoming-events" itemprop="url" aria-label="Окрошка Fest. 27 мая 2018 в московском парке Сокольники">

    <div class="tile-summary">
      <img class="tile-img" src="/a/img/polylog-promo/2018-okroshka/girl.png" alt="Окрошка Fest">
      <img class="tile-logo" src="/a/img/polylog-promo/2018-okroshka/logo.svg" alt="Окрошка Fest">
    </div>

    <div class="tile-details">
      <h3 class="sr-only" itemprop="name">Второй гастрономический фестиваль ОкрошкаFest</h3>
      <p class="sr-only" itemprop="description">В самом большом ресторане окрошки под открытым небом в Саду «Эрмитаж» 27 мая 2018-го вам будут представлены 5 уникальных видов окрошки, лучшие рестораны столицы проведут презентацию своего летнего меню и представят гостям свое видение традиционного русского летнего супа.</p>
      <address class="sr-only" itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">Сад «Эрмитаж»,</span> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Москва</span></span></address>
      <time class="sr-only" datetime="2018-05-27T10:00" itemprop="startDate" content="2018-05-27T10:00">27 мая 2018</time>
      <time class="sr-only" datetime="2018-05-27T19:00" itemprop="endDate" content="2018-05-27T19:00">27 мая 2018</time>
    </div>

  </a>{# / tile #}
</div>
