<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="/ru/upcoming-events" itemprop="url">
    <figure class="card-header okroshka-2018">
      <img class="card-img" src="/a/img/polylog-promo/2018-okroshka/girl.png" alt="Окрошка Fest">
      <img class="card-logo" src="/a/img/polylog-promo/2018-okroshka/logo.svg" alt="Окрошка Fest">
    </figure>
    <div class="card-body solid">
      <h3 class="card-headline" itemprop="name">Второй московский фестиваль окрошки</h3>
      <address class="card-subhead" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">
          Сад «Эрмитаж».
        </span>
        <span class="sr-only" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Москва</span>
        </span>
      </address>
      <time class="card-subhead" datetime="2018-05-26T10:00" itemprop="startDate" content="2018-05-26T10:00">
        26 мая 2018
      </time>
    </div>
  </a>
</div>
