{# Services Index #}

{# Careers index #}

{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .section.quotes {
      background: #483b2b url('/a/img/s-careers/blockquotes.jpg') center top no-repeat;
      min-height: 624px; }

    .carousel.glass::before {
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("/a/img/s-careers/blockquotes.jpg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("/a/img/s-careers/blockquotes.jpg");
      background-position: 0 0, 50% -40px; }
      @media (min-width: 992px) {
        .carousel.glass::before {
          background-position: 0 0, 32% -40px; } }
  </style>
{% endblock %}

{% block body %}
<body class="section-careers index has-dark-jumbotron separated-jumbotron">
{% endblock %}

{% block content %}


{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    {# Body #}
    <div class="jumbotron-body">

          <h1 class="jumbotron-headline ani-slide-down">
            Почему «Полилог»?
          </h1>

          <blockquote class="jumbotron-quote ani-slide-down">
            <span class="hlaquo-body">«</span>Нам всегда нужны знатоки своего дела: маркетологи, <span class="hidden-sm-up">пиарщики</span><span class="hidden-xs-down"> аналитики, PR-, event- и&nbsp;IT-специалисты</span>. Люди, которым мы&nbsp;предлагаем работу, вместе с&nbsp;зарплатой получают не&nbsp;скучную монотонную офисную работу, а&nbsp;проекты по&nbsp;всей России <span class="hidden-xs-down">и&nbsp;за&nbsp;ее&nbsp;пределами. Они попадают в&nbsp;коллектив молодых и&nbsp;амбициозных профессионалов. А&nbsp;еще у&nbsp;нас мягкий дресс-код».</span>
            <span class="hidden-sm-up">и&nbsp;за&nbsp;ее&nbsp;пределами».</span>
          </blockquote>

          <a class="jumbotron-btn ani-slide-down" href="/ru/careers/jobs" role="button">
            Посмотреть вакансии
          </a>
    </div>{# / jumbotron body #}

    {# Person #}
    <figure class="jumbotron-person services ani-fade-in">
      <a href="/ru/careers/jobs">
        <img class="jumbotron-portrait" src="/a/img/people/zhenya-boltack.png" alt="Евгения Болтак, менеджер по персоналу">
      </a>
      <figcaption>
        Евгения Болтак,<br>
        менеджер по&nbsp;персоналу
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">


{# -----------------------------------------------------------------------------
    Benefits+
   -------------------------------------------------------------------------- #}
<!--




CUT IN BODY




-->
  <section class="section container">
    <div class="row justify-content-between">

      <div class="col-lg-8">
        <h2 class="section-headline pt-18 pt-md-0 pb-12">
          Другие преимущества работы в&nbsp;нашем агентстве
        </h2>
        <ul class="list-check mb-md-0">
          <li class="list-check-item">Возможность развития в&nbsp;таких сферах как&nbsp;PR, event, IMC, мониторинг и&nbsp;аналитика, фандрайзинг и&nbsp;внедрение IT-решений в&nbsp;сфере коммуникаций.</li>
          <li class="list-check-item">Агентский опыт. Мы&nbsp;научим работать по&nbsp;стандартам, соответствующим международной классификации ISO, и&nbsp;поделимся существующими кейсами.</li>
          <li class="list-check-item">Разнопрофильное проектное портфолио, насчитывающее на&nbsp;данный момент более 20&nbsp;отраслей.</li>
        </ul>
      </div>

      {# Metric #}
      <div class="col-sm-6 col-lg-3 mt-lg-2 hidden-md-down">
        <div class="tile metric">

          <div class="tile-body aligned-top">
            <h2 class="tile-number">250+</h2>
            <span class="tile-thought-end compact">килограммов пирогов, пиццы, тортов в&nbsp;год выставляются на&nbsp;дни рождения</span>
          </div>
        </div>{# / metric #}
      </div>{# / metric #}
    </div>
  </section>{# / what is it #}

  <hr class="text2box hidden">


{# -----------------------------------------------------------------------------
    Quotes
   -------------------------------------------------------------------------- #}

  <section class="section quotes in-box has-interior-box full-width hidden-sm-down">
    <div class="container">

      <div class="col-lg-6">
        {# Carousel #}
        <div class="carousel glass h-lg-2mod slide js-manual" id="carousel-quotes" data-ride="carousel">

          <h2 class="carousel-headline">Ещё ответы на вопрос<span class="slaquo-h2"> </span> <small><span class="hlaquo-h2">«</span>Почему?»</small></h2>

          {# Carousel viewport #}
          <div class="carousel-inner" role="listbox">

            {# 01 #}
            <blockquote class="carousel-item active">
              <p>Потому что в&nbsp;«Полилоге» тепло и&nbsp;хорошо, по-настоящему. Атмосфера комфортного рабочего пространства и&nbsp;отношений, где легко решать сложные задачи. Полилог&nbsp;— это кузница профессиональных кадров, опыт разноликих проектов.</p>
              <footer class="blockquote-footer">
                Надежда Первова, руководитель <span class="nowrap">PR-департамента</span>
              </footer>
            </blockquote>

            {# 02 #}
            <blockquote class="carousel-item">
              <p><span class="hlaquo-body">«</span>Полилог»&nbsp;— это возможности! Если хочешь изменить свою жизнь быстро, качественно и&nbsp;интересно, то&nbsp;тебе сюда!</p>
              <footer class="blockquote-footer">
                Елизавета Слёзкина, руководитель департамента по&nbsp;развитию бизнеса
              </footer>
            </blockquote>

            {# 03 #}
            <blockquote class="carousel-item">
              <p><span class="hlaquo-body">«</span>Полилог»&nbsp;— это прежде всего люди: яркие, интересные, талантливые, с&nbsp;горящими глазами, и&nbsp;конечно&nbsp;же, профессионалы своего дела. Полилог&nbsp;— это уникальная атмосфера, вдохновляющая на&nbsp;новые подвиги и&nbsp;дарящая новые открытия каждый день! Полилог&nbsp;— надежный партнер! Полилог&nbsp;— это движение! Полилог&nbsp;— это любовь!</p>
              <footer class="blockquote-footer">
                Ирина Федотова, руководитель департамента мероприятий
              </footer>
            </blockquote>

            {# 04 #}
            <blockquote class="carousel-item">
              <p>Потому что это лучшее место для профессионального роста: каждая новая задача сложнее и&nbsp;интереснее предыдущей, каждый день ты&nbsp;ставишь перед собой новую цель, каждый день ты&nbsp;подтверждаешь и&nbsp;совершенствуешь свои навыки».</p>
              <footer class="blockquote-footer">
                Лариса Гибер, специалист департамента аналитического сопровождения и&nbsp;разработок
              </footer>
            </blockquote>

            {# 05 #}
            <blockquote class="carousel-item">
              <p>Устал, не&nbsp;выспался, проспал, не&nbsp;поел, тендер, отчёт, смета или выезд на&nbsp;площадку&nbsp;— а&nbsp;ты&nbsp;понимаешь, что на&nbsp;самом деле тебе круто повезло. С&nbsp;командой, подходом, да&nbsp;даже с&nbsp;видом из&nbsp;окна. Ты&nbsp;можешь предлагать абсолютно любую сумасбродную идею, которая даже тебе дикой покажется&nbsp;— а&nbsp;её&nbsp;не&nbsp;только выслушают, но&nbsp;ещё и&nbsp;не&nbsp;исключено&nbsp;— предложат реализовать.</p>
              <footer class="blockquote-footer">
                Арина Тучина, руководитель проектов департамента мероприятий
              </footer>
            </blockquote>

            {# 06 #}
            <blockquote class="carousel-item">
              <p>В&nbsp;«Полилоге» работают очень творческие и&nbsp;веселые люди. Каждый брейнсторм шедеврален. Целый час сидишь, все что-то говорят, а&nbsp;в&nbsp;итоге получается уникальный продукт, который не&nbsp;стыдно предлагать. Очень большая география проектов. Сегодня делаешь проект в&nbsp;Москве, завтра в&nbsp;Питере, потом внезапно Челябинск, а&nbsp;под конец года Мюнхен и&nbsp;Куба.</p>
              <footer class="blockquote-footer">
                Мария Метельская, менеджер проектов департамента мероприятий (до&nbsp; ноября 2015-го)
              </footer>
            </blockquote>

            {# 07 #}
            <blockquote class="carousel-item">
              <p><span class="hlaquo-body">«</span>Полилог»&nbsp;— это команда с&nbsp;которой я&nbsp;пойду в&nbsp;разведку не&nbsp;боясь выстрела в&nbsp;спину. Полилог&nbsp;— это команда в&nbsp;которой начинаешь ценить дружеское плечо. Полилог&nbsp;— это команда для которой нет не&nbsp;покоряемых вершин в&nbsp;любой точке земли. Полилог&nbsp;— это большая дружная семья.</p>
              <footer class="blockquote-footer">
                Галина Митривелли, главный бухгалтер (до&nbsp;августа 2016-го; пожелала всем нам закончить работу в&nbsp;«Полилоге» как она — выходом на&nbsp;пенсию)
              </footer>
            </blockquote>

            {# 08 #}
            <blockquote class="carousel-item">
              <p>Потому что на&nbsp;работе мы&nbsp;проводим большую часть жизни и&nbsp;очень важно понимать, что это время тратится не&nbsp;зря и&nbsp;что в&nbsp;это время тебя окружают люди, которые помогают тебе не&nbsp;только совершенствоваться в&nbsp;работе, но&nbsp;и&nbsp;действительно могут стать частью «семьи».</p>
              <footer class="blockquote-footer">
                Светлана Ёлгина, менеджер проектов PR-департамента
              </footer>
            </blockquote>

            {# 09 #}
            <blockquote class="carousel-item">
              <p><span class="hlaquo-body">«</span>Полилог» удивителен тем, что здесь нет обычных, серых людей. Абсолютно каждый здесь представляет собой яркую, уникальную личность.</p>
              <footer class="blockquote-footer">
                Мария Белых, менеджер проектов PR-департамента
              </footer>
            </blockquote>

            {# 10 #}
            <blockquote class="carousel-item">
              <p>Потому что тут хорошая погода. А&nbsp;как говорят «главней всего&nbsp;— погода в&nbsp;доме». Только в&nbsp;«Полилоге» я&nbsp;узнала, что любую идею можно довести до&nbsp;совершенства, то&nbsp;что все в&nbsp;наших руках и&nbsp;то&nbsp;что утка-это не&nbsp;жена гуся.</p>
              <footer class="blockquote-footer">
                Юлия Игнатьева, менеджер проектов PR-департамента
              </footer>
            </blockquote>

            {# 11 #}
            <blockquote class="carousel-item">
              <p>Я&nbsp;выбирала по&nbsp;карте, чтобы ехать до&nbsp;работы не&nbsp;больше часа)) Пришла, узнала, какой Полилог крутой и&nbsp;испугалась, что меня не&nbsp;возьмут. Когда позвали, испугалась еще больше: вдруг подведу, завалю проект. А потом подумала: ну&nbsp;а&nbsp;где еще мне работать? Только в&nbsp;компании с&nbsp;такими интересными проектами для таких значимых клиентов! Теперь мы&nbsp;вместе))</p>
              <footer class="blockquote-footer">
                Дарья Меньшова, руководитель проектов департамента мероприятий
              </footer>
            </blockquote>

            {# 12 #}
            <blockquote class="carousel-item">
              <p>Отличные отношения в&nbsp;коллективе. Корпоративная политика очень хорошая: есть интересные и&nbsp;добрые традиции. Коллеги всегда готовы подсказать, если чего-то не&nbsp;знаешь, помочь, в&nbsp;меру своей занятости. Много интересных проектов и&nbsp;хорошая возможность карьерного роста. Отличное расположение офиса: недалеко от&nbsp;метро и&nbsp;прекрасный вид из&nbsp;окна ).</p>
              <footer class="blockquote-footer">
                Дарья Саломатина, ассистент менеджера по&nbsp;развитию бизнеса (до&nbsp;ноября 2016-го)
              </footer>
            </blockquote>

          </div>{# / Carousel viewport #}

          {# Prev #}
          <a class="carousel-control negative left" href="#carousel-quotes" data-slide="prev" role="button" aria-label="Назад"></a>

          <ol class="carousel-indicators">
            <li data-target="#carousel-quotes" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-quotes" data-slide-to="1"></li>
            <li data-target="#carousel-quotes" data-slide-to="2"></li>
            <li data-target="#carousel-quotes" data-slide-to="3"></li>
            <li data-target="#carousel-quotes" data-slide-to="4"></li>
            <li data-target="#carousel-quotes" data-slide-to="5"></li>
            <li data-target="#carousel-quotes" data-slide-to="6"></li>
            <li data-target="#carousel-quotes" data-slide-to="7"></li>
            <li data-target="#carousel-quotes" data-slide-to="8"></li>
            <li data-target="#carousel-quotes" data-slide-to="9"></li>
            <li data-target="#carousel-quotes" data-slide-to="10"></li>
            <li data-target="#carousel-quotes" data-slide-to="11"></li>
          </ol>

          {# Next #}
          <a class="carousel-control negative right" href="#carousel-quotes" data-slide="next" role="button" aria-label="Вперёд"></a>
        </div>{# / carousel #}
      </div>{# / col: carousel #}

    </div>{# / container #}
  </section>

  <hr class="box2title hidden">


{# -----------------------------------------------------------------------------
    Facts
   -------------------------------------------------------------------------- #}

  <section class="section container">

    <h2 class="section-headline text-center next-is-text">Работа в&nbsp;«Полилоге»&nbsp;—<br>
    <small>интересные проекты с&nbsp;яркими людьми</small></h2>

    <div class="row">

      <div class="col-lg-6 pr-lg-24">
        <ul class="list-ul pb-lg-6">
          <li>У&nbsp;нас есть 2&nbsp;сотрудника из&nbsp;Владивостока, проработавшие несколько лет над проектом в&nbsp;Находке.</li>
          <li>Руководитель проектов одного из&nbsp;направлений начинал свою карьеру в&nbsp;компании с&nbsp;должности курьера, будучи ещё студентом.</li>
          <li>Только у&nbsp;нас вы&nbsp;узнаете связь между словами лакшери и&nbsp;большая.</li>
          <li>Наша переговорная комната является не&nbsp;только местом рабочих встреч, но&nbsp;и&nbsp;зачастую попадает в&nbsp;социальные сети наших коллег&nbsp;— видеоблогеров. Совокупный охват постов составляет более 270 тысяч лайков!</li>
          <li>Если из-за стен переговорной комнаты доносятся басы KISS или других old-school музыкантов, это не&nbsp;конец рабочего дня, это совещание.</li>
          <li>Портал «Советник» признавал наш пресс-релиз лучшим из&nbsp;более чем <span class="nowrap">150-ти</span> работ.</li>
          <li>Все руководители департаментов изначально пришли в&nbsp;компанию на&nbsp;должность рядовых сотрудников.</li>
        </ul>

        {# Metric #}
        <div class="tile metric wide mb-36 mb-lg-0 hidden-xs-down">

          <div class="tile-body aligned-top">
            <h2 class="tile-number">2&nbsp;500&nbsp;000&nbsp;000</h2>
            <span class="tile-thought-end compact">Более&nbsp;2,5 миллиардов рублей помогли сэкономить пивоваренной отрасли сотрудники агентства «Полилог»<span class="hidden-sm-up"> за&nbsp;2&nbsp;дня</span><span class="hidden-sm-down">. Для этого понадобилось всего 2&nbsp;дня напряженной работы четырех человек из&nbsp;проектной группы.</span></span>
          </div>
        </div>{# / metric #}

      </div>{# / col (1): facts #}

      <div class="col-lg-6 pl-lg-24">
        <ul class="list-ul">
          <li>Если сел в&nbsp;машину с&nbsp;генеральным директором, можешь уснуть в&nbsp;России и&nbsp;проснуться в&nbsp;Белоруссии (Грузии, Вене, да&nbsp;где угодно). Как следствие в&nbsp;Полилоге есть Е-клуб. Клуб любителей скоростных, утомительных, но&nbsp;познавательных автопутешествий.</li>
          <li>На&nbsp;корпоративах коллеги поют, лучше чем в&nbsp;шоу «Голос».</li>
          <li>После работы тебя научат разбираться в&nbsp;вине, и,&nbsp;возможно, в&nbsp;литературе, истории и&nbsp;философии.</li>
          <li>За&nbsp;первый квартал 2014&nbsp;года, сотрудники Полилога обогнули Землю по&nbsp;экватору более 10&nbsp;раз, это более 380000 километров.</li>
          <li>Сотрудники Полилога делятся на&nbsp;два типа, кому постоянно «холодно» и&nbsp;кому постоянно «жарко» .</li>
          <li>Около&nbsp;85% сотрудников знают два и&nbsp;более языков.</li>
          <li>Ежегодно проекты нашего агентства занимает высшие строчки в&nbsp;рейтингах и&nbsp;получает награды.</li>
          <li>Среди сотрудников каждое имя встречается, в&nbsp;среднем, 2&nbsp;раза (две Ани, два Олега, два Павла, две Алены и&nbsp;т.д.). Самое популярное имя среди сотрудников&nbsp;— Женя (5&nbsp;человек, среди них один стажер), самое редкое&nbsp;— Элисо.</li>
          <li>КГ&nbsp;Полилог, КГ&nbsp;«Полилог», КГ&nbsp;Polylog, просто Polylog, ООО Агентство «Полилог» или Полилог? Юридически правильно&nbsp;— ООО Агентство «Полилог» (в&nbsp;договорах и&nbsp;в&nbsp;тендерных заявках). В&nbsp;предложениях, презентациях и&nbsp;статьях указываем КГ&nbsp;«Полилог», либо Консалтинговая группа «Полилог». В текстах на сайте, чаще — PR-агентство «Полилог». Англоязычным написанием пользуемся редко, изображено на&nbsp;логотипе группы.</li>
        </ul>
      </div>{# / col (2): facts #}

    </div>{# / row: todo #}
  </section>

  <hr class="text2cta">
<!--




/ CUT IN BODY




-->
</main>{# / page-content #}

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-careers.twig" %}
{% endblock %}{# / block body add-on #}
