//- index.pug

//- Settings -------------------------------------------------------------------

extends /pages/base/base.pug
//- append config
  - var _BodyClasses = "page-front"

  //- We can use mixins. See example in menu.pug

//- Head -----------------------------------------------------------------------
append head
  //- link(rel='stylesheet', href='/dist/css/william-hill/front.css')
  link(rel='stylesheet', href='/dist/css/william-hill/front-mob.css')

//- Content --------------------------------------------------------------------

block content

  article.jumbotron.base
    .jumbotron-container

      //
        |
        | CUT IN  IN JUMBOTRON
        |

      .jumbotron-body
        h1.jumbotron-headline.ani-slide-down  Почему «Полилог»?
        blockquote.jumbotron-quote.ani-slide-down <span class="hlaquo-body">«</span>Нам всегда нужны знатоки своего дела: маркетологи, <span class="hidden-sm-up">пиарщики</span><span class="hidden-xs-down"> аналитики, PR-, event- и&nbsp;IT-специалисты</span>. Люди, которым мы&nbsp;предлагаем работу, вместе с&nbsp;зарплатой получают не&nbsp;скучную монотонную офисную работу, а&nbsp;проекты по&nbsp;всей России <span class="hidden-xs-down">и&nbsp;за&nbsp;ее&nbsp;пределами. Они попадают в&nbsp;коллектив молодых и&nbsp;амбициозных профессионалов. А&nbsp;еще у&nbsp;нас мягкий дресс-код».</span> <span class="hidden-sm-up">и&nbsp;за&nbsp;ее&nbsp;пределами».</span>
        a.jumbotron-btn.ani-slide-down(href='/ru/careers/jobs', role='button')  Посмотреть вакансии
      figure.jumbotron-person.services.ani-fade-in
        a(href='/ru/careers/jobs')
          img.jumbotron-portrait(src='/a/img/people/zhenya-boltack.png', alt='Евгения Болтак, менеджер по персоналу')
        figcaption Евгения Болтак,<br>
          | менеджер по персоналу

      //
        |
        | /CUT IN  IN JUMBOTRON
        |

  main.container
    //
      |
      | CUT IN BODY
      |
    section.section.container
      .row.justify-content-between
        .col-lg-8
          h2.section-headline.pt-18.pt-md-0.pb-12  Другие преимущества работы в нашем агентстве
          ul.list-check.mb-md-0
            li.list-check-item Возможность развития в таких сферах как PR, event, IMC, мониторинг и аналитика, фандрайзинг и внедрение IT-решений в сфере коммуникаций.
            li.list-check-item Агентский опыт. Мы научим работать по стандартам, соответствующим международной классификации ISO, и поделимся существующими кейсами.
            li.list-check-item Разнопрофильное проектное портфолио, насчитывающее на данный момент более 20 отраслей.
        .col-sm-6.col-lg-3.mt-lg-2.hidden-md-down
          .tile.metric
            .tile-body.aligned-top
              h2.tile-number 250+
              span.tile-thought-end.compact килограммов пирогов, пиццы, тортов в год выставляются на дни рождения

    hr.text2box.hidden

    section.section.quotes.in-box.has-interior-box.full-width.hidden-sm-down
      .container
        .col-lg-6
          #carousel-quotes.carousel.glass.h-lg-2mod.slide.js-manual(data-ride='carousel')
            h2.carousel-headline Ещё ответы на вопрос<span class="slaquo-h2"> </span> <small><span class="hlaquo-h2">«</span>Почему?»</small>
            .carousel-inner(role='listbox')

              blockquote.carousel-item.active
                p Потому что в «Полилоге» тепло и хорошо, по-настоящему. Атмосфера комфортного рабочего пространства и отношений, где легко решать сложные задачи. Полилог — это кузница профессиональных кадров, опыт разноликих проектов.
                footer.blockquote-footer Надежда Первова, руководитель <span class="nowrap">PR-департамента</span>

              blockquote.carousel-item
                p <span class="hlaquo-body">«</span>Полилог»&nbsp;— это возможности! Если хочешь изменить свою жизнь быстро, качественно и&nbsp;интересно, то&nbsp;тебе сюда!
                footer.blockquote-footer  Елизавета Слёзкина, руководитель департамента по развитию бизнеса

              blockquote.carousel-item
                p
                  span.hlaquo-body «
                  | Полилог» — это прежде всего люди: яркие, интересные, талантливые, с горящими глазами, и конечно же, профессионалы своего дела. Полилог — это уникальная атмосфера, вдохновляющая на новые подвиги и дарящая новые открытия каждый день! Полилог — надежный партнер! Полилог — это движение! Полилог — это любовь!
                footer.blockquote-footer  Ирина Федотова, руководитель департамента мероприятий
              blockquote.carousel-item
                p
                  | Потому что это лучшее место для профессионального роста: каждая новая задача сложнее и интереснее предыдущей, каждый день ты ставишь перед собой новую цель, каждый день ты подтверждаешь и совершенствуешь свои навыки».
                footer.blockquote-footer
                  | Лариса Гибер, специалист департамента аналитического сопровождения и разработок
              blockquote.carousel-item
                p
                  | Устал, не выспался, проспал, не поел, тендер, отчёт, смета или выезд на площадку — а ты понимаешь, что на самом деле тебе круто повезло. С командой, подходом, да даже с видом из окна. Ты можешь предлагать абсолютно любую сумасбродную идею, которая даже тебе дикой покажется — а её не только выслушают, но ещё и не исключено — предложат реализовать.
                footer.blockquote-footer  Арина Тучина, руководитель проектов департамента мероприятий
              blockquote.carousel-item
                p
                  | В «Полилоге» работают очень творческие и веселые люди. Каждый брейнсторм шедеврален. Целый час сидишь, все что-то говорят, а в итоге получается уникальный продукт, который не стыдно предлагать. Очень большая география проектов. Сегодня делаешь проект в Москве, завтра в Питере, потом внезапно Челябинск, а под конец года Мюнхен и Куба.
                footer.blockquote-footer
                  | Мария Метельская, менеджер проектов департамента мероприятий (до  ноября 2015-го)
              blockquote.carousel-item
                p
                  span.hlaquo-body «
                  | Полилог» — это команда с которой я пойду в разведку не боясь выстрела в спину. Полилог — это команда в которой начинаешь ценить дружеское плечо. Полилог — это команда для которой нет не покоряемых вершин в любой точке земли. Полилог — это большая дружная семья.
                footer.blockquote-footer
                  | Галина Митривелли, главный бухгалтер (до августа 2016-го; пожелала всем нам закончить работу в «Полилоге» как она — выходом на пенсию)
              blockquote.carousel-item
                p
                  | Потому что на работе мы проводим большую часть жизни и очень важно понимать, что это время тратится не зря и что в это время тебя окружают люди, которые помогают тебе не только совершенствоваться в работе, но и действительно могут стать частью «семьи».
                footer.blockquote-footer  Светлана Ёлгина, менеджер проектов PR-департамента
              blockquote.carousel-item
                p
                  span.hlaquo-body «
                  | Полилог» удивителен тем, что здесь нет обычных, серых людей. Абсолютно каждый здесь представляет собой яркую, уникальную личность.
                footer.blockquote-footer  Мария Белых, менеджер проектов PR-департамента
              blockquote.carousel-item
                p
                  | Потому что тут хорошая погода. А как говорят «главней всего — погода в доме». Только в «Полилоге» я узнала, что любую идею можно довести до совершенства, то что все в наших руках и то что утка-это не жена гуся.
                footer.blockquote-footer  Юлия Игнатьева, менеджер проектов PR-департамента
              blockquote.carousel-item
                p
                  | Я выбирала по карте, чтобы ехать до работы не больше часа)) Пришла, узнала, какой Полилог крутой и испугалась, что меня не возьмут. Когда позвали, испугалась еще больше: вдруг подведу, завалю проект. А потом подумала: ну а где еще мне работать? Только в компании с такими интересными проектами для таких значимых клиентов! Теперь мы вместе))
                footer.blockquote-footer  Дарья Меньшова, руководитель проектов департамента мероприятий
              blockquote.carousel-item
                p
                  | Отличные отношения в коллективе. Корпоративная политика очень хорошая: есть интересные и добрые традиции. Коллеги всегда готовы подсказать, если чего-то не знаешь, помочь, в меру своей занятости. Много интересных проектов и хорошая возможность карьерного роста. Отличное расположение офиса: недалеко от метро и прекрасный вид из окна ).
                footer.blockquote-footer  Дарья Саломатина, ассистент менеджера по развитию бизнеса (до ноября 2016-го)
            a.carousel-control.negative.left(href='#carousel-quotes', data-slide='prev', role='button', aria-label='Назад')
            ol.carousel-indicators
              li.active(data-target='#carousel-quotes', data-slide-to='0')
              li(data-target='#carousel-quotes', data-slide-to='1')
              li(data-target='#carousel-quotes', data-slide-to='2')
              li(data-target='#carousel-quotes', data-slide-to='3')
              li(data-target='#carousel-quotes', data-slide-to='4')
              li(data-target='#carousel-quotes', data-slide-to='5')
              li(data-target='#carousel-quotes', data-slide-to='6')
              li(data-target='#carousel-quotes', data-slide-to='7')
              li(data-target='#carousel-quotes', data-slide-to='8')
              li(data-target='#carousel-quotes', data-slide-to='9')
              li(data-target='#carousel-quotes', data-slide-to='10')
              li(data-target='#carousel-quotes', data-slide-to='11')
            a.carousel-control.negative.right(href='#carousel-quotes', data-slide='next', role='button', aria-label='Вперёд')
    hr.box2title.hidden
    section.section.container
      h2.section-headline.text-center.next-is-text
        | Работа в «Полилоге» —
        br
        small интересные проекты с яркими людьми
      .row
        .col-lg-6.pr-lg-24
          ul.list-ul.pb-lg-6
            li
              | У нас есть 2 сотрудника из Владивостока, проработавшие несколько лет над проектом в Находке.
            li
              | Руководитель проектов одного из направлений начинал свою карьеру в компании с должности курьера, будучи ещё студентом.
            li Только у нас вы узнаете связь между словами лакшери и большая.
            li
              | Наша переговорная комната является не только местом рабочих встреч, но и зачастую попадает в социальные сети наших коллег — видеоблогеров. Совокупный охват постов составляет более 270 тысяч лайков!
            li
              | Если из-за стен переговорной комнаты доносятся басы KISS или других old-school музыкантов, это не конец рабочего дня, это совещание.
            li
              | Портал «Советник» признавал наш пресс-релиз лучшим из более чем
              span.nowrap 150-ти
              |  работ.
            li
              | Все руководители департаментов изначально пришли в компанию на должность рядовых сотрудников.
          .tile.metric.wide.mb-36.mb-lg-0.hidden-xs-down
            .tile-body.aligned-top
              h2.tile-number 2 500 000 000
              span.tile-thought-end.compact
                | Более 2,5 миллиардов рублей помогли сэкономить пивоваренной отрасли сотрудники агентства «Полилог»
                span.hidden-sm-up  за 2 дня
                span.hidden-sm-down
                  | . Для этого понадобилось всего 2 дня напряженной работы четырех человек из проектной группы.
        .col-lg-6.pl-lg-24
          ul.list-ul
            li Если сел в машину с генеральным директором, можешь уснуть в России и проснуться в Белоруссии (Грузии, Вене, да где угодно). Как следствие в Полилоге есть Е-клуб. Клуб любителей скоростных, утомительных, но познавательных автопутешествий.
            li На корпоративах коллеги поют, лучше чем в шоу «Голос».
            li После работы тебя научат разбираться в вине, и, возможно, в литературе, истории и философии.
            li За первый квартал 2014 года, сотрудники Полилога обогнули Землю по экватору более 10 раз, это более 380000 километров.
            li Сотрудники Полилога делятся на два типа, кому постоянно «холодно» и кому постоянно «жарко» .
            li Около 85% сотрудников знают два и более языков.
            li Ежегодно проекты нашего агентства занимает высшие строчки в рейтингах и получает награды.
            li Среди сотрудников каждое имя встречается, в среднем, 2 раза (две Ани, два Олега, два Павла, две Алены и т.д.). Самое популярное имя среди сотрудников — Женя (5 человек, среди них один стажер), самое редкое — Элисо.
            li КГ Полилог, КГ «Полилог», КГ Polylog, просто Polylog, ООО Агентство «Полилог» или Полилог? Юридически правильно — ООО Агентство «Полилог» (в договорах и в тендерных заявках). В предложениях, презентациях и статьях указываем КГ «Полилог», либо Консалтинговая группа «Полилог». В текстах на сайте, чаще — PR-агентство «Полилог». Англоязычным написанием пользуемся редко, изображено на логотипе группы.
    hr.text2cta
  //
    |
    | / CUT IN BODY
    |
