.pager {
  display: inline-flex;
  list-style: none;
  padding: 1rem 0 5.7rem;
}

.pager-previous,
.pager-next {
  background-color: $color-background-alt-row;
  width: 48px;
  height: 48px;

  > a {
    @extend %btn;
    @include text-hide();

    background-color: rgb(224, 227, 231);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;

    &:hover {
      background-color: rgb(181, 184, 188);
    }
  } // link
} // item

// Prev / Next (They are reversed to correct show direction in time)

// .pager-previous {
//   order: 2;
// }

// .pager-next {
//   order: 0;
// }

.pager-next,
.pager-next > a {
  border-radius: 0 $border-radius $border-radius 0;
}

.pager-previous,
.pager-previous > a {
  border-radius: $border-radius 0 0 $border-radius;
}

.pager-next > a {
  @extend %chevron-forward-white;
}

.pager-previous > a {
  @extend %chevron-back-white;
}

.pager-current,
.pager-item,
.pager-ellipsis {
  background: $color-background-alt-row;
  color: $color-text-secondary;
  padding: 1.2rem 2.2rem 0;
  // order: 1;
  height: 48px;
}

.pager-last,
.pager-first {
  display: none;
}

@include media-breakpoint-only(xs) {
  .pager-item:nth-child(n+4) {
    display: none;
  }
} // xs

@include media-breakpoint-between(sm, md) {
  .pager-item:nth-child(n+8) {
    display: none;
  }
} // xs
