<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="http://eoforum.ru/" itemprop="url" target="_blank" rel="noopener noreferrer" itemprop="url">

    <figure class="card-header eof">
      <img class="card-logo" src="/a/img/polylog-promo/2017-eof/logo.svg" itemprop="image" alt="Логотип Первого Евразийского ортопедического форума">
    </figure>

    <div class="card-body solid">

      <h3 class="card-headline" itemprop="name">Второй Евразийский ортопедический форум</h3>

      <div class="card-summary">
        <p class="sr-only" itemprop="description">
          В&nbsp;2019 году участниками Форума станут более 5&nbsp;000&nbsp;делегатов, повестка форума охватывает 20&nbsp;направлений научной программы и&nbsp;столько&nbsp;же значимых вопросов развития здравоохранения, производства медицинских товаров, изделий и&nbsp;внедрения инноваций.
        </p>

        <span class="nowrap">
          <time datetime="2019-06-28T10:00" itemprop="startDate" content="2019-06-28T10:00">
            28—</time><time datetime="2019-06-29T18:00" itemprop="endDate" content="2019-06-29T18:00">29 июня 2019.
          </time>
        </span>
        <address itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Москва,</span>
          </span>
          <span itemprop="name">
            Экспоцентр
          </span>
          <span class="sr-only" itemprop="telephone">+7 (495) 258-20-45</span>
        </address>
      </div>
    </div>
  </a>
</div>
