// -----------------------------------------------------------------------------
// Page header
// -----------------------------------------------------------------------------

.header {
  background-image: linear-gradient(rgb(241, 244, 248), rgb(221, 224, 228) 80%, rgb(231, 234, 238));
  box-shadow: inset 0 -1px 0 0 rgb(211, 214, 218);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all .2s ease-out;
  height: 56px;
  z-index: $zindex-fixed;

  @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    background-image: linear-gradient(rgba(235, 239, 245, .7), rgba(206, 211, 216, .7) 80%, rgba(221, 235, 231, .7));
    backdrop-filter: saturate(180%) blur(20px);
  }

  @include media-breakpoint-up(md) {
    background: rgba(0, 0, 0, 0) none;
    backdrop-filter: none;
    box-shadow: none;
    padding: 41px 0 0 map-get($navbar-width, 'md');
    position: absolute;
    height: 90px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: map-get($navbar-width, 'lg');
  }
}


.header  > .container {
  padding: 0;
  height: 56px;
  width: auto;

  @include media-breakpoint-up(md) {
    padding-right: 16px;
    padding-left: 16px;
    width: 582px;
  }

  @include media-breakpoint-up(lg) {
    width: 932px;
  }
}

// -------------------------------------
// Links
// -------------------------------------

.header {
  a:hover,
  a:focus {
    text-decoration: none;
  }
}




// -----------------------------------------------------------------------------
// Subheader
// -----------------------------------------------------------------------------

// Back button, section (flag) and like-n-share


// -------------------------------------
// Locale Switcher
// -------------------------------------

.header-locale-switcher {
  padding: 20px 0 0 16px;
  position: absolute;
  top: 0;
  right: 49px;
  width: 48px;
  height: 56px;

  &:hover {
    background: rgba(0, 0, 0, .04);
  }

  @include media-breakpoint-up(md) {
    border-radius: $border-radius;
    top: -4px;
    right: 2px;
    height: 48px;
  }
}

// Icons

.icon.flag-gb,
.icon.flag-ru {
  @extend %icon-sm;
}


// -----------------------------------------------------------------------------
// Phone Number
// -----------------------------------------------------------------------------

.header-link.phone-number {
  @extend .link.phone-number;

  color: $color-text-secondary;
  text-shadow: 0 1px 0 $negative-hint;
  padding-left: $spacer-y;
  position: absolute;
  top: 18px;
  right: 101px;

  i {
    color: lighten($color-text-secondary, 20%);
  }

  &:hover {
    color: $link-color;
  }

  @include media-breakpoint-up(md) {
    color: rgba(0, 0, 0, .54);
    text-shadow: 0 1px 0 $negative-secondary;
    top: 14px;
    right: 58px;

    &:hover {
      color: rgba(0, 0, 0, .54);
    }
  }
} /// header-link.phone-number


// Phone Icon

.header-link.phone-number .icon.phone {
  display: none;

  @media (min-width: 340px) {
    display: block;
    fill: rgb(148, 151, 155);
    position: absolute;
    top: 3px;
    left: 2px;
    width: 18px;
    height: 18px;
  }
}


// On dark background

// .has-dark-jumbotron - body class is adding via custom field

.has-dark-jumbotron .header-link.phone-number {
  @include media-breakpoint-up(md) {
    color: #fff;
    text-shadow: none;

    .icon.phone {
      fill: #fff;
    }
  }
}
