// -----------------------------------------------------------------------------
// Polylog Promo
// -----------------------------------------------------------------------------

// a.tile.event-name.poster.wide        # Images and details container. Display: flex, justify-content: center, align-items: stretch;
// .tile-summary                        # Images container, relatively positioned. text-align: center to center main pic
//    .tile-img                         # Static positioned image
//    .tile-logo                        # Absolutely positioned image


// .card-header.event-name              # Images container, relatively positioned. Display: flex, justify-content: center;
//    .tile-img                         # Absolutely positioned image
//    .tile-logo                        # Absolutely positioned image


// Group container - Front page
.tile.mcf > section {
  background-size: 324px 44px;
  background: url('/a/img/polylog-promo/2018-moscow-cultural-forum/icons.svg') 50% 39px no-repeat;
  border: 1px solid $color-border;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 96px;
  height: 252px;
}

// Containers
.mcf .tile-summary,
.mcf .tile-details {
  flex: 0 0 216px;
}

// Icons
// .mcf .tile-img {
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
//   position: static;
//   flex: 0 0 324px;
// }

// .mcf-icon {
//   flex: 0 0 37px;
//   height: 44px;
// }

// Name
.mcf .tile-summary {
  background: url('/a/img/polylog-promo/2018-moscow-cultural-forum/logo.svg') 50% 0 no-repeat;
  background-size: 151px 114px;
  position: relative;
  height: 114px;

  @include media-breakpoint-up(sm) {
    background-position: 53px 0;

    &::after {
      background: $color-border;
      display: block;
      content: '';
      position: absolute;
      top: 8px;
      right: -19px;
      width: 1px;
      height: 106px;
    }
  } // sm
}

// Tagline and date
.mcf .tile-details {
  display: none;

  @include media-breakpoint-up(sm) {
    background: transparent url('/a/img/polylog-promo/2018-moscow-cultural-forum/tagline-date.svg') 47px 0 no-repeat;
    background-size: 118px 103px;
    display: block;
    transform: translateY(7px);
    height: 103px;
  } // sm
}

// Interior pages
.mcf .card-headline {
  margin-bottom: 0;
}
