<div class="col-lg-6" itemscope itemtype="http://schema.org/Event">
    <a class="tile mcf poster wide" href="/ru/upcoming-events" itemprop="url" aria-label="Московский культурный форум. С 23 по 25 марта в Центральном Манеже">
      <section>
        <h2 class="tile-summary text-hide" itemprop="name">
          Московский культурный форум 2018
        </h2>

        <div class="tile-details">
          <p class="sr-only" itemprop="description">В форуме примут участие более 50 учреждений культуры. Будет организовано свыше 800 мероприятий, в том числе порядка 500 творческих мастер-классов и более 40 встреч с известными деятелями культуры.</p>
          <address class="sr-only" itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">Центральный Манеж,</span> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Москва</span></span></address>
          <time class="sr-only" datetime="2018-03-23T10:00" itemprop="startDate" content="2018-03-23T10:00">23 марта 2018</time>
          <time class="sr-only" datetime="2018-03-25T19:00" itemprop="endDate" content="2018-03-25T19:00">25 марта 2018</time>
        </div>
    </section>
  </a>{# / tile #}
</div>
