<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event mcf has-header-like-tile" href="/ru/upcoming-events" itemprop="url">
    <figure class="card-header">
      <img class="card-logo" src="/a/img/polylog-promo/2018-moscow-cultural-forum/header.svg" alt="Московский культурный форум">
    </figure>
    <div class="card-body solid">
      <h3 class="sr-only" itemprop="name">Московский культурный форум</h3>
      <p class="card-headline">Культура объединяет</p>
      <address class="card-subhead" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">
          Центральный Манеж.
        </span>
        <span class="sr-only" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Москва</span>
        </span>
      </address>
      <time class="card-subhead" datetime="2018-03-23T10:00" itemprop="startDate" content="2018-03-23T10:00">
        23–25 марта 2018
      </time>
    </div>
  </a>
</div>
