.col-lg-6.hidden-sm-down(itemscope, itemtype='http://schema.org/Event')
  a.tile.combat-medics.poster.wide(href='/ru/upcoming-events', itemprop='url', aria-label='III Конгресс военных анестезиологов-реаниматологов')
    .tile-details.tile-body
      h2.tile-headline(itemprop='name') III&nbsp;Конгресс военных анестезиологов-реаниматологов
      p.sr-only(itemprop='description') Нас ждут выступления ведущих специалистов в области анестезиологии-реаниматологии и смежных направлений, дискуссии по острым вопросам, симпозиумы, посвященные новейшим достижениям. По традиции откроется выставка, где производители и поставщики медицинских изделий, оборудования, лекарственных средств представят лучшие разработки.
      address.tile-summary(itemprop='location', itemscope, itemtype='http://schema.org/Place')
        span.sr-only(itemprop='name') Park Inn by Radisson Прибалтийская,
        span(itemprop='address', itemscope, itemtype='http://schema.org/PostalAddress')
          span(itemprop='addressLocality') Санкт-Петербург
      time.tile-summary(datetime='2018-11-22T10:00', itemprop='startDate', content='2018-11-22T10:00') 22–23 ноября
      time.sr-only(datetime='2018-11-23T19:00', itemprop='endDate', content='2018-11-23T19:00') 23 ноября
      svg.icon.forward(role='presentation'): use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-forward')
