// -------------------------------------
// Polylog Promo
// -------------------------------------

// a.tile.event-name.poster.wide        # Images and details container. Display: flex, justify-content: center, align-items: stretch;
// .tile-summary                        # Images container, relatively positioned. text-align: center to center main pic
//    .tile-img                         # Static positioned image
//    .tile-logo                        # Absolutely positioned image


// .card-header.combat-medics               # Images container, relatively positioned. Display: flex, justify-content: center;
//    .tile-img                         # Absolutely positioned image
//    .tile-logo                        # Absolutely positioned image


// Common Container / Blue Box - Front page
.tile.combat-medics {
  background: rgb(204, 102, 102) url('/a/img/polylog-promo/2018-combat-medics/combat-medics.jpg') no-repeat center top;
  display: flex;
  align-items: stretch;
}

// Logo Container — Interior Page
.card-header.combat-medics {
  background: rgb(204, 102, 102) url('/a/img/polylog-promo/2018-combat-medics/combat-medics.jpg') no-repeat center top;
  // display: flex;
  // justify-content: center;
  text-align: center;
  position: relative;
}

// 2 Columns: Logo & Text
.combat-medics .tile-details {
  flex: 0 0 216px;
}

.combat-medics .tile-summary {
  margin-bottom: 0;
  opacity: .54;
}
