<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="/ru/upcoming-events" itemprop="url">
    <div class="card-header combat-medics" role="presentation"></div>
    <div class="card-body solid">
      <h3 class="card-headline" itemprop="name">III&nbsp;Конгресс военных анестезиологов-реаниматологов</h3>
      <address class="card-subhead" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">
          Park Inn by&nbsp;Radisson Прибалтийская.
        </span>
        <span class="sr-only" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Санкт-Петербург</span>
        </span>
      </address>
      <time class="card-subhead" datetime="2018-11-22T10:00" itemprop="startDate" content="2018-11-22T10:00">
        22–23 ноября 2018
      </time>
      <time class="sr-only" datetime="2018-11-23T19:00" itemprop="endDate" content="2018-11-23T19:00">23 ноября</time>
    </div>
  </a>
</div>
