<div class="col-lg-6 hidden-sm-down" itemscope itemtype="http://schema.org/Event">
  <a class="tile combat-medics poster wide" href="/ru/upcoming-events" itemprop="url" aria-label="III Конгресс военных анестезиологов-реаниматологов">
    <div class="tile-details tile-body">
      <h2 class="tile-headline" itemprop="name">III&nbsp;Конгресс военных анестезиологов-реаниматологов</h2>
      <p class="sr-only" itemprop="description">Нас ждут выступления ведущих специалистов в области анестезиологии-реаниматологии и смежных направлений, дискуссии по острым вопросам, симпозиумы, посвященные новейшим достижениям. По традиции откроется выставка, где производители и поставщики медицинских изделий, оборудования, лекарственных средств представят лучшие разработки.</p>
      <address class="tile-summary" itemprop="location" itemscope itemtype="http://schema.org/Place"><span class="sr-only" itemprop="name">Park Inn by&nbsp;Radisson Прибалтийская,</span> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Санкт-Петербург</span></span></address>
      <time class="tile-summary" datetime="2018-11-22T10:00" itemprop="startDate" content="2018-11-22T10:00">22–23 ноября</time>
      <time class="sr-only" datetime="2018-11-23T19:00" itemprop="endDate" content="2018-11-23T19:00">23 ноября</time>
      <svg class="icon forward" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-forward"></use></svg>
    </div>
  </a>
</div>
