{# PR #}

{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .what-is-it .mosaic {
      padding-top: 1.8rem;
    }

    @media (min-width: 1016px) {
      .what-is-it .mosaic {
        padding-top: 4.2rem;
      }
    }

    .mosaic-pic.phone {
      background-image: url('/a/img/s-services/pr/mosaic/public-relations-effect-01.jpg');
    }
    .mosaic-pic.camera {
      background-image: url('/a/img/s-services/pr/mosaic/public-relations-effect-02.jpg');
    }
    .mosaic-pic.microphone {
      background-image: url('/a/img/s-services/pr/mosaic/public-relations-effect-03.jpg');
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-services page-pr has-dark-jumbotron separated-jumbotron">
{% endblock %}


{% block content %}

{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">

    {# Body #}
    <div class="jumbotron-body">

      <h1 class="jumbotron-headline ani-slide-down">
        PR&nbsp;— связи с&nbsp;общественностью
      </h1>

      <blockquote class="jumbotron-quote ani-slide-down">
      <span class="hlaquo-body">«</span>Полилог был основан как PR-агентство, пиар&nbsp;&mdash; наша первая и&nbsp;главная компетенция. Мы&nbsp;работали со&nbsp;всеми отраслями<span class="hidden-xs-down">&nbsp;&mdash; от&nbsp;атомной промышленности до&nbsp;кукол Барби. У&nbsp;нас хорошо развиты отношения со&nbsp;СМИ, поскольку „Полилог“ обеспечивает&nbsp;PR и&nbsp;медиацентры для крупных президентских мероприятий. Это до&nbsp;1200 российских и&nbsp;иностранных журналистов»</span>.
      </blockquote>

      {# <a class="jumbotron-btn ani-slide-down js-mfp-video" href="https://www.youtube.com/watch?v=fVJIrnWBHys"> #}
      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/ru/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Пообщаемся?
      </a>
    </div>{# / jumbotron body #}

    {# Person #}
    <figure class="jumbotron-person pr ani-fade-in">
      <div class="text-right">
        <img class="jumbotron-portrait" src="/a/img/people/max.png" alt="Максим Сучков, бизнес-директор">
      </div>
      <figcaption class="mb-1s">
        Максим Сучков,<br>
        бизнес-директор
      </figcaption>
    </figure>{# / person #}

  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">


{# -----------------------------------------------------------------------------
    What Is It
   -------------------------------------------------------------------------- #}
<!--




CUT IN BODY




-->
  <section class="what-is-it section container">

    <h2 class="section-headline text-center pt-18 pt-md-0 pb-1s">
      Пиар (public relations)&nbsp;&mdash; управление общественным мнением<br>
      <small class="hidden-md-down">Результат&nbsp;&mdash; почетное место в&nbsp;сознании потребителя</small>
    </h2>

    <div class="row justify-content-between">

      <div class="col-lg-6">
        <p><b>Любой PR-проект&nbsp;— это целевая аудитория, каналы коммуникации и&nbsp;сообщения. Мы&nbsp;работаем со&nbsp;всем многообразием этих факторов.</b></p>
        <p>С&nbsp;точки зрения целевых аудиторий мы&nbsp;предоставляем услуги по&nbsp;налаживанию отношений со&nbsp;всеми группами:</p>
        <ul class="list-ul two-sm columns text-muted">
          <li>потребители,</li>
          <li>инвесторы и&nbsp;акционеры,</li>
          <li>дистрибьюторы,</li>
          <li>поставщики,</li>
          <li>сотрудники,</li>
          <li>СМИ,</li>
          <li>органы власти,</li>
          <li>экспертное сообщество,</li>
          <li>локальные сообщества.</li>
         </ul>
        <p>Услуги по&nbsp;каналам коммуникации можно грубо сегментировать на&nbsp;традиционные и&nbsp;цифровые. Мы&nbsp;одинаково успешно умеем работать с&nbsp;журналистами телеканалов и&nbsp;печатных изданий и&nbsp;искать аудиторию в&nbsp;Фейсбуке или продвигать канал в&nbsp;Телеграме.</p>
        <p>При подготовке сообщений работаем с&nbsp;разными жанрами в&nbsp;зависимости от&nbsp;целевой аудитории:</p>
        <ul class="list-ul two-sm columns text-muted">
          <li>пресс-материалы,</li>
          <li>бренд-журналистика,</li>
          <li>нативная реклама,</li>
          <li>видеоблоги, блоги, каналы в&nbsp;соцсетях,</li>
          <li>экспертные статьи,</li>
          <li>инфографика,</li>
          <li>годовые отчеты,</li>
          <li>корпоративные издания,</li>
          <li>видео, 2D&nbsp;и&nbsp;3D&nbsp;анимация,</li>
          <li>публикации в&nbsp;отраслевых СМИ и&nbsp;т.&nbsp;д.</li>
         </ul>
      </div>{# / 'what is it' first column #}

      <div class="col-lg-6">
        <ol class="list-ol">
          <li class="mb-1s">PR&nbsp;— естественный способ коммуникации, учитывающий интересы и&nbsp;особенности собеседника. Как следствие, доверие к&nbsp;нему выше.</li>
          <li class="mb-1s hidden-md-down">Репутация&nbsp;— что и&nbsp;как о&nbsp;вас думают&nbsp;— формируется методами PR. Заниматься целенаправленно созданием репутационного капитала — означает создавать прочные и&nbsp;позитивные отношения, которые будут работать на&nbsp;вас длительное время.</li>
          <li class="mb-1s hidden-md-down">PR&nbsp;больше чем остальные инструменты коммуникации задействует механизмы обратной связи, создавая диалог. Используя пиар, вы&nbsp;перестаете быть вещателем и&nbsp;становитесь собеседником.</li>
          <li class="mb-1s hidden-md-down">Гибкость&nbsp;— наше второе имя. В&nbsp;пиаре есть место долгосрочным планам, но&nbsp;в&nbsp;них заложено постоянное улучшение инструментария, исходя из&nbsp;анализа обратной связи, а&nbsp;также оперативная реакция на&nbsp;существенное изменение ландшафта.</li>
          <li class="mb-1s">PR&nbsp;дешевле рекламы.</li>
          <li class="mb-1s">И&nbsp;пиар влияет на&nbsp;продажи. Не&nbsp;так прямо, как реклама, ведущая на&nbsp;страницу товара. Но&nbsp;если задуматься, попав на&nbsp;страницу товара, любой нормальный человек пойдет за&nbsp;информацией о&nbsp;товаре (либо он&nbsp;уже ее&nbsp;получил). Мы&nbsp;снова упираемся в&nbsp;репутацию, смотри пункт&nbsp;2.</li>
        </ol>
      </div>{# / 'what is it' first column #}
    </div>{# / 'what is it' row #}

    <figure class="mosaic">
      <div class="row">

        {# Img #}
        <div class="col-lg-3 hidden-md-down">
          <div class="mosaic-pic phone" aria-hidden="true"></div>
        </div>{# / img #}

        {# Img #}
        <div class="col-sm-8 col-lg-6">
          <div class="mosaic-pic camera" aria-hidden="true"></div>
        </div>{# / img #}

        {# Img #}
        <div class="col-sm-4 col-lg-3 hidden-xs-down">
          <div class="mosaic-pic microphone" aria-hidden="true"></div>
        </div>{# / img #}

      </div>{# / row #}
    </figure>
  </section>{# / what is it #}

  <hr class="box2title">


{# -----------------------------------------------------------------------------
    Todo
   -------------------------------------------------------------------------- #}

  <section class="section container">

    <h2 class="section-headline text-center next-is-text">
      Что мы&nbsp;делаем, вкратце<br>
      <small>Классические приёмы и&nbsp;современные технологии</small>
    </h2>

    <div class="row">

      <div class="col-lg-6 pl-72">
        <h3 class="list-caption has-icon planning">
          Разработка PR-стратегии
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Проведение исследований</li>
          <li class="list-to-do-item">Опрос экспертов</li>
          <li class="list-to-do-item">Организация стратегических сессий</li>
          <li class="list-to-do-item">Разработка позиционирования</li>
          <li class="list-to-do-item">Планирование</li>
          <li class="list-to-do-item">Разработка коммуникационных инструментов</li>
          <li class="list-to-do-item">Обучение персонала</li>
        </ul>

        <h3 class="list-caption has-icon monitoring">
          Регулярный мониторинг
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Составление перечня релевантных СМИ и&nbsp;соцсетей</li>
          <li class="list-to-do-item">Анализ количественных и&nbsp;качественных характеристик СМИ</li>
          <li class="list-to-do-item">Составление поисковых запросов</li>
          <li class="list-to-do-item">Мониторинг</li>
          <li class="list-to-do-item">Клипинг публикаций</li>
          <li class="list-to-do-item">Количественный анализ</li>
          <li class="list-to-do-item">Контент-анализ</li>
          <li class="list-to-do-item">Составление индекса цитируемости спикеров</li>
          <li class="list-to-do-item">Анализ тезисов критики</li>
          <li class="list-to-do-item">Подготовка контр-тезисов</li>
        </ul>

        <h3 class="list-caption has-icon media">
          Формирование пула СМИ и&nbsp;блогеров
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Исследование релевантных СМИ и&nbsp;блогеров</li>
          <li class="list-to-do-item">Анализ сферы интересов</li>
          <li class="list-to-do-item">Составление медиа-карты</li>
          <li class="list-to-do-item">Установление контакта</li>
          <li class="list-to-do-item">Обработка запросов</li>
          <li class="list-to-do-item">Подготовка информационных материалов по&nbsp;запросам</li>
          <li class="list-to-do-item">Приглашение на&nbsp;мероприятия</li>
          <li class="list-to-do-item">Регулярные контакты</li>
          <li class="list-to-do-item">Поздравления и&nbsp;благодарственные письма</li>
        </ul>

        <h3 class="list-caption has-icon specials">
          Организация спецпроектов
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Определение аудитории и&nbsp;каналов</li>
          <li class="list-to-do-item">Разработка концепции</li>
          <li class="list-to-do-item">Планирование</li>
          <li class="list-to-do-item">Подготовка контента</li>
          <li class="list-to-do-item">Продвижение спецпроекта</li>
        </ul>

      </div>{# / col (1): todos #}

      <div class="col-lg-6 pl-72">
        <h3 class="list-caption has-icon expert">
          Формирование пула экспертов
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Мониторинг релевантных экспертов</li>
          <li class="list-to-do-item">Анализ публичной позиции</li>
          <li class="list-to-do-item">Установление контакта</li>
          <li class="list-to-do-item">Помощь в&nbsp;подготовке экспертных материалов</li>
          <li class="list-to-do-item">Инициирование публичных выступлений и&nbsp;комментариев </li>
          <li class="list-to-do-item">Приглашение на&nbsp;мероприятия</li>
          <li class="list-to-do-item">Регулярные контакты</li>
          <li class="list-to-do-item">Поздравления и&nbsp;благодарственные письма</li>
        </ul>

        <h3 class="list-caption has-icon participation">
          Организация участия в&nbsp;мероприятиях
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Мониторинг профильных мероприятий</li>
          <li class="list-to-do-item">Анализ программы</li>
          <li class="list-to-do-item">Резервирование слотов для выступлений</li>
          <li class="list-to-do-item">Подготовка материалов для выступлений</li>
          <li class="list-to-do-item">Техническое обеспечение</li>
          <li class="list-to-do-item">Подготовка пресс-материалов</li>
          <li class="list-to-do-item">Приглашение СМИ на&nbsp;мероприятие</li>
        </ul>

          <h3 class="list-caption has-icon event-management">
            Организация собственных мероприятий
          </h3>
          <ul class="list-to-do">
            <li class="list-to-do-item">Разработка концепции мероприятия</li>
            <li class="list-to-do-item">Планирование</li>
            <li class="list-to-do-item">Разработка программы</li>
            <li class="list-to-do-item">Пригласительная кампания</li>
            <li class="list-to-do-item">Техническое обеспечение</li>
            <li class="list-to-do-item">Логистика</li>
            <li class="list-to-do-item">Кейтеринг</li>
            <li class="list-to-do-item">PR-поддержка мероприятия</li>
          </ul>

          <h3 class="list-caption has-icon content">
            Подготовка контента
          </h3>
          <ul class="list-to-do">
            <li class="list-to-do-item">Подготовка текста</li>
            <li class="list-to-do-item">Дизайн и&nbsp;верстка</li>
            <li class="list-to-do-item">Фото- и&nbsp;видеосъемка</li>
            <li class="list-to-do-item">Продакшн</li>
            <li class="list-to-do-item">Размещение контента</li>
            <li class="list-to-do-item">Тестирование</li>
            <li class="list-to-do-item">Корректировка</li>
          </ul>

      </div>{# / col (2): todos #}

    </div>{# / row: todo #}
  </section>

  <hr class="text2title">

{# -----------------------------------------------------------------------------
    Case Studies
   -------------------------------------------------------------------------- #}

  <section class="section container">
    <div class="container">

      <h2 class="section-headline text-center">
        Примеры проектов в&nbsp;области public relations
      </h2>

      <div class="section-body col-lg-6 offset-lg-3 text-muted text-center">
        <p>Агентство специализируется на&nbsp;комплексном PR-сопровождении мероприятий, экспертов компаний и&nbsp;брендов. Большинство наших клиентов&nbsp;— постоянные, на&nbsp;абонентском обслуживании.</p>
      </div>{# / section-body #}

{# ----------------------------------
    Carousel — Projects
   ---------------------------------- #}

      <div class="section-footer separated carousel slide js-manual" id="carousel-pr" data-ride="carousel">

        {# Carousel viewport #}
        <div class="carousel-inner" role="listbox">

          {# Moscow #}
          <figure class="carousel-item active">

            <a class="section-carousel-link" href="/ru/news/2016/10-06.htm" title="День города Москвы 2016">
              <img src="/a/img/s-services/pr/featured/moscow.jpg" alt="День города Москвы 2016">
            </a>

            <figcaption>
              День города Москвы 2016
            </figcaption>
          </figure>{#  / moscow #}

          {# Ufa 2106 #}
          <figure class="carousel-item">

            <a class="section-carousel-link" href="/ru/news/2016/09-17.htm" title="Продвижение коллекции футболок befree">
              <img src="/a/img/s-services/pr/featured/befree.jpg" alt="Продвижение коллекции футболок befree">
            </a>

            <figcaption>
              befree с Марией Вэй
            </figcaption>
          </figure>{#  / befree #}

          {# Scania #}
          <figure class="carousel-item">

            <a class="section-carousel-link" href="/ru/news/2016/03-31.htm" title="PR-сопровождение компании Scania">
              <img src="/a/img/s-services/pr/featured/scania.jpg" alt="PR-сопровождение компании Scania">
            </a>

            <figcaption>
              Scania
            </figcaption>
          </figure>{#  / Scania #}

        </div>{# / viewport #}

        <ol class="carousel-indicators">
          <li data-target="#carousel-pr" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-pr" data-slide-to="1"></li>
          <li data-target="#carousel-pr" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}
    </div>{# / container #}
  </section>

  <hr class="box2title hidden">


{# -----------------------------------------------------------------------------
    Testimonials
   -------------------------------------------------------------------------- #}

  <section class="section testimonials container">
    <h2 class="section-headline secondary">
      И всегда приятно, когда клиенты довольны
    </h2>

    <div class="row">

    <blockquote class="testimonial col-lg-6">
      <div class="testimonial-bubble">
        <p class="testimonial-body first last">Выдающиеся результаты работы в качестве основного поставщика PR-услуг… Мероприятия для прессы и дилеров, корпоративные медиа, пресс-туры</p>
      </div>
      <footer class="testimonial-footer">
        <span class="testimonial-avatar media-wrapper">
          <img src="/a/img/s-services/pr/testimonials/philips.jpg" alt="Питер Вуллингс, Philips">
        </span>
        Питер Вуллингс, глава подразделения Philips Consumer Lifestyle в&nbsp;России
      </footer>
    </blockquote>

    <blockquote class="testimonial col-lg-6">
      <div class="testimonial-bubble">
        <p class="testimonial-body first last">Агентство „Полилог“ проявило себя, как высокопрофессиональная консалтинговая фирма... Сотрудничество является не&nbsp;только плодотворным, но&nbsp;и&nbsp;приятным</p>
      </div>
      <footer class="testimonial-footer">
        <span class="testimonial-avatar media-wrapper">
          <img src="/a/img/s-services/pr/testimonials/logitech.jpg" alt="Роман Монин, Logitech">
        </span>
        Роман Монин, региональный директор Logitech
      </footer>
    </blockquote>

    </div>{# / row #}

  </section>

  <hr class="testimonials2cta">
<!-- /CUT IN BODY -->

</main>{# / page-content #}



{% endblock %}{# / block content #}
