{# Internship #}

{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .section.quotes {
      background: #483b2b url('/a/img/s-careers/blockquotes.jpg') center top no-repeat;
      min-height: 624px; }

    .carousel.glass::before {
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url('/a/img/s-careers/blockquotes.jpg');
      background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url('/a/img/s-careers/blockquotes.jpg');
      background-position: 0 0, 50% -40px; }
      @media (min-width: 992px) {
        .carousel.glass::before {
          background-position: 0 0, 32% -40px; } }
  </style>
{% endblock %}

{% block body %}
<body class="section-careers has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Стажировка</h1>
      <span class="page-header-icon" aria-hidden="true"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-careers/internship/header.jpg" alt="Стажировка в PR-агентстве">
    </figure>
<!--




CUT IN BODY




-->
    {# <div class="row gutters-sm pt-66 pb-2"> #}
    <div class="row pt-60">
      <div class="col-lg-6">
        <p class="lead">Если у&nbsp;вас есть теоретические знания, но&nbsp;нет практических навыков, если вы&nbsp;студент и&nbsp;не&nbsp;знаете, как лучше начать профессиональную деятельность, у&nbsp;вас есть отличная возможность попробовать свои силы в&nbsp;области коммуникационного менеджмента, связей с&nbsp;общественностью, продаж, исследований и&nbsp;разработок.</p>
        <p>Стажировка в&nbsp;«Полилоге» позволит вам приобрести необходимый опыт для дальнейшей работы и&nbsp;научиться основным приемам PR, event-менеджмента, управления IT-проектами.</p>
        <h3>Что необходимо, чтобы встретиться с&nbsp;нами:</h3>
        <ul>
          <li>Захотеть работать в&nbsp;нашей компании.</li>
          <li>Прислать свое резюме на&nbsp;электронную почту, в&nbsp;теме письма указать желаемое направление (PR/event/IT/продажи/аналитика).</li>
          <li>Написать мотивационное письмо.</li>
          <li>Владеть английским языком.</li>
          <li>Иметь направление из&nbsp;института/договор и&nbsp;прочее.</li>
        </ul>
      </div>

      <div class="col-lg-6">
          <h3 class="pt-lg-0 mb-1s">Чему вы&nbsp;научитесь в&nbsp;ходе стажировки:</h3>
          <ul>
            <li>Готовить и&nbsp;реализовывать PR/event/IT проекты проекты.</li>
            <li>Взаимодействию с&nbsp;подрядчиками и&nbsp;клиентами.</li>
            <li>Холодным звонкам.</li>
            <li>Формированию/актуализации баз СМИ.</li>
            <li>Написанию различных статей, комментариев и&nbsp;т.п.</li>
            <li>Составлению презентаций.</li>
            <li>И&nbsp;многому многому другому под руководством опытных наставников, которые хотят делиться опытом.</li>
          </ul>
          <h3 class="pt-lg-1s mb-1s">Стажировка не&nbsp;оплачивается. Но&nbsp;при этом вы&nbsp;получаете:</h3>
          <ul>
            <li>Бесценный опыт.</li>
            <li>Отзыв и&nbsp;благодарственное письмо.</li>
            <li>Возможность гибкого графика и&nbsp;удаленной работы (в&nbsp;случае практики в&nbsp;написании текстов).</li>
            <li>Отметку о&nbsp;практике&nbsp;и, наконец, возможность дальнейшего трудоустройства в&nbsp;компании в&nbsp;случае успешного прохождения стажировки!</li>
          </ul>
      </div>
    </div>

    <hr class="text2box hidden hidden-sm-down">

{# -----------------------------------------------------------------------------
    Quotes
   -------------------------------------------------------------------------- #}

    <section class="section quotes in-box has-interior-box full-width hidden-sm-down">
      <div class="container">

        <div class="col-lg-6">
          {# Carousel #}
          <div class="carousel glass h-lg-2mod slide js-manual" id="carousel-quotes" data-ride="carousel">

            <h2 class="carousel-headline">Стажёры о «Полилоге»</h2>

            {# Carousel viewport #}
            <div class="carousel-inner" role="listbox">

              {# 01 #}
              <blockquote class="carousel-item active">
                <p>Рекомендую проходить производственную практику именно здесь, так как компания „Полилог“&nbsp;— одна из&nbsp;лучших в&nbsp;России в&nbsp;своей сфере, и&nbsp;мне хотелось&nbsp;бы перенять опыт её&nbsp;сотрудников.</p>
                <footer class="blockquote-footer">
                  Евгений Ковалев, стажер
                </footer>
              </blockquote>

              {# 02 #}
              <blockquote class="carousel-item">
                <p>В&nbsp;компании работают настоящие профи своего дела&nbsp;и, ко&nbsp;всему прочему, очень приятные люди. Стажировка дала мне возможность принять участие в&nbsp;действующих проектах компании, прочувствовать особенности и&nbsp;темп работы своей будущей профессии. Получила не&nbsp;только пользу, но&nbsp;и&nbsp;исключительно положительные эмоции.</p>
                <footer class="blockquote-footer">
                  Алина Тен, стажер
                </footer>
              </blockquote>

              {# 03 #}
              <blockquote class="carousel-item">
                <p>Искала стажировку в&nbsp;сфере маркетинга и&nbsp;рекламы, и&nbsp;меня пригласили на&nbsp;собеседование в&nbsp;«Полилог». В&nbsp;компании много плюсов: дружный коллектив, теплая атмосфера, тебе всегда ответят на&nbsp;любой твой вопрос, подскажут. Несмотря на&nbsp;то, что я&nbsp;стажер, доверяют написание пресс-релизов, мне уже довелось поучаствовать в&nbsp;подготовке двух ежемесячных отчетов. Если есть цель, амбиции и&nbsp;талант&nbsp;— агентство даст тебе шансы для самореализации!</p>
                <footer class="blockquote-footer">
                  Кристина Хунцария, стажер
                </footer>
              </blockquote>

              {# 04 #}
              <blockquote class="carousel-item">
                <p>Да, задания стажерам дают поначалу монотонные и&nbsp;без особого креатива, но&nbsp;никто и&nbsp;нигде не&nbsp;доверит человеку без опыта принимать важные решения. Однако по&nbsp;мере того, как стажер проявляет свои способности, задания становятся интереснее, сложнее и&nbsp;креативнее. Дальнейшее трудоустройство зависит только от&nbsp;способностей и&nbsp;инициативности стажера, мне, например, предложили должность ассистента спустя месяц прохождения стажировки.</p>
                <footer class="blockquote-footer">
                  Мария Белых, стажировалась 1,5 месяца и&nbsp;получила предложение о&nbsp;работе
                </footer>
              </blockquote>

            </div>{# / Carousel viewport #}

            {# Prev #}
            <a class="carousel-control negative left" href="#carousel-quotes" data-slide="prev" role="button" aria-label="Назад"></a>

            <ol class="carousel-indicators">
              <li data-target="#carousel-quotes" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-quotes" data-slide-to="1"></li>
              <li data-target="#carousel-quotes" data-slide-to="2"></li>
              <li data-target="#carousel-quotes" data-slide-to="3"></li>
            </ol>

            {# Next #}
            <a class="carousel-control negative right" href="#carousel-quotes" data-slide="next" role="button" aria-label="Вперёд"></a>
          </div>{# / carousel #}
        </div>{# / col: carousel #}

      </div>{# / container #}
    </section>
<!--




/ CUT IN BODY




-->
  </article>
</main>

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-careers-internership.twig" %}
{% endblock %}{# / block cta #}
