// -------------------------------------
// Polylog Promo
// -------------------------------------

// a.tile.event-name.poster.wide        # Images and details container. Display: flex, justify-content: center, align-items: stretch;
// .tile-summary                        # Images container, relatively positioned. text-align: center to center main pic
//    .tile-img                         # Static positioned image
//    .tile-logo                        # Absolutely positioned image


// .card-header.ddv               # Images container, relatively positioned. Display: flex, justify-content: center;
//    .tile-img                         # Absolutely positioned image
//    .tile-logo                        # Absolutely positioned image


// Common Container / Blue Box - Front page
.tile.is-ddv {
  background:
    url('/a/img/polylog-promo/2018-ddv/box.svg') no-repeat left top,
    url('/a/img/polylog-promo/2018-ddv/vladivostok.jpg') no-repeat right top,
    rgb(0, 51, 102);
  display: flex;
  align-items: stretch;
}

.tile.is-ddv .tile-body {
  padding-top: 3.4rem;

  @include media-breakpoint-up(sm) {
    flex: 0 0 260px;
  }
}

.tile-logo {
  margin-bottom: 2rem;
}

.tile.is-ddv .tile-summary {
  color: rgba(255, 255, 255, .54);
}
