<div class="col-lg-6 hidden-sm-down" itemscope itemtype="http://schema.org/Event">
  <a class="tile is-ddv poster wide" href="https://ddv.moscow/" itemprop="url" target="_blank" rel="noopener noreferrer">
    <div class="tile-details tile-body">

      <img class="tile-logo" src="/a/img/polylog-promo/2018-ddv/logo.png"
        srcset="/a/img/polylog-promo/2018-ddv/logo@2x.png 2x"
        itemprop="image"
        alt="Дни Дальнего Востока в Москве">
      <h2 class="tile-headline" itemprop="name">Дни Дальнего Востока в&nbsp;Москве</h2>
      <p class="sr-only" itemprop="description">Фестиваль «Дни Дальнего Востока в Москве» – это место встречи молодых талантов и перспективных специалистов с лучшими работодателями, продвинутыми экспертами и кумирами поколения. Москвичи и гости столицы смогут познакомиться с особенностями восточных регионов России, их традициями, культурой, туристическими возможностями и экономическим потенциалом.</p>

      <address class="tile-summary" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">КВЦ «Экспоцентр»</span>
        <span class="sr-only" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Москва</span>
        </span>
      </address>

      <time class="tile-summary" datetime="2018-12-13T10:00" itemprop="startDate" content="2018-12-13T10:00">
        13–15 декабря
      </time>
      <time class="sr-only" datetime="2018-12-15T19:00" itemprop="endDate" content="2018-12-15T19:00">15 декабря</time>

      <svg class="icon forward" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-forward"></use></svg>
    </div>
  </a>
</div>
