.section-user {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 80vh;

  // Hide main blocks
  .header,
  .cta,
  .footer,
  .navbar,
  .description,
  .profile {
    display: none;
  }

  // Form
  form {
    text-align: left;
    margin: 0 auto;
    max-width: 444px;
  }

  label {
    font-weight: 400;
    margin-bottom: 1.1rem;
  }

  .form-text.required {
    @extend %form-control;

    margin-bottom: 1.3rem;
    padding: 3px 23px 0;
    height: 48px;
  }

  .form-submit {
    @extend %btn, %btn-primary, %btn-shadow;
  }
}

// #edit-name
//
//


