// -----------------------------------------------------------------------------
// Legacy
// -----------------------------------------------------------------------------

// stylelint-disable selector-no-qualifying-type, length-zero-no-unit, rule-empty-line-before

i.co {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  display: block;
  direction: ltr;
  text-align: left;
  text-indent: -4000em;
  overflow: hidden;
}


// -----------------------------------------------------------------------------
// MODERN
// -----------------------------------------------------------------------------

%icon {
  background: rgba(0, 0, 0, 0) url('#{$icon-folder}/icon.svg?2020-01-10a') no-repeat;
  background-size: 432px 419px;
}

%icon-md-left {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
}

.icon {
  @extend %icon;

  display: block;
  width: 16px;
  height: 16px;
}

// Image replacement
.icon,
.icon:hover,
.icon:focus {
  @extend %text-hide;
}

// Extend it
.icon.xs,
%icon-xs {
  width: 16px;
  height: 16px;
}

.icon.sm,
%icon-sm {
  width: 18px;
  height: 19px;
}

.icon.md,
%icon-md {
  width: 32px;
  height: 32px;
}

.icon.lg,
%icon-lg {
  width: 48px;
  height: 48px;
}

// Not from sprite
.icon.not-from-sprite,
.icon.forward,
.icon.phone,
.icon.find,
.icon.details {
  background-image: none;
}

.icon.acceleration,
%icon-acceleration { background-position: (0px - 4) (0px - 4);}
.icon.address,
%icon-address { background-position: (-312px - 4) (-368px - 4);}
.icon.after-project,
%icon-after-project { background-position: (-56px - 4) (-112px - 4);}
.icon.analysis,
%icon-analysis { background-position: (-96px - 4) (-112px - 4);}
.icon.analytics,
%icon-analytics { background-position: (-168px - 4) (0px - 4);}
.icon.assistance,
%icon-assistance { background-position: (-168px - 4) (-40px - 4);}
.icon.badge,
%icon-badge { background-position: (-168px - 4) (-80px - 4);}
.icon.block-diagram,
%icon-block-diagram { background-position: (-168px - 4) (-120px - 4);}
.icon.blog,
%icon-blog { background-position: (-368px - 4) (-212px - 4);}
.icon.blog-sm,
%icon-blog-sm { background-position: (0px - 4) (-168px - 4);}
.icon.calendar,
%icon-calendar { background-position: (-368px - 4) (-239px - 4);}
.icon.calendar-xs,
%icon-calendar-xs { background-position: (-336px - 4) (-368px - 4);}
.icon.career,
%icon-career { background-position: (-368px - 4) (-266px - 4);}
.icon.check,
%icon-check { background-position: (-40px - 4) (-168px - 4);}
.icon.check-white,
%icon-check-white { background-position: (-80px - 4) (-168px - 4);}
.icon.choice,
%icon-choice { background-position: (-360px - 4) (-368px - 4);}
.icon.close,
%icon-close { background-position: (-368px - 4) (-184px - 4);}
.icon.comments,
%icon-comments { background-position: (-384px - 4) (-368px - 4);}
.icon.company,
%icon-company { background-position: (-368px - 4) (-293px - 4);}
.icon.company-sm,
%icon-company-sm { background-position: (-120px - 4) (-168px - 4);}
.icon.company-xs,
%icon-company-xs { background-position: (-408px - 4) (0px - 4);}
.icon.corporate-media,
%icon-corporate-media { background-position: (-160px - 4) (-168px - 4);}
.icon.database,
%icon-database { background-position: (-208px - 4) (0px - 4);}
.icon.development,
%icon-development { background-position: (-208px - 4) (-40px - 4);}
.icon.document,
%icon-document { background-position: (-208px - 4) (-80px - 4);}
.icon.documentation,
%icon-documentation { background-position: (-208px - 4) (-120px - 4);}
.icon.drafting,
%icon-drafting { background-position: (-208px - 4) (-160px - 4);}
.icon.email,
%icon-email { background-position: (-408px - 4) (-24px - 4);}
.icon.email-md,
%icon-email-md { background-position: (0px - 4) (-208px - 4);}
.icon.email-xs-white,
%icon-email-xs-white { background-position: (-408px - 4) (-48px - 4);}
.icon.enlarge,
%icon-enlarge { background-position: (-368px - 4) (-120px - 4);}
.icon.enlarge-inverse,
%icon-enlarge-inverse { background-position: (-408px - 4) (-67px - 4);}
.icon.event,
%icon-event { background-position: (-40px - 4) (-208px - 4);}
.icon.event-eyebrow,
%icon-event-eyebrow { background-position: (-104px - 4) (-368px - 4);}
.icon.event-management,
%icon-event-management { background-position: (-80px - 4) (-208px - 4);}
.icon.expert,
%icon-expert { background-position: (-56px - 4) (0px - 4);}
.icon.expert-sm,
%icon-expert-sm { background-position: (-120px - 4) (-208px - 4);}
.icon.facebook-page,
%icon-facebook-page { background-position: (-160px - 4) (-208px - 4);}
.icon.feather,
%icon-feather { background-position: (-408px - 4) (-91px - 4);}
.icon.feather-sm,
%icon-feather-sm { background-position: (-200px - 4) (-208px - 4);}
.icon.flag-cn,
%icon-flag-cn { background-position: (-368px - 4) (-320px - 4);}
.icon.flag-gb,
%icon-flag-gb { background-position: (-136px - 4) (-112px - 4);}
.icon.flag-jp,
%icon-flag-jp { background-position: (0px - 4) (-368px - 4);}
.icon.flag-ru,
%icon-flag-ru { background-position: (-26px - 4) (-368px - 4);}
.icon.fold,
%icon-fold { background-position: (-408px - 4) (-115px - 4);}
.icon.fundraising,
%icon-fundraising { background-position: (-248px - 4) (0px - 4);}
.icon.fundraising-eyebrow,
%icon-fundraising-eyebrow { background-position: (-130px - 4) (-368px - 4);}
.icon.google-plus,
%icon-google-plus { background-position: (-248px - 4) (-40px - 4);}
.icon.gr,
%icon-gr { background-position: (-248px - 4) (-80px - 4);}
.icon.group,
%icon-group { background-position: (-408px - 4) (-139px - 4);}
.icon.growth,
%icon-growth { background-position: (0px - 4) (-56px - 4);}
.icon.heart,
%icon-heart { background-position: (-408px - 4) (-163px - 4);}
.icon.home,
%icon-home { background-position: (-156px - 4) (-368px - 4);}
.icon.icon-md-check-in-circle,
%icon-icon-md-check-in-circle { background-position: (-368px - 4) (-152px - 4);}
.icon.idea,
%icon-idea { background-position: (-56px - 4) (-56px - 4);}
.icon.idea-eyebrow,
%icon-idea-eyebrow { background-position: (-182px - 4) (-368px - 4);}
.icon.idea-sm,
%icon-idea-sm { background-position: (-248px - 4) (-120px - 4);}
.icon.implementation,
%icon-implementation { background-position: (-248px - 4) (-160px - 4);}
.icon.industries-agriculture,
%icon-industries-agriculture { background-position: (-248px - 4) (-200px - 4);}
.icon.industries-appliances,
%icon-industries-appliances { background-position: (0px - 4) (-248px - 4);}
.icon.industries-auto,
%icon-industries-auto { background-position: (-40px - 4) (-248px - 4);}
.icon.industries-beauty,
%icon-industries-beauty { background-position: (-80px - 4) (-248px - 4);}
.icon.industries-childrens-goods,
%icon-industries-childrens-goods { background-position: (-120px - 4) (-248px - 4);}
.icon.industries-fashion,
%icon-industries-fashion { background-position: (-160px - 4) (-248px - 4);}
.icon.industries-finance,
%icon-industries-finance { background-position: (-200px - 4) (-248px - 4);}
.icon.industries-fmcg,
%icon-industries-fmcg { background-position: (-240px - 4) (-248px - 4);}
.icon.industries-government,
%icon-industries-government { background-position: (-288px - 4) (0px - 4);}
.icon.industries-helthcare,
%icon-industries-helthcare { background-position: (-288px - 4) (-40px - 4);}
.icon.industries-it,
%icon-industries-it { background-position: (-288px - 4) (-80px - 4);}
.icon.industries-large-scale,
%icon-industries-large-scale { background-position: (-288px - 4) (-120px - 4);}
.icon.industries-nonprofit,
%icon-industries-nonprofit { background-position: (-288px - 4) (-160px - 4);}
.icon.industries-power-municipal-engineering,
%icon-industries-power-municipal-engineering { background-position: (-288px - 4) (-200px - 4);}
.icon.industries-real-estate,
%icon-industries-real-estate { background-position: (-288px - 4) (-240px - 4);}
.icon.industries-regional-authorities,
%icon-industries-regional-authorities { background-position: (0px - 4) (-288px - 4);}
.icon.industries-state-corporations,
%icon-industries-state-corporations { background-position: (-40px - 4) (-288px - 4);}
.icon.industries-travel,
%icon-industries-travel { background-position: (-80px - 4) (-288px - 4);}
.icon.info,
%icon-info { background-position: (-408px - 4) (-187px - 4);}
.icon.instagram-acc,
%icon-instagram-acc { background-position: (-120px - 4) (-288px - 4);}
.icon.linkedin,
%icon-linkedin { background-position: (-160px - 4) (-288px - 4);}
.icon.linkedin-page,
%icon-linkedin-page { background-position: (-200px - 4) (-288px - 4);}
.icon.money,
%icon-money { background-position: (-408px - 4) (-211px - 4);}
.icon.monitoring,
%icon-monitoring { background-position: (-240px - 4) (-288px - 4);}
.icon.monitoring-eyebrow,
%icon-monitoring-eyebrow { background-position: (-208px - 4) (-368px - 4);}
.icon.phone-in-form,
%icon-phone-in-form { background-position: (-408px - 4) (-235px - 4);}
.icon.planning,
%icon-planning { background-position: (-280px - 4) (-288px - 4);}
.icon.pocket,
%icon-pocket { background-position: (-328px - 4) (0px - 4);}
.icon.position,
%icon-position { background-position: (-408px - 4) (-259px - 4);}
.icon.pr,
%icon-pr { background-position: (-328px - 4) (-40px - 4);}
.icon.pr-event,
%icon-pr-event { background-position: (-328px - 4) (-80px - 4);}
.icon.pr-eyebrow,
%icon-pr-eyebrow { background-position: (-234px - 4) (-368px - 4);}
.icon.preparation,
%icon-preparation { background-position: (-328px - 4) (-120px - 4);}
.icon.preparation-pan,
%icon-preparation-pan { background-position: (-328px - 4) (-160px - 4);}
.icon.presentation,
%icon-presentation { background-position: (-328px - 4) (-200px - 4);}
.icon.projects,
%icon-projects { background-position: (-52px - 4) (-368px - 4);}
.icon.promotion,
%icon-promotion { background-position: (-328px - 4) (-240px - 4);}
.icon.rnd,
%icon-rnd { background-position: (-328px - 4) (-280px - 4);}
.icon.rnd-eyebrow,
%icon-rnd-eyebrow { background-position: (-260px - 4) (-368px - 4);}
.icon.rss,
%icon-rss { background-position: (0px - 4) (-328px - 4);}
.icon.search-in-page-header,
%icon-search-in-page-header { background-position: (-286px - 4) (-368px - 4);}
.icon.search-sm,
%icon-search-sm { background-position: (-40px - 4) (-328px - 4);}
.icon.services,
%icon-services { background-position: (-78px - 4) (-368px - 4);}
.icon.share,
%icon-share { background-position: (-408px - 4) (-283px - 4);}
.icon.star,
%icon-star { background-position: (-80px - 4) (-328px - 4);}
.icon.stars,
%icon-stars { background-position: (-112px - 4) (0px - 4);}
.icon.strategy,
%icon-strategy { background-position: (-120px - 4) (-328px - 4);}
.icon.tag,
%icon-tag { background-position: (-408px - 4) (-307px - 4);}
.icon.tag-sm,
%icon-tag-sm { background-position: (-160px - 4) (-328px - 4);}
.icon.team,
%icon-team { background-position: (-112px - 4) (-56px - 4);}
.icon.telegram,
%icon-telegram { background-position: (-200px - 4) (-328px - 4);}
.icon.telegram-chl,
%icon-telegram-chl { background-position: (-240px - 4) (-328px - 4);}
.icon.telegram-xs,
%icon-telegram-xs { background-position: (-408px - 4) (-331px - 4);}
.icon.testing,
%icon-testing { background-position: (-280px - 4) (-328px - 4);}
.icon.time,
%icon-time { background-position: (-408px - 4) (-355px - 4);}
.icon.tools,
%icon-tools { background-position: (-320px - 4) (-328px - 4);}
.icon.travel,
%icon-travel { background-position: (0px - 4) (-112px - 4);}
.icon.twitter,
%icon-twitter { background-position: (-368px - 4) (0px - 4);}
.icon.twitter-acc,
%icon-twitter-acc { background-position: (-368px - 4) (-40px - 4);}
.icon.twitter-xs,
%icon-twitter-xs { background-position: (-368px - 4) (-347px - 4);}
.icon.unfold,
%icon-unfold { background-position: (0px - 4) (-395px - 4);}
.icon.upload,
%icon-upload { background-position: (-24px - 4) (-395px - 4);}
.icon.user,
%icon-user { background-position: (-48px - 4) (-395px - 4);}
.icon.video,
%icon-video { background-position: (-72px - 4) (-395px - 4);}
.icon.whatsapp,
%icon-whatsapp { background-position: (-368px - 4) (-80px - 4);}
