// -----------------------------------------------------------------------------
// Legacy
// -----------------------------------------------------------------------------

// stylelint-disable selector-no-qualifying-type, length-zero-no-unit, rule-empty-line-before

i.co {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  display: block;
  direction: ltr;
  text-align: left;
  text-indent: -4000em;
  overflow: hidden;
}


// -----------------------------------------------------------------------------
// MODERN
// -----------------------------------------------------------------------------

%icon {
  background: rgba(0, 0, 0, 0) url('#{$icon-folder}/icon.svg?2020-01-10a') no-repeat;
  background-size: {{spriteWidth}}px {{spriteHeight}}px;
}

%icon-md-left {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
}

.icon {
  @extend %icon;

  display: block;
  width: 16px;
  height: 16px;
}

// Image replacement
.icon,
.icon:hover,
.icon:focus {
  @extend %text-hide;
}

// Extend it
.icon.xs,
%icon-xs {
  width: 16px;
  height: 16px;
}

.icon.sm,
%icon-sm {
  width: 18px;
  height: 19px;
}

.icon.md,
%icon-md {
  width: 32px;
  height: 32px;
}

.icon.lg,
%icon-lg {
  width: 48px;
  height: 48px;
}

// Not from sprite
.icon.not-from-sprite,
.icon.forward,
.icon.phone,
.icon.find,
.icon.details {
  background-image: none;
}

{{#shapes}}
.icon.{{base}},
%icon-{{base}} { background-position: ({{position.absolute.x}}px - 4) ({{position.absolute.y}}px - 4);}
{{/shapes}}
