aside.cta.container
  h2.cta-headline Необходима смета или предложение? Проводите тендер?
  h3.cta-subhead Давайте созвонимся

  //- Button for phones
  a.cta-btn.hidden-md-up(href="tel:+7-495-258-2045" role="button")
    span.icon-phone(role="presentation")
      svg: use(xlink:href="#icon-phone")
    | Позвонить

  //- Button for tablets end desktops
  button.cta-btn.hidden-sm-down.js-open-modal(data-href="http://www.polylog.dev/ru/company/contact-us" data-target="#modal" data-toggle="modal")
    span.icon-phone(role="presentation")
      svg: use(xlink:href="#icon-phone")
    | Обратная связь
