.cta {
  padding-top: 2.4rem;

  @include media-breakpoint-up(md) {
    padding-top: 6.7rem;
  } // md
}

.cta-headline,
.cta-subhead {
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 0;
}

.cta-headline {
  font-weight: 400;
}

.cta-subhead {
  color: $color-text-secondary;
  font-family: $headings-font-family;
  font-weight: 300;
  margin-bottom: 2rem;
}


// Button

.cta-btn {
  @extend %btn, %btn-primary, %btn-shadow;

  color: #fff;
  position: relative;
  height: 48px;
  width: 100%;

  // Hide focus outline on animated pseudo elements but keep it on buttons body
  &:focus {

    color: #fff;
    outline: 0;

    &:before {
      @include size(100%);

      content: '';
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
    }
  }

  &:hover {
    // @extend %btn-shake;
    color: #fff;
    transform: translate3d(0, -2px, 0);
  }

  // Sizing
  @include media-breakpoint-up(sm) {
    max-width: 288px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 384px;
  }
}

// Shaking animation

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }

  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}

// Button icon

.cta-btn .icon-phone {
  display: inline-block;
  margin: -4px 4px 0 0;
  position: relative;
  vertical-align: middle;
  width: 18px;
  height: 18px;

  > svg {
    fill: #fff;
    width: 18px;
    height: 18px;
  }

// Button Animated Circles

  &:before,
  &:after {
    animation: circles 5s ease-out infinite;
    border-radius: 30px;
    content: '';
    position: absolute;
    top: -11px;
    left: -11px;
    width: 40px;
    height: 40px;
  }

  &:after {
    animation-delay: 2.5s;
  }
}


// Animation: Circles

@keyframes circles {
  0% {
    box-shadow: inset 0 0 0 8px rgba(255, 255, 255, .24);
    opacity: 1;
    transform: scale(1);
  }
  100% {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .4);
    opacity: 0;
    transform: scale(2);
  }
}


// -------------------------------------
// Alternative calls
// -------------------------------------

.cta-alt {
  color: $color-text-secondary;
  hyphens: none;
  padding: 3.6rem 1.6rem 0;

  @include media-breakpoint-up(md) {
    > .phone-number,
    > .phone-number:hover {
      color: $color-text-secondary;
    }
  } // md
}



// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------

.section-blog .cta-subhead,
.section-help .cta-subhead,
.section-tutorials .cta-subhead {
  @include media-breakpoint-up(md) {
    display: inline-block;
    position: relative;

    &::after {
      background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2288%22%20height%3D%22199%22%20viewBox%3D%220%200%2088%20199%22%3E%3Crect%20x%3D%2270%22%20y%3D%22132%22%20width%3D%2213%22%20height%3D%2222%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M53.9%20191.3L55.4%20192.6%2046.9%20198.4%2051.7%20189.3%2053.2%20190.6C71.8%20169.2%2082%20141.8%2082%20113.5%2082%2062.5%2049%2017.2%200.5%201.6L0.8%200.7C49.8%2016.4%2083%2062%2083%20113.5%2083%20142.1%2072.7%20169.7%2053.9%20191.3L53.9%20191.3Z%22%20fill%3D%22%23DDE0E4%22%2F%3E%3C%2Fsvg%3E%0A') no-repeat;
      display: block;
      content: '';
      position: absolute;
      top: 20px;
      right: -104px;
      width: 88px;
      height: 199px;
      z-index: 4;
    } // &::after
  } // md
}
