<aside class="cta container">
  <h2 class="cta-headline"><a href="http://eoforum.ru/" target="_blank">Подробности — на&nbsp;официальном сайте форума</a></h2>
  <h3 class="cta-subhead">А если уже решили участвовать —</h3>

  {# Button for tablets end desktops #}
  <a class="cta-btn" href="http://cabinet.eoforum.ru/" target="_blank" role="button">
    зарегистрируйтесь
  </a>
  <p></p>
</aside>
