<aside class="cta container">
  <h2 class="cta-headline">Хотите к&nbsp;нам на&nbsp;стажировку?</h2>
  <h3 class="cta-subhead">Напишите&nbsp;&mdash; договоримся о&nbsp;встрече</h3>
  <a class="cta-btn js-contact" id="jobs-cv-probation" href="mailto:hr(at)gmail(dot)com?subject=polylog.ru" role="button" title="Договориться о встрече">Договориться о встрече</a>
</aside>
