<aside class="cta container">
  <h2 class="cta-headline"><span class="hidden-sm-down">Вы&nbsp;PR-менеджер или маркетолог? </span>Ищите работу?</h2>
  <h3 class="cta-subhead">Посмотрите, кто нам сейчас нужен</h3>

  {# Button for tablets end desktops #}
  <a class="cta-btn" id="jobs-cta" href="/ru/careers/jobs" role="button">
    Посмотреть вакансии
  </a>
</aside>
