<aside class="cta container">
  <h2 class="cta-headline">Нашли подходящую вакансию?</h2>
  <h3 class="cta-subhead">Давайте рассмотрим вашу кандидатуру</h3>
  <a class="cta-btn js-contact" id="jobs-cv-cta" href="mailto:hr(at)gmail(dot)com?subject=резюме" role="button" title="Присылайте резюме">Присылайте резюме</a>
</aside>
