<aside class="cta container">
  <h2 class="cta-headline">
    Самое интересное <span class="newline-sm-md-only">про&nbsp;event-менеджмент и&nbsp;пиар&nbsp;—</span><br class="br-lg-up">
    в&nbsp;почтовой рассылке, RSS и&nbsp;соцсетях
  </h2>
  <h3 class="cta-subhead">Подписывайтесь</h3>
</aside>
