<aside class="cta container">
  <h2 class="cta-headline">Необходима смета или&nbsp;предложение? Проводите&nbsp;тендер?</h2>
  <h3 class="cta-subhead">Давайте созвонимся</h3>

  {# Button for phones #}
  <a class="cta-btn hidden-md-up" href="tel:+7-495-258-2045" role="button">
    <span class="icon-phone" aria-hidden="true"><svg><use xlink:href="#icon-phone" /></svg></span>
    Позвонить
  </a>

  {# Button for tablets end desktops #}
  <button class="cta-btn hidden-sm-down js-open-modal" data-href="http://www.polylog.dev/ru/company/contact-us" data-target="#modal" data-toggle="modal">
    <span class="icon-phone" aria-hidden="true"><svg><use xlink:href="#icon-phone" /></svg></span>
    Обратная связь
  </button>
</aside>
