{# Industries — Index #}

{% extends "/pages/base/base.twig" %}

{% block body %}
<body class="section-projects has-page-header">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Отрасли</h1>
      <span class="page-header-icon" role="presentation"></span>
    </div>{# / page header #}

    <ul class="list-view catalog two-lg columns pt-26 pt-md-4 pb-lg-5">

      <li class="entry">
        <a class="entry-url" href="/ru/industries/auto">
          <h2 class="entry-headline has-icon auto">
            Автомобилестроение и&nbsp;транспорт
          </h2>
          <p class="entry-summary muted">Организация и&nbsp;пресс-сопровождение презентаций автомобилей, конференций автопроизводителей, выставки</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/agriculture">
          <h2 class="entry-headline has-icon agriculture">
            Агробизнес
          </h2>
          <p class="entry-summary muted">Развитие отношений с&nbsp;органами власти, инвесторами и&nbsp;разработчиками инноваций, организация мероприятий, фандрайзинг</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/state-corporations">
          <h2 class="entry-headline has-icon state-corporations">
            Госкорпорации и&nbsp;компании с&nbsp;государственным участием
          </h2>
          <p class="entry-summary muted">Коммуникационные стратегии, антикризисные программы, GR-проекты, корпоративные СМИ</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/childrens-goods">
          <h2 class="entry-headline has-icon childrens-goods">
            Детские товары и&nbsp;услуги
          </h2>
          <p class="entry-summary muted">Репутационный менеджмент, PR-поддержка и&nbsp;организация BTL-мероприятий для самых маленьких потребителей и&nbsp;их&nbsp;родителей</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/health-care">
          <h2 class="entry-headline has-icon health-care">
            Здравоохранение и&nbsp;фармацевтика
          </h2>
          <p class="entry-summary muted">Организация мероприятий, международный&nbsp;PR, продвижение и&nbsp;спонсорство ассоциаций, фандрайзинг для&nbsp;мероприятий</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/fashion">
          <h2 class="entry-headline has-icon fashion">
            Индустрия моды
          </h2>
          <p class="entry-summary muted">Коммуникационные стратегии, стимулирование продаж, медиа-сопровождение, BTL и&nbsp;спецпроекты</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/technology">
          <h2 class="entry-headline has-icon it">
            Информационно-коммуникационные технологии
          </h2>
          <p class="entry-summary muted">B2C- и&nbsp;B2B- PR, digital-коммуникации, организация профильных мероприятий</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/consulting">
          <h2 class="entry-headline has-icon consulting">
            Консультационные услуги
          </h2>
          <p class="entry-summary muted">Маркетинговые исследования, коммуникационные стратегии инфобизнесменов и&nbsp;public relations в&nbsp;сфере B2B</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/beauty">
          <h2 class="entry-headline has-icon beauty">
            Красота и&nbsp;здоровье
          </h2>
          <p class="entry-summary muted">Организация клиентских, пресс и&nbsp;B2B-мероприятий, вывод на&nbsp;рынок и&nbsp;PR-сопровождения бренда и&nbsp;продукции</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/real-estate">
          <h2 class="entry-headline has-icon real-estate">
            Недвижимость
          </h2>
          <p class="entry-summary muted">Комплексное пресс-сопровождение, организация и&nbsp;продвижение профильных и&nbsp;пресс-мероприятий</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/nonprofit">
          <h2 class="entry-headline has-icon nonprofit">
            Некоммерческие организации
          </h2>
          <p class="entry-summary muted">Менеджмент ассоциаций, организация мероприятий и&nbsp;комплекс работ по&nbsp;блоку public relations</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/fmcg">
          <h2 class="entry-headline has-icon fmcg">
            Потребительские товары (FMCG)
          </h2>
          <p class="entry-summary muted">Потребительский PR, GR-услуги, BTL, digital-активации, инструментов укрепления лояльности</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/large-scale">
          <h2 class="entry-headline has-icon large-scale">
            Промышленность
          </h2>
          <p class="entry-summary muted">Классический PR&nbsp;и&nbsp;GR, разработка и&nbsp;внедрение коммуникационных решений, постановка работы внутренних пресс-служб, мероприятия</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/regional-authorities">
          <h2 class="entry-headline has-icon regional-authorities">
            Региональные органы власти
          </h2>
          <p class="entry-summary muted">Разработка коммуникационных стратегий, повышение инвестиционной привлекательности регионов, работа с&nbsp;имиджем</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/tourism">
          <h2 class="entry-headline has-icon tourism">
            Туризм и&nbsp;индустрия гостеприимства
          </h2>
          <p class="entry-summary muted">Организация конференций, конгрессов, презентаций, PR-поддержка </p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/power-municipal-engineering">
          <h2 class="entry-headline has-icon power-municipal-engineering">
            ТЭК и&nbsp;ЖКХ
          </h2>
          <p class="entry-summary muted">Комплекс услуг по&nbsp;мониторингу и&nbsp;аналитике, организация деловых мероприятий, разработка и&nbsp;реализация коммуникационных стратегий</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/government">
          <h2 class="entry-headline has-icon government">
            Федеральные органы власти
          </h2>
          <p class="entry-summary muted">Организация крупномасштабных и&nbsp;президентских мероприятий, PR-сопровождение</p>
        </a>
      </li>

      <li class="entry">
        <a class="entry-url" href="/ru/industries/finance">
          <h2 class="entry-headline has-icon finance">
            Финансы и&nbsp;страхование
          </h2>
          <p class="entry-summary muted">Организация деловых мероприятий, комплексное PR-обслуживание, репутационный менеджмент</p>
        </a>
      </li>

    </ul>
  </article>
</main>

{% endblock %}{# / block content #}
