{# Event management #}

{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">

    @media (min-width: 768px) {
      .round-table {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-round-table.jpg');
      }
      .back {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-back.jpg');
      }
    }

    @media (min-width: 1016px) {
      .camera {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-camera.jpg');
      }

      .crowd {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-crowd.jpg');
      }
    }

    .section.benefits {
      background-color: #140b00;
      background-image: -webkit-linear-gradient(rgba(20, 11, 0, 0), #140b00), url("/a/img/s-services/event-management/benefits-event-management.jpg");
      background-image: linear-gradient(rgba(20, 11, 0, 0), #140b00), url("/a/img/s-services/event-management/benefits-event-management.jpg");
      background-position: center 648px, center top;
      background-repeat: no-repeat;
      background-size: 100% 120px, auto auto;
    }

    @media (min-width: 1016px) {
      .section.benefits {
        background-image: url('/a/img/s-services/event-management/benefits-event-management.jpg');
        background-position: center top;
        background-size: auto auto;
      }
    }

    .geography {
      text-align: center;
      margin-top: 6.2rem;
      padding-top: 7.2rem; }

    .geography .section-img {
      margin-bottom: 3.8rem;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-services page-events index has-dark-jumbotron separated-jumbotron">
{% endblock %}


{% block content %}

{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    {# Body #}
    <div class="jumbotron-body">

      <h1 class="jumbotron-headline ani-slide-down">
        Event management
      </h1>

      <blockquote class="jumbotron-quote ani-slide-down">
        <span class="hlaquo-body">“</span>Every year we&nbsp;organize about 100 press-conferences, forums and congresses. We&nbsp;specialize in&nbsp;major business events with thousands of&nbsp;participants, journalists and volunteers.<span class="hidden-xs-down"> Technical management is&nbsp;an&nbsp;important part of&nbsp;our work as&nbsp;well and we&nbsp;execute it&nbsp;in&nbsp;full accordance with business-tasks of&nbsp;our clients</span>”
      </blockquote>

      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/en/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Get in Touch
      </a>
    </div>{# / jumbotron body #}

    {# Person #}
    <figure class="jumbotron-person event ani-fade-in">
      <img class="jumbotron-portrait" src="/a/img/people/alexander-molchanov.png" alt="Alexander Molchanov, Head of the Event Management Division">
      <figcaption class="mb-1s">
        Alexander Molchanov,<br>
        Head of&nbsp;the&nbsp;Event Management Division
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">

<!--




CUT IN BODY




-->

{# -----------------------------------------------------------------------------
    What is it
   -------------------------------------------------------------------------- #}

  <section class="section container">
    <div class="row">

      <div class="col-md-8 col-lg-6">
        <h2 class="section-headline pt-18 pt-md-22 pt-lg-2s">Event management: <br class="hidden-lg-up"><small>an&nbsp;art of&nbsp;assembling complex details on&nbsp;time</small></h2>
        <p class="list-caption">We&nbsp;organize events of&nbsp;different formats and scale but most of&nbsp;them are:</p>
        <ul class="list-ul text-muted">
          <li>forums and conferences</li>
          <li>exhibitions</li>
          <li>festivals and city events</li>
          <li>presentations, launches and activations</li>
          <li>fashion shows</li>
          <li>social projects</li>
        </ul>
        <p class="mb-md-0">If&nbsp;you haven’t found a&nbsp;match to&nbsp;your demand, don’t get upset. We&nbsp;organize promo-events, congresses, concerts, webinars, trainings, seminars, debates and more.</p>
      </div>

      <figure class="mosaic col-md-4 col-lg-6 mb-0 hidden-sm-down">
        <div class="row">

          <div class="col-md-12 col-lg-6">
            <div class="mosaic-pic round-table" role="presentation" title="Event management"></div>
          </div>

          <div class="col-lg-6 hidden-md-down">
            <div class="mosaic-pic camera" role="presentation" title="Conferences, congresses, exhibitions and BTL events"></div>
          </div>

          <div class="col-md-12 col-lg-6">
            <div class="mosaic-pic back mb-0" role="presentation" title="Planning and coordinating the event"></div>
          </div>

          <div class="col-lg-6 hidden-md-down">
            <div class="mosaic-pic crowd mb-0" role="presentation" title="Promotional events"></div>
          </div>
        </div>

      </figure>
    </div>
  </section>{# / benefits #}

  <hr class="box2box hidden">


{# -----------------------------------------------------------------------------
    Benefits
   -------------------------------------------------------------------------- #}

  <section class="section benefits dark in-box full-width">
    <div class="container">

      <h2 class="section-headline text-center mb-md-1s">
        Promotion events and event management for&nbsp;you<span class="hidden-xs-down">:<br>
        <small><span class="hidden-md-down">involvement and </span>two-way communication with the&nbsp;clients</small></span>
      </h2>

      <ul class="list-check two-lg columns">
        <li class="list-check-item hidden-md-down">Experienced team&nbsp;— each projects starts with the&nbsp;organization of&nbsp;a&nbsp;team with the&nbsp;members who conform best to&nbsp;the&nbsp;project profile.</li>
        <li class="list-check-item">Experience of&nbsp;large scale project management&nbsp;— with the&nbsp;participation of&nbsp;state leaders and number of&nbsp;participants exceeding 10&nbsp;000&nbsp;people.</li>
        <li class="list-check-item">Cooperation with federal services supporting participation of&nbsp;state leaders (protocol assistance, Press service of&nbsp;the&nbsp;Administration of&nbsp;the&nbsp;President of&nbsp;the&nbsp;Russian Federation, Ministry of&nbsp;Foreign Affairs, etc.).</li>
        <li class="list-check-item hidden-md-down">Experience in&nbsp;work with state institutions within the&nbsp;framework of&nbsp;invitation campaigns for&nbsp;top-level officials (GR).</li>
        <li class="list-check-item hidden-md-down">Industry expertise&nbsp;— we&nbsp;work with an&nbsp;array of&nbsp;industries and have an&nbsp;established base of&nbsp;industry experts.</li>
        <li class="list-check-item">Event + PR&nbsp;— event organization is&nbsp;not our sole competence. We&nbsp;know how to&nbsp;make a&nbsp;newsworthy event that will be&nbsp;highlighted in&nbsp;top Russian and foreign media.</li>
        <li class="list-check-item">Supplier record&nbsp;— defined process of&nbsp;supplier search and evaluation guarantees best value for&nbsp;money.</li>
        <li class="list-check-item hidden-md-down">Own participants, speakers and sponsors databases.</li>
        <li class="list-check-item">Fundraising competence&nbsp;— provided you have an&nbsp;idea for&nbsp;an&nbsp;event but possess limited capital, we&nbsp;know how to&nbsp;attract additional resources.</li>
       </ul>

    </div>
  </section>

  <hr class="box2title hidden">

{# -----------------------------------------------------------------------------
    Todo
   -------------------------------------------------------------------------- #}
<h2></h2>

  <section class="section container">
    <h2 class="section-headline text-center next-is-text">
      A&nbsp;brief summary of&nbsp;our&nbsp;work<small class="hidden-md-down"><br>
      1000 steps to&nbsp;make a&nbsp;top class event</small>
    </h2>

    <div class="row">

      <div class="col-lg-6 pl-72">

        <h3 class="list-caption has-icon planning">
          Planning
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Research</li>
          <li class="list-to-do-item">Concept development</li>
          <li class="list-to-do-item">Agenda management</li>
          <li class="list-to-do-item">KPI and objectives</li>
          <li class="list-to-do-item">Job scheduling</li>
          <li class="list-to-do-item">Supplier search</li>
          <li class="list-to-do-item">Budgeting</li>
          <li class="list-to-do-item">Contracting</li>
          <li class="list-to-do-item">Project team</li>
        </ul>

        <h3 class="list-caption has-icon preparation">
          Preparations
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Venue search and arrangement</li>
          <li class="list-to-do-item">Design and branding</li>
          <li class="list-to-do-item">Souvenirs and printing</li>
          <li class="list-to-do-item">Invitation campaign</li>
          <li class="list-to-do-item">Business program</li>
          <li class="list-to-do-item">Speakers’ invitation</li>
          <li class="list-to-do-item">Expert consulting</li>
          <li class="list-to-do-item">Logistics</li>
          <li class="list-to-do-item">Search and staff training</li>
          <li class="list-to-do-item">Fundraising</li>
        </ul>

        <h3 class="list-caption has-icon promotion">
          Promotion
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Communication strategy</li>
          <li class="list-to-do-item">Presentation materials</li>
          <li class="list-to-do-item">Web site and mobile app</li>
          <li class="list-to-do-item">Promotion in&nbsp;social media (SMM)</li>
          <li class="list-to-do-item">Advertising</li>
          <li class="list-to-do-item">PR&nbsp;and GR</li>
          <li class="list-to-do-item">Work with media partners</li>
          <li class="list-to-do-item">Email marketing</li>
          <li class="list-to-do-item">Content marketing</li>
          <li class="list-to-do-item">Media screening and analytics</li>
        </ul>

      </div>{# / col (1): benefits #}

      <div class="col-lg-6 pl-72">

        <h3 class="list-caption has-icon event-management">
          Event management
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Participants’ registration</li>
          <li class="list-to-do-item">Venue construction</li>
          <li class="list-to-do-item">Media accreditation</li>
          <li class="list-to-do-item">Press center hosting</li>
          <li class="list-to-do-item">Transport and logistics</li>
          <li class="list-to-do-item">Visa support and accommodation</li>
          <li class="list-to-do-item">Catering</li>
          <li class="list-to-do-item">Photo and video</li>
          <li class="list-to-do-item">Livestreaming</li>
          <li class="list-to-do-item">Entertainment program</li>
          <li class="list-to-do-item">Safety and security</li>
          <li class="list-to-do-item">Technical support</li>
          <li class="list-to-do-item">Personnel administration</li>
        </ul>

        <h3 class="list-caption has-icon after-project">
          Results
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Highlighting in&nbsp;media </li>
          <li class="list-to-do-item">Feedback gathering</li>
          <li class="list-to-do-item">Traditional and social media screening</li>
          <li class="list-to-do-item">Reporting and documenting</li>
          <li class="list-to-do-item">Photo and video processing</li>
          <li class="list-to-do-item">Post materials</li>
          <li class="list-to-do-item">Gratitudes</li>
        </ul>

      </div>{# / col (2): benefits #}

    </div>{# / row: todo #}
  </section>


{# -----------------------------------------------------------------------------
    Case Studies
   -------------------------------------------------------------------------- #}

  <section class="section geography lighter full-width">
    <div class="container">

      <img class="section-img" src="/a/img/s-services/event-management/projects-map.png" alt="Geography of projects">

      <h2 class="section-headline">
        Examples of&nbsp;events we&nbsp;organized
      </h2>

      <div class="section-body col-lg-6 offset-lg-3 text-muted">
        <p>Polylog Agency is&nbsp;one of&nbsp;the largest operators of&nbsp;business events in&nbsp;Russia. We&nbsp;have work experience in&nbsp;more than 50&nbsp;regions of&nbsp;Russia, Europe, Asia, America. In&nbsp;total, we&nbsp;organized more than 150&nbsp;forums, conferences, roundtables and exhibitions.</p>
      </div>{# / section-body #}

{# ----------------------------------
    Carousel — Projects
   ---------------------------------- #}

      <div class="section-footer separated carousel slide js-manual" id="carousel-event" data-ride="carousel">

        {# Carousel viewport #}
        <div class="carousel-inner" role="listbox">

          {# Apec #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/en/news/2012/10-01.htm" title="APEC 2012 CEO Summit">
              <img src="/a/img/s-services/event-management/featured/apec.jpg" alt="APEC 2012 CEO Summit">
            </a>
            <figcaption>
              APEC 2012 CEO Summit
            </figcaption>
          </figure>{#  / Apec #}

          {# Unesco 2106 #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2012/07-24.htm" title="36 Session of the UNESCO World Heritage Committee">
              <img src="/a/img/s-services/event-management/featured/unesco.jpg" alt="36 Session of the UNESCO World Heritage Committee">
            </a>
            <figcaption>
              UNESCO World Heritage Committee
            </figcaption>
          </figure>{#  / unesco #}

          {# Eastern Economic Forum #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2015/10-15.htm" title="Eastern Economic Forum">
              <img src="/a/img/s-services/event-management/featured/eef.jpg" alt="Eastern Economic Forum">
            </a>
            <figcaption>
              Eastern Economic Forum
            </figcaption>
          </figure>{#  / eef #}

        </div>{# / viewport #}

        <ol class="carousel-indicators">
          <li data-target="#carousel-event" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-event" data-slide-to="1"></li>
          <li data-target="#carousel-event" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}
    </div>{# / container #}
  </section>

  <hr class="box2title">


{# -----------------------------------------------------------------------------
    Awards
   -------------------------------------------------------------------------- #}

  <section class="awards section container">
    <h2 class="section-headline secondary">
      Award winning quality
    </h2>

    <div class="awards row">

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/feps.png" alt="Prize of the &quote;Protocol Service&quote; Forum 2012">
        <figcaption class="text-muted">
          Protocol<br>
          Service<br>
          2012
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/gea.png" alt="Global Event Awards 2014">
        <figcaption class="text-muted">
          Global Event<br>
          Awards<br>
          2014
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/russian-sponsor-awards.png" alt="Russian Sponsorship Awards 2016">
        <figcaption class="text-muted">
          Russian Sponsorship Awards<br>
          2016
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/event-of-the-year.png" alt="Event of the Year">
        <figcaption class="text-muted">
          Event<br>
          of the Year<br>
          2014
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/rupor.png" alt="RuPoR Award 2015">
        <figcaption class="text-muted">
          RuPoR<br>
          Award<br>
          2015
        </figcaption>
      </figure>

    </div>{# / row: awards #}
  </section>

<!--




/ CUT IN BODY




-->

</main>{# / page-content #}

{% endblock %}{# / block content #}
