{# Event management #}

{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">

    @media (min-width: 768px) {
      .round-table {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-round-table.jpg');
      }
      .back {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-back.jpg');
      }
    }

    @media (min-width: 1016px) {
      .camera {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-camera.jpg');
      }

      .crowd {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-crowd.jpg');
      }
    }

    .section.benefits {
      background-color: #140b00;
      background-image: -webkit-linear-gradient(rgba(20, 11, 0, 0), #140b00), url("/a/img/s-services/event-management/benefits-event-management.jpg");
      background-image: linear-gradient(rgba(20, 11, 0, 0), #140b00), url("/a/img/s-services/event-management/benefits-event-management.jpg");
      background-position: center 648px, center top;
      background-repeat: no-repeat;
      background-size: 100% 120px, auto auto;
    }

    @media (min-width: 1016px) {
      .section.benefits {
        background-image: url('/a/img/s-services/event-management/benefits-event-management.jpg');
        background-position: center top;
        background-size: auto auto;
      }
    }

    .geography {
      text-align: center;
      margin-top: 6.2rem;
      padding-top: 7.2rem; }

    .geography .section-img {
      margin-bottom: 3.8rem;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-services page-events index has-dark-jumbotron separated-jumbotron">
{% endblock %}


{% block content %}

{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    {# Body #}
    <div class="jumbotron-body">

      <h1 class="jumbotron-headline ani-slide-down">
        Организация мероприятий
      </h1>

      <blockquote class="jumbotron-quote ani-slide-down">
        <span class="hlaquo-body">«</span>Ежегодно мы&nbsp;проводим около сотни пресс-конференций, форумов, съездов. Наш конёк&nbsp;— это крупные деловые мероприятия с&nbsp;тысячами участников, журналистов и&nbsp;волонтёров<span class="hidden-xs-down">. Технический менеджмент&nbsp;— тоже важная часть нашей работы, но&nbsp;и&nbsp;он&nbsp;всегда заточен под бизнес-задачи клиента</span>».
      </blockquote>

      {# <a class="jumbotron-btn video ani-slide-down js-mfp-video" href="https://www.youtube.com/watch?v=WV75H2oqSvI" role="button"> #}
      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/ru/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Пообщаемся?
      </a>
    </div>{# / jumbotron body #}

    {# Person #}
    <figure class="jumbotron-person event ani-fade-in">
      {# <a class="js-mfp-video" href="https://www.youtube.com/watch?v=WV75H2oqSvI" title="[Видео] Бизнес-директор рассказывает об услугах PR-агентства"> #}
        <img class="jumbotron-portrait" src="/a/img/people/alexander-molchanov.png" alt="Александр Молчанов, руководитель департамента мероприятий">
      {# </a>  #}
      <figcaption class="mb-1s">
        Александр Молчанов,<br>
        руководитель департамента мероприятий
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">

<!--




CUT IN BODY




-->

{# -----------------------------------------------------------------------------
    What is it
   -------------------------------------------------------------------------- #}

  <section class="section container">
    <div class="row">

      <div class="col-md-8 col-lg-6">
        <h2 class="section-headline pt-18 pt-md-0 pt-lg-2s">Организация мероприятий&nbsp;&mdash; <small>искусство собирать сложное вовремя</small></h2>
        <p class="list-caption">Мы&nbsp;организуем мероприятия любого формата и&nbsp;масштаба, но&nbsp;чаще всего это:</p>
        <ul class="list-ul text-muted">
          <li>форумы и&nbsp;конференции,</li>
          <li>выставочные проекты,</li>
          <li>фестивали и&nbsp;городские мероприятия,</li>
          <li>презентации, лончи, активации,</li>
          <li>модные показы,</li>
          <li>социальные проекты.</li>
        </ul>
        <p class="mb-md-0">Если вы&nbsp;не&nbsp;нашли здесь подходящего формата&nbsp;— не&nbsp;беда. Еще мы&nbsp;организуем промо-акции, съезды, приемы, концерты, вебинары, тренинги и&nbsp;семинары, дебаты, общественные слушания, брифинги, спартакиады и&nbsp;многое другое.</p>
      </div>

      <figure class="mosaic col-md-4 col-lg-6 mb-0 hidden-sm-down">
        <div class="row">

          <div class="col-md-12 col-lg-6">
            <div class="mosaic-pic round-table" role="presentation" title="Организация мероприятий"></div>
          </div>

          <div class="col-lg-6 hidden-md-down">
            <div class="mosaic-pic camera" role="presentation" title="Съезды, выставки, конференции"></div>
          </div>

          <div class="col-md-12 col-lg-6">
            <div class="mosaic-pic back mb-0" role="presentation" title="Event-менеджмент"></div>
          </div>

          <div class="col-lg-6 hidden-md-down">
            <div class="mosaic-pic crowd mb-0" role="presentation" title="Event-маркетинг"></div>
          </div>
        </div>

      </figure>
    </div>
  </section>{# / benefits #}

  <hr class="box2box hidden">


{# -----------------------------------------------------------------------------
    Benefits
   -------------------------------------------------------------------------- #}

  <section class="section benefits dark in-box full-width">
    <div class="container">

      <h2 class="section-headline text-center mb-md-1s">
        Event-маркетинг и&nbsp;event-менеджмент для вас<span class="hidden-xs-down">:<br>
        <small>вовлечение и&nbsp;двусторонняя связь с&nbsp;клиентами</small></span>
      </h2>

      <ul class="list-check two-lg columns">
        <li class="list-check-item hidden-md-down">Опытная команда&nbsp;— под каждый проект мы&nbsp;собираем проектную дирекцию из&nbsp;специалистов с&nbsp;наиболее подходящим опытом и&nbsp;компетенциями.</li>
        <li class="list-check-item">Опыт управления крупными проектами с&nbsp;участием лидеров государств, общим количеством зарегистрированных участников более 10&nbsp;000&nbsp;человек, более 1200 журналистов на&nbsp;площадке.</li>
        <li class="list-check-item">Взаимодействие с&nbsp;федеральными службами, обеспечивающими официальные и&nbsp;протокольные мероприятия с&nbsp;участием первых лиц государства (служба протокола и&nbsp;пресс-служба Администрации Президента РФ, Федеральная служба охраны, Министерство иностранных дел и&nbsp;т.п.).</li>
        <li class="list-check-item hidden-md-down">Опыт работы с&nbsp;государственными структурами по&nbsp;приглашению и&nbsp;подтверждению участия высокопоставленных участников.</li>
        <li class="list-check-item hidden-md-down">Отраслевая экспертиза&nbsp;— работаем со&nbsp;многими отраслями, имеем широкую базу отраслевых экспертов, на&nbsp;погружение в&nbsp;отрасль нам нужна 1&nbsp;неделя.</li>
        <li class="list-check-item">Event + PR&nbsp;— мы&nbsp;не&nbsp;только организуем мероприятия, но&nbsp;и&nbsp;делаем из&nbsp;них значимый информационный повод для медиа, регулярно работаем с&nbsp;ключевыми СМИ России, Европы, США и&nbsp;стран АТЭС.</li>
        <li class="list-check-item">Реестр поставщиков&nbsp;— регламентированный процесс регулярного поиска и&nbsp;оценки поставщиков, гарантия оптимально соотношения цены и&nbsp;качества.</li>
        <li class="list-check-item hidden-md-down">Собственные базы участников, спикеров, спонсоров.</li>
        <li class="list-check-item">Фандрайзинг&nbsp;— если у&nbsp;вас есть идея мероприятия, но&nbsp;не&nbsp;хватает бюджета, мы&nbsp;поможем.</li>
       </ul>

    </div>
  </section>

  <hr class="box2title hidden">

{# -----------------------------------------------------------------------------
    Todo
   -------------------------------------------------------------------------- #}

  <section class="section container">
    <h2 class="section-headline text-center next-is-text">
      Что мы&nbsp;делаем, вкратце<span class="hidden-md-down">. 1000&nbsp;дел на&nbsp;одно событие<br>
      <small>Мы&nbsp;справимся. Сотни&nbsp;раз&nbsp;уже всё&nbsp;это проходили</small></span>
    </h2>

    <div class="row">

      <div class="col-lg-6 pl-72">

        <h3 class="list-caption has-icon planning">
          Планирование
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Исследования</li>
          <li class="list-to-do-item">Концепция мероприятия</li>
          <li class="list-to-do-item">Тематика, повестка</li>
          <li class="list-to-do-item">Цели и&nbsp;KPI</li>
          <li class="list-to-do-item">Планирование работ</li>
          <li class="list-to-do-item">Поиск подрядчиков</li>
          <li class="list-to-do-item">Бюджетирование</li>
          <li class="list-to-do-item">Договорная работа</li>
          <li class="list-to-do-item">Проектная команда</li>
        </ul>

        <h3 class="list-caption has-icon preparation">
          Подготовка
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Дизайн и&nbsp;оформление</li>
          <li class="list-to-do-item">Бронирование площадки</li>
          <li class="list-to-do-item">Полиграфия и&nbsp;сувениры</li>
          <li class="list-to-do-item">Пригласительная кампания</li>
          <li class="list-to-do-item">Деловая программа</li>
          <li class="list-to-do-item">Приглашение спикеров</li>
          <li class="list-to-do-item">Экспертное сопровождение работ</li>
          <li class="list-to-do-item">Логистическая схема</li>
          <li class="list-to-do-item">Поиск и&nbsp;обучение персонала</li>
          <li class="list-to-do-item">Фандрайзинг</li>
        </ul>

        <h3 class="list-caption has-icon promotion">
          Продвижение
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Стратегия продвижения</li>
          <li class="list-to-do-item">Презентационные материалы</li>
          <li class="list-to-do-item">Сайт и&nbsp;мобильное приложение</li>
          <li class="list-to-do-item">Страницы в&nbsp;социальных сетях</li>
          <li class="list-to-do-item">Реклама</li>
          <li class="list-to-do-item">PR&nbsp;и&nbsp;GR</li>
          <li class="list-to-do-item">Инфопартнерство</li>
          <li class="list-to-do-item">E-mail маркетинг</li>
          <li class="list-to-do-item">Контент-маркетинг</li>
          <li class="list-to-do-item">Мониторинг и&nbsp;аналитика</li>
        </ul>

      </div>{# / col (1): benefits #}

      <div class="col-lg-6 pl-72">

        <h3 class="list-caption has-icon event-management">
          Event-менеджмент
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Регистрация участников</li>
          <li class="list-to-do-item">Застройка площадки</li>
          <li class="list-to-do-item">Аккредитация СМИ</li>
          <li class="list-to-do-item">Хостинг пресс-центра</li>
          <li class="list-to-do-item">Логистика и&nbsp;транспорт</li>
          <li class="list-to-do-item">Визы, гостиницы, билеты</li>
          <li class="list-to-do-item">Кейтеринг</li>
          <li class="list-to-do-item">Фото- и&nbsp;видеосъемка</li>
          <li class="list-to-do-item">Прямые трансляции</li>
          <li class="list-to-do-item">Развлекательная программа</li>
          <li class="list-to-do-item">Охрана и&nbsp;безопасность</li>
          <li class="list-to-do-item">Техническое сопровождение</li>
          <li class="list-to-do-item">Администрирование персонала</li>
        </ul>

        <h3 class="list-caption has-icon after-project">
          Итоги
        </h3>
        <ul class="list-to-do">
          <li class="list-to-do-item">Освещение в&nbsp;СМИ и&nbsp;соцсетях</li>
          <li class="list-to-do-item">Сбор обратной связи</li>
          <li class="list-to-do-item">Мониторинг СМИ и&nbsp;соцсетей</li>
          <li class="list-to-do-item">Подготовка отчетной документации</li>
          <li class="list-to-do-item">Обработка и&nbsp;публикация фото и&nbsp;видео</li>
          <li class="list-to-do-item">Сбор материалов и&nbsp;докладов, перевод и&nbsp;издание сборников</li>
          <li class="list-to-do-item">Благодарности</li>
        </ul>

      </div>{# / col (2): benefits #}

    </div>{# / row: todo #}
  </section>


{# -----------------------------------------------------------------------------
    Case Studies
   -------------------------------------------------------------------------- #}

  <section class="section geography lighter full-width">
    <div class="container">

      <img class="section-img" src="/a/img/s-services/event-management/projects-map.png" alt="География проектов">

      <h2 class="section-headline">
        Примеры проектов в&nbsp;области event-менеджмента
      </h2>

      <div class="section-body col-lg-6 offset-lg-3 text-muted">
        <p>Агентство &laquo;Полилог&raquo; является одним из&nbsp;крупнейших операторов деловых мероприятий в&nbsp;России. Нам без разницы, где делать мероприятие, есть опыт работы более чем в&nbsp;50&nbsp;регионах России, Европе, Азии, Америке. В&nbsp;общей сложности мы&nbsp;организовали более 150&nbsp;форумов, конференций, круглых столов и&nbsp;выставок.</p>
      </div>{# / section-body #}

{# ----------------------------------
    Carousel — Projects
   ---------------------------------- #}

      <div class="section-footer separated carousel slide js-manual" id="carousel-event" data-ride="carousel">

        {# Carousel viewport #}
        <div class="carousel-inner" role="listbox">

          {# Apec #}
          <figure class="carousel-item active">

            <a class="section-carousel-link" href="/ru/news/2012/10-01.htm" title="Деловой саммит АТЭС во Владивостоке">
              <img src="/a/img/s-services/event-management/featured/apec.jpg" alt="Деловой саммит АТЭС во Владивостоке">
            </a>

            <figcaption>
              Деловой саммит АТЭС
            </figcaption>
          </figure>{#  / Apec #}

          {# Unesco 2106 #}
          <figure class="carousel-item">

            <a class="section-carousel-link" href="/ru/news/2012/07-17.htm" title="36-я сессия Комитета Всемирного наследия ЮНЕСКО">
              <img src="/a/img/s-services/event-management/featured/unesco.jpg" alt="36-я сессия Комитета Всемирного наследия ЮНЕСКО">
            </a>

            <figcaption>
              ЮНЕСКО: 36-я сессия Комитета Всемирного наследия
            </figcaption>
          </figure>{#  / unesco #}

          {# Okroshka #}
          <figure class="carousel-item">

            <a class="section-carousel-link" href="/ru/news/2016/12-03.htm" title="Фестиваль окрошки">
              <img src="/a/img/s-services/event-management/featured/okroshka.jpg" alt="Фестиваль окрошки">
            </a>

            <figcaption>
              Фестиваль окрошки
            </figcaption>
          </figure>{#  / okroshka #}

        </div>{# / viewport #}

        <ol class="carousel-indicators">
          <li data-target="#carousel-event" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-event" data-slide-to="1"></li>
          <li data-target="#carousel-event" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}
    </div>{# / container #}
  </section>

  <hr class="box2title">


{# -----------------------------------------------------------------------------
    Awards
   -------------------------------------------------------------------------- #}

  <section class="awards section container">
    <h2 class="section-headline secondary">
      И всегда приятно, когда клиенты довольны<br>
      <small>Некоторые награды и&nbsp;благодарственные письма</small>
    </h2>

    <div class="awards row">

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/feps.png" alt="Премия Форума «Служба Протокола» 2012">
        <figcaption class="text-muted">
          Служба<br>
          Протокола<br>
          2012
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/gea.png" alt="Global Event Awards 2014">
        <figcaption class="text-muted">
          Global Event<br>
          Awards<br>
          2014
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/russian-sponsor-awards.png" alt="Премия Форума «Служба Протокола» 2012">
        <figcaption class="text-muted">
          Russian Sponsorship Awards<br>
          2016
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/event-of-the-year.png" alt="Премия Форума «Служба Протокола» 2012">
        <figcaption class="text-muted">
          Событие<br>
          года<br>
          2014
        </figcaption>
      </figure>

      <figure class="award">
        <img class="awards-img" src="/a/img/s-services/event-management/awards/rupor.png" alt="Премия «RuPoR» 2015">
        <figcaption class="text-muted">
          Премия<br>
          RuPoR<br>
          2015
        </figcaption>
      </figure>

    </div>{# / row: awards #}


{# ----------------------------------
    Appreciation Letters
   ---------------------------------- #}

    <div class="appreciation-letters single row">

      <figure class="appreciation-letter">
        <a class="appreciation-letter-link js-mfp" href="/a/img/testimonials/apec.jpg" title="АТЭС">
          <img class="appreciation-letter-img" src="/a/img/testimonials/apec-sm.jpg" alt="АТЭС">
        </a>
      </figure>

      <figure class="appreciation-letter">
        <a class="appreciation-letter-link js-mfp" href="/a/img/testimonials/unesco.jpg" title="ЮНЕСКО">
          <img class="appreciation-letter-img" src="/a/img/testimonials/unesco-sm.jpg" alt="ЮНЕСКО">
        </a>
      </figure>

      <figure class="appreciation-letter">
        <a class="appreciation-letter-link js-mfp" href="/a/img/testimonials/komi.jpg" title="Республика Коми">
          <img class="appreciation-letter-img" src="/a/img/testimonials/komi-sm.jpg" alt="Республика Коми">
        </a>
      </figure>

      <figure class="appreciation-letter">
        <a class="appreciation-letter-link js-mfp" href="/a/img/testimonials/yaroslavl-modern-state.jpg" title="Международная конференция «Современное государство и глобальная безопасность»">
          <img class="appreciation-letter-img" src="/a/img/testimonials/yaroslavl-modern-state-sm.jpg" alt="Международная конференция «Современное государство и глобальная безопасность»">
        </a>
      </figure>

    </div>

  </section>

<!--




/ CUT IN BODY




-->

</main>{# / page-content #}

{% endblock %}{# / block content #}
