// -----------------------------------------------------------------------------
// Preload Animated Objects
// -----------------------------------------------------------------------------
// Add preload-animated-objects snippet in head
// The technique violates the choreography
// .js-loading *,
// .js-loading *:before,
// .js-loading *:after {
//   animation-play-state: paused !important;
// }
// -----------------------------------------------------------------------------
// Slide Down
// -----------------------------------------------------------------------------
.ani-slide-down {
  animation: slide-down .6s cubic-bezier(0, .9, .3, 1.2) forwards; // 1
  opacity: 0;
  transform: translateY(-2.4rem);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-2.4rem);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

// -----------------------------------------------------------------------------
// Fade In
// -----------------------------------------------------------------------------
.ani-fade-in {
  animation: fade-in .6s ease-in forwards;
  opacity: 0;
}

@mixin ani-fade-in($duration: .8s, $easing: ease-in) {
  animation: fade-in $duration $easing forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// -----------------------------------------------------------------------------
// Background zoom
// -----------------------------------------------------------------------------
// Unfortunately, background-size is not animated yet
// .ani-bg-zoom-out {
//   background-size: 150% 150%;
//   animation: bg-zoom-out .6s ease-in forwards;
// }
// @keyframes bg-zoom-out {
//     0% { background-size: 150% 150%; }
//   100% { background-size: 100% 100%; }
// }
// -----------------------------------------------------------------------------
// Slide from left w/ bounce
// -----------------------------------------------------------------------------
.ani-slide-2right {
  animation: slide-2right .8s ease-in forwards;
  transform: translateX(-120px);
}

@keyframes slide-2right-fade-in {
  0% {
    transform: translateX(-265px);
  }
  60% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-16px);
  }
  90% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}

@mixin ani-slide-from-left($animation-name: 'slide-from-left', $duration: .4s, $easing: ease-in, $start-position: -265px) {
  animation: slide-from-left $duration $easing forwards;
  transform: translateX($start-position);
}

@mixin keyframes-slide-from-left($animation-name: 'slide-from-left', $start-position: -265px, $first-bounce: -16px, $second-bounce: -8px) {
  @keyframes #{$animation-name} {
    0% {
      transform: translateX($start-position);
    }
    60% {
      transform: translateX(0);
    }
    75% {
      transform: translateX($first-bounce);
    }
    90% {
      transform: translateX($second-bounce);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@mixin keyframes-slide-from-bottom($animation-name: 'slide-from-bottom', $start-position: 6.4rem, $bounce: .6rem) {
  @keyframes #{$animation-name} {
    0% {
      transform: translateY($start-position);
    }
    60% {
      transform: translateY(0);
    }
    75% {
      transform: translateY($bounce);
    }
    100% {
      transform: translateY(0);
    }
  }
}
