// -----------------------------------------------------------------------------
// Big Numbers Ordered List
// -----------------------------------------------------------------------------

.list-big-numbers {
  counter-reset: item;
  padding: 0;

  > li {
    display: block;
    margin-bottom: $spacer-y;
    padding-left: 4rem;
    position: relative;

    &::before {
      color: $color-text-secondary;
      font-family: $font-light-and-medium;
      font-size: 3.2rem;
      line-height: 3.6rem;
      font-weight: 400;
      content: counter(item) '. ';
      counter-increment: item;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
