// -----------------------------------------------------------------------------
// Icon list
// -----------------------------------------------------------------------------

.list-icon {
  @extend .list-unstyled;
}

// 1) sprite, 16x16

.list-icon-item {
  position: relative;
  padding-left: 3.2rem;

  &::after {
    @extend %icon, %icon-xs; // 1)

    content: '';
    display: block;
    position: absolute;
    top: .4rem;
    left: 0;
  }
}

// Address - Pin
.list-icon-item.address::after {
  @extend %icon-address;
}

// Phone - Phone
.list-icon-item.phone-xs::after {
  @extend %icon-phone-in-form;
}

// Email - Email
.list-icon-item.email::after {
  @extend %icon-email;

  top: .5rem;
}
