// -----------------------------------------------------------------------------
// MAIN NAVBAR
// -----------------------------------------------------------------------------

.navbar {
  border-radius: 0;
  padding: 0;
  position: absolute;
  top: 56px;
  left: 0;
  transition: all .2s ease-out;
  width: 100%;
  height: 40px;
  z-index: $zindex-navbar;

  @include media-breakpoint-up(md) {
    background: $color-background-alt-row;
    box-shadow: inset -1px 0 0 rgb(211, 214, 218);
    padding: 14.5rem 0 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: map-get($navbar-width, 'md');
    height: auto;
  }

  @include media-breakpoint-up(xl) {
    text-align: left;
    padding: 119px 24px 0;
    width: map-get($navbar-width, 'lg');
  }
}


// -----------------------------------------------------------------------------
// MAIN MENU
// -----------------------------------------------------------------------------

// nav.navbar
//   ul.navbar-nav.nav ✓
//     li.navbar-item.dropdownv ✓
//       a.navbar-dropdown-toggle
//       ul.dropdown-menu.dropdown-menu-rightv ✓
//         li.dropdown-item ✓
//           a.dropdown-link
//     li.navbar-cta.btn

// Bootstrap defaults
// .nav {
//   padding-left: 0;
//   margin-bottom: 0;
//   list-style: none; }

// .dropup, .dropdown { position: relative; }

// .dropdown-menu-right {
//     right: 0;
//     left: auto; }

// .dropdown-menu {
//     background-clip: padding-box;
//     background-color: $color-background-secondary; // Drawer, modal
//     border-radius: 3px;
//     border: 1px solid $color-border; // HR, borders
//     color: $color-text-secondary; // body text
//     display: none;
//     float: left;
//     font-size: 1.6rem;
//     text-align: left;
//     list-style: none;
//     margin: 0.125rem 0 0;
//     padding: 0.5rem 0;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     min-width: 10rem;
//     z-index: 1000; }


// .dropdown-item {
//   background: none;
//   border: 0;
//   clear: both;
//   color: $color-text-secondary; // body text
//   display: block;
//   font-weight: normal;
//   padding: 3px 1.5rem;
//   text-align: inherit;
//   white-space: nowrap;
//   width: 100%; }

// .navbar-nav {
//   display: flex;
//   flex-direction: column;
//   list-style: none;
//   margin-bottom: 0;
//   padding-left: 0;
// }

.navbar-nav {
  align-items: center;
  border-bottom: 1px solid $color-border;
  flex-direction: row;
  padding: 0 16px;
  height: 40px;

  @include media-breakpoint-up(md) {
    border: 0;
    display: block;
    padding: 0;
    height: auto;
  }

  @include media-breakpoint-up(xl) {
    border-top: 1px solid $color-border;
    padding-top: 4.2rem;
  }
}

// -------------------------------------
// On dark background
// -------------------------------------

// .has-dark-jumbotron is a body class adding via custom field

.has-dark-jumbotron .navbar-nav {
  @include media-breakpoint-down(md) {
    border-bottom-color: rgba(255, 255, 255, .24);
  }
}

%menu-item {
  white-space: normal;
  margin-bottom: 1px;
  padding: 0;
}

// -----------------------------------------------------------------------------

// MENU ITEMS (LI)

.navbar-item {
  @extend %menu-item;
}

.navbar-item {
  flex: 1 1 auto;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    text-transform: none;
  }
}


// Hide items on portrait mobiles

.navbar-item.hidden-xs-down,
.navbar-cta {
  display: none;

  @include media-breakpoint-up(sm) {
    display: list-item;
  }
}


// -----------------------------------------------------------------------------

// LINKS

.navbar-dropdown-toggle {

  font-size: $font-size-xs;
  display: block;
  padding: .4rem 0 0;

  @include media-breakpoint-up(md) {
    color: $color-text-secondary;
    text-shadow: 0 1px 0 #fff;
    display: block;
    position: relative;
    margin-right: 1px;
    padding: 13px 2px 0;
    height: 59px;

    &:hover,
    &:focus {
      background: $color-background-secondary;
      color: darken($color-text-secondary, ($tone * 3));
    }
  }

  // Item without split button
  @include media-breakpoint-up(xl) {
    margin-right: 0;
    border-radius: $border-radius;
    font-size: 100%;
    padding: 12px 16px 11px 44px;
    height: 47px;
  }
}

// Item w/ split button
.navbar-dropdown-toggle.dropdown {
  @include media-breakpoint-up(xl) {
    border-radius: $border-radius 0 0 $border-radius;
    width: 136px;
  }
}

.navbar-item:hover .navbar-dropdown-toggle {
  @include media-breakpoint-up(xl) {
    background: $color-background-secondary;
  }
}

.has-dark-jumbotron .navbar-dropdown-toggle {
  @include media-breakpoint-down(sm) {
    color: rgba(255, 255, 255, .92);
  }
}


// The 1st level links icons

.navbar-dropdown-toggle .icon {

  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    color: $color-text-secondary;
    margin: 0 auto 2px;
    width: 18px;
    height: 19px;
  }

  @include media-breakpoint-up(xl) {
    position: absolute;
    top: 1.4rem;
    left: 14px;
  }
}

.navbar-dropdown-toggle:hover .icon {
  animation: swing .6s both;
}

// Icons animation

@keyframes swing {
  20% { transform: rotate3d(0, 0, 1, 15deg); }
  40% { transform: rotate3d(0, 0, 1, -10deg); }
  60% { transform: rotate3d(0, 0, 1, 5deg); }
  80% { transform: rotate3d(0, 0, 1, -5deg); }
  100% { transform: rotate3d(0, 0, 1, 0deg); }
}

// SPLIT DROPDOWN TOGGLES

.navbar-dropdown-toggle-split {
  display: none;
}



.navbar-item:hover .navbar-dropdown-toggle-split {
  @include media-breakpoint-up(xl) {
    background-color: $color-background-secondary;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%2201-a%22%20x1%3D%2250%25%22%20x2%3D%2250%25%22%20y1%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23B5B8BC%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23A1A4A8%22%2F%3E%3C%2FlinearGradient%3E%3Cpolygon%20id%3D%2201-b%22%20points%3D%228.332%204%207%205.41%2011.327%2010%207%2014.59%208.332%2016%2014%2010%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22url(%2301-a)%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%2301-b%22%2F%3E%3C%2Fsvg%3E');
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: inset 1px 0 0 rgb(220, 223, 227);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition-property: background-color;
    transition-timing-function: ease;
    width: 32px;
    height: 47px;

    &:hover,
    &:focus {
      background-color: darken($color-background-secondary, 3%);
    }
  }
}

// -----------------------------------------------------------------------------

// CURRENT SECTION EMPHASIS

.section-services .navbar-dropdown-toggle.services,
.section-projects .navbar-dropdown-toggle.projects,
.section-industries .navbar-dropdown-toggle.projects,
.section-upcoming-events .navbar-dropdown-toggle.projects,
.section-clients .navbar-dropdown-toggle.projects,
.section-company .navbar-dropdown-toggle.company,
.section-press .navbar-dropdown-toggle.company,
.section-careers .navbar-dropdown-toggle.careers,
.section-blog .navbar-dropdown-toggle.blog,
.section-pr-help .navbar-dropdown-toggle.blog,
.section-help .navbar-dropdown-toggle.blog {
  @include media-breakpoint-down(sm) {
    font-weight: bold;
  }

  @include media-breakpoint-up(md) {
    color: rgb(61, 64, 68);
  } // md
}

// -----------------------------------------------------------------------------

// CTA

// Container

.navbar-cta {

  @include media-breakpoint-up(md) {
    position: absolute;

    @media (max-height: 585px) {
      display: none;
    } // height < 586px

    @media (min-height: 586px) and (max-height: 671px) {
      display: block;
      bottom: -1px;
    } // height: 586px-671

    @media (min-height: 672px) {
      top: 565px;
      bottom: auto;

      @media print,
        (min-resolution: 1.25dppx),
        (min-resolution: 120dpi) {
        top: 561px; // Align button to jumbotron bottom edge
      }
    } // height > 671px
  } // mq:md

  @include media-breakpoint-up(xl) {

    width: (map-get($navbar-width, 'lg') - 48px);

    @media (max-height: 552px) {
      display: none;
    } // height < 553px

    @media (min-height: 553px) and (max-height: 671px) {
      display: block;
      bottom: 31px;
    } // height: 553-671px

    @media (min-height: 672px) {
      top: 534px;
      bottom: auto;
    } // height > 671px

    @media (min-height: 801px) {
      top: auto;
      bottom: 31px;
    } // height > 800px
  } // mq:xl

} // .navbar-cta



// Defaults
// h3 {
//   color: $color-text-secondary; // Body text
//   font-weight: bold;
//   line-height: 1.5; }

// small {
//   font-size: 80%;
//   font-weight: normal; }


// Title

.navbar-cta-headline {
  display: none;

  @include media-breakpoint-up(md) {
    color: $color-text-secondary;
    display: block;
    font-size: $font-size-xs;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 2rem;

    small {
      color: $color-text-secondary;
      display: none;
      font-size: 100%;
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: 100%;
    letter-spacing: -.02em;
    line-height: 1.5;
    margin-bottom: 1.2rem;

    small {
      display: block;
      text-transform: none;
    }
  }
}


// Button

.navbar-cta-btn {
  @extend %btn, %btn-primary, .hidden-sm-down, %btn-shadow;

  cursor: pointer;
  transform: translateY(0);

  // &:hover {
  //   // @extend %btn-shake;
  // }

  @include media-breakpoint-up(md) {
    border-radius: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .12);
    font-weight: bold;
    padding-top: 2.4rem;
    padding-bottom: 2.1rem;
    width: 100%;

    // Shadow
    &::after {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    border-radius: $border-radius;
    padding-top: 1.9rem;
    padding-bottom: 1.5rem;

    // Shadow
    &::after {
      display: inline-block;
    }
  }
}
