<nav class="navbar">
  <!--noindex-->
  <ul class="navbar-nav nav" role="menubar">

    {# SERVICES #}
    <li class="navbar-item dropdown" role="menuitem">

      <a class="navbar-dropdown-toggle services js-menu-link" id="dropdown-services" href="/ru/services" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon services" role="presentation"></span>
        <span class="hidden-md-up">PR-услуги</span>
        <span class="hidden-sm-down">Услуги</span>
      </a>

      <button class="btn navbar-dropdown-toggle-split" type="button" data-toggle="dropdown">
        <span class="sr-only">Выбрать раздел</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdown-services" aria-hidden="true" role="menu">

        <li class="dropdown-item index">
          <a class="dropdown-link" href="/ru/services">
            <b>Все услуги&nbsp;&mdash; обзор</b>
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/services/event-management">
            Организация мероприятий
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/services/public-relations">
            PR
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/services/analytics-creativity">
            Аналитика и&nbsp;креатив
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="http://it.polylog.ru" target="_blank" rel="noopener noreferrer">
            Цифровые IT-решения
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/services/fundraising">
            Фандрайзинг
          </a>
        </li>

      </ul>
    </li>{# / services #}

    {# PROJECTS #}
    <li class="navbar-item dropdown" role="menuitem">

      <a class="navbar-dropdown-toggle projects js-menu-link" id="dropdown-projects" href="/ru/projects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon projects" role="presentation"></span>
        Проекты
      </a>

      <button class="btn navbar-dropdown-toggle-split" type="button" data-toggle="dropdown">
        <span class="sr-only">Выбрать раздел</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdown-projects" aria-hidden="true" role="menu">

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/projects">
            Примеры работы
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/projects/industries">
            Отрасли
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="http://it.polylog.ru/polycode" target="_blank" rel="noopener noreferrer">
            POLYCODE
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/projects/testimonials">
            Отзывы
          </a>
        </li>

        {#
        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/upcoming-events">
            Готовим событие
          </a>
        </li>
         #}

      </ul>
    </li>{# / projects #}

    {# COMPANY #}
    <li class="navbar-item dropdown" role="menuitem">

      <a class="navbar-dropdown-toggle company js-menu-link" id="dropdown-company" href="/ru/company" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon company" role="presentation"></span>
        Компания
      </a>

      <button class="btn navbar-dropdown-toggle-split" type="button" data-toggle="dropdown">
        <span class="sr-only">Выбрать раздел</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdown-company" aria-hidden="true" role="menu">

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/company">
            Общие сведения
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/company/management">
            Команда
          </a>
        </li>

        {#
        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/company/pr-events-agency-ratings">
            Награды и&nbsp;рейтинги
          </a>
        </li>
        #}

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/company/iso">
            Система менеджмента качества
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/company/arj">
            Архив новостей
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/company/contacts">
            Контактная информация
          </a>
        </li>

      </ul>
    </li>{# / company #}

    {# CAREERS #}
    <li class="navbar-item dropdown hidden-xs-down" aria-haspopup="true" role="menuitem">

      <a class="navbar-dropdown-toggle careers js-menu-link" id="dropdown-careers" href="/ru/careers/jobs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon career" role="presentation"></span>
        Карьера
      </a>

      <button class="btn navbar-dropdown-toggle-split" type="button" data-toggle="dropdown">
        <span class="sr-only">Выбрать раздел</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdown-careers" aria-hidden="true" role="menu">

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/careers">
            Почему «Полилог»?
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/careers/jobs">
            Вакансии
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/careers/internship">
            Стажировка
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/careers/culture">
            Корпоративная культура
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/careers/talents">
            Конкурс талантов
          </a>
        </li>

      </ul>
    </li>{# / careers #}

    {# BLOG #}
    <li class="navbar-item dropdown hidden-xs-down">

      <a class="navbar-dropdown-toggle blog js-menu-link" id="dropdown-blog" href="/ru/pr-blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon blog" role="presentation"></span>
        Блог
      </a>

      <button class="btn navbar-dropdown-toggle-split" type="button" data-toggle="dropdown">
        <span class="sr-only">Выбрать раздел</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdown-blog" aria-hidden="true" role="menu">

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/pr-blog">
            Идеи и&nbsp;опыт
          </a>
        </li>

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/pr-blog/tutorials">
            Видеолекции
          </a>
        </li>

        {# <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/pr-blog/focus">
            Фокус
          </a>
        </li> #}

        <li class="dropdown-item">
          <a class="dropdown-link" href="/ru/pr-blog/help">
            Энциклопедия&nbsp;PR
          </a>
        </li>

      </ul>
    </li>{# / blog #}

    {# CTA #}
    <li class="navbar-cta">
      <h3 class="navbar-cta-headline">
        Нужен PR? Event? <small>Составить смету?</small>
      </h3>
      <button class="navbar-cta-btn js-open-modal" id="navbar-cta" data-href="/ru/company/contact-us" data-target="#modal" data-toggle="modal">
        Пишите
      </button>
    </li>{# / CTA #}

  </ul>
  <!--/noindex-->
</nav>
