{% extends "/pages/base/base.twig" %}

{% block body %}
<body class="page-front has-dark-jumbotron">
{% endblock %}

{% block content %}
<!--




CUT IN JUMBOTRON




-->
  <div class="jumbotron layered">
    <figure class="jumbotron-hero en">
      <figcaption class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <a class="jumbotron-body" href="/en/news/2016/09-17.htm">
            <h2 class="jumbotron-eyebrow ani-slide-down">Featured Project</h2>
            <h1 class="jumbotron-headline ani-slide-down">
              <b>Promotion of&nbsp;the&nbsp;collection Maria Way</b> for&nbsp;befree
            </h1>
            <p class="jumbotron-byline ani-slide-down">
              By <b>Alyona Vantorina</b>
            </p>
            <p class="jumbotron-summary ani-slide-down">
              May 2016&nbsp;— July 2016 Polylog Consulting Group promoted the capsule collection of&nbsp;T-shirts of&nbsp;the befree brand. The PR&nbsp;campaign had boost of&nbsp;sales as&nbsp;the main objective instead of&nbsp;the standard brand promotion. After we&nbsp;had defined the profile of&nbsp;the target group we&nbsp;engaged popular Russian video blogger Maria Way for the fashion collaboration.
            </p>
          </a>{# / jumbotron block #}
        </div>
      </figcaption>
    </figure>
  </div>
<!--




/ CUT IN JUMBOTRON




-->

{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

  <main class="container">

<!--




CUT IN BODY




-->
    {# USP & SERVICES #}
    <div class="row">

      {# USP #}
      <div class="col-lg-6">
        <div class="tile intro large group">
          <a class="tile-header" href="/en/services" title="На фото — генеральный директор компании, Олег Карпилов">
            <div class="tile-body">
              <h2 class="tile-headline">
                Do&nbsp;you want to&nbsp;be&nbsp;well-known and respected?
              </h2>
              <p class="tile-summary">
                Do&nbsp;you want to&nbsp;be&nbsp;spoken about and recommended? We&nbsp;are here at&nbsp;your disposal.
              </p>
            </div>
            <p class="tile-footer">
              All services
            </p>
            <img class="tile-img" src="/a/img/people/oleg-on-front.png" alt="Oleg Karpilov, Polylog PR agency CEO">
            <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
          </a>

          {# Clients #}
          <div class="slider has-4-slides">
            <ul class="slider-inner" role="listbox" aria-label="Clients">

              {# Unesco, Philips, Beeline #}
              <li class="slider-item">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo unesco" aria-label="UNESCO" title="UNESCO">UNESCO</span></li>
                  <li class="clients-item"><span class="clients-logo philips" aria-label="Philips" title="Philips">Philips</span></li>
                  <li class="clients-item"><span class="clients-logo beeline" aria-label="Beeline" title="Beeline">Beeline</span></li>
                </ul>
              </li>

              {# Mitsubishi, Microsoft, Logitech #}
              <li class="slider-item second">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo mitsubishi" aria-label="Mitsubishi" title="Mitsubishi Motors">Mitsubishi Motors</span></li>
                  <li class="clients-item"><span class="clients-logo microsoft" aria-label="Microsoft" title="Microsoft">Microsoft</span></li>
                  <li class="clients-item"><span class="clients-logo logitech" aria-label="Logitech" title="Logitech">Logitech</span></li>
                </ul>
              </li>

              {# Sandoz, Scania, Samsung #}
              <li class="slider-item third">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo sandoz" aria-label="Sandoz" title="Sandoz">Sandoz</span></li>
                  <li class="clients-item"><span class="clients-logo scania" aria-label="Scania" title="Scania">Scania</span></li>
                  <li class="clients-item"><span class="clients-logo samsung" aria-label="Samsung" title="Samsung">Samsung</span></li>
                </ul>
              </li>

              {# Barbie, APEC, Ochakovo #}
              <li class="slider-item fourth">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo barbie" aria-label="Barbie" title="Barbie">Barbie</span></li>
                  <li class="clients-item"><span class="clients-logo apec" aria-label="Asia-Pacific Economic Cooperation Forum CEO Summit" title="Asia-Pacific Economic Cooperation Forum CEO Summit">Asia-Pacific Economic Cooperation Forum CEO Summit</span></li>
                  <li class="clients-item"><span class="clients-logo ochakovo" aria-label="Ochakovo" title="Ochakovo">Ochakovo</span></li>
                </ul>
              </li>

            </ul>{# clients list #}

            <a class="link forward" href="/en/projects">All Clients</a>
          </div>{# / clients #}
        </div>{# / tile #}
      </div>{# / col: usp #}


      {# SERVICES #}
      <div class="col-lg-6 flex-lg-first">
        <div class="row">

         {# EVENT #}
          <div class="col-sm-6">
            <a class="tile event signage" href="/en/services/event-management">
              <div class="tile-body">
                <h2 class="tile-headline services">
                  <span class="icon event top"></span>
                  Event<br>
                  management
                </h2>
                <h3 class="tile-subhead">
                  Conferences, exhibitions<br>
                  and BTL&nbsp;events
                </h3>
                <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
              </div>{# / tile-body #}
            </a>{# / tile #}
          </div>{# / col: event #}

          {# PR #}
          <div class="col-sm-6">
            <a class="tile pr signage" href="/en/services/public-relations">
              <div class="tile-body">
                <h2 class="tile-headline services">
                  <span class="icon pr top"></span>
                  Public<br>
                  Relations (PR)
                </h2>
                <h3 class="tile-subhead">
                  Traditional<br>
                  and new media
                </h3>
                <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
              </div>{# / tile-body #}
            </a>{# / tile #}
          </div>{# / col: event #}

          {# FUNDRAISING #}
          <div class="col-sm-6">
            <a class="tile fundraising signage" href="/en/services/fundraising">
              <div class="tile-body">
                <h2 class="tile-headline services">
                  <span class="icon fundraising top"></span>
                  Fundraising
                </h2>
                <h3 class="tile-subhead">
                  Gathering money<br>
                  for&nbsp;large scale<br>
                  projects
                </h3>
                <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
              </div>{# / tile-body #}
            </a>{# / tile #}
          </div>{# / col: fundraising #}

          {# R&D #}
          <div class="col-sm-6">
            <a class="tile corporate-media signage" href="/en/services/e-governance-solutions">
              <div class="tile-body">
                <h2 class="tile-headline services">
                  <span class="icon rnd top"></span>
                  R&amp;D
                </h2>
                <h3 class="tile-subhead">
                  Research and advent of&nbsp;technology<br>
                  for&nbsp;state institutions
                </h3>
                <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
              </div>{# / tile-body #}
            </a>{# / tile #}
          </div>{# / col: event #}

        </div>{# / .row: services #}
      </div>{# / .col: services #}
    </div>{# / .row: usp + services #}

    {# FEATURED PROJECTS & BLOG #}
    <div class="row">

      {# FEATURED, CAROUSEL #}
      <div class="col-lg-6">
        <div class="carousel slide has-tile js-manual" id="projects" data-ride="carousel">
          <div class="tile large group like-link carousel-inner" role="listbox">

            {# Okroshka #}
            <a class="tile-slide carousel-item active" href="/en/news/2016/08-15.htm">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/ochakovo/2016-08-15-featured-zhirinovsky.jpg')" role="img" aria-label="The festival of okroshka"></div>
              <h2 class="tile-headline">
                <b>The festival of&nbsp;okroshka “Family secret”:</b><br>
                lessons of&nbsp;event-management and&nbsp;PR
              </h2>
              <p class="tile-summary">
                The first festival of&nbsp;a&nbsp;traditional Russian summer cold soup “Okroshka” was collaboratively organized…
              </p>
            </a>{# / okroshka #}

            {# Mari Way #}
            <a class="tile-slide carousel-item" href="/en/news/2016/09-17.htm">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/befree/2016-09-17-featured-maria-way.jpg')" role="img" aria-label="Maria Way, famous Russian blogger"></div>
              <h2 class="tile-headline">
                <b>Promotion of&nbsp;the T-shirt collection</b><br>
                with famous Russian blogger
              </h2>
              <p class="tile-summary">
                May 2016&nbsp;— July 2016 Polylog promoted the collection of&nbsp;T-shirts of&nbsp;the befree brand.
              </p>
            </a>{# / mari way #}

            {# Moscow Day #}
            <a class="tile-slide carousel-item" href="/en/news/2016/10-06.htm">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/moscow/2016-10-06-featured-girls.jpg')" role="img" aria-label="Moscow city day 2016"></div>
              <h2 class="tile-headline">
                <b>Moscow city day 2016:</b><br>
                publicity and media relations
              </h2>
              <p class="tile-summary">
                In&nbsp;2016 Moscow celebrated its 869th birthday. Polylog has significantly contributed to&nbsp;its success due…
              </p>
            </a>{# / moscow day #}
          </div>{# / Carousel viewport #}

          {# Prev / Next #}
          <a class="carousel-control left positive" href="#projects" data-slide="prev" role="button" aria-label="Back"></a>
          <a class="carousel-footer" href="/en/projects">All&nbsp;projects</a>
          <a class="carousel-control right positive" href="#projects" data-slide="next" role="button" aria-label="Forward"></a>
        </div>{# / carousel #}
      </div>{# / col: featured #}

      {# ABOUT #}
      <div class="col-lg-6">
        <div class="row">

          {# ABOUT US #}
          <div class="col-sm-6 col-lg-12">
            <a class="tile about-us poster wide" href="/en/company">
              <div class="tile-body">
                <h2 class="tile-headline">
                  About&nbsp;Us
                </h2>
                <h3 class="tile-subhead">
                  Being established in&nbsp;2000 Polylog specializes in&nbsp;integrated marketing communications.<span class="hidden-md-down"> We&nbsp;offer&nbsp;PR, event management and marketing services that aim to&nbsp;build a&nbsp;targeted image for&nbsp;the&nbsp;client and enhance the&nbsp;reputation&nbsp;— both professionally and effectively.</span>
                </h3>
              </div>
              <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
            </a>{# / tile #}
          </div>{# / col: tutorials #}

          {# CONTACTS #}
          <div class="col-sm-6 hidden-md-down">
            <a class="tile contacts poster" href="/en/company/contacts">
              <div class="tile-body">
                <h2 class="tile-headline">
                  Planning to&nbsp;visit?
                </h2>
                <h3 class="tile-subhead">
                  Our office is&nbsp;in&nbsp;the Moscow World Trade Center
                </h3>
              </div>
              <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
            </a>{# / tile #}
          </div>{# / col: focus #}

          {# TEAM #}
          <div class="col-sm-6">
            <a class="tile management poster" href="/en/company/management">
              <h2 class="tile-headline">
                Team
              </h2>
              <img class="tile-img" src="/a/img/people/max.png" alt="Maxim Suchkov, Business Director">
              <svg class="icon forward" role="presentation"><use xlink:href="#icon-forward" /></svg>
            </a>{# / tile #}
          </div>{# / col: management #}

        </div>{# / row #}
      </div>{# / col: blog+ #}
    </div>{# / row: featured + blog #}
<!--




/ CUT IN BODY




-->
  </main>{# / page-content #}

{% endblock %}{# / block content #}
