<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PR代理店「ポリログ」</title>
  <meta property="og:title" content="PR代理店「ポリログ」">
  <meta name="description" content="イベント管理とPR">
  <meta property="og:description" content="イベント管理とPR">
  <meta property="og:image" content="https://www.polylog.ru/a/img/logo/polylog-logo.svg">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://www.polylog.ru/ja">
  <link rel="canonical" href="https://www.polylog.ru/ja">
  {# <link rel="stylesheet" href="/sites/all/themes/polylog2017/src/css/cjk.css"> #}
  <link rel="stylesheet" href="/a/css/cjk.css">
  <style>
    body {
      font-family:
        'Helvetica Neue', Helvetica, Arial,
        'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , 'MS Gothic',
        sans-serif;
    }

    .hero__title {
      font-size: 4.6rem;
      line-height: 1.217;
      text-align: center;
      padding-top: 3.3rem;
      padding-bottom: .7rem;
    }

    @media only screen and (min-width: 568px) {
      .hero__title {
        padding-top: 5.6rem;
        padding-bottom: 1.3rem;
      }
    }

    .slider__caption {
      padding-top: 1.4rem;
    }
  </style>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P4R6SM7');</script>
</head>
<body>
<!-- Google Tag Manager + -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4R6SM7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!--




COPY TO CMS




-->

<header class="hero">
  <div class="container">
    <div class="header">
      <span class="logo">
        <svg role="img">
          <title>PR代理店「ポリログ」</title>
          <use xlink:href="/a/img/logo/polylog-logo-inverse.svg#logo"></use>
        </svg>
      </span>

      <div class="header__options">
        <a class="header__phone-number" href="tel:+7-495-258-2045" aria-label="お電話ください">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="/a/img/icon/icons-cjk.svg#icon-phone"></use>
          </svg>
          +7 (495) <b>258-20-45</b>
        </a>
        <div class="dropdown">
          <a class="header__locale-switcher" href="/en/home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="In English, Russian or Japanese">
            <svg class="icon is-flag" aria-hidden="true">
              <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-gb"></use>
            </svg>
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="/en/home">
              <svg class="icon is-flag" aria-hidden="true">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-gb"></use>
              </svg>
              English
            </a>
            <a class="dropdown-item" href="/">
              <svg class="icon is-flag" aria-hidden="true">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-ru"></use>
              </svg>
              Русский
            </a>
            <a class="dropdown-item" href="/zh/home">
              <svg class="icon is-flag" aria-hidden="true">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-zh"></use>
              </svg>
              中文
            </a>
            <a class="dropdown-item is-active" href="/ja/home">
              <svg class="icon is-flag" aria-hidden="true">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-ja"></use>
              </svg>
              日本語
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 is-hero-text">
        <!-- Interest and respect -->
        <h1 class="hero__title">
         「関心」と「敬意」を創造します
        </h1>
        <p class="lead">コンサルティング・グループ「ポリログ」は2000年に創業され、2018年度のロシア広告代理店ランキングで上位を占める会社です。</p>

        <div class="buttons">
          <a class="btn is-ghost is-top-cta" href="/a/pdf/polylog-2018-public-relations-event-marketing-ja.pptx" download hreflang="ja" rel="alternate" type="application/vnd.openxmlformats-officedocument.presentationml.presentation">
            プレゼンテーション<span class="d-none d-sm-inline">をダウンロードする</span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <figure class="slider has-3-slides">
          <div class="slider__inner" role="listbox" aria-label="プロジェクト">
            <img class="slider__item" src="/a/img/clients/eef/2016-09-10-front.jpg" role="option" alt="東方経済フォーラム">
            <img class="slider__item is-second" src="/a/img/clients/mitsubishi/2011-08-26-front.jpg" role="option" alt="Mitsubishi">
            <img class="slider__item is-third" src="/a/img/clients/isuzu/2017-05-02-front.jpg" role="option" alt="Isuzu">
          </div>

          <figcaption class="slider__caption">
            何百ものPRキャンペーンと大規模なイベント
          </figcaption>
        </figure>
      </div>
    </div>

  </div>

</header>

<main class="container">
  <div class="row is-main has-gutter-md">

    <!-- Services -->
    <div class="col-8 col-sm-3 is-services">
      <h2>主な事業</h2>
      <ul>
        <li>広報PR </li>
        <li>イベント企画・運営 </li>
        <li>政治コンサルティング</li>
        <li>分析・デジタルマーケティング</li>
        <li>ファンドレイジング</li>
      </ul>
    </div>

    <!-- Icons -->
    <div class="col-4 col-lg-2 has-icons">
      <svg class="icon is-large" aria-hidden="true">
        <use xlink:href="/a/img/icon/icons-cjk.svg#icon-handshake-xl"></use>
      </svg>
      <svg class="icon is-large" aria-hidden="true">
        <use xlink:href="/a/img/icon/icons-cjk.svg#icon-likes-xl"></use>
      </svg>
      <svg class="icon is-large" aria-hidden="true">
        <use xlink:href="/a/img/icon/icons-cjk.svg#icon-rating-xl"></use>
      </svg>
    </div>

    <!-- Benefits -->
    <div class="col-sm-9 col-lg-7">
     <h2>「ポリログ」が選ばれる理由</h2>
      <div class="row has-gutter-md">
        <div class="col-sm-6">
          <ul>
            <li>18年以上の実績</li>
            <li>80名以上の専属エキスパート</li>
            <li>手がけたプロジェクトは100を越える</li>
            <li>クライアントの90%が数年に渡り弊社を利用</li>
            <li>ISO 9001:2015品質マネジメントシステムの認証取得</li>
            <li>国内外の栄誉ある賞を50以上受賞</li>
            <li>弊社専属の旅行代理店「コーポレート・トラベル」</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <p>弊社は「楽視グループ」、「三菱」、「ISUZU」、「キヤノンメディカルシステムズ」などの企業との共同事業を行った実績があります。<br>
          さらに「ポリログ」は、ウラジオストクにおける第一回東方経済フォーラムや2012年ロシアAPECの開催・運営を担当しました。</p>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA -->
  <div class="section cta">
    <p>弊社の事業に関する詳細はプレゼンテーションでご覧いただけます。<br>
    お問い合わせフォーム：下記の項目をご入力ください。</p>
    <div class="buttons">
      <button class="btn is-highlight is-bottom-cta" data-href="/ja/company/contact-us" data-target="#modal" data-toggle="modal">
        お問い合わせ
      </button>
      <a class="btn is-ghost is-bottom-cta" href="/a/pdf/polylog-2018-public-relations-event-marketing-ja.pptx" download hreflang="ja" rel="alternate" type="application/vnd.openxmlformats-officedocument.presentationml.presentation">
        ダウンロード
      </a>
    </div>
  </div>
</main>

<footer class="footer" itemscope itemtype="http://schema.org/Organization">
  <address class="d-none d-md-block" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">12&nbsp;Krasnopresnenskaya Naberezhnaya (WTC), Office&nbsp;1108</span>, <span itemprop="postalCode">123610</span> <span itemprop="addressLocality">Moscow, Russia</span>.
  </address>
  <p class="footer__copyright">© <span itemprop="name">Polylog</span> | PR and events since 2000. </p>
</footer>


<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button class="modal-close" data-dismiss="modal" aria-label="Close" title="Close"></button>
    <div class="modal-content">
      <!-- <?php print render(node_view(node_load(3896), 'full', NULL)); ?> -->
      <div class="form-wrapper js-modal-content">
        <h2 class="form-headline">お問い合わせ</h2>
        <form class="webform-client-form webform-client-form-3896" action="/node/3896" method="post" id="webform-client-form-3896" accept-charset="UTF-8">
          <div>
            <div class="form-group has-icon user form-item webform-component webform-component-textfield webform-component--form-name">
              <label for="edit-submitted-form-name">お名前 <span class="form-required" title="Это поле необходимо заполнить.">*</span></label> <input required="required" placeholder="あなたの名前 *" class="form-control form-control required" type="text" id="edit-submitted-form-name" name="submitted[form_name]" value="" />
            </div>
            <div class="form-group has-icon email form-item webform-component webform-component-email webform-component--form-email">
              <label for="edit-submitted-form-email">Email <span class="form-required" title="Это поле необходимо заполнить.">*</span></label> <input required="required" class="email form-control form-text form-email required" placeholder="Email *" type="email" id="edit-submitted-form-email" name="submitted[form_email]" size="60" />
            </div>
            <div class="form-group has-icon message form-item webform-component webform-component-textarea webform-component--form-message">
              <label for="edit-submitted-form-message">メッセージ <span class="form-required" title="Это поле необходимо заполнить.">*</span></label>
              <div class="form-textarea-wrapper"><textarea required="required" placeholder="メッセージ *" class="form-control message form-textarea required" id="edit-submitted-form-message" name="submitted[form_message]" cols="40" rows="8">メッセージ</textarea></div>
            </div>
            <input type="hidden" name="details[sid]" /> <input type="hidden" name="details[page_num]" value="1" /> <input type="hidden" name="details[page_count]" value="1" /> <input type="hidden" name="details[finished]" value="0" /> <input type="hidden" name="form_build_id" value="form-LxfAjDwSPNTsBwdBLXG5OB4HV6Nxaiv_9GsC35Ty_XI" /> <input type="hidden" name="form_token" value="1tctLQEZxq5kEK-2QllTPV8AsOAbaculv8pDPe_9NYg" /> <input type="hidden" name="form_id" value="webform_client_form_3896" />
            <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="提出する" /></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--




/ COPY TO CMS




-->

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/a/js/vendor/jquery-1.12.4.min.js"><\/script>')</script>

<script src="/a/js/plugins.js"></script>
<script src="/a/js/main.js"></script>

{# Load Facebook SDK for JavaScript #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=630730836946347";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>



</body>
</html>
