<!DOCTYPE html>
<html lang="zh" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>"Polylog"公关机构</title>
  <meta property="og:title" content=""Polylog"公关机构">
  <meta name="description" content="活动管理和公关">
  <meta property="og:description" content="活动管理和公关">
  <meta property="og:image" content="https://www.polylog.ru/a/img/logo/polylog-logo.svg">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://www.polylog.ru/zh/home">
  <link rel="canonical" href="https://www.polylog.ru/zh/home">
  {# <link rel="stylesheet" href="/sites/all/themes/polylog2017/src/css/cjk.css"> #}
  <link rel="stylesheet" href="/a/css/cjk.css">
  <style>
    body {
      font-family:
        'Helvetica Neue', Helvetica, Arial,
        'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑', '宋体', SimSun, STXihei, '华文细黑',
        sans-serif;
    }

    .hero__title {
      font-size: 5rem;
      line-height: 1.28;
      text-align: justify;
      padding-top: 1.6rem;
      transform: translate3d(2.5rem, 0, 0);
    }

    @media only screen and (min-width: 568px) {
      .hero__title {
        font-size: 8rem;
        line-height: 1.2;
        padding-top: 2.4rem;
        padding-bottom: 1.3rem;
        transform: translate3d(4rem, 0, 0);
      }
    }

    .slider__caption {
      padding-top: 3.8rem;
    }
  </style>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P4R6SM7');</script>
</head>
<body>
<!-- Google Tag Manager + -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4R6SM7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!--




COPY TO CMS




-->

<header class="hero">
  <div class="container">
    <div class="header">
      <span class="logo">
        <svg role="img">
          <title>公关机构“Polylog”</title>
          <use xlink:href="/a/img/logo/polylog-logo-inverse.svg#logo"></use>
        </svg>
      </span>

      <div class="header__options">
        <a class="header__phone-number" href="tel:+7-495-258-2045" aria-label="请拨打电话">
          <svg class="icon" role="presentation">
            <use xlink:href="/a/img/icon/icons-cjk.svg#icon-phone"></use>
          </svg>
          +7 (495) <b>258-20-45</b>
        </a>
        <div class="dropdown">
          <a class="header__locale-switcher" href="/en/home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="In English, Russian or Japanese">
            <svg class="icon is-flag" role="presentation">
              <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-gb"></use>
            </svg>
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="/en/home">
              <svg class="icon is-flag" role="presentation">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-gb"></use>
              </svg>
              English
            </a>
            <a class="dropdown-item" href="/">
              <svg class="icon is-flag" role="presentation">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-ru"></use>
              </svg>
              Русский
            </a>
            <a class="dropdown-item is-active" href="/zh/home">
              <svg class="icon is-flag" role="presentation">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-zh"></use>
              </svg>
              中文
            </a>
            <a class="dropdown-item" href="/ja/home">
              <svg class="icon is-flag" role="presentation">
                <use xlink:href="/a/img/icon/icons-cjk.svg#icon-flag-ja"></use>
              </svg>
              日本語
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 is-hero-text">
        <!-- Interest and respect -->
        <h1 class="hero__title">
          創造價值，
          <span class="d-block">贏得尊重</span>
        </h1>
        <p class="lead">&ldquo;Polylog&rdquo;咨詢公司成立於2000年，是2018俄羅斯廣告公司排行榜上領先的通訊機構。 </p>

        <div class="buttons">
          <button class="btn is-highlight is-top-cta" data-href="/zh/company/contact-us" data-target="#modal" data-toggle="modal">
            联系我们
          </button>
          <a class="btn is-ghost is-top-cta" href="/a/pdf/polylog-2018-public-relations-event-marketing-zh.pptx" download hreflang="zh" rel="alternate" type="application/vnd.openxmlformats-officedocument.presentationml.presentation">
            下载演示文稿
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <figure class="slider has-3-slides">

          <div class="slider__inner" role="listbox" aria-label="项目">
            <img class="slider__item" src="/a/img/clients/leeco/2017-01-26-front.jpg" role="option" alt="LeEco">
            <img class="slider__item is-second" src="/a/img/clients/eef/2015-10-07-front.jpg" role="option" alt="东部经济论坛">
            <img class="slider__item is-third" src="/a/img/clients/presidential-administration/2018-04-02-front.jpg" role="option" alt="俄罗斯领导层参与的活动">
          </div>

          <figcaption class="slider__caption">
            数以百计的公关活动和大型活动
          </figcaption>
        </figure>
      </div>
    </div>

  </div>

</header>

<main class="container">
  <div class="row is-main">

    <!-- Services -->
    <div class="col-8 col-sm-3 is-services">
      <h2>主要業務</h2>
      <ul>
        <li>Public Relations </li>
        <li>Event-Management </li>
        <li>政治咨詢 </li>
        <li>分析與數字化營銷 </li>
        <li> Fundraising</li>
      </ul>
    </div>

    <!-- Icons -->
    <div class="col-4 col-lg-2 has-icons">
      <svg class="icon is-large" role="presentation">
        <use xlink:href="/a/img/icon/icons-cjk.svg#icon-handshake-xl"></use>
      </svg>
      <svg class="icon is-large" role="presentation">
        <use xlink:href="/a/img/icon/icons-cjk.svg#icon-likes-xl"></use>
      </svg>
      <svg class="icon is-large" role="presentation">
        <use xlink:href="/a/img/icon/icons-cjk.svg#icon-rating-xl"></use>
      </svg>
    </div>

    <!-- Benefits -->
    <div class="col-sm-9 col-lg-7">
      <h2>為什麼選擇Polylog？</h2>
      <div class="row">
        <div class="col-sm-6">
          <p class="list-caption">&ldquo;Polylog&rdquo;擁有：</p>
          <ul>
            <li>18餘年市場經驗 </li>
            <li>80余名在職專家 </li>
            <li>100多個完成項目</li>
            <li> 90%的客戶已與我們合作數年 </li>
            <li>經質量管理體系ISO 9001:2015認證 </li>
            <li>斬獲50多個國家和國際知名大獎 </li>
            <li>自有旅行社Corporate Travel</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <p>我們擁有與LeEco、Mitsubishi、Isuzu、Toshiba Medical等公司合作的經驗。 <br>
          此外，Polylog是2012年符拉迪沃斯托克第一屆東方經濟論壇和亞太經合組織峰會的組織方。 </p>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA -->
  <div class="section cta">
    <p>
      您可以下載PPT瞭解更多詳情。<br>
      如需與我們聯繫，請填寫下方表格。
    </p>
    <div class="buttons">
      <button class="btn is-highlight is-bottom-cta" data-href="/zh/company/contact-us" data-target="#modal" data-toggle="modal">
        联系我们
      </button>
      <a class="btn is-ghost is-bottom-cta" href="/a/pdf/polylog-2018-public-relations-event-marketing-zh.pptx" download hreflang="zh" rel="alternate" type="application/vnd.openxmlformats-officedocument.presentationml.presentation">
        下载
      </a>
    </div>
  </div>
</main>

<footer class="footer" itemscope itemtype="http://schema.org/Organization">
  <address class="d-none d-md-block" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">12&nbsp;Krasnopresnenskaya Naberezhnaya (WTC), Office&nbsp;1108</span>, <span itemprop="postalCode">123610</span> <span itemprop="addressLocality">Moscow, Russia</span>.
  </address>
  <p class="footer__copyright">© <span itemprop="name">Polylog</span> | PR and events since 2000. </p>
</footer>


<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button class="modal-close" data-dismiss="modal" aria-label="Close" title="Close"></button>
    <div class="modal-content">
      <!-- <?php print render(node_view(node_load(3895), 'full', NULL)); ?> -->
      <div class="form-wrapper js-modal-content">
        <h2 class="form-headline">联系我们</h2>
        <form class="webform-client-form webform-client-form-3895" action="/node/3895" method="post" id="webform-client-form-3895" accept-charset="UTF-8">
          <div>
            <div class="form-group has-icon user form-item webform-component webform-component-textfield webform-component--form-name">
              <label for="edit-submitted-form-name">您的名字 <span class="form-required" title="Это поле необходимо заполнить.">*</span></label>
              <input required="required" placeholder="您的名字 *" class="form-control form-control required" type="text" id="edit-submitted-form-name" name="submitted[form_name]" value="">
            </div>
            <div class="form-group has-icon email form-item webform-component webform-component-email webform-component--form-email">
              <label for="edit-submitted-form-email">Email <span class="form-required" title="Это поле необходимо заполнить.">*</span></label>
              <input required="required" class="email form-control form-text form-email required" placeholder="Email *" type="email" id="edit-submitted-form-email" name="submitted[form_email]" size="60">
            </div>
            <div class="form-group has-icon message form-item webform-component webform-component-textarea webform-component--form-message">
              <label for="edit-submitted-form-message">讯息 <span class="form-required" title="Это поле необходимо заполнить.">*</span></label>
              <div class="form-textarea-wrapper"><textarea required="required" placeholder="信息*" class="form-control message form-textarea required" id="edit-submitted-form-message" name="submitted[form_message]" cols="40" rows="8"></textarea></div>
            </div>
            <input type="hidden" name="details[sid]">
            <input type="hidden" name="details[page_num]" value="1">
            <input type="hidden" name="details[page_count]" value="1">
            <input type="hidden" name="details[finished]" value="0">
            <input type="hidden" name="form_build_id" value="form-fqbok5yidTB0eobthbeQdh_QONbY3oTfDUt1BKzrXDg">
            <input type="hidden" name="form_token" value="baWGFxwkqxjiJSd1Hud1-GxCMyBwL1UQXDygPQGB4Ec">
            <input type="hidden" name="form_id" value="webform_client_form_3895">
            <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="提交"></div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!--




/ COPY TO CMS




-->

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/a/js/vendor/jquery-1.12.4.min.js"><\/script>')</script>

<script src="/a/js/plugins.js"></script>
<script src="/a/js/main.js"></script>

{# Load Facebook SDK for JavaScript #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=630730836946347";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>



</body>
</html>
