// -----------------------------------------------------------------------------
//  Front page
// -----------------------------------------------------------------------------

.tile.eof {
  background: #003 url('/a/img/polylog-promo/2020-eof-online/front-tile-bg.png') no-repeat;
  @include media-breakpoint-up(sm) {
    display: flex;
  }
}

.tile.eof .tile-body {
  padding-top: 6.6rem;

  @include media-breakpoint-up(sm) {
    flex: 0 0 260px;
  }
}

.tile.eof .tile-summary {
  color: rgba(255, 255, 255, .54);
}

// Logo

.eof .tile-logo,
.eof .card-logo {
  position: absolute;
}

.eof .tile-logo {
  top: 2.4rem;
  left: 2.4rem;

  @include media-breakpoint-up(xl) {
    left: 3.2rem;
  } // xl
}

// Video background
.tile__video-bg {
  filter: brightness(50%);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

// -----------------------------------------------------------------------------
// INNER PAGE


.card-header.eof {
  background-color: hsl(201, 94%, 7%);
  background-image:
    linear-gradient(hsla(201, 94%, 7%, .5), hsla(201, 94%, 7%, .5)),
    url('/a/img/polylog-promo/2020-eof-online/eof.png');
  background-repeat: no-repeat;
}

.eof .card-logo {
  margin-left: -2.8rem;
  top: 9.6rem;
  left: 50%;
}

.card.featured-event .icon.forward {
  border: 0;
  display: inline-block;
  fill: $gray;
  opacity: .6;
  position: static;
  vertical-align: -.5rem;
  width: 2rem;
  height: 2rem;
}

