<div class="col-lg-6">
  <a class="tile eof poster wide" href="https://club.eoforum.ru/" target="_blank" rel="noopener noreferrer">

    <img class="tile-logo" src="/a/img/polylog-promo/2019-eof/logo.svg" alt="Логотип Евразийского ортопедического форума">

    <div class="tile-body">
      <h2 class="tile-headline mb-1">
        Онлайн-клуб ЕОФ
      </h2>
      <div class="tile-summary">
        <p>Евразийский ортопедичский форум&nbsp;— сообщество профессионалов</p>
      </div>
    </div>

    <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>

    <video class="tile__video-bg" autoplay muted loop playsinline>
      <source src="/a/video/projects/2020/eof-online.mp4" type="video/mp4">
    </video>

  </a>{# / tile #}
</div>
