<a class="card featured-event has-header-like-tile" href="http://eoforum.ru/" target="_blank" rel="noopener noreferrer">
  <figure class="card-header eof">
    <img class="card-logo" src="/a/img/polylog-promo/2017-eof/logo.svg" alt="Логотип Первого Евразийского ортопедического форума">
  </figure>
  <div class="card-body solid">
    <h3 class="card-headline">Онлайн-клуб ЕОФ</h3>
    <div class="card-summary">
      Евразийский ортопедичский форум&nbsp;— сообщество профессионалов
      <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
    </div>
  </div>
</a>
