// 1) Remove the gray background color from active links in IE 10.
// 2) Improve readability when focused and also mouse hovered in all browsers.
// 3) Autoprefixer doesn’t support tap-highlight-color and touch-callout

a {
  background: rgba(0, 0, 0, 0); // 1
  transition: color .2s, background-color .2s;

  &:hover,
  &:active {
    outline: 0;
  } // 2

  &:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } // 3

  // stylelint-disable selector-no-qualifying-type
  &[href^='#'],
  &[href^='javascript:'] {
    -webkit-touch-callout: none;
  } // 3
} // stylelint-enable selector-no-qualifying-type

// Negative
.link.negative {
  color: rgb(204, 204, 255);
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
  }
}


// Phone links

.link.phone-number {

  white-space: nowrap;

  i {
    color: lighten($link-color, 20%);
    font-style: normal;
  }

  @include media-breakpoint-up(md) {
    color: $body-color;
    cursor: default;

    &:hover {
      color: $body-color;
      text-decoration: none;
    }

    i {
      color: lighten($body-color, 20%);
    }
  }
} /// link.phone-number


// -------------------------------------
// Link Forward
// -------------------------------------

// No underlined links w/ chevrones

.link.forward {
  @extend %chevron-forward;

  background-position: 100% .4rem;
  white-space: nowrap;
  padding-right: 16px;
}


// -------------------------------------
// Admin Action Links
// -------------------------------------

.action-links {
  display: none;
}


// -----------------------------------------------------------------------------
// Has icons
// -----------------------------------------------------------------------------

.link.has-icon {
  display: inline-block;
  position: relative;
  padding-left: 2.4rem;

  &::after {
    @extend %icon, %icon-xs;

    content: '';
    display: block;
    position: absolute;
    top: .4rem;
    left: 0;
  }
}

// Phone - Phone
.link.has-icon.phone-number::after {
  @extend %icon-phone-in-form;
}

// Email - Email
.link.has-icon.email::after {
  @extend %icon-email;

  top: .5rem;
}

.has-icon + .link.has-icon {
  margin-left: 1.2rem;
}


// -----------------------------------------------------------------------------
// Modification
// -----------------------------------------------------------------------------

.link.media-wrapper {
  display: block;
}

.link.video:not(.media-wrapper) {
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%227.5%22%20stroke%3D%22%23FFF%22%2F%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2212%208%206%2012%206%204%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 0 50%;
  color: rgba(255, 255, 255, .7);
  padding-left: 24px;
  transition: color 1.6s ease;

  &:visited {
    color: rgba(255, 255, 255, .7);
  }

  &:hover, {
    color: #fff;
  }
}
