// Disable primary button

.page-id-18 .navbar > .btn-primary,
.page-id-18 .header > .btn-primary {
  display: none;
}


// -----------------------------------------------------------------------------
// Customization WordPress Contact Form 7
// -----------------------------------------------------------------------------

// Box

.wpcf7-form {
  padding: 10px 0 87px;
  padding: 1rem 0 8.7rem;
}

// Banner graphics

.banner-form-contact .img-banner > img {
  @include media-breakpoint-up(md) {
    right: -44px;
  }
}


// Options: R&D, Design, Development etc

.form-options {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

// Submit button and opt-in

.form-submit {
  text-align: center;

  .btn, label {
    margin: 0 auto;
  }
}

.form-opt-in {
  padding: 26px 0 37px;
}


// -----------------------------------------------------------------------------
// Hide / show optional fields
// -----------------------------------------------------------------------------

.optional {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}


// -----------------------------------------------------------------------------
// Validation
// -----------------------------------------------------------------------------



// -------------------------------------
// Ajax spinner
// -------------------------------------

// <fieldset class="form-submit">
// …
// <input type="submit" …><img class="ajax-loader"…>
// </fieldset>

.ajax-loader {
  animation: spin 1.5s infinite linear;
  margin: 0 auto;
  position: relative;
  top: -77px;
  z-index: 1;

  @include media-breakpoint-up(md) {
    top: -29px;
    right: -168px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


