<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Обратная связь — PR-агентство «Полилог»</title>
  <meta name="robots" content="noindex">

  <link rel="apple-touch-icon" href="/a/img/touch/apple-touch-icon.png">
  <link rel="stylesheet" href="/a/css/main.css">
</head>
<body class="page-form">

{# -----------------------------------------------------------------------------
    ARTICLE
   -------------------------------------------------------------------------- #}

<div class="form-wrapper js-modal-content">

  {% include "/components/form/contact/form.twig" %}

</div>{# / article.d-flex.for-form #}

</body>
</html>
