.form-wrapper.js-modal-content
  h2.form-headline Обратная связь
  p.form-subhead Напишите нам или оставьте номер — свяжемся

  form#webform-client-form-3598.webform-client-form.webform-client-form-3598(enctype='multipart/form-data', action='/ru/company/contacts', method='post', accept-charset='UTF-8')
    div
      .form-group.has-icon.user.form-item.webform-component.webform-component-textfield.webform-component--form-name
        label(for='edit-submitted-form-name') Ваше имя <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        input#edit-submitted-form-name.form-control.form-control.required(required='required', placeholder='Ваше имя *', type='text', name='submitted[form_name]', value='')

      .form-group.has-icon.email.form-item.webform-component.webform-component-email.webform-component--form-email
        label(for='edit-submitted-form-email') Email <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        input#edit-submitted-form-email.email.form-control.form-text.form-email.required(required='required', placeholder='Email *', type='email', name='submitted[form_email]', size='60')

      .form-group.has-icon.phone.form-item.webform-component.webform-component-phone.webform-component--form-phone
        label(for='edit-submitted-form-phone') Номер телефона
        input#edit-submitted-form-phone.form-control.form-control(placeholder='Номер телефона', type='text', name='submitted[form_phone]', value='')

      .form-group.select.has-icon.services.form-item.webform-component.webform-component-select.webform-component--form-services
        label(for='edit-submitted-form-services') Выберите услугу <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        select#edit-submitted-form-services.form-control.form-select.required(required='required', name='submitted[form_services]')
          option(value='', selected='selected') Выберите услугу *
          option(value='event') Организация мероприятий
          option(value='pr') PR-поддержка, PR-кампания
          option(value='analytics') Аналитика медиапространства и творческие решения
          option(value='rnd') Исследования и IT-решения в госсекторе
          option(value='fundraising') Фандрайзинг

      fieldset.webform-component-fieldset.hidden.webform-component--fieldset-fundraising.form-wrapper
        legend <span class="fieldset-legend">С этого момента поподробнее</span>
        .fieldset-wrapper
          .fieldset-description Для оформления заявки на сбор средств нам понадобится дополнительная информация.

          .form-group.has-icon.company.form-item.webform-component.webform-component-textfield.webform-component--fieldset-fundraising--form-company
            label(for='edit-submitted-fieldset-fundraising-form-company') Компания / организация
            input#edit-submitted-fieldset-fundraising-form-company.form-control.form-control.optional-required(placeholder='Ваша компания / организация *', type='text', name='submitted[fieldset_fundraising][form_company]', value='')

          .form-group.has-icon.position.form-item.webform-component.webform-component-textfield.webform-component--fieldset-fundraising--form-position
            label(for='edit-submitted-fieldset-fundraising-form-position') Должность
            input#edit-submitted-fieldset-fundraising-form-position.form-control.form-control.optional-required(placeholder='Ваша должность *', type='text', name='submitted[fieldset_fundraising][form_position]', value='')

          .form-group.has-icon.project-group.form-item.webform-component.webform-component-textarea.webform-component--fieldset-fundraising--form-project-group
            label(for='edit-submitted-fieldset-fundraising-form-project-group') Проектная группа
            .form-textarea-wrapper
              textarea#edit-submitted-fieldset-fundraising-form-project-group.form-control.form-textarea(placeholder='Проектная группа: количество человек и функционал', name='submitted[fieldset_fundraising][form_project_group]', cols='40', rows='4')

          .form-group.has-icon.money.form-item.webform-component.webform-component-textfield.webform-component--fieldset-fundraising--form-money
            label(for='edit-submitted-fieldset-fundraising-form-money') Сумма
            input#edit-submitted-fieldset-fundraising-form-money.form-control.form-control.optional-required(placeholder='Какую сумму планируете привлечь? *', type='text', name='submitted[fieldset_fundraising][form_money]', value='')

          .form-group.has-icon.terms.form-item.webform-component.webform-component-textfield.webform-component--fieldset-fundraising--form-terms
            label(for='edit-submitted-fieldset-fundraising-form-terms') Сроки
            input#edit-submitted-fieldset-fundraising-form-terms.form-control.form-control.optional-required(placeholder='Сроки реализации проекта *', type='text', name='submitted[fieldset_fundraising][form_terms]', value='')

        //- File Uploader
        #edit-submitted-fieldset-fundraising-form-presentation-ajax-wrapper
          .form-group.form-item.webform-component.webform-component-file.webform-component--fieldset-fundraising--form-presentation
            label(for='edit-submitted-fieldset-fundraising-form-presentation-upload') Презентационные материалы проекта и спонсорские пакеты (если есть)
            .description Максимальный размер файла: <strong>25 МБ</strong>.<br>
              | Допустимые типы файлов: <strong>gif jpg jpeg png pdf doc docx ppt pptx xls xlsx avi mov zip</strong>.
            .form-control-file.form-managed-file
              input#edit-submitted-fieldset-fundraising-form-presentation-upload.form-file(type='file', name='files[submitted_fieldset_fundraising_form_presentation]', size='22')
              input#edit-submitted-fieldset-fundraising-form-presentation-upload-button.form-submit(type='submit', name='submitted_fieldset_fundraising_form_presentation_upload_button', value='Закачать')

      .form-group.has-icon.message.form-item.webform-component.webform-component-textarea.webform-component--form-message
        label(for='edit-submitted-form-message') Расскажите немного о своем проекте, и что вы ждете от нас? <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        .form-textarea-wrapper
          textarea#edit-submitted-form-message.form-control.message.form-textarea.required(required='required', placeholder='Расскажите немного о своем проекте, и что вы ждете от нас? *', name='submitted[form_message]', cols='40', rows='8')

      .form-item.webform-component.webform-component-mailchimp.webform-component--form-mailchimp--mailchimp-signup
        input#edit-submitted-form-mailchimp-mailchimp-signup.form-checkbox(type='checkbox', name='submitted[form_mailchimp][mailchimp_signup]', value='1', checked='checked')
        label.option(for='edit-submitted-form-mailchimp-mailchimp-signup') Подписаться на блог о PR и event-менеджменте

      .form-actions
        input.button-primary.form-submit.webform-submit(type='submit', name='op', value='Отправить')

      .form-item.webform-component.webform-component-markup.webform-component--form-disclaimer
        p.form-disclaimer Нажимая на кнопку, вы даете<br>
          a(href='/ru/company/privacy-policy#consent', target='_blank') согласие на обработку своих персональных данных
