<div class="form-wrapper js-modal-content">
  <h1 class="form-headline">Обратная связь</h1>
  <p class="form-subhead">
    Напишите&nbsp;нам или&nbsp;оставьте номер&nbsp;— свяжемся </p>
  <form class="webform-client-form webform-client-form-3598" action="/ru/company/contacts" method="post" id="webform-client-form-3598" accept-charset="UTF-8">
    <div>
      <div class="form-group has-icon user form-item webform-component webform-component-textfield webform-component--form-name">
        <label for="edit-submitted-form-name">Ваше имя
          <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        </label>
        <input required="required" placeholder="Ваше имя *" class="form-control form-text required" type="text" id="edit-submitted-form-name" name="submitted[form_name]" value="" size="60" maxlength="128">
      </div>
      <div class="form-group has-icon email form-item webform-component webform-component-email webform-component--form-email">
        <label for="edit-submitted-form-email">Email
          <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        </label>
        <input required="required" class="email form-control form-text form-email required" placeholder="Email *" type="email" id="edit-submitted-form-email" name="submitted[form_email]" size="60">
      </div>
      <div class="form-group has-icon phone form-item webform-component webform-component-phone webform-component--form-phone">
        <label for="edit-submitted-form-phone">Номер телефона </label>
        <input placeholder="Номер телефона" class="form-control form-text" type="text" id="edit-submitted-form-phone" name="submitted[form_phone]" value="" size="17" maxlength="15">
      </div>
      <div class="form-group select has-icon services form-item webform-component webform-component-select webform-component--form-services">
        <label for="edit-submitted-form-services">Выберите услугу </label>
        <select class="form-control form-select" id="edit-submitted-form-services" name="submitted[form_services]">
          <option value="" selected="selected">Выберите услугу</option>
          <option value="event">Организация мероприятий</option>
          <option value="pr">PR-поддержка, PR-кампания</option>
          <option value="analytics">Аналитика медиапространства и&nbsp;творческие решения</option>
          <option value="rnd">Исследования и&nbsp;IT-решения в&nbsp;госсекторе</option>
          <option value="fundraising">Фандрайзинг</option>
        </select>
      </div>
      <div class="form-group has-icon message form-item webform-component webform-component-textarea webform-component--form-message">
        <label for="edit-submitted-form-message">Сообщение
          <span class="form-required" title="Это поле необходимо заполнить.">*</span>
        </label>
        <div class="form-textarea-wrapper">
          <textarea required="required" placeholder="Сообщение *" class="form-control message form-textarea required" id="edit-submitted-form-message" name="submitted[form_message]" cols="40" rows="8"></textarea>
        </div>
      </div>
      <input type="hidden" name="details[sid]">
      <input type="hidden" name="details[page_num]" value="1">
      <input type="hidden" name="details[page_count]" value="1">
      <input type="hidden" name="details[finished]" value="0">
      <input type="hidden" name="form_build_id" value="form-FBDpnYPLW9nJPeA5BWVBkXUmc3QrBFyXSpwfwmpGcBc">
      <input type="hidden" name="form_token" value="-C78OZ0KevtKU5ZuPrTW1JEuxs-YV01ySNtxCO7Ow6A">
      <input type="hidden" name="form_id" value="webform_client_form_3598">
      <div class="form-item webform-component webform-component-mailchimp webform-component--form-mailchimp--mailchimp-signup">
        <input type="checkbox" id="edit-submitted-form-mailchimp-mailchimp-signup" name="submitted[form_mailchimp][mailchimp_signup]" value="1" checked="checked" class="form-checkbox">  <label class="option" for="edit-submitted-form-mailchimp-mailchimp-signup">Подписаться на&nbsp;блог о&nbsp;PR и&nbsp;event-менеджменте </label>
      </div>
      <div class="form-actions">
        <input class="webform-submit button-primary form-submit" type="submit" name="op" value="Отправить">
      </div>
    </div>
  </form>
</div>
