// stylelint-disable selector-max-id

// As the design becomes more complex, these styles should be divided into
// files.
// - Checkbox
// - Form Group
// - Radio Button
// - Select Menu
// - Text Area
// - Text Field

// -----------------------------------------------------------------------------
// CONTAINERS
// -----------------------------------------------------------------------------
/* #region */

// .form-wrapper .form.contact {
//   @include media-breakpoint-up(md) {
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
// }

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* #endregion */

// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------
/* #region */

.form-headline {
  color: $headings-color;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
  padding-top: 2.1rem;
}

.form-subhead {
  color: $color-text-secondary;
  text-align: center;
  margin-bottom: 2.9rem;
  padding-top: .5rem;
}

/* #endregion */

// -----------------------------------------------------------------------------
// FORM GROUP: Label + Input + Vaidation Messages
// -----------------------------------------------------------------------------
/* #region */

.form-group {
  position: relative;
  margin-bottom: .8rem;
  padding-left: 32px;
  // padding-left: 40px;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.6rem;
  }
}

.form-group .row {
  margin: 0 -4px;

  > [class*='col-'] {
    padding-right: 4px;
    padding-left: 4px;
  }
}

/* #endregion */

// -----------------------------------------------------------------------------
// LABELS AND LEGENDS
// -----------------------------------------------------------------------------
/* #region */

label,
.form-label {
  display: block;
  color: $color-text-secondary;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
}

.web {
  display: inline-block;
}

legend {
  border: 0;
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 15px 0 11px;
  padding: 1.5rem 0 1.1rem;
  white-space: normal;
  width: 100%;
}

.of-checkboxes {
  padding-bottom: 13px;
  padding-bottom: 1.3rem;
}

// Labels as icons

.form-group .icon,
.form-group.has-icon label,
.webform-component-file label::before {
  @extend %text-hide;
  position: absolute;
  top: 1.6rem;
  // left: 12px;
  left: 0;
  z-index: 1;

  // @include media-breakpoint-up(md) {
  //   left: 0;
  // }
}

.form-group.has-icon label {
  @extend %icon, %icon-xs;
  display: block;
}

.form-group.user label {
  @extend %icon-user;
}

.form-group.email label {
  @extend %icon-email;
}

.form-group.phone label {
  @extend %icon-phone-in-form;
}

.form-group.services label {
  @extend %icon-choice;
}

.form-group.message label {
  @extend %icon-feather;
}

.form-group.company label {
  @extend %icon-company-xs;
}

.form-group.position label {
  @extend %icon-position;
}

.form-group.project-group label {
  @extend %icon-group;
}

.form-group.money label {
  @extend %icon-money;
}

.form-group.terms label {
  @extend %icon-calendar-xs;
}

.webform-component-file label::before {
  @extend %icon-upload;
}

// Subscription checkbox

.element-invisible {
  display: none;
}

.form-type-checkbox {
  margin-top: -1.3rem;
  padding-left: 3.2rem;

  label {
    display: inline-block;
  }
}

// Phone icon using SVG injection

.icon.phone.in-form {
  background-image: none;
  fill: rgb(155, 158, 162);
}

/* #endregion */

// -----------------------------------------------------------------------------
// INPUT AND TEXTAREA
// -----------------------------------------------------------------------------
/* #region */

.form-control {
  appearance: none;
  line-height: 1.5;
  margin-bottom: .8rem;
  padding: 1.1rem 12px 1.1rem 19px;

  .has-feedback & { padding-right: 40px; }
  // .has-icon & { padding-left: 32px; }

  &:disabled::placeholder {
    opacity: .4;
  }
}

.form-control.message {
  margin-bottom: 3rem;
  min-height: 237px;
}

/* #endregion */

// -----------------------------------------------------------------------------
// CHECKBOX
// -----------------------------------------------------------------------------
/* #region */

// MailChimp Opt-in

.webform-component-mailchimp {
  display: flex;

  @include media-breakpoint-up(sm) {
    justify-content: center;
  }

  // Checkbox
  .form-checkbox {
    margin: .4rem 1.2rem 0 1.6rem;
    position: relative;

    @include media-breakpoint-up(sm) {
      margin-right: .8rem;
    } // mq

    @include media-breakpoint-up(md) {
      margin-top: .4rem;
    } // mq
  }

  // Label
  .option {
    color: $color-text-secondary;
    display: inline-block;
    position: relative;
    margin-top: -.2rem;


    @include media-breakpoint-up(sm) {
      text-align: center;
    } // mq

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-bottom: 1.2rem;
    } // mq
  } // label
}

.form-check-label {
  color: $color-text-secondary;
  padding-left: 52px;

  &.opt-in {
    margin-top: -.1rem;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      text-align: center;
    } // mq

    @include media-breakpoint-up(lg) {
      margin-top: -1.3rem;
    } // mq
  } // -opt-in
} // form-check-label


// stylelint-disable selector-no-qualifying-type

input[type='checkbox'],
.form-check-input:only-child {
  margin-right: 1px;
  position: relative;
}

.form-check-input:only-child {
  top: -.3rem;
}

.form-type-checkbox .form-checkbox {
  @include media-breakpoint-up(xl) {
    top: -.2rem;
  }
}

/* #endregion */

// -----------------------------------------------------------------------------
// SELECT
// -----------------------------------------------------------------------------
/* #region */

// Ensure that add .form-control to select and .select to it parent
select {
  appearance: none;
  outline: 0;
  cursor: pointer;
  position: relative;
  max-width: 100%;
}

// Complex selectors are used to override Bootstrap's complex selector
// select.form-control:not([size]):not([multiple])
.form-group.select,
.form-group-compact.select {
  select.form-control {
    color: $color-text-secondary;
    height: 48px;
    padding-right: 40px;

    &:focus {
      color: $color-text-primary;
    }
  }
}

/* #endregion */

// -----------------------------------------------------------------------------
// FUNDRAISING FIELDSET AND FILE UPLOADER
// -----------------------------------------------------------------------------
/* #region */

// .webform-component-fieldset {
//   overflow: hidden;
//   transition: height 1s ease-in;
//   height: auto;

//   > * {
//     opacity: 1;
//     transition: opacity $transition-xl;
//   }
// }

// .webform-component-fieldset.hidden {
//   height: 0;

//   > * {
//     opacity: 1;
//   }
// }

// .webform-component--fieldset-fundraising {
//   height: 67.3rem;
// }

// .modal-content .webform-component-fieldset.webform-component--fieldset-fundraising.form-wrapper {
//   display: none;
// }


// FILE UPLOADER

// Drupal Markup
// .webform-component-file
//   label Выбери файл… =>
//   .form-control-file.form-managed-file
//      input.form-file[type="file"]
//      input.form-submit[type="submit"] Закачать
//   .description Максимальный размер файла…

.webform-component-file {
  padding-top: .3rem;
}

.webform-component-file label {
  margin-bottom: 0;
  position: relative;

  &::before {
    @extend %icon;
    content: '';
    display: block;
    top: .3rem;
    left: -32px;
    width: 16px;
    height: 16px;
  }
}

// Hide default input and submit button
// .webform-component--fieldset-fundraising--form-presentation .form-managed-file {
//   display: none;
// }

// Hide submit button in upload file fieldset
.webform-component--fieldset-fundraising--form-presentation .form-submit {
  display: none;
}

.webform-component-file .form-file {
  color: $color-text-tertiary;
  padding-top: .7rem;
  padding-bottom: .9rem;
  max-width: 100%;
}

.webform-component-file .description {
  color: $color-text-tertiary;

  br:not(:first-child) {
    content: ' ';

    &::after { content: '\00a0'; }
  }

  strong {
    font-weight: 400;
  }
}

/* #endregion */

// -----------------------------------------------------------------------------
// FEEDBACK
// -----------------------------------------------------------------------------
/* #region */

// Don't change names of validation classes. They are added by jQuery scripts.
// We do not want to change it twice. Right?
// .form-group.has-{success, warning, danger}
//    label.form-control-label
//      .form-control.form-control-{success, warning, danger}
// The exception is .form-control-feedback

.form-feedback {
  @extend .form-control-feedback;
}

/* #endregion */

// -----------------------------------------------------------------------------
// Captcha
// -----------------------------------------------------------------------------
/* #region */

.captcha {
  text-align: center;
  margin-left: -16px;
  margin-right: -16px;

  @include media-breakpoint-up(sm) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  @include media-breakpoint-up(md) {
    padding-left: 32px;
  }
}

#user-login .captcha {
  text-align: left;
  padding-bottom: 1.4rem;
  padding-left: 0;
}

.edit-captcha-response {
  display: inline-block;
}

.g-recaptcha {
  display: inline-block;
}

// .g-recaptcha > div {
//   margin: 1.9rem auto 0;
// }

// .form-captcha-refresh {
//   @include size(100%, 48px);

//   background: darken($color-border, ($tone / 2));
//   padding: 6px 0 0;

//   span {
//     color: $color-text-secondary;
//     text-shadow: 0 1px 0 rgba(255,255,255,.4);

//     &:hover { color: darken($color-text-secondary, $tone); }
//   }
// }

// .form-captcha-img {
//   height: 100%;
//   max-width: 100%;
// }

/* #endregion */

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
/* #region */

.form-submit,
.webform-submit {
  @include btn();

  border-radius: $border-radius;
}

.form-submit.primary,
.webform-submit.button-primary {
  @extend %btn-primary !optional;
  @extend %btn-shadow;

  display: block;
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin-left: 32px; // 1
    width: 50%;
    width: calc(100% - 32px);
  }
}

// Align to left borders of inputs
.section-blog .webform-submit.button-primary {
  margin-left: 0;
  width: 100%;
}

.form-submit.primary {
  margin-top: 3.6rem;
}

.webform-submit.button-primary {
  margin-top: 0;
}

.captcha + .form-actions > .webform-submit.button-primary {
  margin-top: 3rem;
}

/* #endregion */

// -----------------------------------------------------------------------------
// Disclaimer
// -----------------------------------------------------------------------------
/* #region */

.form-disclaimer {
  color: $color-text-secondary;
  text-align: center;
  padding-top: 1.2rem;
  hyphens: none;

  @include media-breakpoint-up(sm) {
    padding-left: 40px;
  } // sm


  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-y;
    padding-left: 32px;
  }
}

.form-disclaimer.tooltip {
  text-align: left;
  opacity: 0;
  position: absolute;
  top: -100%;
  right: 4px;
  transition: .2s all;
  transform: translateY(0);
}

body:not(.page-form) .form-disclaimer.open {
  background: $color-background-alt-row;
  border-radius: $border-radius;
  box-shadow: 0 16px 32px -12px rgba(0, 0, 0, .32), 0 1px 2px -1px rgba(0, 0, 0, .1);
  opacity: 1;
  position: absolute;
  padding: 2.3rem;
  transform: translateY(-.5rem);

  &::after {
    content: '';
    display: block;
    border-color: transparent;
    border-style: solid;
    border-top-color: $color-background-alt-row;
    border-width: 5px 5px 0;
    position: absolute;
    right: 11px;
    bottom: -5px;
    width: 0;
    height: 0;
  }
}


// Bootstrap tooltip defaults
// .tooltip {
//   display: block;
//   font-family: "Helvetica Neue",Helvetica,-apple-system,BlinkMacSystemFont,Arial,Roboto,sans-serif;
//   font-size: 1.2rem;
//   font-style: normal;
//   font-weight: 400;
//   letter-spacing: normal;
//   line-break: auto;
//   line-height: 1.5;
//   text-align: left;
//   text-align: start;
//   text-decoration: none;
//   text-shadow: none;
//   text-transform: none;
//   white-space: normal;
//   word-break: normal;
//   word-spacing: normal;
//   word-wrap: break-word;
//   opacity: 0;
//   position: absolute;
//   z-index: 1070;
// }

/* #endregion */
