table {
  border-spacing: 0;
  empty-cells: show;
  margin-bottom: ($spacer-y * 2);
  table-layout: auto;
}

// Stripped
.table-striped {
  thead th {
    background: rgb(234, 237, 241);
    text-shadow: 0 1px 0 #fff;
  }

  tbody tr:nth-of-type(odd) {
    background-color: $color-background-alt-row;
  }
}

// -------------------------------------
// Caption
// -------------------------------------

// Default
// caption {
//   caption-side: bottom;
//   color: #6d7074;
//   padding-bottom: 0.75rem;
//   padding-top: 0.75rem;
//   text-align: left;
// }


caption {
  caption-side: top;
  padding: 0 1.2rem 1.2rem;
}


// -------------------------------------
// Cells
// -------------------------------------


.table thead th {
  border-bottom: 0;
}

th[scope="row"] {
  font-weight: normal;
}

th,
td,
.table th,
.table td {
  border-top: 1px solid $color-border;
  padding: 1.1rem 1.2rem 1.2rem;
  vertical-align: top;
}

.table-bordered th {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}


// Numbers
.cell-num {
  text-align: right;
}

.table-responsive {

  // border-right: 1px dashed $color-border;

  td,
  th {
    min-width: 192px;
  }

  .cell-num,
  .cell-num {
    min-width: 0;
  } // md

  @include media-breakpoint-up(lg) {
    display: table;
  } // lg

}



// -------------------------------------
// Out-of-bounds
// -------------------------------------

.out-of-bounds {
  margin-bottom: 4.8rem;

  @include media-breakpoint-up(lg) {
    margin-right: -181px;
    margin-left: -181px;
    min-width: 860px;
  }
}

.section-blog .out-of-bounds {

  @include media-breakpoint-up(lg) {
    margin-right: -112px;
    margin-left: -112px;
  }
}

