// -----------------------------------------------------------------------------
// Clients
// -----------------------------------------------------------------------------

.tile.intro .slider {
  position: absolute;
  top: 367px;
  left: 0;
  width: 100%;
}
