// noindex
//if lt IE 9
  .alert.browser-requirements(role="alert")
    p <span class="icon warning" aria-label="Warning"></span>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank" rel="nofollow">upgrade your browser</a> to improve your experience.

noscript
  .alert.browser-requirements(role="alert")
    p <span class="icon warning" aria-label="Warning"></span>JavaScript is currently disabled. The site requires JavaScript to function correctly. Please <a href="http://enable-javascript.com/" target="_blank" rel="nofollow">enable Javascript in your browser</a>.
// /noindex
