// Services
.section-services.index .jumbotron {
  background-image:
    url('/a/img/s-services/index/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}

// Services: Event
.section-services.page-events .jumbotron {
  background-image:
    url('/a/img/s-services/event-management/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}

// Services: PR
.section-services.page-pr .jumbotron {
  background-image:
    url('/a/img/s-services/pr/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}

// Services: R&D
.section-services.page-rnd .jumbotron {
  background-image:
    url('/a/img/s-services/rnd/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}

// Services: Fundraising
.section-services.page-fundraising .jumbotron {
  background-image:
    url('/a/img/s-services/fundraising/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}

// Services: Analytics
.section-services.page-analytics-creativity .jumbotron {
  background-image:
    url('/a/img/s-services/analytics-creativity/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}

// Careers
.section-careers.index .jumbotron {
  background-image:
    url('/a/img/s-careers/index/jumbotron.jpg'),
    linear-gradient(rgb(51, 54, 58), rgb(51, 54, 58)),
    url('/a/img/jumbotron/bg-jumbotron.svg');
}
