{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .view-tl {
      background-image: url('/a/img/s-careers/culture/view-tl.jpg');
      background-position: right top;
    }
    .view-tr {
      background-image: url('/a/img/s-careers/culture/view-tr.jpg');
      background-position: left top;
    }
    .view-bl {
      background-image: url('/a/img/s-careers/culture/view-bl.jpg');
      background-position: right top;
    }
    .view-br {
      background-image: url('/a/img/s-careers/culture/view-br.jpg');
      background-position: left top;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-careers has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Корпоративная культура</h1>
      <span class="page-header-icon" aria-hidden="true"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-careers/culture/header.jpg" alt="Корпоративная культура PR-агентства">
    </figure>

    <div class="row gutters-sm pt-66 pb-2">

      <div class="col-lg-6 pr-lg-24">
        <p class="lead">Мы&nbsp;— команда. Это&nbsp;то, что гарантирует нам надежный тыл и&nbsp;крепкое плечо. Мы&nbsp;с&nbsp;удовольствием делимся новыми знаниями и&nbsp;опытом с&nbsp;коллегами, потому что эффективная команда&nbsp;— это наш главный инструмент в&nbsp;достижении поставленных целей. И&nbsp;каждый из&nbsp;нас заботится о&nbsp;том, чтобы команда «Полилога» развивалась и&nbsp;дальше.</p>
        <h2>То,&nbsp;что мы&nbsp;о&nbsp;себе думаем :)</h2>
        <ul>
          <li>Мы&nbsp;уважаем и&nbsp;ценим друг друга. Мы&nbsp;знаем, что мы&nbsp;разные, поэтому с&nbsp;терпимостью относимся к&nbsp;личным особенностям каждого.</li>
          <li>Мы&nbsp;серьезно относимся друг к&nbsp;другу и&nbsp;бережем время коллег, поэтому мы&nbsp;четко формулируем свои вопросы и&nbsp;не&nbsp;оставляем ни&nbsp;один из&nbsp;вопросов коллег без ответа.</li>
          <li>Мы&nbsp;открыты друг для друга. Любую проблему мы&nbsp;обсуждаем и&nbsp;решаем сообща. Способность слышать друг друга и&nbsp;договариваться&nbsp;— наше главное качество.</li>
          <li>Мы&nbsp;ценим и&nbsp;принимаем абсолютно любую идею, ее&nbsp;не&nbsp;только выслушают, но&nbsp;еще и&nbsp;не&nbsp;исключено, что предложат реализовать. Такая возможность для креатива является источником для вдохновения, что открывает новые горизонты нашим партнерам и&nbsp;проектам.</li>
          <li>Мы&nbsp;всегда готовы поддержать друг друга и&nbsp;помочь, когда это необходимо. Поэтому мы&nbsp;можем рассчитывать на&nbsp;ответную помощь.</li>
          <li>Мы&nbsp;умеем слушать и&nbsp;слышать друг друга, поэтому не&nbsp;оставляем замечания коллег без внимания. Мы&nbsp;понимаем юмор и&nbsp;любим пошутить, но&nbsp;ни&nbsp;при каких обстоятельствах мы&nbsp;не&nbsp;позволяем себе оскорбительных или обидных высказываний в&nbsp;адрес коллег.</li>
        </ul>
      </div>{# / 1st col #}

      {# 2nd col #}
      <div class="col-lg-6 pl-lg-24 d-flex flex-column">
        <h2 class="subhead pt-lg-0 pb-lg-22">Что ещё?</h2>
        <ul>
          <li>Официальный хештег нашей команды&nbsp;— <a href="https://www.instagram.com/polylogteam/" target="_blank">#polylogteam</a>.</li>
          <li>Каждый вторник в&nbsp;офисе проходит morning speech, в&nbsp;рамках которого сотрудники делятся новостями о&nbsp;проектной деятельности.</li>
          <li>Помимо стандартных праздников Нового года, 23&nbsp;февраля и&nbsp;8&nbsp;марта, 26&nbsp;июля мы&nbsp;празднуем День рождения компании.</li>
          <li>Коллеги-именинники выставляют праздничные угощения по&nbsp;случаю своего Дня рождения.</li>
          <li>Для скорейшей адаптации новичков раз в&nbsp;месяц у&nbsp;нас проходит презентация, где новоиспеченные коллеги рассказывают о&nbsp;себе, показывают свои фотки и&nbsp;отвечают на&nbsp;вопросы коллег.</li>
        </ul>

        <figure class="mosaic row align-self-end justify-content-start w-100 w-lg-2mod">

          <div class="col-sm-6 hidden-xs-down">
            <div class="mosaic-pic view-tl" role="img" aria-label="Переговорка PR-агентства. Фрагмент" title="Переговорка PR-агентства. Фрагмент"></div>
          </div>

          <div class="col-sm-6">
            <div class="mosaic-pic view-tr" role="img" aria-label="Переговорка PR-агентства. Фрагмент" title="Переговорка PR-агентства. Фрагмент"></div>
          </div>

          <div class="col-sm-6 hidden-md-down">
            <div class="mosaic-pic view-bl mb-0" role="img" aria-label="Переговорка PR-агентства. Фрагмент" title="Переговорка PR-агентства. Фрагмент"></div>
          </div>

          <div class="col-lg-6 hidden-md-down">
            <div class="mosaic-pic view-br has-instagram-link mb-0" role="img" aria-label="Переговорка PR-агентства. Фрагмент" title="Переговорка PR-агентства. Фрагмент">
              <a class="mosaic-hidden-link" href="https://www.instagram.com/polylogteam/" target="_blank">Наш&nbsp;«Инстаграм»</a>
            </div>
          </div>
        </figure>

      </div>{# / 2nd col #}
    </div>

  </article>
</main>

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-careers.twig" %}
{% endblock %}{# / block cta #}
