{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .camera {
      background-image: url('/a/img/s-services/event-management/what-is-event-management-camera.jpg');
    }

    @media (min-width: 544px) {
      .back {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-back.jpg');
      }
    }

    @media (min-width: 992px) {
      .dasha-r {
        background-image: url('/a/img/s-company/iso/dasha-r.jpg');
      }
      .interview {
        background-image: url('/a/img/s-company/iso/interview.jpg');
      }
      .tass {
        background-image: url('/a/img/s-company/iso/tass.jpg');
      }
      .moscow-24 {
        background-image: url('/a/img/s-company/iso/moscow-24.jpg');
      }
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-company has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Система менеджмента качества</h1>
      <span class="page-header-icon" role="presentation"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-company/iso/header.jpg" alt="Конкурс талантов среди стажеров PR-агентства">
    </figure>


<!--




CUT IN BODY




-->
    {# The 1st Section #}
    <div class="row gutters-sm pt-12 pt-md-18 pt-lg-42">

      <div class="main-content base">
        <p class="lead">У&nbsp;нас есть система менеджмента качества. Это совокупность организационной структуры, методик и&nbsp;процессов, которые позволяют нам постоянно совершенствовать наши услуги, структурировать работу и&nbsp;эффективно управлять проектами.</p>
        <p>На&nbsp;сегодняшний день Консалтинговая группа «Полилог» является единственным в&nbsp;России агентством по&nbsp;оказанию полного цикла услуг в&nbsp;области коммуникаций, сертифицированным по&nbsp;стандарту ISO 9001:2015. Область сертификации&nbsp;— «Управление проектами в&nbsp;сфере рекламы, связей с&nbsp;общественностью, маркетинга, информационно-коммуникационных технологий, государственного управления и&nbsp;организация мероприятий». Аудит проведён экспертами международной Bureau Veritas Certification. Первую сертификацию ISO мы&nbsp;получили еще в&nbsp;2005&nbsp;году, и&nbsp;с&nbsp;тех пор мы&nbsp;соответствуем международному стандарту в&nbsp;области системы менеджмента качества.</p>
        <p>Система менеджмента качества является надежным фундаментом, опираясь на&nbsp;который «Полилог» регулярно запускает процессы саморазвития и&nbsp;роста.</p>
      </div>

      <div class="col-lg-3 offset-lg-1 hidden-md-down">
        <div class="mosaic-pic interview" role="presentation" title="Система менеджмента качества PR-агентства «Полилог»"></div>
        <div class="mosaic-pic dasha-r has-instagram-link" role="presentation" title="Система менеджмента качества PR-агентства «Полилог»">
          <a class="mosaic-hidden-link" href="https://www.instagram.com/polylogteam/" target="_blank">Наш&nbsp;«Инстаграм»</a>
        </div>
      </div>
    </div> {# / 1st section #}

    {# The 2nd Section #}
    <div class="section pt-20 pt-lg-64">

      <h2 class="section-headline text-center pb-30 pb-lg-2s">Удовлетворенность потребителя<br class="br-up-to-md"> <small>в&nbsp;нашем понимании</small></h2>

      <div class="row gutters-sm">

        <div class="col-sm-6 col-lg-3 pb-18 pb-lg-0">
          <div class="mosaic-pic camera" role="presentation" title="Удовлетворенность клиента PR-агентства"></div>
        </div>

        <div class="col-sm-6 col-lg-3 pb-18 pb-lg-0 hidden-xs-down">
          <div class="mosaic-pic back mb-0" role="presentation" title="Удовлетворенность клиента PR-агентства"></div>
        </div>

        <div class="col-lg-5 offset-lg-1">
          <ul>
            <li>Достижение установленного желаемого результата</li>
            <li>Стабильное высокое качество услуг</li>
            <li>Измеримые критерии оценки качества результата</li>
            <li>Контролируемые процессы</li>
            <li>Рациональные решения и&nbsp;оптимальное использование ресурсов</li>
            <li>Соответствие установленным срокам</li>
            <li>Быстрая реакция на&nbsp;замечания</li>
          </ul>
        </div>
      </div>
    </div>{# / 2nd section #}

    {# The 3rd Section #}
    <div class="row gutters-sm pt-lg-60">

      <div class="main-content base">
        <h2 class="subhead pt-lg-58">Принципы нашей работы</h2>
        <p><strong>Мы&nbsp;предлагаем клиенту оптимальные разработки и&nbsp;решения.</strong> Всегда рассматриваем альтернативные варианты решения проблемы. Если оно выходит за&nbsp;рамки наших компетенций, привлекаем внешних экспертов и&nbsp;технологов.</p>
        <p><strong>Мы&nbsp;поддерживаем корпоративный дух</strong> и&nbsp;культуру сотрудничества. Корпоративные стандарты и&nbsp;правила работы помогают сотрудникам компании решать проблемы клиентов.</p>
        <p><strong>Мы&nbsp;постоянно улучшаем качество</strong> оказываемых услуг. Поддерживаем и&nbsp;улучшаем систему менеджмента качества на&nbsp;основании требований международного стандарта ISO 9001.</p>
      </div>

      <div class="col-lg-3 offset-lg-1 hidden-md-down">
        <div class="mosaic-pic moscow-24" role="presentation" title="Принципы нашей работы PR-агентства «Полилог»"></div>
        <div class="mosaic-pic tass has-instagram-link" role="presentation" title="Принципы нашей работы PR-агентства «Полилог»">
          <a class="mosaic-hidden-link" href="https://www.instagram.com/polylogteam/" target="_blank">Наш&nbsp;«Инстаграм»</a>
        </div>
      </div>
    </div>{# / 3rd section #}
<!--




/ CUT IN BODY




-->

  </article>
</main>

{% endblock %}{# / block content #}
