// Variant has been set in s-blog/common

.footer {
  border-top: 1px solid $color-border;
  font-size: $font-size-xs;
  margin-top: 10.2rem;
  padding-top: 8.5rem;
  padding-bottom: 11.5rem;

  // Remove bullets and paddings from all footer lists
  ul {
    padding: 0;
    list-style-type: none;
  }
}

// Headlines

.footer-heading {
  color: $color-text-secondary;
  font-weight: normal;

  &.last {
    margin-top: 3.5rem;
  }
}


// -----------------------------------------------------------------------------
// Social Functions Column
// -----------------------------------------------------------------------------

.footer-social {
  @include media-breakpoint-up(lg) {
    text-align: right;
  }
}

// Subscribtion and Quick Links Column

.footer .btn.social {
  margin: 1.1rem 4px 0 0;
  width: 32px;
  height: 32px;
}

.footer .btn.facebook {
  width: auto;
}


// -----------------------------------------------------------------------------
// Subscribtion and Quick Links Column
// -----------------------------------------------------------------------------

// Hide all column on phone tablets
.footer-last-options {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    text-align: left;
  }
}

// Restore column on blog…


// -------------------------------------
// Quick Links
// -------------------------------------

.footer-quick-links {
  @extend .list-unstyled;
}

.quick-links-item {
  @include text-truncate;

  position: relative;
  padding: 0 0 .6rem 10.6rem;
}

.quick-links-caption {
  position: absolute;
  top: 0;
  left: 0;
}

.quick-links-caption-link {
  color: $color-text-secondary;

  font-weight: normal;

  &:hover {
    color: darken($color-text-secondary, ($tone * 3));
  }
}

.quick-links-item > a > em,
.quick-links-link em {
  font-style: normal;
}

// -------------------------------------
// Contacts
// -------------------------------------

.footer-contacts {
  color: $color-text-secondary;
  padding-top: $spacer-y;
}

.footer-address {
  display: inline-block;
  margin-bottom: 0;
}

// Phone
.footer-contacts .link.phone-number {
  @include media-breakpoint-up(md) {
    color: $color-text-secondary;
  }
}
