// Variant has been set in s-blog/common

// -------------------------------------
// Form
// -------------------------------------

.footer-subscription {
  position: relative;

  @include media-breakpoint-up(md) {
    text-align: left;
    width: 372px;
  } // md

  @include media-breakpoint-up(lg) {
    margin: 0;
    padding: 1.1rem 30px 1.7rem 0;
  } // lg
}

.footer-subscription .form-control {
  padding: .5rem 15px;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    width: 160px;
  } // sm
}

.form-submit.subscription {
  background: rgb(186, 189, 193) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpolygon%20points%3D%221.5%2010.8%200%209.5%203.7%205.4%200%201.3%201.5%200%206.4%205.3%206.4%205.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 50% 50%;
  position: absolute;
  margin: 0;
  width: 32px;
  height: 32px;

  &:hover {
    background-color: rgb(169,173,177);
  }

  @include media-breakpoint-up(md) {
    top: 1.1rem;
    right: 0;
  } // md
}
