
// As the design becomes more complex, these styles should be divided into
// files.
// - Inline Elements (strong, em, code)
// - Paragraph
// - Preformatted Text

// -----------------------------------------------------------------------------
// Legacy
// -----------------------------------------------------------------------------

.byline,
figcaption,
.note {
  color: $color-text-secondary;
}

.byline { margin-bottom: 0; }

.byline-above-the-box { margin-bottom: $spacer-y; }


// -----------------------------------------------------------------------------
// Modern
// -----------------------------------------------------------------------------

abbr[title] {
  border-bottom: 1px solid $color-border;
  text-decoration: none;
}

address {
  margin-bottom: 0;
}

b,
strong { font-weight: bold; }

// 1) Add hyphenation in <p> on mobile devices
// 2) Non standard for webkit, autoprefixer doesn't add it
// 3) Tablets and Desktops: Remove Hyphens

cite {
  display: block;
}

p {
  hyphens: auto; // 1
  word-break: break-all;
  word-break: break-word; // 2

  .text-center &,
  &.text-center {
    hyphens: none;
    word-break: normal;
  }

  @include media-breakpoint-up(md) { // 3
    hyphens: none;
    word-break: normal;
  }
}

h1 + p:not([class]),
.article-headline + .article-body > p:first-child,
.lead {
  @extend %lead;

  color: #000;

  strong {
    font-weight: 500;
  }
}

.article-body em,
.main-content em {
  color: $green;
  font-style: normal;
}

.text-block.vr-friendly {
  padding-top: .6rem;
  padding-bottom: .6rem;
  margin-bottom: 1.2rem;
}
