// Shell
.img-module {
  box-shadow: inset 0 0 0 1px $color-border;
  border-radius: $border-radius;
  padding: 21rem 1.6rem 0;
  position: relative;
  text-align: left;
  width: 216px;
  height: 252px;
}

.img-module > img {
  position: absolute;
  right: 0;
  bottom: 6rem;
  left: 0;
  z-index: 2;
}


// -----------------------------------------------------------------------------
// Non-img tags in image role and combined background/image vignettes
// -----------------------------------------------------------------------------

// Blocks w/ backgrounds
//          1/3     2/3
// width:   288     444
// height:  528

.pic-deputy,
.pic-vignette {
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: block;
} // pic-deputy, pic-vignette

.pic-deputy {
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
  height: 252px;

  &.tall {
    height:  516px;
  } // tall

  &.col-md-3 {
    max-width: 216px;

    &.right {
      margin-right: 8px;
    }
  }
} // pic-deputy


