// stylelint-disable max-nesting-depth, selector-list-comma-newline-after, selector-max-compound-selectors, selector-no-qualifying-type

//------------------------------------------------------------------------------
// DEBUG MODE
//------------------------------------------------------------------------------

@if $debug {
  body:hover {
    background: transparent url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2224%22%20viewBox%3D%220%200%208%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%228%22%20height%3D%221%22%20y%3D%2223%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.24%22%2F%3E%3Crect%20width%3D%228%22%20height%3D%221%22%20y%3D%2215%22%20fill%3D%22%23F0F%22%20fill-opacity%3D%22.12%22%2F%3E%3Crect%20width%3D%228%22%20height%3D%221%22%20y%3D%227%22%20fill%3D%22%23F0F%22%20fill-opacity%3D%22.12%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') repeat;
  }

  .header > .container,
  .cta,
  .footer {
    display: none;
  }

  .jumbotron.base {
    background: rgba(0, 0, 0, .5) none !important;
  }

  // Main content container
  main.container {
    background: rgba(0, 0, 0, .12);
    text-align: left;

    @include media-breakpoint-up(md) {
      margin: 0 auto;
    }
  }

  .form-wrapper {
    margin: 0 auto;
  }

  .form-control {
    background: rgba(255, 255, 255, .5);
  }
}


//------------------------------------------------------------------------------
// VERTICAL RHYTHM
//------------------------------------------------------------------------------

// This requires trial and error, as top offset depends on font and line-height

.vr {

  .jumbotron-eyebrow {
    padding-bottom: 0;
  }

  .jumbotron-headline {
    line-height: 4rem;
    padding-top: 1.6rem;
    padding-bottom: 0;
    margin-bottom: .8rem;
  }

  .jumbotron-lead {
    padding-top: $body-copy-vr-padding-top; // This requires trial and error, as top offset depends on font and line-height
    margin-bottom: 0;
  }

  .base + main.container {

    @include media-breakpoint-up(lg) {
      padding-top: 3.6rem;
    }
  }

  main.container {

    padding-top: 0;
    padding-bottom: 5.6rem;

    // HEADLINES ---------------------------------------------------------------

    h1 {
      line-height: 4rem;
      padding-top: 1.6rem;
      margin-bottom: 1.6rem;
    }

    h2 {
      line-height: 3.2rem;
      padding-top: 2.3rem;
      padding-bottom: 0;
      margin-bottom: 1.7rem;
    }

    // Override for the first h2
    .section-headline {
      line-height: 3.2rem;
      margin-bottom: 1.7rem;
      padding-top: 2.3rem;
    }

    h3, h4, h5, h6 {
      padding-top: $h3-padding-top;
      margin-bottom: ($empty-line - $body-copy-vr-padding-top);
    }

    // BODY COPY ---------------------------------------------------------------

    // Add top paddings to put text blocks on baseline grid
    // %copy-block-vr

    p, %copy-block-vr {
      padding-top: $body-copy-vr-padding-top; // This requires trial and error, as top offset depends on font and line-height
      margin-bottom: ($empty-line - $body-copy-vr-padding-top);
    }

    // Lists

    ol, ul:not(.tags) {
      @extend %copy-block-vr;
    }

    .list-caption {
      margin-bottom: .2rem;
    }

    li {
      margin-bottom: ($empty-line / 3);

      > ol,
      > ul {
        margin-bottom: 0;
      }
    }

    dl {
      margin-bottom: $empty-line - $body-copy-vr-padding-top;
    }

    dt {
      padding-top: $body-copy-vr-padding-top;
    }

    dd {
      margin-bottom: $empty-line - $body-copy-vr-padding-top;
    }

    // Tags
    .tags.compact {
      padding-top: 1.8rem;
      padding-bottom: 0;
    }

    .tags .list-group-item {
      margin-bottom: 0;
    }

    // Quotes

    blockquote {
      @extend %copy-block-vr;

      > p:first-child {
        padding-top: 0;
      }
    }

    .blockquote {
      margin: 4.8rem 0 3rem;
      padding: 2.4rem 0;

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -6px;
      }
    }

    .blockquote-footer {
      padding-top: 0;
      padding-bottom: 0;

      &::before {
        top: -15px;
      }
    }

    // Media files

    figure {
      margin-bottom: 1.8rem;
    }

    figcaption {
      padding-top: $body-copy-vr-padding-top;
    }

    img {
      margin-bottom: $empty-line;
    }

    figure > img,
    .media-wrapper > img,
    .carousel-item > img,
    th img,
    td img {
      margin-bottom: 0;
    }

    // Stats
    .tile-number {
      line-height: 1;
      padding-top: 0;
      padding-bottom: 0;
    }

    .tile-thought-end.compact {
      margin-top: -2.2rem;
    }

    // Code
    pre {
      @extend %copy-block-vr;

      font-size: 100%;
    }

    // Table
    table {
      margin-bottom: 3.2rem;
    }

    th, td {
      padding: 1.3rem 1.6rem 1rem;
    }

    // HR
    hr {
      margin: 1em 0;
    }

    // Layout
    .row.tiles {
      margin-bottom: 1.2rem;
    }
    .section:not(.photos):not(.is-photos) {
      @include media-breakpoint-up(lg) {
        padding-top: ($empty-line * 2);
      }
    }
  }

  // FORM
  // @see _form-controls
}
