<header class="header" aria-label="Поиск">

  {# LOGO #}
  <a class="logo ru" href="/" rel="home" title="На первую страницу">
    PR-агентство «Полилог»
  </a>

  <div class="container">

    {# SEARCH #}
    {% include "/components/form/search/search.twig" %}

    {# PHONE & LANGUAGE SWITCHER #}
    <div class="header-options">
      <a class="header-link phone-number" id="header-phone" href="tel:+7-495-258-2045" title="Позвонить">
        <svg class="icon phone" role="presentation"><use xlink:href="#icon-phone"></use></svg>+7 (495) <b>258-20-45</b>
      </a>
      <div class="dropdown">
        <a class="header-locale-switcher" href="/en" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="In English, Russian or Japanese">
          <span class="icon flag-gb" role="presentation"></span>
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="/en/home">
            <span class="icon flag-gb" role="presentation"></span>
            English
          </a>
          <a class="dropdown-item is-active" href="/">
            <span class="icon flag-ru" role="presentation"></span>
            Русский
          </a>
          <a class="dropdown-item" href="/zh/home">
            <span class="icon flag-cn" role="presentation"></span>
            中文
          </a>
          <a class="dropdown-item" href="/ja/home">
            <span class="icon flag-jp" role="presentation"></span>
            日本語
          </a>
        </div>

      </div>
    </div>

  </div>{# / container #}
</header>{# / header #}
