{# Services Index #}

{% extends "/pages/base/base.twig" %}

{% block body %}
<body class="section-services index has-dark-jumbotron separated-jumbotron">
{% endblock %}

{% block content %}


{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    {# Body #}
    <div class="jumbotron-body">
      <h1 class="jumbotron-headline ani-slide-down">
        Services
      </h1>
      <blockquote class="jumbotron-quote ani-slide-down">
        <span class="hlaquo-body">“</span>We&nbsp;specialize in&nbsp;traditional&nbsp;PR and new media, organization of&nbsp;business and BTL&nbsp;events, execution of&nbsp;IT-projects in&nbsp;the&nbsp;field of&nbsp;communications<span class="hidden-sm-down">. Team of&nbsp;professionals enables&nbsp;us to&nbsp;realize any kind of&nbsp;a&nbsp;project. Quality Management System guarantees effectiveness of&nbsp;our work. Our clients entrust&nbsp;us their reputation and they never regret this decision.</span>”</p>
      </blockquote>
      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/en/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Get in Touch
      </a>
    </div>{# / jumbotron body #}
    {# Person #}
    <figure class="jumbotron-person services ani-fade-in">
        <img class="jumbotron-portrait" src="/a/img/people/oleg.png" alt="Oleg Karpilov, CEO">
      <figcaption>
        Oleg Karpilov, CEO
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">

<!--




CUT IN BODY




-->
  <div class="row">

    {# EVENT #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-event" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Apec #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/en/news/2012/10-01.htm" title="APEC 2012 CEO Summit">
              <img src="/a/img/s-services/index/event-apec.jpg" alt="APEC 2012 CEO Summit">
            </a>
            <figcaption>
              APEC
            </figcaption>
          </figure>{#  / Apec #}

          {# UNESCO #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2012/07-24.htm" title="UNESCO World Heritage Committee">
              <img src="/a/img/s-services/index/event-unesco.jpg" alt="UNESCO World Heritage Committee">
            </a>
            <figcaption>
              UNESCO
            </figcaption>
          </figure>{#  / unesco #}

          {# Okroshka #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/projects/2016/festival-okroshka-family-secret-lessons-event-management-pr" title="Festival of okroshka &quot;Family secret&quot;">
              <img src="/a/img/s-services/index/event-okroshka.jpg" alt="Festival of okroshka &quot;Family secret&quot;">
            </a>
            <figcaption>
              Festival of&nbsp;okroshka
            </figcaption>
          </figure>{#  / okroshka #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-event" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-event" data-slide-to="1"></li>
          <li data-target="#carousel-event" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon event-eyebrow" aria-hidden="true"></span>
        Event management
      </h3>
      <h2 class="section-headline compact">
        Congresses, conferences, exhibitions <small>and&nbsp;BTL&nbsp;events</small>
      </h2>
      <div class="section-body">
        <p>Polylog acts as&nbsp;one of&nbsp;the&nbsp;largest forum operators in&nbsp;Russia. So&nbsp;far we&nbsp;have organized more than 150&nbsp;conferences, round tables, exhibitions, and forums.</p>
        <a class="link forward" href="/en/services/event-management">More</a>
      </div>
    </section>{# / event #}


    {# PR #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-pr" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Moscow #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/en/news/2016/10-06.htm" title="Moscow city day 2016">
              <img src="/a/img/s-services/index/pr-moscow.jpg" alt="Moscow city day 2016">
            </a>
            <figcaption>
              Moscow
            </figcaption>
          </figure>{#  / Moscow #}

          {# befree #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2016/09-17.htm" title="Promotion of the befree T-shirts collection">
              <img src="/a/img/s-services/index/pr-befree.jpg" alt="Promotion of the befree T-shirts collection">
            </a>
            <figcaption>
              befree
            </figcaption>
          </figure>{#  / befree #}

          {# Beeline #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2015/03-30.htm" title="Beeline at Moscow Taxi's 90th Anniversary">
              <img src="/a/img/s-services/index/pr-beeline.jpg" alt="Beeline at Moscow Taxi's 90th Anniversary">
            </a>
            <figcaption>
              Beeline
            </figcaption>
          </figure>{# / beeline #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-pr" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-pr" data-slide-to="1"></li>
          <li data-target="#carousel-pr" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon pr-eyebrow" aria-hidden="true"></span>
        Public Relations
      </h3>
      <h2 class="section-headline compact">
        You will get into the&nbsp;public eye <small>and promote your idea</small>
      </h2>
      <div class="section-body">
        <p>Polylog Consulting Group specializes in&nbsp;complex PR-support of&nbsp;events, brands and experts. Most of&nbsp;our clients come back to&nbsp;us with a&nbsp;demand for&nbsp;extended services.</p>
        <a class="link forward" href="/en/services/public-relations">More</a>
      </div>
    </section>{# / PR #}
  </div>{# / row: event and pr #}

  <div class="row">
    {# FUNDRAISING #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-fundraising" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Vidfest #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/en/news/2015/06-11.htm" title="Video Blogger Festival">
              <img src="/a/img/s-services/index/fundraising-vidfest.jpg?v2019-09-26" alt="Video Blogger Festival">
            </a>
            <figcaption>
              Video Blogger Festival
            </figcaption>
          </figure>{#  / vidfest #}

          {# Ufa 2015 #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2015/06-01.htm" title="&quot;Big Chemistry&quot; Forum">
              <img src="/a/img/s-services/fundraising/featured/ufa-2015.jpg?v2019-09-26" alt="&quot;Big Chemistry&quot; Forum">
            </a>
            <figcaption>
              “Big Chemistry” Forum
            </figcaption>
          </figure>{#  / ufa 2105 #}

          {# Traumatologists #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2014/02-25-traumatology.htm" title="Congress of Traumatologists and Orthopedists">
              <img src="/a/img/s-services/fundraising/featured/traumatologists.jpg" alt="Congress of Traumatologists and Orthopedists">
            </a>
            <figcaption>
              Congress of&nbsp;Traumatologists and&nbsp;Orthopedists
            </figcaption>
          </figure>{#  / brics #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-fundraising" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-fundraising" data-slide-to="1"></li>
          <li data-target="#carousel-fundraising" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon fundraising-eyebrow" aria-hidden="true"></span>
        Fundraising
      </h3>
      <h2 class="section-headline compact">
        Raising funds for&nbsp;your events <small>and other large scale projects</small>
      </h2>
      <div class="section-body">
        <p>We&nbsp;help to&nbsp;accumulate resources for&nbsp;different projects&nbsp;— both commercial and non-profit, with seed capital and without, for&nbsp;one-time and long-term projects. We offer sponsorship integrations, ticket services etc.</p>
        <a class="link forward" href="/en/services/fundraising">More</a>
      </div>
    </section>

    {# R&D #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-it" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Unified Federal Register #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/en/news/2016/12-12.htm" title="Unified Federal Register of Tour operators">
              <img src="/a/img/s-services/index/it-pisa.jpg" alt="Unified Federal Register of Tour operators">
            </a>
            <figcaption>
              Rostourism
            </figcaption>
          </figure>{# Unified Federal Register #}

          {# Rostourism #2 #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2011/09-12.htm" title="Development of risk management methodology">
              <img src="/a/img/s-services/index/it-risk.jpg" alt="Development of risk management methodology">
            </a>
            <figcaption>
              Rostourism
            </figcaption>
          </figure>{#  / rostourism #2 #}

          {# Primorsky Krai #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/en/news/2011/06-30.htm" title="Competitive environment analysis in the Primorsky Krai">
              <img src="/a/img/s-services/index/it-primorye.jpg" alt="Competitive environment analysis in the Primorsky Krai">
            </a>
            <figcaption>
              Primorsky Krai
            </figcaption>
          </figure>{#  / primorsky krai #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-it" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-it" data-slide-to="1"></li>
          <li data-target="#carousel-it" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon rnd-eyebrow" aria-hidden="true"></span>
        Research and development
      </h3>
      <h2 class="section-headline compact">
        Analytics and advent of&nbsp;technology<br>
        <small>for&nbsp;public institutions</small>
      </h2>
      <div class="section-body">
        <p>R&amp;D Department conducts all types of&nbsp;research to&nbsp;optimize and automate business processes for&nbsp;our clients in&nbsp;accordance with the&nbsp;law of&nbsp;Russia. We&nbsp;develop web-sites and complex IT-solutions for&nbsp;our clients.</p>
        <a class="link forward" href="/en/services/e-governance-solutions">More</a>
      </div>
    </section>
  </div>{# / row #}

<!--




/ CUT IN BODY




-->

</main>{# / page-content #}




{% endblock %}{# / block content #}
