{# Services Index #}

{% extends "/pages/base/base.twig" %}

{% block body %}
<body class="section-services index has-dark-jumbotron separated-jumbotron">
{% endblock %}

{% block content %}


{# -----------------------------------------------------------------------------
    JUMBOTRON
   -------------------------------------------------------------------------- #}

<article class="jumbotron base">

  <div class="jumbotron-container">
<!--




CUT IN JUMBOTRON




-->
    {# Body #}
    <div class="jumbotron-body">

      <h1 class="jumbotron-headline ani-slide-down">
        Услуги
      </h1>

      <blockquote class="jumbotron-quote ani-slide-down">
        <span class="hlaquo-body">«</span>Наша специализация&nbsp;— PR&nbsp;в&nbsp;традиционных СМИ и&nbsp;новых медиа, организация и&nbsp;проведение деловых мероприятий, IT-решения в&nbsp;разрезе коммуникаций<span class="hidden-sm-down">. У&nbsp;нас есть профессиональная команда. Есть система менеджмента качества&nbsp;— совокупность организационных процессов, ресурсов, методик, ориентированных на&nbsp;результат. <span class="nowrap">И, наконец,</span> у&nbsp;нас есть клиенты, которые нам доверяют</span>»
      </blockquote>

      {# <a class="jumbotron-btn ani-slide-down mt-lg-1s js-mfp-video" href="https://www.youtube.com/watch?v=gyqhpVu3zBA" role="button"> #}
      <a class="jumbotron-btn ani-slide-down js-open-modal" href="/ru/company/contact-us" data-target="#modal" data-toggle="modal" role="button">
        Пообщаемся?
      </a>
    </div>{# / jumbotron body #}

    {# Person #}
    <figure class="jumbotron-person services ani-fade-in">
      {# <a class="js-mfp-video" href="https://www.youtube.com/watch?v=gyqhpVu3zBA" title="[Видео] Зам. генерального директора рассказывает об услугах PR-агентства"> #}
        <img class="jumbotron-portrait" src="/a/img/people/oleg.png" alt="Олег Карпилов, генеральный директор">
      {# </a> #}
      <figcaption>
        Олег Карпилов, генеральный директор
      </figcaption>
    </figure>{# / person #}
<!--




/ CUT IN JUMBOTRON




-->
  </div>{# / jumbotron-container #}
</article>{# / jumbotron #}


{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

<main class="container">


{# -----------------------------------------------------------------------------
    Event and PR
   -------------------------------------------------------------------------- #}

<!--




CUT IN BODY




-->
  <div class="row">
    {# EVENT #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-event" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Apec #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/ru/news/2012/10-01.htm" title="Деловой саммит АТЭС">
              <img src="/a/img/s-services/index/event-apec.jpg" alt="Деловой саммит АТЭС">
            </a>
            <figcaption>
              АТЭС
            </figcaption>
          </figure>{#  / Apec #}

          {# UNESCO #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/news/2012/07-17.htm" title="36-я сессия Комитета Всемирного наследия ЮНЕСКО">
              <img src="/a/img/s-services/index/event-unesco.jpg" alt="36-я сессия Комитета Всемирного наследия ЮНЕСКО">
            </a>
            <figcaption>
              ЮНЕСКО
            </figcaption>
          </figure>{#  / unesco #}

          {# Okroshka #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/news/2016/08-15.htm" title="Фестиваль окрошки «Семейный секрет»">
              <img src="/a/img/s-services/index/event-okroshka.jpg" alt="Фестиваль окрошки «Семейный секрет»">
            </a>
            <figcaption>
              Фестиваль окрошки
            </figcaption>
          </figure>{#  / okroshka #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-event" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-event" data-slide-to="1"></li>
          <li data-target="#carousel-event" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon event-eyebrow" aria-hidden="true"></span>
        Организация мероприятий
      </h3>
      <h2 class="section-headline compact">
        Конференции, съезды, выставки <small>Давайте покажем людям класс</small>
      </h2>
      <div class="section-body">
      <p>КГ&nbsp;«Полилог» является одним из&nbsp;крупнейших операторов деловых мероприятий в&nbsp;России. В&nbsp;общей сложности мы&nbsp;организовали более 150&nbsp;форумов, конференций, круглых столов и&nbsp;выставок.</p>
        <a class="link forward" href="/ru/services/event-management">Подробнее</a>
      </div>
    </section>{# / event #}

    {# PR #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-pr" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Moscow #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/ru/news/2016/10-06.htm" title="День города Москвы 2016">
              <img src="/a/img/s-services/index/pr-moscow.jpg" alt="День города Москвы 2016">
            </a>
            <figcaption>
              Москва
            </figcaption>
          </figure>{#  / Moscow #}

          {# befree #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/news/2016/09-17.htm" title="Продвижение коллекции футболок befree">
              <img src="/a/img/s-services/index/pr-befree.jpg" alt="Продвижение коллекции футболок befree">
            </a>
            <figcaption>
              befree
            </figcaption>
          </figure>{#  / befree #}

          {# Scania #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/news/2016/03-31.htm" title="Итоговая пресс-конференция компании Scania">
              <img src="/a/img/s-services/index/pr-scania.png" alt="Итоговая пресс-конференция компании Scania">
            </a>
            <figcaption>
              Scania
            </figcaption>
          </figure>{#  / scania #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-pr" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-pr" data-slide-to="1"></li>
          <li data-target="#carousel-pr" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon pr-eyebrow" aria-hidden="true"></span>
        PR<span class="hidden-lg-down"> — Связи с&nbsp;общественностью</span>
      </h3>
      <h2 class="section-headline compact">
        Вас полюбят журналисты <small>и&nbsp;их&nbsp;аудитории</small>
      </h2>
      <div class="section-body">
        <p>Агентство специализируется на&nbsp;комплексном PR-сопровождении мероприятий, экспертов компаний и&nbsp;брендов. Большинство наших клиентов&nbsp;— постоянные, на&nbsp;абонентском обслуживании.</p>
        <a class="link forward" href="/ru/services/public-relations">Подробнее</a>
      </div>
    </section>{# / PR #}

  </div>{# / row: event and pr #}

  <div class="row">

    {# FUNDRAISING #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-fundraising" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Vidfest #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/ru/news/2015/06-11.htm" title="Первый фестиваль видеоблогеров «Видфест»">
              <img src="/a/img/s-services/index/fundraising-vidfest.jpg?v2019-09-26" alt="Первый фестиваль видеоблогеров «Видфест»">
            </a>
            <figcaption>
              Фестиваль видеоблогеров
            </figcaption>
          </figure>{#  / vidfest #}

          {# Ufa 2106 #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/news/2016/06-07.htm" title="Российский нефтегазохимический форум">
              <img src="/a/img/s-services/index/fundraising-ufa-2016.jpg?v2019-09-26" alt="Российский нефтегазохимический форум">
            </a>
            <figcaption>
              Нефтегазохимический форум
            </figcaption>
          </figure>{#  / ufa 2106 #}

          {# Brics #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/news/2015/11-02.htm" title="Первый Форум малого бизнеса регионов стран-участниц ШОС и БРИКС">
              <img src="/a/img/s-services/index/fundraising-ufa-2015.jpg?v2019-09-26" alt="Первый Форум малого бизнеса регионов стран-участниц ШОС и БРИКС">
            </a>
            <figcaption>
              ШОС и БРИКС
            </figcaption>
          </figure>{#  / brics #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-fundraising" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-fundraising" data-slide-to="1"></li>
          <li data-target="#carousel-fundraising" data-slide-to="2"></li>
        </ol>
      </div>

      <h3 class="section-eyebrow">
          <span class="icon fundraising-eyebrow" aria-hidden="true"></span>
          Фандрайзинг
      </h3>
      <h2 class="section-headline compact">
        Все&nbsp;средства хороши&nbsp;— <small>и&nbsp;в&nbsp;рублях, и&nbsp;в&nbsp;иностранной валюте</small>
      </h2>
      <div class="section-body">
        <p>Мы&nbsp;помогаем привлекать деньги в&nbsp;разные проекты&nbsp;&mdash; благотворительные и&nbsp;деловые, со&nbsp;стартовым капиталом и&nbsp;без него, разовые и&nbsp;долгосрочные. Привлекаем спонсоров, продаем выставочные площади и т. д.</p>
        <a class="link forward" href="/ru/services/fundraising">Подробнее</a>
      </div>
    </section>

    {# R&D #}
    <section class="section carousel-in-header col-md-6">
      <div class="section-header carousel slide js-manual" id="carousel-it" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          {# Minpromtrade #}
          <figure class="carousel-item active">
            <a class="section-carousel-link" href="/ru/projects/2017/avtomatizaciya-gosuslug-minpromtorga-rossii" title="Автоматизация госуслуг Минпромторга России">
              <img src="/a/img/s-services/index/it-minpromtrade-ais.png" alt="Автоматизация госуслуг Минпромторга России">
            </a>
            <figcaption>
              Минпромторг
            </figcaption>
          </figure>{#  / inpromtrade #}

          {# Rostourism #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/projects/2016/federalnoe-agentstvo-turizmu-sovershenstvuet-rabotu-otkrytymi" title="Экспертная поддержка Ростуризма в области открытых данных">
              <img src="/a/img/s-services/index/it-tourism.jpg" alt="Экспертная поддержка Ростуризма в области открытых данных">
            </a>
            <figcaption>
              Открытые данные Ростуризма
            </figcaption>
          </figure>{#  / tourism help #}

          {# Region 2:0 #}
          <figure class="carousel-item">
            <a class="section-carousel-link" href="/ru/projects/2010/avtomatizirovannaya-sistema-prognozirovaniya-politicheskih" title="Автоматизированная система прогнозирования политических кризисов">
              <img src="/a/img/s-services/index/it-region-2-0.png" alt="Автоматизированная система прогнозирования политических кризисов">
            </a>
            <figcaption>
              Система прогнозирования кризисов
            </figcaption>
          </figure>{#  / waste #}

        </div>{# / viewport #}
        <ol class="carousel-indicators">
          <li data-target="#carousel-it" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-it" data-slide-to="1"></li>
          <li data-target="#carousel-it" data-slide-to="2"></li>
        </ol>
      </div>{# / carousel #}

      <h3 class="section-eyebrow">
        <span class="icon rnd-eyebrow" aria-hidden="true"></span>
        Цифровые решения
      </h3>
      <h2 class="section-headline compact">
        Цифровизация<br>
        <small>процессов</small>
      </h2>
      <div class="section-body">
        <p>Основные компетенции R&amp;D нашей компании&nbsp;— исследования и&nbsp;внедрение IT-решений в&nbsp;госсекторе: перевод госуслуг в&nbsp;электронную форму, обеспечение открытости органов власти и&nbsp;др.</p>
        <a class="link forward" href="http://it.polylog.ru/" target="_blank" rel="noopener noreferrer">Подробнее</a>
      </div>
    </section>

  </div>{# / row #}

<!--




/ CUT IN BODY




-->

</main>{# / page-content #}




{% endblock %}{# / block content #}
