<!--
<form class="form subscription">
  <input class="form-control" id="form-subscription-name" name="form-name" type="text" maxlength="128" aria-label="Имя" placeholder="Имя">
  <input class="form-control email" id="form-subscription-email" name="form-email" type="email" maxlength="128" aria-label="Email" placeholder="Email">
  {# <button class="form-submit" type="submit" aria-label="Подписаться" title="Подписаться"></button> #}
  <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Подписаться"></div>
  <div class="form-item webform-component webform-component-markup webform-component--form-disclaimer">
    <p class="form-disclaimer tooltip">Нажимая на&nbsp;кнопку, вы&nbsp;даете<br><a href="/ru/company/privacy-policy#consent" target="_blank">согласие на&nbsp;обработку своих персональных данных</a></p>
  </div>
</form>
 -->
