<form class="form subscription" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="https://polylog.us2.list-manage.com/subscribe/post?u=252bc5a38de27d3ce6515c16c&amp;id=6995ccb858" method="post" target="_blank">
  <input class="form-control" id="mce-FNAME" name="FNAME" type="text" value="" maxlength="128" aria-label="Имя" placeholder="Имя">
  <input class="form-control email" id="mce-EMAIL" name="EMAIL" type="email" value="" required maxlength="128" aria-label="Email" placeholder="Email">
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <!-- honeypot-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_252bc5a38de27d3ce6515c16c_6995ccb858" tabindex="-1" value=""></div>
  <div class="form-actions"><input class="button button-primary form-submit" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Подписаться"></div>
  <div class="form-item webform-component webform-component-markup webform-component--form-disclaimer">
    <p class="form-disclaimer tooltip">Нажимая на&nbsp;кнопку, вы&nbsp;даете<br><a href="/ru/company/privacy-policy#consent" target="_blank">согласие на&nbsp;обработку своих персональных данных</a></p>
  </div>
</form>
