{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">

    @media (max-width: 991px) {
      .page-header-headline > i {
        display: none;
      }
    }

    @media (max-width: 543px) {
      .page-header-banner {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
      }
    }

    .guitar-office {
      background-image: url('/a/img/s-careers/superintern/office.jpg');
    }

    @media (min-width: 544px) {
      .round-table {
        background-image: url('/a/img/s-services/event-management/what-is-event-management-round-table.jpg');
      }
    }

    @media (min-width: 992px) {
      .guitar-office {
        background-image: url('/a/img/s-careers/superintern/guitar.jpg');
      }

      .soap-bubbles {
        background-image: url('/a/img/s-careers/superintern/soap-bubbles.jpg');
      }

      .office {
        background-image: url('/a/img/s-careers/superintern/office.jpg');
      }

      .eclipse {
        background-image: url('/a/img/s-careers/superintern/eclipse.jpg');
      }

      .party {
        background-image: url('/a/img/s-careers/superintern/party.jpg');
      }
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-careers has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Конкурс талантов <span class="hidden-md-down">«Суперстажёр»</span></h1>
      <span class="page-header-icon" aria-hidden="true"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-careers/superintern/header.jpg" alt="Конкурс талантов среди стажеров PR-агентства">
    </figure>

    {# The 1st Section #}
    <div class="row gutters-sm pt-12 pt-md-18 pt-lg-42 pb-lg-60">

      <div class="col-lg-6 offset-lg-1 pt-lg-42">
        <p class="lead">КГ&nbsp;«Полилог» объявляет конкурс о&nbsp;наборе студентов на&nbsp;позицию стажера. Ежемесячно стажировку смогут проходить несколько человек. Студентам будет предоставлена возможность проявить себя и&nbsp;получить не&nbsp;только опыт и&nbsp;пройти производственную практику, но&nbsp;и&nbsp;принять участие в&nbsp;конкурсе «Суперстажёр», где главным призом является трудоустройство по&nbsp;окончании учебы в&nbsp;ВУЗе.</p>
        <p>Каждый из&nbsp;стажеров будет оценен руководством КГ&nbsp;«Полилог» по&nbsp;определенным качественным критериям. Будет составлена сводная «турнирная таблица», с&nbsp;помощью которой в&nbsp;конце года будут подведены итоги конкурса. Трое победителей получат (в&nbsp;виде сертификата) «подтверждение трудоустройства» в&nbsp;КГ&nbsp;«Полилог» после окончания своего обучения в&nbsp;ВУЗе.</p>
      </div>

      <div class="col-lg-3 offset-lg-1 hidden-md-down">
        <div class="mosaic-pic soap-bubbles" role="img" aria-label="В офисе PR-агентства" title="В офисе PR-агентства"></div>
        <div class="mosaic-pic office has-instagram-link" role="img" aria-label="В офисе PR-агентства" title="В офисе PR-агентства">
          <a class="mosaic-hidden-link" href="https://www.instagram.com/polylogteam/" target="_blank">Наш&nbsp;«Инстаграм»</a>
        </div>
      </div>
    </div> {# / 1st section #}

    {# The 2nd Section #}
    <div class="row gutters-sm pb-lg-24">

      <div class="col-lg-3 offset-lg-1">
        <div class="row gutters-sm">
          <div class="col-sm-6 col-lg-12">
            <div class="mosaic-pic guitar-office" role="img" aria-label="В офисе PR-агентства" title="В офисе PR-агентства"></div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="mosaic-pic round-table hidden-xs-down" role="img" aria-label="Проекты PR-агентства" title="Проекты PR-агентства"></div>
          </div>
        </div>
      </div>

      <div class="main-content base">

        <h2 class="subhead pt-lg-30">Требования к&nbsp;кандидатам</h2>
        <ol class="list-ol">
          <li>Кандидат должен являться студентом <span class="nowrap">4-6</span> курса по&nbsp;направлению подготовки: реклама и&nbsp;связи с&nbsp;общественностью, менеджмент, политология, журналистика, государственное и&nbsp;муниципальное управление, социология;</li>
          <li>Знание английского языка не&nbsp;ниже уровня Intermediate;</li>
          <li>Знание MS&nbsp;Office на&nbsp;уровне уверенного пользователя;</li>
          <li>Коммуникабельность, грамотная устная и&nbsp;письменная речь, ответственность.</li>
        </ol>
        <p>Каждый кандидат должен направить резюме и&nbsp;мотивационное письмо в&nbsp;HR-департамент. Отобранные кандидаты получают приглашение на&nbsp;собеседование.&nbsp;При взаимном интересе обсуждаются дальнейшие действия. <a href="/ru/careers/internship">Стажировка начинается</a>.</p>
      </div>
    </div>{# / 2nd section #}

    {# The 3rd Section #}
    <div class="row gutters-sm pb-2 pb-lg-20">

      <div class="col-lg-6 offset-lg-1 pt-lg-42">
        <h2 class="subhead pt-lg-10">Критерии оценки эффективности стажеров</h2>
        <ol class="list-ol">
          <li><strong>Профессиональные критерии</strong>
            <ul>
              <li>Умение работать с&nbsp;информацией;</li>
              <li>Стремление участника совершенствовать свои знания и&nbsp;приобретать новые компетенции.</li>
            </ul>
          </li>
          <li><strong>Деловые критерии </strong>
            <ul>
              <li>Ответственность (дисциплина, соблюдение сроков реализации задачи, своевременное предоставление отчетности);</li>
              <li>Инициативность (стремление оптимизировать рабочие процессы).</li>
            </ul>
          </li>
          <li>
          <strong>Обратная связь</strong>
          <p class="pseudo-li">Способность участника к&nbsp;адекватной самооценке своей деятельности&nbsp;— по&nbsp;итогам стажировки проводится итоговое собеседование с&nbsp;представителем HR-департамента КГ&nbsp;«Полилог».</p>
          </li>
        </ol>
      </div>

      <div class="col-lg-3 offset-lg-1 hidden-md-down">
        <div class="mosaic-pic eclipse" role="img" aria-label="В офисе PR-агентства" title="В офисе PR-агентства"></div>
        <div class="mosaic-pic party has-instagram-link mb-0" role="img" aria-label="В офисе PR-агентства" title="В офисе PR-агентства">
          <a class="mosaic-hidden-link" href="https://www.instagram.com/polylogteam/" target="_blank">Наш&nbsp;«Инстаграм»</a>
        </div>
      </div>
    </div> {# / 3rd section #}

  </article>
</main>

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-careers-internership.twig" %}
{% endblock %}{# / block cta #}
