// -------------------------------------
// Polylog Promo
// -------------------------------------

// a.tile.event-name.poster.wide        # Images and details container. Display: flex, justify-content: center, align-items: stretch;
// .tile-summary                        # Images container, relatively positioned. text-align: center to center main pic
//    .tile-img                         # Static positioned image
//    .tile-logo                        # Absolutely positioned image


// .card-header.fishermen               # Images container, relatively positioned. Display: flex, justify-content: center;
//    .tile-img                         # Absolutely positioned image
//    .tile-logo                        # Absolutely positioned image


// Common Container / Blue Box - Front page
.tile.fishermen {
  background: rgb(51, 51, 153) url('/a/img/polylog-promo/2018-fishermen/mb-311.jpg') no-repeat right top;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

// Logo Container — Interior Page
.card-header.fishermen {
  background: rgb(51, 51, 153);
  // display: flex;
  // justify-content: center;
  text-align: center;
  position: relative;
}

// Logo Container — Front page
.fishermen .tile-figure {
  text-align: center;
  position: relative;
}

// 2 Columns: Logo & Text
.fishermen {
  .tile-figure,
  .tile-details {
    flex: 0 0 216px;
  }
}

.fishermen .tile-summary {
  margin-bottom: 0;
  opacity: .54;
}

.tile.fishermen abbr {
  text-decoration: none;
}

// Logo
.fishermen .tile-logo,
.fishermen .card-logo {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(-.5rem);
}

// Logo on front page
.fishermen .tile-logo {
  @include media-breakpoint-up(lg) {
    transform: translateX(.5rem);
  } // lg
}
