<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="https://www.facebook.com/fishcongress" itemprop="url">
    <figure class="card-header fishermen">
      <img class="card-logo" src="/a/img/polylog-promo/2018-fishermen/logo.svg" alt="Съезд работников рыбохозяйственного комплекса РФ">
    </figure>
    <div class="card-body solid">
      <h3 class="card-headline" itemprop="name">IV&nbsp;Съезд работников рыбохозяйственного комплекса&nbsp;РФ</h3>
      <address class="card-subhead" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">
          Центр международной торговли.
        </span>
        <span class="sr-only" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Москва</span>
        </span>
      </address>
      <time class="card-subhead" datetime="2018-02-26T10:00" itemprop="startDate" content="2018-02-26T10:00">
        26 февраля 2018
      </time>
    </div>
  </a>
</div>
