<div class="col-lg-6 hidden-sm-down" itemscope itemtype="http://schema.org/Event">
  <a class="tile fishermen poster wide" href="https://www.facebook.com/fishcongress" itemprop="url" aria-label="Съезд работников рыбохозяйственного комплекса РФ. 26 февраля 2018 в московском Центре международной торговли">
    <figure class="tile-figure">
      <img class="tile-logo" src="/a/img/polylog-promo/2018-fishermen/logo.svg" alt="Съезд работников рыбохозяйственного комплекса РФ">
    </figure>
    <div class="tile-details tile-body">
      <h2 class="tile-headline" itemprop="name">IV&nbsp;Съезд работников <span class="lowercase">рыбохозяйственного комплекса&nbsp;РФ</span></h2>
      <p class="sr-only" itemprop="description">В&nbsp;рамках работы Съезда будут обсуждаться результаты работы рыбохозяйственного комплекса Российской Федерации за&nbsp;2012&ndash;2017&nbsp;гг., Стратегия развития рыбохозяйственного комплекса Российской Федерации до&nbsp;2030 года и&nbsp;другие актуальные вопросы развития отрасли.</p>
      <address class="tile-summary" itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name"><abbr title="Центр международной торговли">ЦМТ</abbr>,</span> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Москва</span></span></address>
      <time class="tile-summary" datetime="2018-02-26T10:00" itemprop="startDate" content="2018-02-26T10:00">26 февраля 2018</time>
      <time class="sr-only" datetime="2018-02-26T19:00" itemprop="endDate" content="2018-02-26T19:00">26 февраля 2018</time>
      <svg class="icon forward" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-forward"></use></svg>
    </div>
  </a>
</div>
