// -----------------------------------------------------------------------------
// Headlines & Subheads
// -----------------------------------------------------------------------------

// 32
%headline-huge {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

// 24
%headline-large {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

// 20
%headline-medium {
  font-size: $font-size-h2-compact;
  line-height: $line-height-h2-compact;
}


// -------------------------------------
// Custom titles
// -------------------------------------

@mixin headline-variant($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}


// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

%lead {
  font-family: $headings-font-family;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.412;
}

%custom-focus {
  &:focus {
    outline: 0;
    // may be add pseudo-element to create pulsating arrow
  }
}

// 1) Create colored numbers
//
%ordered-list { // 1
  counter-reset: item;
  padding: 0;

  > li {
    display: block;

    &::before {
      color: rgb(81, 84, 88);
      content: counter(item) '. ';
      counter-increment: item;
      font-weight: bold;
    }
  }
}

%text-hide {
  @include text-hide();
}


// -----------------------------------------------------------------------------
// Line Clampin’ (Truncating Multiple Line Text)
// -----------------------------------------------------------------------------

// Using
// .block-with-text {
//   @include line-clampin($line-count: 3, $line-height: 2.4rem);
// }

// WARNING! Don't use vertical padding with it

// 1) Autoprefixer does not deal with it

@mixin line-clampin($line-count: 1, $line-height: 2.4rem) {
  -webkit-box-orient: vertical;   // 1
  -webkit-line-clamp: $line-count; // 1
  display: -webkit-box; // 1
  text-overflow: -o-ellipsis-lastline; // 1
  overflow: hidden;
  max-height: $line-height * $line-count;
}


// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

%container {
  @include make-container();
  @include make-container-max-widths();
}

%row {
  @include make-row();
}

%gutters-sm {
  @include media-breakpoint-up(md) {
    margin-right: -6px;
    margin-left: -6px;
  } // md
}

@mixin gutters-sm-col() {
  padding-right: 6px;
  padding-left: 6px;
}

%col {
  // padding-left: $grid-gutter-width / 2;
  // padding-right: $grid-gutter-width / 2;
  position: relative;
  width: 100%;
  min-height: 1px;
}

%section {
  padding: ($spacer-y * 3) 0 ($spacer-y * 3 - .1rem);
  position: relative;

  h2 {
    padding-top: 0;
  }

  &.last {
    padding-bottom: $spacer-y * 3;
  }
}

%box-shadow {
  box-shadow: none;
  // transition: box-shadow .16s cubic-bezier(.4, 0, .2, 1), margin .16s cubic-bezier(.4, 0, .2, 1), padding .16s cubic-bezier(.4, 0, .2, 1);
  transition: box-shadow .24s cubic-bezier(.4, 0, .2, 1), transform .24s cubic-bezier(.4, 0, .2, 1);
  transform: translateY(0);
}

%box-shadow-hover {
  box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .4);
  transform: translateY(-4px);
  // margin: -4px -4px 8px;
  // padding: 4px;
}


// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

// -------------------------------------
// Button reset
// -------------------------------------

// reboot & normalize styles for buttons
//   -webkit-appearance: button;
//   font: inherit;
//   margin: 0;
//   overflow: visible;
//   text-transform: none;
//   touch-action: manipulation;

%btn {
  border: 0;
  display: inline-block;
  font-size: 100%;
  line-height: 1;
  padding: 0;
  text-align: center;
  transition: all .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:not(.disabled) {
    cursor: pointer;
  }
}

%btn-bootstrap {
  border-radius: $border-radius;
  border: 1px solid transparent;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  padding: .5rem 1rem;
  transition: all .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:not(.disabled) {
    cursor: pointer;
  }
}



%btn-shadow {
  &::after { // 1
    box-shadow: 0 12px 24px -6px rgba(0, 0, 0, .4);
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}

%btn-close {
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23E7EAEE%22%20%2F%3E%3Cpolygon%20points%3D%2211.3%2012%208%208.7%208%208%208.7%208%2012%2011.3%2015.3%208%2016%208%2016%208.7%2012.7%2012%2016%2015.3%2016%2016%2015.3%2016%2012%2012.7%208.7%2016%208%2016%208%2015.3%22%20fill%3D%22%23979797%22%20%2F%3E%3C%2Fsvg%3E%0A') 50% 50% no-repeat;
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: $zindex-modal;

  &:focus {
    outline: none;
  }
}

%btn-shake {
  animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
}

// -------------------------------------
// Button for separated styles
// -------------------------------------


@mixin btn() {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  line-height: 1;
  padding: 0;
  text-align: center;
  transition: all .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


// -----------------------------------------------------------------------------
// Menus
// -----------------------------------------------------------------------------

%form-control {
  background-clip: padding-box;
  background-color: #fff;
  background-image: none;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  color: $color-text-secondary;
  display: block;
  font-size: 100%;
  line-height: 1.25;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}

// -----------------------------------------------------------------------------
// Menus
// -----------------------------------------------------------------------------

%menu-item {
  white-space: normal;
  margin-bottom: 1px;
  padding: 0;

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0);
  }
}

// The 1st and 2nd levels
%menu-link {

  @include media-breakpoint-up(md) {
    color: $color-text-secondary;
    text-shadow: 0 1px 0 #fff;
    display: block;

    &:hover,
    &:focus {
      background: $color-background-secondary;
      color: darken($color-text-secondary, ($tone * 3));
    }
  }
}

// -----------------------------------------------------------------------------
// Links w/ chevrons: prev, next (more), modal
// -----------------------------------------------------------------------------

%chevron-forward {
  background-image: url('data:image/svg+xml;charset=UTF-8,%0A%3Csvg%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%22100%207%208%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Chevron-Left%22%20stroke%3D%22none%22%20fill%3D%22%23DDE0E4%22%20fill-rule%3D%22evenodd%22%20points%3D%22106.720344%2014.1203444%20102.486588%2018.8245178%20101%2017.4865883%20104.666896%2013.4122589%20101%209.33792946%20102.486588%208%20106.720344%2012.7041734%20107.424518%2013.3379295%20107.357621%2013.4122589%20107.424518%2013.4865883%20106.720344%2014.1203444%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E'); // 1
  // background-position is set in examples styles
  background-repeat: no-repeat;
  text-decoration: none;
}

%chevron-forward-in-circle {
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23C1C7CF%22%20%2F%3E%3Cpolygon%20points%3D%2215.7%2013.1%2011.5%2017.8%2010%2016.5%2013.7%2012.4%2010%208.3%2011.5%207%2015.7%2011.7%2016.4%2012.3%2016.4%2012.4%2016.4%2012.5%22%20fill%3D%22%23FFF%22%20%2F%3E%3C%2Fsvg%3E%0A') no-repeat;
}

%chevron-forward-white {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Edata-chevron-next%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cpath%20d%3D%22M5.72%206.12l-4.234%204.704-1.487-1.338%203.667-4.074-3.667-4.074%201.487-1.338%204.234%204.704.704.634-.067.074.067.074-.704.634z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
  // background-position is set in examples styles
  background-repeat: no-repeat;
  text-decoration: none;
}


%chevron-back {
  background-image: url('data:image/svg+xml;charset=UTF-8,%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%224%202%207%2011%22%3E%3Cpath%20d%3D%22M4.7%206.7L8.3%202.7%208.9%202%2010.4%203.3%209.8%204.1%206.8%207.4%209.8%2010.7%2010.4%2011.5%208.9%2012.8%208.3%2012.1%204.7%208.1%204%207.5%204.1%207.4%204%207.3%204.7%206.7Z%22%20fill%3D%22%239B9EA2%22%2F%3E%3C%2Fsvg%3E'); // 1
  // background-position is set in examples styles
  background-repeat: no-repeat;
  text-decoration: none;
}

%chevron-back-white {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%228%22%20height%3D%2211%22%20viewBox%3D%22-1%200%208%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M.704%206.12l4.234%204.704%201.487-1.338-3.667-4.074%203.667-4.074-1.487-1.338-4.234%204.704-.704.634.067.074-.067.074.704.634z%22%2F%3E%3C%2Fsvg%3E%0A');
  // background-position is set in examples styles
  background-repeat: no-repeat;
  text-decoration: none;
}



// -----------------------------------------------------------------------------
// Embed Media
// -----------------------------------------------------------------------------

%iframe {
  background: $color-background-alt-row;
  border: 0 none;
  max-width: 100%;
}

%media-wrapper {
  border-radius: $border-radius;

  // inline-block should be avoided because it adds extra space around element
  display: table;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 1px;

  // Border
  &::after {
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:empty {
    display: none;
  }
}

%has-magnifier-icon {
  position: relative;

  &::after {
    @extend %icon, .icon.enlarge;

    display: block;
    content: '';
    position: absolute;
    top: -1rem;
    width: 24px;
    height: 24px;
    z-index: 2;
  }
}



// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

%bg-blured {
  position: relative;
  overflow: hidden;
  z-index: 2;

  &::before {
    background-repeat: no-repeat;
    content: '';
    display: block;
    filter: url('#blur');
    filter: blur(8px);
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
  }
}


%bg-services {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2272%22%20height%3D%2272%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cdefs%3E%3Cpath%20id%3D%22services-a%22%20d%3D%22M30.0606061%2C0%20C31.1321212%2C0%2032%2C0.868848485%2032%2C1.93939394%20L32%2C30.0606061%20C32%2C31.1321212%2031.1321212%2C32%2030.0606061%2C32%20L1.93939394%2C32%20C0.868848485%2C32%200%2C31.1321212%200%2C30.0606061%20L0%2C1.93939394%20C0%2C0.868848485%200.868848485%2C0%201.93939394%2C0%20L30.0606061%2C0%20Z%22%2F%3E%3ClinearGradient%20id%3D%22services-d%22%20x1%3D%2250%25%22%20x2%3D%2250%25%22%20y1%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23B5B8BC%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23A1A4A8%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20id%3D%22services-c%22%20d%3D%22M21.0002329%2C13.4509277%20C21.0000778%2C13.4672644%2021%2C13.483622%2021%2C13.5%20C21%2C15.9799102%2022.7831286%2C17.9912894%2024.9856828%2C17.9999718%20C24.9506468%2C18.3750083%2024.8560177%2C19.3108368%2024.7545747%2C19.6566763%20C24.6384477%2C20.0525763%2022.1120546%2C21.8555933%2020%2C22.7692304%20L20%2C25%20L18%2C25%20L17.4311951%2C23.5779877%20C17.0765394%2C23.6580277%2015.1921044%2C24%2014.5%2C24%20C13.6140991%2C24%2012.7695921%2C23.8636707%2012%2C23.6167974%20L12%2C25%20L10%2C25%20L9.42484889%2C22.1242445%20C8.53326973%2C21.268362%208%2C20.1820855%208%2C19%20C8%2C18.8364088%207%2C18%207%2C18%20L8.13002355%2C18%20C8.73227498%2C15.7177597%2011.3553547%2C14%2014.5%2C14%20C15.9635722%2C14%2017.3141665%2C14.3720895%2018.4006337%2C15%20L19%2C15%20L20.2910156%2C13.4509277%20L21.0002329%2C13.4509277%20Z%20M16.9794547%2C15.299594%20C16.2451492%2C15.0543841%2015.4594044%2C14.9215698%2014.6426392%2C14.9215698%20C13.7035591%2C14.9215698%2012.805486%2C15.097142%2011.9794547%2C15.4172517%20L11.9794547%2C16.2645384%20C12.7887765%2C15.8879106%2013.6911507%2C15.6776276%2014.6426392%2C15.6776276%20C15.4681069%2C15.6776276%2016.2566088%2C15.8358971%2016.9794547%2C16.1237461%20L16.9794547%2C15.299594%20Z%20M14.5%2C13%20C13.1192881%2C13%2012%2C11.8807119%2012%2C10.5%20C12%2C9.11928813%2013.1192881%2C8%2014.5%2C8%20C15.8807119%2C8%2017%2C9.11928813%2017%2C10.5%20C17%2C11.8807119%2015.8807119%2C13%2014.5%2C13%20Z%22%2F%3E%3Cfilter%20id%3D%22services-b%22%20width%3D%22127.9%25%22%20height%3D%22111.8%25%22%20x%3D%22-2.8%25%22%20y%3D%22-2.9%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%201%20%20%200%200%200%200%201%20%20%200%200%200%200%201%20%200%200%200%201%200%22%2F%3E%3C%2Ffilter%3E%3Cpath%20id%3D%22services-e%22%20d%3D%22M1.93939394%2C0%20L30.0606061%2C0%20C31.1321212%2C0%2032%2C0.868848485%2032%2C1.93939394%20L32%2C30.0606061%20C32%2C31.1321212%2031.1321212%2C32%2030.0606061%2C32%20L1.93939394%2C32%20C0.868848485%2C32%200%2C31.1321212%200%2C30.0606061%20L0%2C1.93939394%20C0%2C0.868848485%200.868848485%2C0%201.93939394%2C0%20L1.93939394%2C0%20Z%22%2F%3E%3Cpath%20id%3D%22services-g%22%20d%3D%22M17%2C21%20L17%2C24%20L15%2C24%20L15%2C21%20L7%2C21%20L7%2C7%20L25%2C7%20L25%2C21%20L17%2C21%20Z%20M8%2C8%20L8%2C19%20L24%2C19%20L24%2C8%20L8%2C8%20Z%20M13%2C24%20L19%2C24%20L19%2C25%20L13%2C25%20L13%2C24%20Z%20M11.353%2C17.353%20L10.646%2C16.646%20L13.646%2C13.646%20L14.353%2C14.353%20L11.353%2C17.353%20Z%20M13.646%2C13.353%20L14.353%2C12.647%20L17.353%2C15.647%20L16.646%2C16.354%20L13.646%2C13.353%20Z%20M17.353%2C15.353%20L16.646%2C14.645%20L19.646%2C11.645%20L20.353%2C12.352%20L17.353%2C15.353%20Z%20M22%2C10%20L22%2C11%20L19%2C11%20L19%2C10%20L22%2C10%20Z%20M21%2C11%20L22%2C11%20L22%2C13%20L21%2C13%20L21%2C11%20Z%22%2F%3E%3Cfilter%20id%3D%22services-f%22%20width%3D%22105.6%25%22%20height%3D%22111.1%25%22%20x%3D%22-2.8%25%22%20y%3D%22-2.8%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%201%20%20%200%200%200%200%201%20%20%200%200%200%200%201%20%200%200%200%201%200%22%2F%3E%3C%2Ffilter%3E%3Cpath%20id%3D%22services-h%22%20d%3D%22M1.93939394%2C0%20L30.0606061%2C0%20C31.1321212%2C0%2032%2C0.868848485%2032%2C1.93939394%20L32%2C30.0606061%20C32%2C31.1321212%2031.1321212%2C32%2030.0606061%2C32%20L1.93939394%2C32%20C0.868848485%2C32%200%2C31.1321212%200%2C30.0606061%20L0%2C1.93939394%20C0%2C0.868848485%200.868848485%2C0%201.93939394%2C0%20L1.93939394%2C0%20Z%22%2F%3E%3Cpath%20id%3D%22services-j%22%20d%3D%22M20%2C16.6729949%20L20%2C14.4285714%20C20%2C13.6395932%2019.3533002%2C13%2018.5555556%2C13%20L8.44444444%2C13%20C7.64669981%2C13%207%2C13.6395932%207%2C14.4285714%20L7%2C21.5714286%20C7%2C22.3604068%207.64669981%2C23%208.44444444%2C23%20L18.5555556%2C23%20C19.3533002%2C23%2020%2C22.3604068%2020%2C21.5714286%20L20%2C20.3268273%20L23.6807044%2C22.7622732%20C23.9198446%2C23.0137938%2024.2946652%2C23.0725125%2024.5972608%2C22.9058592%20C24.8998564%2C22.7392058%2025.0560207%2C22.3880492%2024.9791326%2C22.0471689%20L24.9791326%2C14.9590617%20C25.0591332%2C14.6173003%2024.9040559%2C14.2634256%2024.6005519%2C14.0951687%20C24.2970479%2C13.9269117%2023.9202527%2C13.9859262%2023.6807044%2C14.2392372%20L20%2C16.6729949%20Z%20M14.3333333%2C14%20L17.6666667%2C14%20C17.8507616%2C14%2018%2C14.2238576%2018%2C14.5%20C18%2C14.7761424%2017.8507616%2C15%2017.6666667%2C15%20L14.3333333%2C15%20C14.1492384%2C15%2014%2C14.7761424%2014%2C14.5%20C14%2C14.2238576%2014.1492384%2C14%2014.3333333%2C14%20L14.3333333%2C14%20Z%20M7%2C9%20L11%2C9%20L11%2C10%20L7%2C10%20L7%2C9%20L7%2C9%20Z%20M10%2C9.49614576%20L10.4961458%2C9%20L14%2C12.5038542%20L13.5038542%2C13%20L10%2C9.49614576%20Z%22%2F%3E%3Cfilter%20id%3D%22services-i%22%20width%3D%22105.6%25%22%20height%3D%22114.3%25%22%20x%3D%22-2.8%25%22%20y%3D%22-3.6%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%201%20%20%200%200%200%200%201%20%20%200%200%200%200%201%20%200%200%200%201%200%22%2F%3E%3C%2Ffilter%3E%3Cpath%20id%3D%22services-k%22%20d%3D%22M30.0606061%2C0%20C31.1321212%2C0%2032%2C0.868848485%2032%2C1.93939394%20L32%2C30.0606061%20C32%2C31.1321212%2031.1321212%2C32%2030.0606061%2C32%20L1.93939394%2C32%20C0.868848485%2C32%200%2C31.1321212%200%2C30.0606061%20L0%2C1.93939394%20C0%2C0.868848485%200.868848485%2C0%201.93939394%2C0%20L30.0606061%2C0%20Z%22%2F%3E%3Cpath%20id%3D%22services-m%22%20d%3D%22M12.8592825%2C18%20C11.8570591%2C16.1558882%2011%2C14.2147149%2011%2C12.9690343%20C11%2C7.06250298%2015.9689041%2C7%2015.9689041%2C7%20C15.9689041%2C7%2021%2C7.05564289%2021%2C12.9309228%20C21%2C14.212404%2020.1364464%2C16.1591653%2019.1248771%2C18%20L22.4%2C18%20L25%2C25%20L7%2C25%20L9.6%2C18%20L12.8592825%2C18%20Z%20M13.420993%2C19%20L10.3%2C19%20L8.4%2C24%20L23.6%2C24%20L21.7%2C19%20L18.5562537%2C19%20C17.2750071%2C21.183924%2015.9689041%2C22.9931399%2015.9689041%2C22.9931399%20L15.9689041%2C23%20C15.9689041%2C23%2014.6840077%2C21.1817201%2013.420993%2C19%20Z%20M16%2C10%20L16%2C10%20C14.8954305%2C10%2014%2C10.8954305%2014%2C12%20C14%2C13.1045695%2014.8954305%2C14%2016%2C14%20C17.1045695%2C14%2018%2C13.1045695%2018%2C12%20C18%2C10.8954305%2017.1045695%2C10%2016%2C10%20Z%22%2F%3E%3Cfilter%20id%3D%22services-l%22%20width%3D%22105.6%25%22%20height%3D%22111.1%25%22%20x%3D%22-2.8%25%22%20y%3D%22-2.8%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%201%20%20%200%200%200%200%201%20%20%200%200%200%200%201%20%200%200%200%201%200%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%2840%2040%29%22%3E%3Cuse%20fill%3D%22%23F1F4F8%22%20xlink%3Ahref%3D%22%23services-a%22%2F%3E%3Cpath%20stroke%3D%22%23DDE0E4%22%20d%3D%22M30.0606061%2C0.5%20C30.8556053%2C0.5%2031.5%2C1.14461726%2031.5%2C1.93939394%20L31.5%2C30.0606061%20C31.5%2C30.8559788%2030.8559788%2C31.5%2030.0606061%2C31.5%20L1.93939394%2C31.5%20C1.14461726%2C31.5%200.5%2C30.8556053%200.5%2C30.0606061%20L0.5%2C1.93939394%20C0.5%2C1.14499086%201.14499086%2C0.5%201.93939394%2C0.5%20L30.0606061%2C0.5%20Z%22%2F%3E%3Cg%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23services-b%29%22%20xlink%3Ahref%3D%22%23services-c%22%2F%3E%3Cuse%20fill%3D%22url%28%23services-d%29%22%20xlink%3Ahref%3D%22%23services-c%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20transform%3D%22translate%280%2040%29%22%3E%3Cuse%20fill%3D%22%23F1F4F8%22%20xlink%3Ahref%3D%22%23services-e%22%2F%3E%3Cpath%20stroke%3D%22%23DDE0E4%22%20d%3D%22M1.93939394%2C0.5%20L30.0606061%2C0.5%20C30.8556053%2C0.5%2031.5%2C1.14461726%2031.5%2C1.93939394%20L31.5%2C30.0606061%20C31.5%2C30.8559788%2030.8559788%2C31.5%2030.0606061%2C31.5%20L1.93939394%2C31.5%20C1.14461726%2C31.5%200.5%2C30.8556053%200.5%2C30.0606061%20L0.5%2C1.93939394%20C0.5%2C1.14499086%201.14499086%2C0.5%201.93939394%2C0.5%20Z%22%2F%3E%3Cg%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23services-f%29%22%20xlink%3Ahref%3D%22%23services-g%22%2F%3E%3Cuse%20fill%3D%22url%28%23services-d%29%22%20xlink%3Ahref%3D%22%23services-g%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20transform%3D%22translate%2840%29%22%3E%3Cuse%20fill%3D%22%23F1F4F8%22%20xlink%3Ahref%3D%22%23services-h%22%2F%3E%3Cpath%20stroke%3D%22%23DDE0E4%22%20d%3D%22M1.93939394%2C0.5%20L30.0606061%2C0.5%20C30.8556053%2C0.5%2031.5%2C1.14461726%2031.5%2C1.93939394%20L31.5%2C30.0606061%20C31.5%2C30.8559788%2030.8559788%2C31.5%2030.0606061%2C31.5%20L1.93939394%2C31.5%20C1.14461726%2C31.5%200.5%2C30.8556053%200.5%2C30.0606061%20L0.5%2C1.93939394%20C0.5%2C1.14499086%201.14499086%2C0.5%201.93939394%2C0.5%20Z%22%2F%3E%3Cg%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23services-i%29%22%20xlink%3Ahref%3D%22%23services-j%22%2F%3E%3Cuse%20fill%3D%22url%28%23services-d%29%22%20xlink%3Ahref%3D%22%23services-j%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cuse%20fill%3D%22%23F1F4F8%22%20xlink%3Ahref%3D%22%23services-k%22%2F%3E%3Cpath%20stroke%3D%22%23DDE0E4%22%20d%3D%22M30.0606061%2C0.5%20C30.8556053%2C0.5%2031.5%2C1.14461726%2031.5%2C1.93939394%20L31.5%2C30.0606061%20C31.5%2C30.8559788%2030.8559788%2C31.5%2030.0606061%2C31.5%20L1.93939394%2C31.5%20C1.14461726%2C31.5%200.5%2C30.8556053%200.5%2C30.0606061%20L0.5%2C1.93939394%20C0.5%2C1.14499086%201.14499086%2C0.5%201.93939394%2C0.5%20L30.0606061%2C0.5%20Z%22%2F%3E%3Cg%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23services-l%29%22%20xlink%3Ahref%3D%22%23services-m%22%2F%3E%3Cuse%20fill%3D%22url%28%23services-d%29%22%20xlink%3Ahref%3D%22%23services-m%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}


@mixin easing-gradient($color: #000, $alpha-from: 1, $alpha-to: 0) {
  $diff: $alpha-from - $alpha-to;
  background-image: linear-gradient(
    rgba($color, $alpha-from) 0%,
    rgba($color, $alpha-from - $diff*.7) 50%,
    rgba($color, $alpha-from - $diff*.85) 65%,
    rgba($color, $alpha-from - $diff*.925) 75.5%,
    rgba($color, $alpha-from - $diff*.963) 82.85%,
    rgba($color, $alpha-from - $diff*.981) 88%,
    rgba($color, $alpha-to) 100%
  );
}
