// -----------------------------------------------------------------------------
// Awards
// -----------------------------------------------------------------------------

.awards {
  justify-content: center;
  padding-top: 5rem;
}

.award {
  @extend .col-sm-6;

  @include media-breakpoint-up(lg) {
    @include make-col-ready();
    @include make-col(1, 5);
  } // lg
}

.awards-img {
  margin-bottom: 3rem;
}

// -----------------------------------------------------------------------------
// Appreciation Letters
// -----------------------------------------------------------------------------

.appreciation-letters {
  justify-content: center;
  padding-top: 4.2rem;
}

.appreciation-letters.single {
  padding-bottom: 5.2rem;
}

.appreciation-letters.grid {
  padding-bottom: .8rem;
}

.appreciation-letter {
  @extend .col-sm-6, .col-lg-3;

  @include media-breakpoint-up(md) {
    @include gutters-sm-col();
  } // md
}

.appreciation-letter.loose {
  @extend .col-sm-6, .col-lg-4;

  text-align: center;
}

.appreciation-letter-link {
  @extend %has-magnifier-icon;
  background: $color-background-secondary;
  display: inline-block;
  padding: 1rem;
  max-width: 216px;

  // Image Inner Glow
  &::before {
    border: 1px solid rgba(255, 255, 255, .4);
    border-top-color: rgba(255, 255, 255, .64);
    display: block;
    content: '';
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    bottom: 1.1rem;
    left: 1.1rem;
    z-index: 1;
  }

  &::after {
    right: -1rem;
  }
}

.appreciation-letter-img {
  border: 1px solid $color-border;

}

.appreciation-letter > figcaption {
  @extend .pt-1s, .pb-42;

  margin: 0 auto;
  min-height: 5 * $spacer-y;
  width: 216px;
}

.appreciation-letter .link.forward {
  padding-right: 1.2rem;
  padding-left: .8rem;
  transition: .4s opacity;
  opacity: 0;
}

.appreciation-letter:hover .link.forward {
  opacity: 1;
}
