// stylelint-disable selector-no-qualifying-type, selector-class-pattern

// -----------------------------------------------------------------------------
// Legacy
// -----------------------------------------------------------------------------

.across.img_caption > div {
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
  margin-bottom: $spacer-y;
}

// As the design becomes more complex, these styles should be divided into
// files.
// - Audio
// - Iframes
// - Images
// - Figure w/ Caption
// - Video

h3,
h4 {
  + img,
  + .media-wrapper {
    margin-top: 2.4rem;
  }
}


figure {
  margin-bottom: $spacer-y;
}

figure.small-portrait {
  display: none;
}

.article-body iframe {
  margin-bottom: $spacer-y;
  max-width: 100%;
}

// Hide flash on mobiles
object {
  @extend .hidden-md-down;
}

// -----------------------------------------------------------------------------
// Images
// -----------------------------------------------------------------------------

// 1) Set article img responsible by default
// .article img:not([class]),
// .section img:not([class]) {
//   @include img-fluid();  // 1
// }

img {
  @include img-fluid();  // 1
}

.article > img:not([class]) {
  margin-bottom: 3rem;
}

.article-body > img:not([class]),
.article-body > .image,
.article-body > .image-_original {
  display: block;
  margin-top: $spacer-y;
  margin-bottom: 3rem;
}

.article-body > img.left,
.article-body > img.right {
  display: block;
  float: none;
  margin-top: $spacer-y;
  margin: 0 0 3rem;
}

.body > img.left,
.body > img.right {
  display: none;
}

.figure.across {
  @extend %row, .justify-content-center, .text-center;

  margin-bottom: $spacer-y * 2;

  > figcaption {
    padding-top: 3rem;
  }
}

// -----------------------------------------------------------------------------
// Media Wrapper
// -----------------------------------------------------------------------------

// It is used to round corners and inner border

.media-wrapper {
  @extend %media-wrapper;
}

// Wrapper variations

.article .media-wrapper {
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 5.4rem;
  }
}

.section-blog .article-headline + .media-wrapper {
  margin-right: auto;
  margin-left: auto;
}

// stylelint-disable selector-max-compound-selectors
.section-blog .article-headline + .media-wrapper > img {
  @include media-breakpoint-up(md) {
    min-width: 498px;
  }

  @include media-breakpoint-up(lg) {
    min-width: 636px;
  }
}
// stylelint-enable selector-max-compound-selectors

.gallery .media-wrapper,
.media-wrapper.in-grid {
  margin-bottom: 1.2rem;
}

.mosaic .media-wrapper {
  margin-bottom: 1.2rem;

  @include media-breakpoint-up(sm) {
    height: 252px;
  } // sm
}

.media-wrapper.legacy,
.media-wrapper.has-lg-img {
  display: block;
  margin-bottom: 4.8rem;
}

// w = 860px
.media-wrapper.legacy {
  @include media-breakpoint-up(lg) {
    margin-right: -181px;
    margin-left: -181px;
  }
}

// w = 900px
.media-wrapper.has-lg-img {
  @include media-breakpoint-up(lg) {
    margin-right: -201px;
    margin-left: -201px;
  }
}

.media-wrapper.two-modules {
  max-width: 444px;
  height: auto;

  @include media-breakpoint-up(sm) {
    height: 252px;
  } // sm
}

.across > .media-wrapper {
  @include media-breakpoint-up(lg) {
    margin-right: -1.6rem;
    margin-left: -1.6rem;
  } // lg
}

// CAPTION OVERLAY PANEL
.media-wrapper-overlay {
  background: rgba(0, 0, 0, .64);
  color: $negative;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $spacer ($spacer * 2);
  transform: translateY(100%);
  transition: transform $transition, opacity $transition;

  &::before {
    @extend %icon, %icon-xs, %icon-enlarge-inverse;

    display: inline-block;
    content: '';
    margin-right: $spacer;
    transform: translateY(-2px);
    vertical-align: middle;
  }

  .media-wrapper:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}
