// -----------------------------------------------------------------------------
// Containers
// -----------------------------------------------------------------------------

.mosaic .row,
.mosaic.row {
  text-align: center;

  @include media-breakpoint-only(xs) {
    margin: 0;
  }

  @include media-breakpoint-up(sm) {
    margin: 0 -6px;
  } // sm

  @include media-breakpoint-up(lg) {
    justify-content: center;
  } // lg


  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-up(sm) {
      padding-right: 6px;
      padding-left: 6px;
    } // sm
  }
}

.mosaic.fits-to-container {
  @media (min-width: 1016px) and (max-width: 1055px) {
    margin-right: -16px;
    margin-left: -16px;
  }
}

.mosaic.outstanding {
  @include media-breakpoint-up(lg) {
    margin-right: -207px;
    margin-left: -207px;
  }
}

// Limit the width of columns.

.mosaic .row > .col-sm-6,
.mosaic.row > .col-sm-6 {
  @include media-breakpoint-up(sm) {
    max-width: 262px;
  }

  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}

.mosaic .row > .col-12,
.mosaic.row > .col-12 {
  @include media-breakpoint-up(sm) {
    display: block;
    max-width: (262px * 2);
  }

  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}




// -----------------------------------------------------------------------------
// Images (Img)
// -----------------------------------------------------------------------------

.mosaic-pic-frame {
  @extend %media-wrapper;

  text-align: center;
  overflow: hidden;

  > img {
    max-width: none;
  }
}


// -----------------------------------------------------------------------------
// Images (Divs w/ background)
// -----------------------------------------------------------------------------

// 1) 320px - paddings (16 + 16) = 288px

.mosaic-pic {
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
  display: inline-block;
  margin: 0 auto 1.2rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 288px; // 1
  height: 252px;

  @include media-breakpoint-up(sm) {
    display: block;
    max-width: none;
  } // md

  &.tall {
    height:  516px;
  } // .tall

  &.lg-tall {
    @include media-breakpoint-up(lg) {
      height:  516px;
    } // lg
  } // .tall
} // mosaic-pic

// W/o wrappers
.mosaic-pic.naked + .mosaic-pic.naked {
  margin-left: 1.2rem;
}



// Instagram Icon for w/ hidden caption
// 1) Icon
// 2) Hide it on hover to prevent z-index conflict w/ figcaption chevron
// 3) Bottom border for figcaption
.has-instagram-link {
  &::after { // 1
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20d%3D%22M11.9956349%2C2%20C14.7229315%2C2%2015.1868822%2C2.00700597%2016.4946024%2C2.06029404%20C17.4731878%2C2.10396454%2018.1787506%2C2.24599278%2018.8453626%2C2.50435618%20C19.4756441%2C2.75271493%2019.9624565%2C3.0654316%2020.4463945%2C3.54946567%20C20.9375094%2C4.04067802%2021.250406%2C4.52584678%2021.49073%2C5.14931093%20C21.74973%2C5.82200921%2021.8917103%2C6.52761364%2021.9355244%2C7.50632197%20C21.992702%2C8.78830783%2022%2C9.24412044%2022%2C11.997817%20C22%2C14.7515136%2021.992702%2C15.2073262%2021.9355169%2C16.489478%20C21.8916877%2C17.4721776%2021.7496759%2C18.1779391%2021.4913439%2C18.8447345%20C21.2430171%2C19.4751851%2020.930344%2C19.9621228%2020.4463945%2C20.4461684%20C19.9552914%2C20.9373689%2019.470248%2C21.2503088%2018.8469516%2C21.4906636%20C18.1744378%2C21.7496954%2017.4690316%2C21.8916921%2016.4905773%2C21.9355122%20C15.2088562%2C21.9927006%2014.7531421%2C22%2012%2C22%20C9.24685786%2C22%208.79114377%2C21.9927006%207.50925671%2C21.9355047%20C6.52681215%2C21.8916695%205.82124936%2C21.7496413%205.15463738%2C21.4912779%20C4.52435591%2C21.2429191%204.03754354%2C20.9302025%203.55360551%2C20.4461684%20C3.06249062%2C19.954956%202.74959403%2C19.4697873%202.50927%2C18.8463231%20C2.25026997%2C18.1736248%202.10828971%2C17.4680204%202.06447564%2C16.4893121%20C2.00735144%2C15.2085236%202%2C14.7489671%202%2C11.997817%20C2%2C9.24635293%202.00736366%2C8.78644192%202.06447564%2C7.51068791%20C2.10831226%2C6.52782242%202.25032412%2C5.82206094%202.50865609%2C5.15526548%20C2.75698289%2C4.52481492%203.06965599%2C4.03787718%203.55360551%2C3.55383162%20C4.04470857%2C3.06263109%204.529752%2C2.74969116%205.15304838%2C2.50933643%20C5.82091093%2C2.25048989%206.52627627%2C2.10832257%207.50505762%2C2.06448784%20C8.78558158%2C2.00735277%209.24503879%2C2%2011.9956349%2C2%20Z%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20d%3D%22M12%2C7.5%20C14.4824911%2C7.5%2016.5%2C9.51750886%2016.5%2C12%20C16.5%2C14.4824911%2014.4824911%2C16.5%2012%2C16.5%20C9.51592118%2C16.5%207.5%2C14.4851546%207.5%2C12%20C7.5%2C9.51484545%209.51592118%2C7.5%2012%2C7.5%20Z%22%2F%3E%3Ccircle%20cx%3D%2218.5%22%20cy%3D%226.5%22%20r%3D%221.5%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    content: '';
    display: block;
    opacity: .7;
    position: absolute;
    right: 24px;
    bottom: 16px;
    transition: opacity .2s;
    width: 24px;
    height: 24px;
  }

  &:hover::after {
    opacity: 0; // 2
  }

  &:hover::before { // 3
    background: rgba(0, 0, 0, .12);
    display: block;
    content: '';
    position: absolute;
    right: 1px;
    bottom: 0;
    left: 1px;
    height: 1px;
    z-index: 2;
  }
}

// -------------------------------------
// Captions
// -------------------------------------


.mosaic-hidden-link {
  background: rgba(255, 255, 255, 1);
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .12), inset -1px 0 0 rgba(0, 0, 0, .12);
  color: $color-text-secondary;
  display: block;
  text-align: left;
  padding: 2.1rem 2.4rem 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(6.8rem);
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  height: 6.8rem;

  // 1) 16px + 8px
  &::after {
    @extend %chevron-forward-in-circle;

    display: block;
    content: '';
    position: absolute;
    right: 24px;
    bottom: 24px; // 1
    width: 24px;
    height: 24px;
  }
}

.mosaic-pic:hover .mosaic-hidden-link {
  transform: translateY(.8rem);
}

// Common

.mosaic-caption {
  margin: .6rem auto 4.8rem;
}





// -----------------------------------------------------------------------------
// Embed Media
// -----------------------------------------------------------------------------

.mosaic-embed {
  @extend %iframe;

  width: 100%;
  height: 252px;
}
