// Shell
.img-person {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 2.4rem;
  width: 216px;
  min-height: 408px;
  z-index: 1;

  .management & {
    margin-right: .6rem;
    margin-left: .6rem;
  }
}

.img-person > img {
  position: relative;
  max-width: none;
}

// Color box
// 1) Image height minus color box height
.img-person::after {
  background-color: $brand-info;
  border-radius: $border-radius $border-radius ($border-radius + 2px) ($border-radius + 2px);
  content: '';
  display: block;
  position: absolute;
  top: (27.7rem - 25.2rem); // 1
  right: 0;
  width: 216px;
  height: 252px;
  z-index: -1;
} // color box


// Caption

.img-person > figcaption {
  text-align: center;
  padding: 1.8rem .6rem 0;
}

.img-person-caption.separated {
  color: $color-text-primary;
  text-align: left;
  padding-top: 4.2rem;
}

.img-person-contact,
.img-person-name {
  display: block;
}

.img-person-name {
  color: $color-text-primary;
}
