{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
{# EXPAND IN STYLE #}
<link rel="stylesheet" href="/sites/all/themes/polylog2017/src/css/head-styles.css">

<style>
</style>

{# / EXPAND IN STYLE #}
{% endblock %}

{% block body %}
<body class="section-projects vr has-dark-jumbotron">
{% endblock %}

  {% block content %}
  {# HERO #}
  <article class="jumbotron base">
    <div class="jumbotron-container">

<!-- CUT IN HERO ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

{# Закомментировать обёртку, если выравнивание текстового блока
стандартное — слева #}
<div class="jumbotron-inner jumbotron-inner-center">
  <div class="jumbotron-body">
    <a class="jumbotron-eyebrow has-icon event ani-slide-down" href="/ru/projects">
      Проекты
    </a>
    <h1 class="jumbotron-headline ani-slide-down">
      <b>Восточный Новый год «Сагаалган»</b> в&nbsp;Государственном Кремлевском Дворце
    </h1>
    <p class="jumbotron-lead ani-slide-down hidden-xs-down">
     <span class="nobr">25–26 февраля</span> в&nbsp;рамках дней культуры Республики Бурятия в&nbsp;Москве прошел первый праздничный концерт в&nbsp;честь Восточного Нового года&nbsp;— Сагаалгана.<span class="hidden-sm-down"> Перед московской публикой выступили лучшие солисты и&nbsp;коллективы из&nbsp;Бурятии, также гостями праздника стали мастера искусств из&nbsp;Калмыкии и&nbsp;Тывы. Агентство «Полилог» обеспечило информационное сопровождение праздника и&nbsp;организовало пресс-тур в&nbsp;Бурятию.</span>
    </p>
  </div>
</div>
{#
  <span class="hidden-xs-down"></span>
  <span class="hidden-sm-up"></span>
#}

<!-- / CUT IN HERO ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

    </div>{# / jumbotron-container #}
  </article>{# / jumbotron #}

  <main class="container">
<!-- CUT IN BODY ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

{# MOSAIC #}
<div class="section is-photos" role="region" aria-label="Фотогалерея и ссылки">
  <figure class="mosaic fits-to-container">
    <div class="row justify-content-sm-center">
      <div class="col-lg-6">
        <a class="link media-wrapper mpf-sm wide js-mfp" href="/a/img/clients/buryatia/2020-04-24-lunar-new-year-01.jpg" title="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
          <img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-01-md.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
        </a>
      </div>
      <div class="col-lg-3 hidden-md-down">
        <a class="link media-wrapper mpf-sm js-mfp" href="/a/img/clients/buryatia/2020-04-24-lunar-new-year-02.jpg" title="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
          <img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-02-sm.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
        </a>
      </div>
      <div class="col-lg-3 hidden-md-down">
        <ul class="list-group tags three-d compact">
          <li class="list-group-item"><a class="list-group-link" href="/ru/services/event-management">Организация мероприятий</a></li>
          <li class="list-group-item"><a class="list-group-link" href="/ru/industries/regional-authorities">Региональные органы власти</a></li>
          <li class="list-group-item"><a class="list-group-link" href="/ru/projects/buryatia">Бурятия</a></li>
        </ul>
      </div>
      <div class="col-lg-3 hidden-md-down">
        <a class="link media-wrapper mpf-sm js-mfp" href="/a/img/clients/buryatia/2020-04-24-lunar-new-year-03.jpg" title="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
          <img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-03-sm.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
        </a>
      </div>
      <div class="col-lg-3 hidden-md-down">
        <a class="link media-wrapper mpf-sm js-mfp" href="/a/img/clients/buryatia/2020-04-24-lunar-new-year-04.jpg" title="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
          <img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-04-sm.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
        </a>
      </div>
      <div class="col-lg-6 hidden-md-down">
        <a class="link media-wrapper mpf-sm wide js-mfp" href="/a/img/clients/buryatia/2020-04-24-lunar-new-year-05.jpg" title="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
          <img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-05-md.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце">
        </a>
      </div>
    </div>
  </figure>
</div>

{# INTRO #}
<section class="section is-intro">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <p class="hidden-md-up">
        <span class="hidden-sm-up"><span class="nobr">25–26 февраля</span> в&nbsp;рамках дней культуры Республики Бурятия в&nbsp;Москве прошел первый праздничный концерт в&nbsp;честь Восточного Нового года&nbsp;— Сагаалгана. </span>Перед московской публикой выступили лучшие солисты и&nbsp;коллективы из&nbsp;Бурятии, также гостями праздника стали мастера искусств из&nbsp;Калмыкии и&nbsp;Тывы. Агентство «Полилог» обеспечило информационное сопровождение праздника и&nbsp;организовало пресс-тур в&nbsp;Бурятию.
      </p>
      <blockquote class="blockquote is-v2">
        <p>«Республика Бурятия богата своей историей, своими традициями. О&nbsp;них очень мало знают, в&nbsp;целом, по&nbsp;России и&nbsp;в&nbsp;Москве, в&nbsp;частности. Мы&nbsp;хотим показать богатство нашей культуры и&nbsp;возможности бурятского народа. Бурятия&nbsp;— уникальный, заповедный край, но&nbsp;это не&nbsp;только озеро Байкал. Наша цель&nbsp;— показать все возможности и&nbsp;огромный потенциал республики, чтобы не&nbsp;только жители Бурятии, но&nbsp;и&nbsp;вся Россия гордилась достижениями нашего народа»</p>
        <footer class="blockquote-footer">Глава Бурятии Алексей Цыденов</footer>
      </blockquote>
      <h2><b>Информационное</b> партнерство</h2>
      <p>Информационными партнерами мероприятия выступили 10&nbsp;СМИ: МИЦ «Известия», медиахолдинг «ФедералПресс», телеканал «Большая Азия», газета «Вечерняя Москва», журнал «Отдых в&nbsp;России», портал «Страна&nbsp;ру», журнал «Yoga Journal», журнал «Региональная Россия», портал и&nbsp;премия «На&nbsp;благо мира».</p>
    </div>
  </div>
</section>

{# CAROUSEL #}
<div class="carousel is-buryatia slide" id="carousel-buryatia" data-ride="carousel">
  <div class="carousel-inner media-wrapper">
    <div class="carousel-item active"><img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-06.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце"></div>
    <div class="carousel-item"><img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-07.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце"></div>
    <div class="carousel-item"><img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-08.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце"></div>
    <div class="carousel-item"><img src="/a/img/clients/buryatia/2020-04-24-lunar-new-year-09.jpg" alt="Восточный Новый год «Сагаалган» в Государственном Кремлевском Дворце"></div>
  </div>
  <ol class="carousel-indicators">
    <li class="active" data-target="#carousel-buryatia" data-slide-to="0"></li>
    <li data-target="#carousel-buryatia" data-slide-to="1"></li>
    <li data-target="#carousel-buryatia" data-slide-to="2"></li>
    <li data-target="#carousel-buryatia" data-slide-to="3"></li>
  </ol>
  <a class="carousel-control left" href="#carousel-buryatia" data-slide="prev" role="button" aria-label="Назад"></a>
  <a class="carousel-control right" href="#carousel-buryatia" data-slide="next" role="button" aria-label="Вперёд"></a>
</div>

{# MEDIA #}
<section class="section is-media">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <h2><b>Работа</b> со&nbsp;СМИ</h2>
      <p>На&nbsp;площадке были организованы пресс-подходы с&nbsp;участием заместителя Председателя Правительства РФ —полномочного представителя Президента РФ&nbsp;в&nbsp;ДФО Юрия Трутнева и&nbsp;Главы Республики Бурятия Алексея Цыденова, а&nbsp;также известных деятелей культуры.</p>
      <p>Кроме того, нами были инициированы комментарии и&nbsp;интервью амбассадоров о&nbsp;празднике и&nbsp;Бурятии, по&nbsp;итогам вышло более 90&nbsp;публикаций с&nbsp;лидерами мнений.</p>
      <p>На&nbsp;мероприятие было аккредитовано 243&nbsp;журналиста.</p>
      <h2><b>Пресс-</b>тур</h2>
      <p>Программа пресс-тура в&nbsp;Бурятию была разделена на&nbsp;три направления&nbsp;— историческое, туристическое и&nbsp;развлекательное. Журналисты посетили по-настоящему уникальные и&nbsp;интересные места&nbsp;— Иволгинский дацан, Байкальский биосферный заповедник, Забайкальский национальный парк, побывали в&nbsp;гостях у&nbsp;старообрядцев и&nbsp;прогулялись по&nbsp;хрустальному льду Байкала. В&nbsp;пресс-туре приняли участие 6&nbsp;журналистов из&nbsp;ведущих общественно-политических и&nbsp;lifestyle СМИ: МИА «Россия сегодня», журнала «Отдых в&nbsp;России» и&nbsp;газеты «Комсомольская правда», портала «Афиша Daily», газеты «Metro Москва», портала Страна.ру (ВГТРК), журнала «Региональная Россия». По&nbsp;итогам было опубликовано 7&nbsp;материалов.</p>    </div>
  </div>
</section>

{# STATS #}
<div class="row is-stats gutters-sm">
  <div class="col-md-6 hidden-sm-down has-tile">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">11 <small>тыс.</small></h2>
        <span class="tile-thought-end compact">посетителей</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 hidden-sm-down">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">786</h2>
        <span class="tile-thought-end compact">публикаций</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 hidden-md-down has-tile">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">243</h2>
        <span class="tile-thought-end compact">
          журналиста на&nbsp;площадке в&nbsp;Кремле
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 hidden-md-down">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">8&nbsp;500+</h2>
        <span class="tile-thought-end compact">
          упоминаний в&nbsp;соцсетях
        </span>
      </div>
    </div>
  </div>
</div>

{# CONCLUSION #}
<section class="section is-media">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <h2><b>Итоги</b></h2>
      <p>За&nbsp;два дня мероприятие посетили 11&nbsp;000&nbsp;человек.</p>
      <p>По&nbsp;итогам работы со&nbsp;СМИ вышло 786&nbsp;публикаций, в&nbsp;том числе 29&nbsp;телесюжетов, 35&nbsp;печатных и&nbsp;638 интернет публикаций. Мы&nbsp;работали во&nbsp;всех популярных социальных сетях, где получили 8&nbsp;731&nbsp;упоминание.</p>
    </div>
  </div>
</section>



<!-- / CUT IN BODY ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </main>
  {% endblock %}{# / block content #}

</body>
</html>
