{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
{# EXPAND IN STYLE #}
<link rel="stylesheet" href="/sites/all/themes/polylog2017/src/css/head-styles.css">

<style>
</style>

{# / EXPAND IN STYLE #}
{% endblock %}

{% block body %}
<body class="section-projects vr has-dark-jumbotron">
{% endblock %}

  {% block content %}
  {# HERO #}
  <article class="jumbotron base">
    <div class="jumbotron-container">

<!-- CUT IN HERO ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

{# Закомментировать обёртку, если выравнивание текстового блока
стандартное — слева #}
<div class="jumbotron-inner jumbotron-inner-right">
  <div class="jumbotron-body">
    <a class="jumbotron-eyebrow has-icon event ani-slide-down" href="/ru/projects">
      Проекты
    </a>
    <h1 class="jumbotron-headline ani-slide-down">
      <b>Дни Дальнего Востока</b> в&nbsp;Москве
    </h1>
    <p class="jumbotron-lead ani-slide-down">
      С&nbsp;12&nbsp;по&nbsp;14&nbsp;декабря в&nbsp;«Экспоцентре» ежегодный Фестиваль «Дни Дальнего Востока в&nbsp;Москве» открыл для 27&nbsp;000 посетителей всё самое интересное, <span class="hidden-xs-down">перспективное, вкусное и&nbsp;музыкальное,</span> чем богат Дальний Восток<span class="hidden-xs-down"> нашей страны. Организацией мероприятия занималось агентство «Полилог»</span>.
    </p>
  </div>
</div>
{#
  <span class="hidden-xs-down"></span>
  <span class="hidden-sm-up"></span>
#}

<!-- / CUT IN HERO ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

    </div>{# / jumbotron-container #}
  </article>{# / jumbotron #}

  <main class="container">
<!-- CUT IN BODY ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

{# VIDEO #}
<div class="section photos">
  <figure class="mosaic fits-to-container">
    <div class="row justify-content-sm-center">
      <div class="col-lg-3 hidden-md-down">
        <div class="tile metric text-center light">
          <div class="tile-body aligned-center-3-lines">
            <h2 class="tile-number">27 <small>тыс.</small></h2>
            <span class="tile-thought-end compact">посетителей за 3&nbsp;дня</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <a class="link media-wrapper mpf-sm wide video js-mfp-video js-mfp" href="https://www.youtube.com/watch?v=07vMlm7YXOo" title="Видеоотчет">
          <img src="/a/img/clients/polylog/2020-02-08-video.jpg" alt="Видеоотчет">
        </a>
      </div>
      <div class="col-lg-3 hidden-md-down">
        <ul class="list-group tags three-d compact">
          <li class="list-group-item"><a class="list-group-link" href="/ru/services/event-management">Организация мероприятий</a></li>
          <li class="list-group-item"><a class="list-group-link" href="/ru/projects/polylog">Собственное мероприятие</a></li>
        </ul>
      </div>
    </div>
  </figure>
</div>

{# TOURISM #}
<section class="section is-tourism">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <p class="hidden-sm-up">Организацией мероприятия занималось агентство «Полилог».</p>
      <p>Фестиваль «Дни Дальнего Востока в&nbsp;Москве»&nbsp;— событие для молодежи и&nbsp;о&nbsp;молодежи. Его девиз «Дальний Восток&nbsp;— молодость России». </p>
      <p>В&nbsp;этом году концепция мероприятия включала три содержательных направления:</p>
      <h2 class="section-headline">Туризм</h2>
      <p>На&nbsp;8&nbsp;500 квадратных метрах выставки мы&nbsp;развернули экспозиции 10&nbsp;регионов Дальнего Востока, где были представлены <strong>уникальные и&nbsp;сверхтехнологичные проекты</strong> в&nbsp;игровом формате с&nbsp;использованием&nbsp;VR и&nbsp;AR инструментов.</p>
    </div>
  </div>
</section>

{# THE FIRST PHOTOS #}
<div class="row gutters-sm">
  <div class="col-md-6 col-lg-4 hidden-sm-down">
    <figure class="media-wrapper">
      <img src="/a/img/clients/polylog/2020-02-08-v-yakutiya.jpg" alt="Дни Дальнего Востока в Москве — 2019">
    </figure>
  </div>
  <div class="col-md-6 col-lg-4 hidden-sm-down">
    <figure class="media-wrapper">
      <img src="/a/img/clients/polylog/2020-02-08-vr.jpg" alt="Дни Дальнего Востока в Москве — 2019">
    </figure>
  </div>
  <div class="col-lg-4 hidden-md-down">
    <figure class="media-wrapper">
      <img src="/a/img/clients/polylog/2020-02-08-v-rock-climber.jpg" alt="Дни Дальнего Востока в Москве — 2019">
    </figure>
  </div>
</div>

{# EDUCATION #}
<section class="section is-education">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <h2 class="section-headline">Образование и&nbsp;карьера</h2>
      <p>В&nbsp;зоне «Образование и&nbsp;работа» гости Фестиваля узнали о&nbsp;перспективных специальностях в&nbsp;ВУЗах Дальнего Востока, <strong>реальных возможностях стажировок и&nbsp;трудоустройства</strong>. В&nbsp;лекториях выступило более <strong>80&nbsp;известных спикеров</strong>, в&nbsp;том числе Министр Российской Федерации по&nbsp;развитию Дальнего Востока и&nbsp;Арктики Александр Козлов, Посол Республики Корея в&nbsp;России Ли&nbsp;Сок Пэ, Посол Индии в&nbsp;России Датла Бала Венкатеш Варма, Руководитель Федерального агентства по&nbsp;туризму Зарина Догузова.</p>
    </div>
  </div>
</section>

{# EDUCATION CAROUSEL #}
<div class="carousel is-education slide hidden-sm-down" id="far-east-education" data-ride="carousel">
  <div class="carousel-inner media-wrapper">
    <div class="carousel-item active"><img src="/a/img/clients/polylog/2020-02-08-education-01.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-02.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-03.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-04.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-05.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-06.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-07.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-08.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-09.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-education-10.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
  </div>
  <ol class="carousel-indicators">
    <li class="active" data-target="#far-east-education" data-slide-to="0"></li>
    <li data-target="#far-east-education" data-slide-to="1"></li>
    <li data-target="#far-east-education" data-slide-to="2"></li>
    <li data-target="#far-east-education" data-slide-to="3"></li>
    <li data-target="#far-east-education" data-slide-to="4"></li>
    <li data-target="#far-east-education" data-slide-to="5"></li>
    <li data-target="#far-east-education" data-slide-to="6"></li>
    <li data-target="#far-east-education" data-slide-to="7"></li>
    <li data-target="#far-east-education" data-slide-to="8"></li>
    <li data-target="#far-east-education" data-slide-to="9"></li>
  </ol>
  <a class="carousel-control left" href="#far-east-education" data-slide="prev" role="button" aria-label="Назад"></a>
  <a class="carousel-control right" href="#far-east-education" data-slide="next" role="button" aria-label="Вперёд"></a>
</div>

{# STATS #}
<div class="row gutters-sm">
  <div class="col-lg-3 hidden-sm-down has-tile">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">10</h2>
        <span class="tile-thought-end compact">регионов<br>Дальнего Востока</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 hidden-md-down">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">8&nbsp;500</h2>
        <span class="tile-thought-end compact">кв.&nbsp;метров интерактивных инсталляций</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 hidden-md-down">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">4&nbsp;500</h2>
        <span class="tile-thought-end compact">порций дальневосточных блюд</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 hidden-sm-down has-tile">
    <div class="tile metric text-center light">
      <div class="tile-body aligned-center-3-lines">
        <h2 class="tile-number">110</h2>
        <span class="tile-thought-end compact">артистов<br>и 82 спикера</span>
      </div>
    </div>
  </div>
</div>

{# CULTURE #}
<section class="section is-culture">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <h2 class="section-headline">Культура</h2>
      <p>Дальневосточная кухня&nbsp;— новый тренд. За&nbsp;вкусовые впечатления гостей отвечал шеф-повар Дмитрий Шуршаков в&nbsp;<strong>гастрономической зоне «Держи краба!»</strong>, где можно было попробовать аутентичные блюда регионов ДФО и&nbsp;Республики Корея. </p>
      <p>В&nbsp;музыкальной части Фестиваля выступили ведущие коллективы и&nbsp;артисты Дальнего Востока, в&nbsp;том числе популярная <strong>группа Марлины</strong>, участник шоу «Танцы» на&nbsp;ТНТ <strong>Дмитрий Богаченко</strong> и&nbsp;финалист шоу «Песни» на&nbsp;ТНТ <strong>Джей Мар</strong>.</p>
    </div>
  </div>
</section>

{# CULTURE CAROUSEL #}
<div class="carousel is-culture slide" id="far-east-culture" data-ride="carousel">
  <div class="carousel-inner media-wrapper">
    <div class="carousel-item active"><img src="/a/img/clients/polylog/2020-02-08-culture-01.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-02.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-03.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-04.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-05.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-06.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-07.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-08.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-09.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
    <div class="carousel-item"><img src="/a/img/clients/polylog/2020-02-08-culture-010.jpg" alt="Дни Дальнего Востока в Москве — 2019"></div>
  </div>
  <ol class="carousel-indicators">
    <li class="active" data-target="#far-east-culture" data-slide-to="0"></li>
    <li data-target="#far-east-culture" data-slide-to="1"></li>
    <li data-target="#far-east-culture" data-slide-to="2"></li>
    <li data-target="#far-east-culture" data-slide-to="3"></li>
    <li data-target="#far-east-culture" data-slide-to="4"></li>
    <li data-target="#far-east-culture" data-slide-to="5"></li>
    <li data-target="#far-east-culture" data-slide-to="6"></li>
    <li data-target="#far-east-culture" data-slide-to="7"></li>
    <li data-target="#far-east-culture" data-slide-to="8"></li>
    <li data-target="#far-east-culture" data-slide-to="9"></li>
  </ol>
  <a class="carousel-control left" href="#far-east-culture" data-slide="prev" role="button" aria-label="Назад"></a>
  <a class="carousel-control right" href="#far-east-culture" data-slide="next" role="button" aria-label="Вперёд"></a>
</div>

{# QUEST #}
<section class="section is-quest">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <h2 class="section-headline">Большой Дальневосточный квест</h2>
      <p>Привлечь молодёжь на&nbsp;Фестиваль в&nbsp;этом году мы&nbsp;решили с&nbsp;помощью технологии геймификации, привести аудиторию из&nbsp;онлайн в&nbsp;офлайн. Для достижения цели разработали и&nbsp;провели «Большой Дальневосточный квест», главными призами которого стали 10&nbsp;путевок на&nbsp;двоих в&nbsp;регионы Дальнего Востока, также участники получили гарантированные призы от&nbsp;регионов.</p>
      <p>В&nbsp;онлайн части квеста участники регистрировались на&nbsp;специальном сайте, делились информацией о&nbsp;Фестивале на&nbsp;своих страницах в&nbsp;социальных сетях и&nbsp;отвечали на&nbsp;вопросы викторины о&nbsp;Дальнем Востоке, основная часть игры и&nbsp;финал проходили непосредственно на&nbsp;площадке Фестиваля. Офлайн часть квеста проходила в&nbsp;формате авиарейса на&nbsp;Дальний Восток&nbsp;— DDV2019. Время проведения квеста каждый день Фестиваля было равно количеству часов перелета из&nbsp;Москвы на&nbsp;Дальний Восток, а&nbsp;участникам помогали стюардессы.</p>
    </div>
  </div>
</section>

{# RESULT #}
<section class="section is-results">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <figure class="media-wrapper">
        <img src="/a/img/clients/polylog/2020-02-08-amur-amore.jpg" alt="Дни Дальнего Востока в Москве — 2019">
      </figure>
      <h2 class="section-headline">Результаты</h2>
      <p>Более 35&nbsp;000 регистраций на&nbsp;сайте, 15&nbsp;000 активных участников онлайн сделали более 4&nbsp;000 репостов о&nbsp;фестивале в&nbsp;социальных сетях. O2OC&nbsp;— почти 40&nbsp;% посетителей фестиваля. </p>
    </div>
  </div>
</section>



<!-- / CUT IN BODY ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </main>
  {% endblock %}{# / block content #}

</body>
</html>
