{% extends "/pages/base/base.twig" %} {% block html_head_add_on %}
<!-- EXPAND IN STYLE ––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <link rel="stylesheet" href="/sites/all/themes/polylog2017/src/css/head-styles.css"> -->
<style>



</style>

<!-- / EXPAND IN STYLE ––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}

{% block body %}
<body class="section-news">
{% endblock %}

  {% block content %}

  <main class="container">
    <article class="article" itemscope itemtype="https://schema.org/Article">
      <header class="article-eyebrow meta">
        <a class="meta-link section back" href="/ru/company/arj" itemprop="articleSection">Архив новостей</a>
      </header>

      <h1 class="article-headline" itemprop="headline">
        <em>Агентство Полилог и&nbsp;Национальный Ресурсный Центр Наставничества Ментори</em> стали стратегическими партнёрами! 🎉
        [em]Агентство Полилог и&nbsp;Национальный Ресурсный Центр Наставничества Ментори[/em] стали стратегическими партнёрами! 🎉
      </h1>

      {# Первый абзац здесь повторяется. Но в CMS он будет вырезан php и вставлен
      в .article-lead #}
      <div class="article-lead">
        <p itemprop="about">В&nbsp;рамках партнёрства для Ментори мы&nbsp;осуществим PR-сопровождение и&nbsp;фандрайзинг для конференции, которая пройдет <nobr>12-13</nobr> ноября 2018&nbsp;года. </p>
      </div>

      <div class="article-body">
      <!-- CUT IN BODY ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

<p>В&nbsp;рамках партнёрства для Ментори мы&nbsp;осуществим PR-сопровождение и&nbsp;фандрайзинг для конференции, которая пройдет <nobr>12-13</nobr> ноября 2018&nbsp;года. </p>
<div class="media-wrapper">
  <img src="/a/img/clients/polylog/2018-08-08.png" alt="Стратегические партёры">
</div>
<p>Осенью Ментори во&nbsp;второй раз проведёт международную конференцию Global Mentori. Это единственная в&nbsp;СНГ международная конференция по&nbsp;наставничеству. Её&nbsp;цель&nbsp;— объединить международное и&nbsp;российское профессиональное сообщество для сбора и&nbsp;демонстрации практических доказательств эффективности наставничества как инструмента социальной, образовательной и&nbsp;профессиональной адаптации, достижения успеха и&nbsp;благосостояния. В&nbsp;прошлом году в&nbsp;мероприятии приняли участие 1560 участников из&nbsp;10&nbsp;стран. </p>
<p>Ноября ждать долго, а&nbsp;уже <nobr>20-22</nobr> августа пройдет Образовательный интенсив «Конструктор идеального наставничества». Вас ждет 20&nbsp;часов теории и&nbsp;практики в&nbsp;сфере формирования бизнес модели для проекта наставничества, его проектного управления, и&nbsp;погружения в&nbsp;психологию наставнических отношений. А&nbsp;также нетворкинг с&nbsp;экспертами и&nbsp;специалистами в&nbsp;области наставничества.</p>
<p>За&nbsp;полной информацией и&nbsp;билетами переходите на&nbsp;<a href="http://events.mentori.ru/" target="_blank">http://events.mentori.ru/</a></p>

{# <div class="carousel full-bleed slide" id="carousel-msu" data-ride="carousel">
  <div class="carousel-inner media-wrapper">
    <div class="carousel-item active">
      <img src="/a/img/clients/polylog/2018-07-02-rewarding.jpg" alt="Лучшая магистерская работа МГУ">
    </div>
    <div class="carousel-item">
      <img src="/a/img/clients/polylog/2018-07-02-singing.jpg" alt="Лучшая магистерская работа МГУ">
    </div>
   </div>

  <ol class="carousel-indicators">
    <li data-target="#carousel-msu" data-slide-to="0"></li>
    <li data-target="#carousel-msu" data-slide-to="1"></li>
  </ol>

  <a class="carousel-control left positive" href="#carousel-msu" data-slide="prev" role="button" aria-label="Назад"></a>
  <a class="carousel-control right positive" href="#carousel-msu" data-slide="next" role="button" aria-label="Вперёд"></a>
</div> #}

      <!-- / CUT IN BODY ––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      </div>
      <footer class="article-footer meta">
        <time class="meta-date" datetime="2017-01-20"><i>20</i> янв 2017</time>
      </footer>
    </article>
  </main>
  {% endblock %}{# / block content #}
