// stylelint-disable selector-no-qualifying-type
//#region

// Bootstrap and plugins styles
@import './web/sites/all/themes/polylog2017/src/base/variables';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

.jumbotron.base {
  // prettier-ignore
  background-image:
    linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)),

    url('/a/img/clients/buryatia/2020-04-24-hero-lg.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;

  @include media-breakpoint-up(md) {
    // vertical offset for text block
    padding-top: 16rem;
  }

  @include media-breakpoint-up(lg) {
    // prettier-ignore
    background-image:
      radial-gradient(
        360px circle at calc(50% - 580px) 50%,
        rgba(0, 0, 0, 0) 47%,
        rgba(0, 0, 0, .18) 79%,
        rgba(0, 0, 0, .52) 95%,
        rgba(0, 0, 0, .7) 100%),
      url('/a/img/clients/buryatia/2020-04-24-hero-lg.jpg');

    // С верхней шторкой
    // background-position: center top;
    // background-size: 100% 160px, auto auto;
  }
}

.jumbotron-body {
  @include media-breakpoint-up(lg) {
    width: 52rem;
  }
}

.section.is-photos {
  margin-top: 3.6rem;
  padding-bottom: .6rem;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-top: -2 * $size-line;
  }

  @include media-breakpoint-up(lg) {
    margin-top: -5 * $size-line;
  }
}

// Intro
.is-intro {
  margin-bottom: $size-line;

  @include media-breakpoint-up(md) {
    margin-bottom: $size-line * 2;
  }

  @include media-breakpoint-only(md) {
    margin-top: $size-line * 2;
  }
}

// Blockquote
.vr .container .is-intro .blockquote {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: .6rem;

  &::before,
  &::after {
    display: none;
  }

  @include media-breakpoint-up(md) {
    margin-top: -3rem;
  }
}

// media
.section.is-media {
  @include media-breakpoint-down(md) {
    padding-top: 2.4rem;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 2.4rem;
  }
}

// Stats
.row.is-stats {
  margin: 0 auto -1.2rem;
  max-width: 44.4rem;
}

$carousel-control-offset: 3.2rem;

.carousel-control {
  bottom: $carousel-control-offset;
}

.carousel-control.left {
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20transform%3D%22translate(12%2012)scale(-1%201)translate(-12%20-12)%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23C1C7CF%22%20%2F%3E%3Cpath%20d%3D%22M2.5-0.7L-1.1-4.7%20-1.7-5.4%20-3.2-4.1%20-2.5-3.3%200.5%200%20-2.5%203.3%20-3.2%204.1%20-1.7%205.4%20-1.1%204.7%202.5%200.7%203.2%200.1%203.1%200%203.2-0.1%202.5-0.7Z%22%20transform%3D%22translate(10.787741%2012.412259)scale(-1%201)%22%20fill%3D%22%23FFF%22%20%2F%3E%3C%2Fsvg%3E') no-repeat;
  left: $carousel-control-offset;
}

.carousel-control.right {
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23C1C7CF%22%20%2F%3E%3Cpolygon%20points%3D%2215.7%2013.1%2011.5%2017.8%2010%2016.5%2013.7%2012.4%2010%208.3%2011.5%207%2015.7%2011.7%2016.4%2012.3%2016.4%2012.4%2016.4%2012.5%22%20fill%3D%22%23FFF%22%20%2F%3E%3C%2Fsvg%3E%0A') no-repeat;
  right: $carousel-control-offset;
}
// #endregion

