// stylelint-disable selector-no-qualifying-type

// Bootstrap and plugins styles
@import './web/sites/all/themes/polylog2017/src/base/variables';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

.jumbotron.base {
  // prettier-ignore
  background-image:
    linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)),

    url('/a/img/clients/polylog/2020-02-08-hero-02.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;

  @include media-breakpoint-up(md) {
    // vertical offset for text block
    padding-top: 16rem;
  }

  @include media-breakpoint-up(lg) {
    // prettier-ignore
    background-image:
      // linear-gradient(
      //   rgba(0, 0, 0, .6) 0%,
      //   rgba(0, 0, 0, .18) 50%,
      //   rgba(0, 0, 0, .09) 65%,
      //   rgba(0, 0, 0, .045) 75.5%,
      //   rgba(0, 0, 0, .0222) 82.85%,
      //   rgba(0, 0, 0, .0114) 88%,
      //   rgba(0, 0, 0, 0) 100%),

      linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .3) 33%,
        rgba(0, 0, 0, 0)),

      // radial-gradient(
      //   circle at 1110px 50%,
      //   transparent 10%,
      //   rgba(0, 0, 0, .3) 30%,
      //   rgba(0, 0, 0, .6) 60%),

      // linear-gradient(
      //   rgba(0, 0, 0, .5),
      //   rgba(0, 0, 0, .5)),

      url('/a/img/clients/polylog/2020-02-08-hero-lg-02.jpg');

    // С верхней шторкой
    background-position: center top;
    background-size: 100% 160px, auto auto;
  }
}

// Box for hero text block
// .jumbotron-body {
//   @include media-breakpoint-up(lg) {
//     background: rgba(0, 0, 0, .72);
//     box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .4);
//     border-radius: $border-radius;
//     padding: 40px 32px 30px;
//   }
// }

.section.photos {
  @include media-breakpoint-up(md) {
    margin-top: -12rem;
  }
}

.section.is-tourism {
  padding-top: 1.8rem;

  @include media-breakpoint-up(md) {
    padding-bottom: $size-line;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 4.2rem !important;
    padding-bottom: $size-line * 2;
  }
}

.section.is-education {
  @include media-breakpoint-up(md) {
    padding-top: .6rem;
    padding-bottom: $size-line;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 3rem !important;
    padding-bottom: 4.8rem;
  }
}

.carousel.is-education {
  margin-bottom: 1.2rem;
}

.carousel-control.left,
.carousel-control.right {
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%281%29%22%3E%20%3Ccircle%20cx%3D%2211%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23C1C7CF%22%2F%3E%20%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214.22%2013.12%209.987%2017.825%208.5%2016.487%2012.167%2012.412%208.5%208.338%209.987%207%2014.22%2011.704%2014.925%2012.338%2014.858%2012.412%2014.925%2012.487%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E') no-repeat;
}

.carousel-control.left {
  transform: scaleX(-1);
}

.vr main.container .carousel-indicators {
  margin-bottom: .7rem;
}

.col-lg-3.has-tile {
  flex-basis: 21.6rem + 1.2rem; // tile width + .col padding
}

.row.gutters-sm {
  justify-content: center;
}

.section.is-culture {
  @include media-breakpoint-up(md) {
    padding-top: 1.2rem;
    padding-bottom: $size-line;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 3.6rem !important;
    padding-bottom: 4.8rem;
  }
}

.section.is-quest {
  @include media-breakpoint-up(md) {
    padding-top: $size-line;
  }
}

.section.is-results {
  padding-top: $size-line !important;
}

.vr .section.is-results .section-headline {
  padding-top: .5rem;

  @include media-breakpoint-up(md) {
    padding-top: .5rem + $size-line;
  }
}
