  <div class="header-brand dropdown has-context-menu" id="header-brand" aria-haspopup="true">

    {# Logo & Tagline #}
    <a class="brand-link" href="{{site.url}}">

      {# Logo #}
      <picture class="brand-symbol">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/a/img/header/polylog-logo-symbol-xs.svg" media="(max-width: 767px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="svg" src="/a/img/header/polylog-logo.svg" alt="Полилог">
      </picture>
    </a>

  </div>{# #header-brand #}
