.page-header {
  background: $cyan-desaturated;
  display: block;
  text-align: left;
  margin: 4rem -16px 2.6rem;
  padding: 4.3rem 1.6rem 0;
  position: relative;
  height: 120px;


  @include media-breakpoint-only(sm) {
    margin-left: -24px;
    margin-right: -24px;
  }

  @include media-breakpoint-up(sm) {
    padding: 4.3rem 13.6rem 0 2.4rem;

    // Vertical divider
    &::after {
      background: rgba(0, 0, 0, .08);
      display: block;
      content: '';
      position: absolute;
      top: 12px;
      right: 120px;
      width: 1px;
      height: 96px;
    }

    // Icon box
    &::before {
      background: #fff;
      border-radius: $border-radius;
      display: block;
      content: '';
      position: absolute;
      top: 44px;
      right: 44px;
      width: 32px;
      height: 32px;
      z-index: 1;
    }
  } // sm


  @include media-breakpoint-up(md) {
    border-radius: $border-radius;
    margin: 13.8rem 0 5.4rem;
    padding: 4.9rem 13.6rem 0 5.6rem;
  } // md
}

// Has article banner

.has-article-banner .page-header {
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    border-radius: $border-radius $border-radius 0 0;
  } // md

}

// Title

.page-header-headline {
  @extend %headline-huge;
  @include text-truncate();

  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .12);

  // <i> is used in headlines as span for using responsive classes
  // HTML Title module does not allow span itself.
  > i,
  > em {
    font-style: normal;
  }
}

// Title

.page-header-icon {
  @extend %icon;

  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    position: absolute;
    top: 51px;
    right: 51px;
    width: 18px;
    height: 19px;
    z-index: 2;
  } // sm
}

// Title Link

.page-header-link,
.page-header-link:hover,
.page-header-link:visited {
  color: #fff;
}

.collection-index .page-header-link {
  cursor: default;
  pointer-events: none;
}


// -----------------------------------------------------------------------------
// Icons variations
// -----------------------------------------------------------------------------

.section-services .page-header-icon {
  @extend %icon-services;
}

.section-projects .page-header-icon,
.section-industries .page-header-icon,
.section-upcoming-events .page-header-icon,
.section-clients .page-header-icon,
.section-news .page-header-icon {
  @extend %icon-projects;
}

.section-company .page-header-icon,
.section-press .page-header-icon {
  @extend %icon-company;
}

.section-careers .page-header-icon {
  @extend %icon-career;
}

.section-blog .page-header-icon,
.section-pr-help .page-header-icon,
.section-help .page-header-icon {
  @extend %icon-blog;
}

// 404
.section-.index .page-header-icon,
.section-.-index .page-header-icon {
  @extend %icon-search-in-page-header;
}
