{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .img-person {
      top: -3.1rem;
      margin-bottom: 1.7rem;
    }
    .img-person .list-icon {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-careers has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Вакансии</h1>
      <span class="page-header-icon" role="presentation"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-careers/jobs/header.jpg" alt="Вакансии в PR-агентстве">
    </figure>

{#
<section class="collapse-wrapper" itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="datePosted" content="2019-FI-XM">
  <meta itemprop="description" content="В московское PR-агентство требуется FIXME">
  <meta itemprop="hiringOrganization" content="PR-агентство «Полилог»">
  <div class="sr-only" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="postalCode">123610</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress"> Краснопресненская наб. 12 (ЦМТ), подъезд 3, этаж 11, офис 1108. </span> </span> </div>
  <h3 class="collapse-headline" data-toggle="collapse" data-target="#job-FIXME" aria-expanded="false" aria-controls="job-FIXME" itemprop="title"> </h3>
  <div class="collapse" id="job-FIXME">
    <div class="collapse-inner">
      <h4>Функционал</h4>
      <ul itemprop="responsibilities">
      </ul>
      <h4>Пожелания и&nbsp;требования</h4>
      <ul itemprop="skills">
      </ul>
    </div>
  </div>
</section>
#}


<!--




CUT IN BODY




-->
<div class="row gutters-sm pt-66 pb-2">
  <div class="main-content base">
    <p class="lead">Нам всегда требуются классные специалисты. Прежде всего&nbsp;— в&nbsp;области event-менеджмента, связей с&nbsp;общественностью, аналитики, информационных технологий, продаж.</p>

    <section class="collapse-wrapper" itemscope itemtype="http://schema.org/JobPosting">
      <meta itemprop="datePosted" content="2019-03-28">
      <meta itemprop="description" content="В московское PR-агентство требуется диджитал-директор">
      <meta itemprop="hiringOrganization" content="PR-агентство «Полилог»">
      <div class="sr-only" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="postalCode">123610</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress"> Краснопресненская наб. 12 (ЦМТ), подъезд 3, этаж 11, офис 1108. </span> </span> </div>
      <h3 class="collapse-headline" data-toggle="collapse" data-target="#job-digital" aria-expanded="false" aria-controls="job-digital" itemprop="title"> Digital director </h3>
      <div class="collapse" id="job-digital">
        <div class="collapse-inner">
          <h4>Функционал</h4>
          <ul itemprop="responsibilities">
            <li>Активное участие в&nbsp;создании отдела и&nbsp;построении компетенции «креативных digital разработок» в&nbsp;агентстве&nbsp;— создание единых процессов, подходов и&nbsp;стандартов, формирование внутреннего и&nbsp;внешнего имиджа, как агентства с&nbsp;сильным digital и&nbsp;креативом. Будут реализованы собственные проекты агентства, а&nbsp;также проекты для коммерческих и&nbsp;государственных Заказчиков.</li>
            <li>Создание эффективной и&nbsp;лояльной команды; развитие самостоятельных профессионалов в&nbsp;команде, ответственных за&nbsp;конечный продукт.</li>
            <li>Организация процесса сотрудничества с&nbsp;фриланс-специалистами и&nbsp;партнерскими студиями.</li>
            <li>Создание процесса разработки фестивальных кейсов и&nbsp;реализация фестивальной стратегии.</li>
            <li>Отслеживание мировых креативных и&nbsp;digital тенденций.</li>
            <li>Организация процесса по&nbsp;системной генерации проактивных, креативных выходов к&nbsp;основным клиентам (предложений/идей).</li>
            <li>Активное участие в&nbsp;тендерах по&nbsp;новому бизнесу.</li>
            <li>Исследование рынка и&nbsp;отрасли, анализ конкурентов и&nbsp;их&nbsp;деятельности, подготовка аналитических сводок и&nbsp;прогнозирование продаж.</li>
            <li>Разработка концептуальных идей и&nbsp;стратегий под проекты. Контроль и&nbsp;управление процессами на&nbsp;проектах.</li>
            <li>Проведение брейнштормов, креативных сессий.</li>
            <li>Подготовка предложений в&nbsp;виде презентаций и&nbsp;смет, их&nbsp;защита на&nbsp;рус./англ. языках для потенциальных Заказчиков.</li>
            <li>Подготовка и&nbsp;контроль креативных digital-проектов на&nbsp;всех этапах: анализ, планирование (тайминги, внутренние бюджеты), процесс создания/ разработки, тестирование, запуск и&nbsp;сопровождение.</li>
            <li>Поиск оптимальных решений бизнес-задач клиента в&nbsp;рамках бюджета.</li>
            <li>Контроль реализации и&nbsp;воплощение идей.</li>
            <li>Интеграция в&nbsp;креативный и&nbsp;digital продукты всех сервисов агентства.</li>
          </ul>
          <h4>Пожелания и&nbsp;требования</h4>
          <ul itemprop="skills">
            <li>Знание digital-инструментов (создание сайтов, контекстная реклама, соцмедиа, программатик, спец проекты).</li>
            <li>Опыт управления digital-проектами от&nbsp;года.</li>
            <li>Опыт работы Senior Creative director, Creative director, Digital director, Senior Digital director и&nbsp;т.п.&nbsp;не&nbsp;менее 1&nbsp;года.</li>
            <li>Английский не&nbsp;ниже B2.</li>
            <li>Обязательное наличие портфолио и&nbsp;наглядных кейсов в&nbsp;нем.</li>
            <li>Наличие преподавательского опыта приветствуется.</li>
            <li>Наличие собственной базы фриланасеров (райтеры, дизайнеры, smm-менеджеры, CRM-специалисты, ecommerce-менеджер, ATL-менеджер и&nbsp;пр.).</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="collapse-wrapper" itemscope itemtype="http://schema.org/JobPosting">
      <meta itemprop="datePosted" content="2019-03-28">
      <meta itemprop="description" content="В московское PR-агентство требуется бизнес-менеджер">
      <meta itemprop="hiringOrganization" content="PR-агентство «Полилог»">
      <div class="sr-only" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="postalCode">123610</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress"> Краснопресненская наб. 12 (ЦМТ), подъезд 3, этаж 11, офис 1108. </span> </span> </div>
      <h3 class="collapse-headline" data-toggle="collapse" data-target="#job-business" aria-expanded="false" aria-controls="job-business" itemprop="title"> New Business Manager </h3>
      <div class="collapse" id="job-business">
        <div class="collapse-inner">
          <h4>Функционал</h4>
          <ul>
            <li>Поиск новых клиентов по&nbsp;ключевым услугам агентства&nbsp;— PR-консалтинг, b2b-events, проекты для коммерческих и&nbsp;государственных Заказчиков. Интенсивное погружение в&nbsp;деятельность агентства, изучение кейсов/клиентов/лучших практик.</li>
            <li>Отслеживание успешно реализованных мировых и&nbsp;российских кейсов.</li>
            <li>Стратегическое и&nbsp;тактическое планирование по&nbsp;достижению KPI.</li>
            <li>Холодные звонки.</li>
            <li>Назначение встреч с&nbsp;потенциальными клиентами для презентации услуг агентства.</li>
            <li>Ведение CRM-отчетности.</li>
            <li>Навыки подготовки предварительного предложения (презентация и&nbsp;смета) для Заказчиков и&nbsp;защита на&nbsp;рус./англ. языках.</li>
            <li>Client service.</li>
            <li>Ведение проектной документации, отчетов и&nbsp;утверждение ее&nbsp;с&nbsp;клиентом (совместно с&nbsp;командой проекта).</li>
            <li>Постановка задач внутренним и&nbsp;внешним ресурсам агентства, а&nbsp;также контроль их&nbsp;выполнения и&nbsp;сроков.</li>
          </ul>
          <h4>Пожелания и&nbsp;требования</h4>
          <ul>
            <li>Знание CRM, MS&nbsp;Office (MS&nbsp;Word, Excel, PowerPoint). </li>
            <li>Опыт работы на&nbsp;аналогичной должности не&nbsp;менее <span class="nowrap">2-х лет</span>.</li>
            <li>Наличие собственной базы контактов.</li>
            <li>Английский не&nbsp;ниже C1.</li>
            <li>Предоставление перечня 5&nbsp;последних проданных проектов (название компании&nbsp;— проект).</li>
            <li>Представительский внешний вид, активная позиция и&nbsp;умение четко и&nbsp;достаточно быстро выражать свои мысли.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="collapse-wrapper" itemscope itemtype="http://schema.org/JobPosting">
      <meta itemprop="datePosted" content="2019-03-28">
      <meta itemprop="description" content="В московское PR-агентство требуется менеджер в отдел фандрайзинга">
      <meta itemprop="hiringOrganization" content="PR-агентство «Полилог»">
      <div class="sr-only" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="postalCode">123610</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress"> Краснопресненская наб. 12 (ЦМТ), подъезд 3, этаж 11, офис 1108. </span> </span> </div>
      <h3 class="collapse-headline" data-toggle="collapse" data-target="#job-fundraising" aria-expanded="false" aria-controls="job-fundraising" itemprop="title"> Fundraising Manager </h3>
      <div class="collapse" id="job-fundraising">
        <div class="collapse-inner">
          <h4>Функционал</h4>
          <ul>
            <li>Интенсивное погружение в&nbsp;проект, изучение медицинской отрасли травматологии и&nbsp;ортопедии и&nbsp;смежных дисциплин.</li>
            <li>Поиск новых зарубежных и&nbsp;российских компаний, создание базы с&nbsp;контактами.</li>
            <li>Поиск новых спонсоров/партнеров в&nbsp;коммерческом/отраслевом и&nbsp;государственном секторе.</li>
            <li>Холодные звонки/рассылка информационных писем.</li>
            <li>Назначение встреч.</li>
            <li>Подготовка КП.</li>
            <li>Подготовка предложений в&nbsp;виде презентаций/сметы и&nbsp;защита на&nbsp;рус./англ. языках.</li>
            <li>Ведение проектной документации, отчетов.</li>
            <li>Ведение CRM.</li>
            <li>Аккаунт менеджмент и&nbsp;сопровождение на&nbsp;мероприятии.</li>
          </ul>
          <h4>Пожелания и&nbsp;требования</h4>
          <ul>
            <li>Знание CRM, MS&nbsp;Office (MS&nbsp;Word, Excel, PowerPoint). </li>
            <li>Опыт работы в&nbsp;выставочной деятельности не&nbsp;менее <span class="nowrap">2-х</span> лет.</li>
            <li>Английский не&nbsp;ниже C1.</li>
            <li>Представительский внешний вид, активная позиция и&nbsp;умение четко и&nbsp;достаточно быстро выражать свои мысли.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="collapse-wrapper" itemscope itemtype="http://schema.org/JobPosting">
      <meta itemprop="datePosted" content="2019-03-28">
      <meta itemprop="description" content="В московское PR-агентство требуется руководитель проектов в IT-департамент">
      <meta itemprop="hiringOrganization" content="PR-агентство «Полилог»">
      <div class="sr-only" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="postalCode">123610</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress"> Краснопресненская наб. 12 (ЦМТ), подъезд 3, этаж 11, офис 1108. </span> </span> </div>
      <h3 class="collapse-headline" data-toggle="collapse" data-target="#job-it" aria-expanded="false" aria-controls="job-it" itemprop="title"> Руководитель проектов по&nbsp;созданию и&nbsp;развитию ИС </h3>
      <div class="collapse" id="job-it">
        <div class="collapse-inner">
          <p>Консалтинговая группа Полилог&nbsp;— одна из&nbsp;ведущих российских компаний, предоставляющая широкий спектр услуг в&nbsp;области коммуникаций и&nbsp;информационных технологий. В&nbsp;связи с&nbsp;расширением проектной деятельности департамента R&amp;D, занимающегося консультированием и&nbsp;системной интеграцией в&nbsp;интересах государственных организаций, приглашаем специалиста на&nbsp;постоянную работу на&nbsp;позицию Руководителя проектов. Перед первой встречей всем кандидатам, претендующим стать частью департамента R&amp;D, без исключения, направляется входящее тестовое задание, выполнение которого займёт у&nbsp;вас не&nbsp;более 30&nbsp;мин.</p>
          <p><strong>Сфера деятельности&nbsp;</strong>— комплексные проекты в&nbsp;области создания и&nbsp;развития информационных систем, обеспечивающих ведение государственных информационных ресурсов, межведомственное электронное взаимодействие, оказание государственных услуг в&nbsp;электронном виде.</p>
          <p>Кого&nbsp;бы мы&nbsp;хотели видеть на&nbsp;данной позиции&nbsp;— гиперответственного человека, который готов выкладываться на&nbsp;все 100%, постоянно расти и&nbsp;расширять сферу своих полномочий, не&nbsp;боится новых областей знаний и&nbsp;режима многозадачности. Будет плюсом, если у&nbsp;вас есть профильный опыт. Если его нет, но&nbsp;есть талант, непреодолимое желание развиваться и&nbsp;строить карьеру&nbsp;— пишите нам!</p>
          <h4>Функционал</h4>
          <ul>
            <li>Планирование и&nbsp;контроль реализации проекта.</li>
            <li>Сбор требований с&nbsp;заказчика, анализ бизнес-процессов заказчика и&nbsp;разработка технических заданий.</li>
            <li>Работа с&nbsp;федеральными и&nbsp;ведомственными нормативными правовыми актами (НПА), регламентирующими деятельность Заказчика.</li>
            <li>Взаимодействие с&nbsp;аналитиками, техническими специалистами, программистами.</li>
            <li>Контроль реализации требований командой разработчиков, тестирование ПО.</li>
            <li>Участие и&nbsp;контроль подготовки всей отчетности по&nbsp;проекту.</li>
            <li>Делопроизводство по&nbsp;договорам.</li>
            <li>Написание (актуализация) инструкций, пользовательской и&nbsp;эксплуатационной документации на&nbsp;информационные системы.</li>
            <li>Консультация пользователей по&nbsp;вопросам функционирования систем.</li>
            <li>Обучение пользователей.</li>
            <li>Презентация и&nbsp;защита проекта перед Заказчиком.</li>
          </ul>
          <h4>Пожелания и&nbsp;требования</h4>
          <ul>
            <li>Образование: техническое.</li>
            <li>Навыки делового общения и&nbsp;деловой переписки.</li>
            <li>Умение переключаться между разноплановыми задачами.</li>
            <li>Умение в&nbsp;сжатые сроки анализировать большой объем информации.</li>
            <li>Знание MS&nbsp;Office (MS&nbsp;Word, Excel, PowerPoint); MS&nbsp;Visio&nbsp;— приветствуется.</li>
            <li>Знание иностранных языков приветствуется.</li>
          </ul>
        </div>
      </div>
    </section>

    <p><strong>Если вы&nbsp;не&nbsp;нашли свою вакансию,</strong> но&nbsp;хотели&nbsp;бы стать частью нашей команды, то&nbsp;<a class="js-contact" href="mailto:hr(at)gmail(dot)com?subject=polylog.ru" title="Написать письмо">направляйте свое резюме вместе с&nbsp;сопроводительным письмом</a> на&nbsp;рассмотрение нашему HR-у и&nbsp;ожидайте обратной связи.</p>
    <h2>Кого мы берём</h2>
    <p>Мы&nbsp;хотим видеть в&nbsp;нашей команде маркетинговых универсалов&nbsp;— людей готовых достигать поставленных целей, которые могут и&nbsp;хотят учиться новому. Мы&nbsp;приветствуем тех, кто широко и&nbsp;неординарно мыслит, предлагает оригинальные решения и&nbsp;механику их&nbsp;реализации. У&nbsp;нас никаких строгих «функциональных обязанностей». Работа только на&nbsp;результат.</p>
    <h2>Что вы&nbsp;получаете</h2>
    <ul>
      <li>Отсутствие бюрократии и&nbsp;участие в&nbsp;принятии ключевых решений.</li>
      <li>Работа в&nbsp;крупной коммуникационной компании.</li>
      <li>Возможность быстрого карьерного роста.</li>
      <li>Работа в&nbsp;дружном коллективе <a href="https://www.instagram.com/polylogteam/" target="_blank" rel="noopener noreferrer">#polylogteam</a>.</li>
      <li>Программы корпоративного обучения.</li>
      <li>Оформление по&nbsp;ТК с&nbsp;1&nbsp;рабочего дня.</li>
      <li>Сертифицированная система менеджмента качества (стандарт ISO 9001:2015).</li>
      <li>Территориально Краснопресненская набережная, Центр Международной Торговли (метро «Улица 1905&nbsp;года», «Международная», «Деловой центр»).</li>
      <li>Уровень заработной платы обсуждается на&nbsp;собеседовании.</li>
    </ul>
  </div>
  <div class="col-lg-3 offset-lg-1 mt-2s mt-lg-0">
    <div class="row">
      <div class="col-sm-6 col-lg-12 d-flex justify-content-center justify-content-sm-start">
        <figure class="img-person" itemscope itemtype="http://schema.org/Person"> <img src="/a/img/people/zhenya-boltack.png" itemprop="image" alt="Евгения Болтак, менеджер по персоналу">
          <figcaption class="img-person-caption separated"> <b>По&nbsp;любой из&nbsp;вакансий звоните <span itemprop="name">Евгении Болтак</span></b>
            <ul class="list-icon">
              <li class="list-icon-item phone-xs"> <a class="link phone-number" href="tel:+7-495-258-2045" content="+74952582045" itemprop="telephone" title="Звоните">+7 (495) 258-20-45</a> <a class="link phone-number" href="tel:+7-965-210-0770" content="+79652100770" itemprop="telephone" title="Звоните">+7 (965) 210-07-70</a></li>
              <li class="list-icon-item email"> <a class="js-contact" href="mailto:hr(at)gmail(dot)com?subject=polylog.ru" title="Написать письмо">Написать письмо</a> </li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-lg-12 text-muted">
        <p class="mb-0">У&nbsp;нас действует трехуровневая система отбора кандидатов:</p>
        <ol class="list-ol">
          <li>собеседование с&nbsp;руководителем&nbsp;HR департамента;</li>
          <li>собеседование с&nbsp;руководителем профильного департамента и/или бизнес-директором;</li>
          <li>собеседование с&nbsp;исполнительным директором.</li>
        </ol>
        <p>Соискателю может быть предложено выполнить тестовое задание до&nbsp;или после встречи.</p>
      </div>
    </div>
  </div>
</div>
<!--




/ CUT IN BODY




-->
  </article>
</main>

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-careers-cv.twig" %}
{% endblock %}{# / block cta #}
