{% extends "/pages/base/base.twig" %}

{% block html_head_add_on %}
  <style type="text/css">
    .img-person {
      top: -3.1rem;
      margin-bottom: 1.7rem;
    }
    .img-person .list-icon {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block body %}
<body class="section-careers has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">Вакансии</h1>
      <span class="page-header-icon" role="presentation"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="/a/img/s-careers/jobs/header.jpg" alt="Вакансии в PR-агентстве">
    </figure>

{#
<section class="collapse-wrapper" itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="datePosted" content="2019-FI-XM">
  <meta itemprop="description" content="В московское PR-агентство требуется FIXME">
  <meta itemprop="hiringOrganization" content="PR-агентство «Полилог»">
  <div class="sr-only" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="postalCode">123610</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress"> Краснопресненская наб. 12 (ЦМТ), подъезд 3, этаж 11, офис 1108. </span> </span> </div>
  <h3 class="collapse-headline" data-toggle="collapse" data-target="#job-FIXME" aria-expanded="false" aria-controls="job-FIXME" itemprop="title"> </h3>
  <div class="collapse" id="job-FIXME">
    <div class="collapse-inner">
      <h4>Функционал</h4>
      <ul itemprop="responsibilities">
      </ul>
      <h4>Пожелания и&nbsp;требования</h4>
      <ul itemprop="skills">
      </ul>
    </div>
  </div>
</section>
#}


<!--




CUT IN BODY




-->
<div class="row gutters-sm pt-66 pb-2">
  <div class="main-content base">
    <p class="lead">Сейчас мы&nbsp;не&nbsp;ищем сотрудников. Но&nbsp;обычно нам требуются классные специалисты. Прежде всего&nbsp;&mdash; в&nbsp;области event-менеджмента, связей с&nbsp;общественностью, аналитики, информационных технологий, продаж. Заходите через неделю&nbsp;&mdash; обязательно появится что-нибудь новое.</p>

    <h2>Кого мы берём</h2>
    <p>Мы&nbsp;хотим видеть в&nbsp;нашей команде маркетинговых универсалов&nbsp;— людей готовых достигать поставленных целей, которые могут и&nbsp;хотят учиться новому. Мы&nbsp;приветствуем тех, кто широко и&nbsp;неординарно мыслит, предлагает оригинальные решения и&nbsp;механику их&nbsp;реализации. У&nbsp;нас никаких строгих «функциональных обязанностей». Работа только на&nbsp;результат.</p>
    <h2>Что вы&nbsp;получаете</h2>
    <ul>
      <li>Отсутствие бюрократии и&nbsp;участие в&nbsp;принятии ключевых решений.</li>
      <li>Работа в&nbsp;крупной коммуникационной компании.</li>
      <li>Возможность быстрого карьерного роста.</li>
      <li>Работа в&nbsp;дружном коллективе <a href="https://www.instagram.com/polylogteam/" target="_blank" rel="noopener noreferrer">#polylogteam</a>.</li>
      <li>Программы корпоративного обучения.</li>
      <li>Оформление по&nbsp;ТК с&nbsp;1&nbsp;рабочего дня.</li>
      <li>Сертифицированная система менеджмента качества (стандарт ISO 9001:2015).</li>
      <li>Территориально Краснопресненская набережная, Центр Международной Торговли (метро «Улица 1905&nbsp;года», «Международная», «Деловой центр»).</li>
      <li>Уровень заработной платы обсуждается на&nbsp;собеседовании.</li>
    </ul>
  </div>
  <div class="col-lg-3 offset-lg-1 mt-2s mt-lg-0">
    <div class="row">
      <div class="col-sm-6 col-lg-12 d-flex justify-content-center justify-content-sm-start">
        <figure class="img-person" itemscope itemtype="http://schema.org/Person"> <img src="/a/img/people/zhenya-boltack.png" itemprop="image" alt="Евгения Болтак, менеджер по персоналу">
          <figcaption class="img-person-caption separated"> <b>По&nbsp;любой из&nbsp;вакансий звоните <span itemprop="name">Евгении Болтак</span></b>
            <ul class="list-icon">
              <li class="list-icon-item phone-xs"> <a class="link phone-number" href="tel:+7-495-258-2045" content="+74952582045" itemprop="telephone" title="Звоните">+7 (495) 258-20-45</a> <a class="link phone-number" href="tel:+7-965-210-0770" content="+79652100770" itemprop="telephone" title="Звоните">+7 (965) 210-07-70</a></li>
              <li class="list-icon-item email"> <a class="js-contact" href="mailto:hr(at)gmail(dot)com?subject=polylog.ru" title="Написать письмо">Написать письмо</a> </li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-lg-12 text-muted">
        <p class="mb-0">У&nbsp;нас действует трехуровневая система отбора кандидатов:</p>
        <ol class="list-ol">
          <li>собеседование с&nbsp;руководителем&nbsp;HR департамента;</li>
          <li>собеседование с&nbsp;руководителем профильного департамента и/или бизнес-директором;</li>
          <li>собеседование с&nbsp;исполнительным директором.</li>
        </ol>
        <p>Соискателю может быть предложено выполнить тестовое задание до&nbsp;или после встречи.</p>
      </div>
    </div>
  </div>
</div>
<!--




/ CUT IN BODY




-->
  </article>
</main>

{% endblock %}{# / block content #}

{% block cta %}
  {% include "/components/cta/cta-careers-cv.twig" %}
{% endblock %}{# / block cta #}
