// -----------------------------------------------------------------------------
// CUSTOM CAROUSELS
// -----------------------------------------------------------------------------


// ($spacer-y / 4) equals .6rem, half the body text leading
.section.carousel-in-header {
  padding-bottom: ($spacer-y * 2 - ($spacer-y / 4)); // 1
}

.section.carousel-in-header-extended {
  padding-bottom: ($spacer-y * 2 - ($spacer-y / 4));

  @include media-breakpoint-up(lg) {
    padding-bottom: 3.6rem;
  } // lg
}


// -------------------------------------
// Shadow on hover
// -------------------------------------


.section-header.carousel,
.section-footer.carousel,
.page-header-carousel {
  box-shadow: none;
  position: relative;
  transition: box-shadow .24s cubic-bezier(.4, 0, .2, 1), transform .24s cubic-bezier(.4, 0, .2, 1);
  transform: translateY(0);
  padding-bottom: 0;

  &:hover,
  &:focus {
    box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .4);
    transform: translateY(-4px);
  }
}

.section-header.carousel,
.section-footer.carousel {
  margin-bottom: 3rem;
}

.page-header-carousel {
  margin-bottom: 1.2rem;
}

.section-footer.carousel.separated {
  margin-top: 4.2rem;
}

.section-header.carousel figure,
.section-footer.carousel figure,
.page-header-carousel figure {
  margin-bottom: 0;
}

// Link
.section-carousel-link {
  @extend %media-wrapper;

  display: flex;
  justify-content: center;
  height: 252px;
}

// Remove top border radius in page header carousels
.page-header-carousel .section-carousel-link,
.page-header-carousel .section-carousel-link::after {
  border-radius: 0 0 $border-radius $border-radius;
}


// Image
.carousel-inner > .carousel-item > .section-carousel-link > img {
  max-width: none;
}


// Figcaption
.section-header.carousel figcaption,
.section-footer.carousel figcaption,
.page-header-carousel figcaption {
  @include text-truncate();

  background: rgba(0, 0, 0, .5);
  border-radius: 0 0 $border-radius $border-radius;
  color: #fff;
  font-family: $headings-font-family;
  font-weight: 500;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .38);
  text-transform: uppercase;
  padding: 1.9rem 120px 0 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
}

// Indicators
.section-header.carousel .carousel-indicators,
.section-footer.carousel .carousel-indicators,
.page-header-carousel .carousel-indicators {
  margin: 0;
  right: 24px;
  bottom: 2.4rem;
  left: auto;
  width: auto;
}

.carousel-indicators li:not(.active) {
  max-width: 10px;
}

.carousel-indicators .active {
  max-width: 12px;
}

// FULL BLEED CAROUSEL

.carousel.full-bleed {
  margin-bottom: 4.8rem;
  padding-top: 2.4rem;

  @include media-breakpoint-up(lg) {
    margin-right: -181px;
    margin-left: -181px;
  }

  .carousel-inner {
    margin-bottom: 0;
  }

  .carousel-item {
    align-items: start;
  }

  .carousel-indicators {
    margin-bottom: .7rem;
    height: auto !important;
  }

  .carousel-indicators .active {
    max-width: 12px;
  }
}
