// -----------------------------------------------------------------------------
// Taxonomy Term List
// -----------------------------------------------------------------------------

.entry.lonely {
  @extend %container;
}

.lonely > .entry-inner {
  @extend .offset-lg-2, .col-lg-8;

  text-align: left;
  margin-bottom: 3.3rem;
  padding-bottom: 3.3rem;
}

.lonely:not(:last-of-type) > .entry-inner {
  border-bottom: 1px solid $color-border;
}


// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------

.entry:nth-child(even) > .media-wrapper {
  display: none;
}

.section-blog {
  .entry-summary {
    color: $color-text-secondary;
    margin-bottom: 1.3rem;
  }

  .entry-body:hover .entry-summary {
    color: darken($color-text-secondary, 20%);
  }

  .entry-headline {
    padding-top: .1rem;
    padding-bottom: 1.4rem;
  }
}



// -----------------------------------------------------------------------------
// Search Results
// -----------------------------------------------------------------------------

.page-search {

  .entry {
    margin-bottom: ($spacer-y * 2) - .1rem;
  }

  .entry-headline {
    @extend %headline-medium;

    font-weight: normal;
    margin-bottom: .1rem;
    max-width: 100%;

    b {
      font-weight: 500;
    }

    @include media-breakpoint-up(sm) {
      @include text-truncate();
    } // sm
  }

  .entry-summary {
    margin-bottom: 0;
  }
}



// -------------------------------------
// URL
// -------------------------------------

.page-search .entry > a,
.page-search .entry-url {
  display: none;

  @include media-breakpoint-up(sm) {
    @include text-truncate();

    display: block;
    color: $color-text-secondary;

    &:hover {
      color: darken($color-text-secondary, $tone);
    }
  } // md
}

