// -------------------------------------
// Outer Container
// -------------------------------------

// 1) Remove Bootstrap vertical gap
// 2) Reset Bootstrap default 600px
// 3) Full height on mobiles

.modal-dialog {
  margin: 0 auto;  // 1
  width: 100%; // 2
  height: 100%; // 3

  @include media-breakpoint-up(md) {
    max-width: 678px;
  }
}


// -------------------------------------
// Inner Container
// -------------------------------------


.modal-content {
  background-color: #fff;
  background-clip: padding-box;

  // Remove Bootstrap border
  border: 0;
  border-radius: 0;
  box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .4);
  text-align: left;
  padding: 2.4rem 16px 5.4rem;
  outline: 0;
  position: relative;
  min-height: 100%;

  @include media-breakpoint-up(sm) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include media-breakpoint-up(md) {
    border-radius: $border-radius-lg;
    margin: ($spacer-y * 2) auto;
    padding: 4.8rem 72px 7.8rem;
    max-width: 644px;
    height: auto;
    min-height: 400px;
  }
}


// -------------------------------------
// Button Close
// -------------------------------------

.modal-close {
  @extend %text-hide, %btn, %btn-close;

  top: 16px;
  right: 16px;

  @include media-breakpoint-up(md) {
    top: -18px;
    right: 0;
  }
}


// -------------------------------------
// Stand-alone
// -------------------------------------

.container.modal-stand-alone {
  max-width: 498px;

  @include media-breakpoint-up(md) {
    padding-top: 12.8rem;
  } // md
}


// -------------------------------------
// Animation
// -------------------------------------
.modal {
  opacity: 0;
  transition: 1s opacity;
}

.modal.show {
  opacity: 1;
}

