button.btn.social.facebook(aria-label="Фейсбук — Нравится" title="Фейсбук — Нравится")
  span.fb-like(data-href="{{ post.link }}" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false")
#vk-like.btn.social.vk(role="button" aria-label="Вконтакте" title="Вконтакте")
  script(src="//vk.com/js/api/openapi.js?136")
  script.
    VK.init({apiId: #{site.vkAPI}, onlyWidgets: true});
    VK.Widgets.Like("vk_like", {type: "mini", height: 30});
//-
  <div class="btn social vk" id="vk-like" role="button" aria-label="Вконтакте" title="Вконтакте">
  <script type="text/javascript">
  VK.Widgets.Like("vk-like", {type: "mini", height: 30});
  </script>
  </div>
button.btn.social.icon.whatsapp(data-href="whatsapp://send?text={{ post.title | url_encode }}%20{{ post.link }}" aria-label="WhatsApp" title="WhatsApp")
button.btn.social.icon.google-plus(data-href="https://plus.google.com/share?url={{ post.link }}" aria-label="Гугл+" title="Гугл+")
button.btn.social.icon.twitter(data-href="https://twitter.com/home?status='{{ post.title | url_encode }}'+{{ post.link }}" aria-label="Твиттер" title="Твиттер")
button.btn.social.icon.pocket(data-href="https://getpocket.com/edit.php?url={{ post.link }}" aria-label="Покет" title="Покет")
//-
  Just for English version
  <!-- <button class="btn social icon linkedin" data-href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}&amp;title={{ post.title | url_encode }}" aria-label="Linkedin" title="Linkedin"></button>
button.btn.social.icon.telegram(data-href="https://telegram.me/share/url?url={{ post.link }}" aria-label="Телеграм" title="Телеграм")
button.btn.social.icon.email-md(data-href="mailto:?subject={{ post.title | url_encode }}&body={{ post.link }}" aria-label="Почта" title="Почта")
