a.btn.social.icon.facebook-page(href="https://www.facebook.com/polylog" target="_blank" aria-label="Фейсбук" title="Фейсбук")
a.btn.social.icon.twitter-acc(href="https://twitter.com/polylog" target="_blank" aria-label="Твиттер" title="Твиттер")
a.btn.social.icon.instagram-acc(href="http://instagram.com/polylogteam" target="_blank" aria-label="Инстаграм" title="Инстаграм")

//- Just for English version
//- <a class="btn social icon linkedin-page" href="https://www.linkedin.com/company/polylog-pr-" target="_blank" aria-label="Linkedin" title="Linkedin"></a>

a.btn.social.icon.telegram-chl(href="https://telegram.me/polylog" target="_blank" aria-label="Телеграм" title="Телеграм")
a.btn.social.icon.rss(href="http://feeds.feedburner.com/rss/united.rss" target="_blank" aria-label="RSS" title="RSS")
