// -------------------------------------
// Like and Share
// -------------------------------------

// Wrapper is created by plugin
.sticky-wrapper {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    position: absolute;
    top: -.3rem;
    right: 0;
    width: 102px;
  } // lg
} // sticky-wrapper

// Buttons container
// 1) Hide it before wrapper will be created to prevent leap
//
.article .social-options {
  display: none;
  @include media-breakpoint-up(lg) {
    animation: show .2s ease-in forwards;
    display: none; // 1
    width: 102px;

    // Hide sticker when comments, cta or footer are in viewport
    &.hidden {
      animation: hide .2s ease-in forwards;
      opacity: 0;
    } // &.hidden
  } // lg
}

.sticky-wrapper > .social-options {
  @include media-breakpoint-up(lg) {
    display: block;
  } // lg
}

// Animation: .example appear on second / last slide
@keyframes show {
  0%   { display: none; opacity: 0; }
  1%   { display: block; opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hide {
  0%  { opacity: 1; }
  99% { display: block; opacity: 0; }
  100% { display: none; }
}

// Buttons see in social-options
