// -----------------------------------------------------------------------------
// Legacy: delete after new tabs have been developed
// -----------------------------------------------------------------------------

.tabs {
  list-style-image: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;

  a {
    display: block;
    text-decoration: none;
  }
}

.tabs-main {
  border-bottom: 1px solid $color-border;
  height: 43px;
  width: 99%;

  li,
  a { float: left; }

  li { margin: 0 1px 0 0; }

  .first { margin-left: 20px; }

  a {
    background: $color-background-secondary;
    border: 1px solid $color-border;
    border-radius: $border-radius $border-radius 0 0;
    border-bottom-color: $color-background-secondary;
    color: $color-text-secondary;
    line-height: 42px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    padding: 0 19px;
    height: 42px;
  }

  a:hover,
  .tab-selected,
  .tab-selected:visited {
    background: #fff;
    border-bottom-color: #fff;
    color: $color-text-secondary;
  }
}

.tabs-tuts { margin: 1.6em 0 2.2em !important; }

.tab-content { clear: both; }




// -----------------------------------------------------------------------------
// MODERN
// -----------------------------------------------------------------------------

