// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.testimonials > .row {
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 0;
}

.testimonial {
  margin-bottom: 4.2rem;
}

.testimonial-bubble {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: 5.3rem 3.1rem 0;
  position: relative;
  min-height: 252px;

  @include media-breakpoint-up(sm) {
    padding: 7.7rem 4.7rem 0;
  } // sm

  // Bubble tip
  &::after {
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M25%200h-25v25c0-13.807%2011.193-25%2025-25z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M24%200c-10.717%200-21.121%2010.035-23.5%2018.206v-18.206%22%20stroke%3D%22%23D3D6DA%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat;
    display: block;
    content: '';
    position: absolute;
    bottom: -2.4rem;
    left: 2.4rem;
    width: 24px;
    height: 24px;
  }
}

.testimonial-body.first {
  position: relative;

  &::before {
    font-family: $headings-font-family;
    font-weight: 300;
    font-size: 3.2rem;
    content: '\00ab\00a0';
    display: inline-block;
    position: absolute;
    top: -1.4rem;
    left: -2rem;
  }
}

.testimonial-body.en.first::before {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  content: '\201c\00a0';
}

.testimonial-body.last {
  margin-bottom: 0;

  &::after {
    content: '\00a0\00bb';
    display: inline-block;
  }
}

.testimonial-body.en.last::after {
  content: '\201d';
}



.testimonial-footer {
  color: $color-text-secondary;
  padding-top: 4.3rem;
  padding-left: 80px;
  position: relative;
}

.testimonial-avatar {
  border-radius: $border-radius;
  display: block;
  position: absolute;
  left: 0;
  top: 2.9rem;
}


