// -----------------------------------------------------------------------------
// BOXES - Legacy
// -----------------------------------------------------------------------------

.box > img.right {
  margin-right: 16px;

  @include media-breakpoint-up(md) {
    margin-right: 32px;
  }
}

.box-tyl {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .06);
  float: left;
  margin-left: 1.1627907%;
  padding: 11.667em 29px 1.4em;
  position: relative;
  min-height: 33.733em;
  width: 32.55813953%;

  > h2 {
    font: 500 100% $font-family-sans-serif;
    letter-spacing: 0;
    line-height: 1.5;
    padding: 0;
  }

  > p.note { margin-bottom: 0; }
}

.a-tyl {
  border: 9px solid $color-background-secondary;
  display: block;
  position: absolute;
  top: 21px;
  left: 29px;

  img {
    border: 1px solid $color-border;
    margin: 0;
  }

  i.co {
    background-position: -290px -60px;
    position: absolute;
    top: -18px;
    left: -18px;
    height: 20px;
    width: 20px;
  }
}

.box-tyl:first-child { margin-left: 0; }

// -----------------------------------------------------------------------------
// MODERN
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Reset Old
// -----------------------------------------------------------------------------

.box {
  border-radius: $border-radius;
  border: 1px solid $color-border;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .06);
  display: block;
  margin-bottom: $spacer-y;
  position: relative;
  padding-bottom: 2.3rem;

  @include media-breakpoint-up(lg) {
    max-width: 320px;
  }
}

.article-body > .box {
  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}

section.box {
  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}

aside.box {
  display: none;
}

// -------------------------------------
// Header
// -------------------------------------

.box header:not([class]) h3 { font-weight: 400; }

.box-header,
.box > header:not([class]),
.box > h2:not([class]) {
  background-image: linear-gradient(rgb(241, 244, 248), rgb(221, 224, 228) 80%, rgb(231, 234, 238));
  border-bottom: 1px solid $color-border;
  border-radius: ($border-radius - 1px) ($border-radius - 1px) 0 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
  margin-bottom: 1.7rem;
  padding: 1.7rem 15px;

  @include media-breakpoint-up(md) {
    padding-right: 23px;
    padding-left: 23px;
  }
}


// Title
.box-headline,
.box > header:not([class]),
.box > h2:not([class]) {
  @extend %lead;
  color: $color-text-primary;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

// -------------------------------------
// Body
// -------------------------------------

.box > .box-body,
.box > h4,
.box > p {
  padding-right: 15px;
  padding-left: 15px;

  @include media-breakpoint-up(md) {
    padding-right: 23px;
    padding-left: 23px;
  } // text
}

.box > ul,
.article-body .box > ul {
  padding-right: 15px;
  padding-left: 30px;

  @include media-breakpoint-up(md) {
    padding-right: 23px;
    padding-left: 38px;
  } // text
}


// -----------------------------------------------------------------------------
// Brand New
// -----------------------------------------------------------------------------

.boxout {
  margin-bottom: 2.4rem;
}

.boxout-headline {
  color: #fff;
  background-image: linear-gradient(rgb(166, 166, 217), rgb(140, 140, 191));
  border-radius: $border-radius $border-radius 0 0;
  font-family: $font-family-sans-serif;
  font-size: 100%;
  font-weight: 500;
  text-shadow: 0 1px 0 rgba(51, 51, 102, .24);
  text-transform: uppercase;
  padding-top: 3.3rem;
  min-height: 7.2rem;
}

.default > .boxout-headline {
  padding-right: 24px;
  padding-left: 24px;
}

.compact > .boxout-headline {
  padding-right: 16px;
  padding-left: 16px;
}

.boxout-body {
  background: $color-background-alt-row;
  border-radius: 0 0 $border-radius $border-radius;
}

.default > .boxout-body {
  padding: 3rem 24px 4.2rem;
}

.compact > .boxout-body {
  font-size: $font-size-sm;
  line-height: 2rem;
  padding: 1rem 16px 1.8rem;

  > p {
    margin-bottom: 2rem;
  }
}

.default > .boxout-body,
.compact > .boxout-body {
  > p:last-child {
    margin-bottom: 0;
  }
}



// -----------------------------------------------------------------------------
// Variants
// -----------------------------------------------------------------------------

.has-rail {
  position: relative;

  @include media-breakpoint-up(lg) {
    left: 36px;
    max-width: 420px;
  } // lg
}


// .box.rail
.rail {
  @include media-breakpoint-up(lg) {
    position: absolute;

    &.tr,
    &.lr {
      top: 0;
    }

    &.bl {
      bottom: 0;
    }

    &.tr {
      right: -243px;
    }

    &.tl,
    &.bl {
      left: -237px;
    }
  } // mq
}

.article .media-wrapper.rail {
  margin-bottom: 0;
}

