// -----------------------------------------------------------------------------
// TILES' CUSTOMIZATION
// -----------------------------------------------------------------------------

// INTRO

.tile.intro .tile-header {
  background: rgb(51, 51, 153) url('/a/img/p-front/card/usp.svg') no-repeat right bottom;
  border-radius: ($border-radius - 1px) ($border-radius - 1px) 0 0;
  display: block;
  text-align: left;
  overflow: visible;
  position: relative;
  height: 328px;
  z-index: 4;

  // On hover children are changed

  &:hover {
    .tile-footer {
      color: #fff;
    }

    .icon {
      opacity: 1;
    } // icon opacity
  } // hover

  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: flex-end;
  }
}

.tile.intro .tile-body {
  padding: 4.2rem 24px 0;


  @include media-breakpoint-up(sm) {
    flex: 0 0 29.5rem;
  }

  @include media-breakpoint-up(lg) {
    flex: 0 0 21.6rem; // Width single tile on laptops
  }

  @include media-breakpoint-up(xxl) {
    flex-basis: 29.5rem;  // Width single tile on XXL screens
  }

  // @include media-breakpoint-up(sm) {
  //   padding: 4.2rem 24px 0 60%;
  // }

  // @include media-breakpoint-up(xxl) {
  //   padding: 4.1rem 32px 0 60%;
  // }
}

// Headline & summary

.tile.intro .tile-headline,
.tile.intro .tile-summary {
  color: #fff;
}

.tile.intro .tile-summary {
  margin-top: -.1rem;
}

// Portrait (reset styles w/ complex selector)

.tile.intro .tile-img {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    bottom: 0;
    left: 0;
  }
}

// Footer (video caption)

.tile.intro .tile-footer {
  color: rgba(255, 255, 255, .54);
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 24px;
  bottom: 1.8rem;
  transition: color .16s ease-in;
  z-index: 2;

  .icon {
    display: inline-block;
    margin: -.3rem .3rem 0 0;
    opacity: .54;
    transition: opacity .4s ease-in;
    vertical-align: middle;
  }

  @include media-breakpoint-up(sm) {
    left: auto;
    right: 18.9rem; // Width single tile on laptops
  }

  @include media-breakpoint-up(lg) {
    left: auto;
    right: 11rem; // Width single tile on laptops
  }

  @include media-breakpoint-up(xxl) {
    right: 18.9rem;  // Width single tile on XXL screens
  }
}

// Icon Forward
.tile.intro .icon.forward {
  border-color: #fff;
  fill: #fff;
  margin: 0;
  opacity: .54;
  position: absolute;
  right: 2.4rem;
  bottom: 1.6rem;
  transition: opacity .4s ease-in;
}


// Clients

.tile.intro .slider {
  position: absolute;
  top: 367px;
  left: 0;
  width: 100%;
}


// -----------------------------------------------------------------------------
// SERVICES

.tile.event {
  background-color: $brand-event;

  .icon.forward {
    border-color: rgb(128, 128, 178);
    fill: rgb(128, 128, 178);
  }
}

.tile.pr {
  background-color: $brand-pr;

  .icon.forward {
    border-color: rgb(166, 115, 166);
    fill: rgb(166, 115, 166);
  }
}

.tile.fundraising,
.tile.gr {
  background-color: $brand-fundraising;

  .icon.forward {
    border-color: rgb(0, 76, 76);
    fill: rgb(0, 76, 76);
  }
}

.tile.rnd,
.tile.corporate-media {
  background-color: $brand-rnd;

  .icon.forward {
    border-color: rgb(25, 76, 128);
    fill: rgb(25, 76, 128);
  }
}

// -----------------------------------------------------------------------------
// POLYCODE

.tile.is-polycode {
  background: $green-dark;
  border-radius: $border-radius ($border-radius + 1px) ($border-radius + 1px) $border-radius;
  display: flex;
  overflow: visible;
}

.tile.is-polycode .tile-body {
  flex: 0 0 66.7%;
  margin-right: 1.2rem;


  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  // Chevron
  &::before {
    @extend %chevron-forward-in-circle;

    right: 2.4rem;
    bottom: 1.6rem;
    width: 24px;
    height: 24px;
    z-index: 2;
  }

  // Shadow
  &::after {
    background-image:
      linear-gradient(270deg,
      rgba(0, 0, 0, .32),
      rgba(0, 0, 0, .27) 6%,
      rgba(0, 0, 0, .16) 23%,
      rgba(0, 0, 0, .05) 54%,
      rgba(0, 0, 0, 0));
    top: 0;
    right: calc(33.3% - 1.2rem);
    bottom: 0;
    width: 4.8rem;
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 21.6rem;
    position: relative;

    &::before {
      background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2211.5%22%20stroke%3D%22%23FFF%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M15.72%2013.12l-4.233%204.705-1.487-1.338%203.667-4.075-3.667-4.074%201.487-1.338%204.233%204.704.705.634-.067.074.067.075z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      opacity: .5;
    }

    &::after {
      right: -1.2rem;
    }
  }

  @include media-breakpoint-up(xxl) {
    flex-basis: 29.5rem;  // Width single tile on XXL screens
  }
}

.tile.is-polycode .tile-summary {
  color: rgba(255, 255, 255, .54);
}

// Image

.tile.is-polycode .tile__figure {
  border-radius: 0 $border-radius $border-radius 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;

  &::after {
    border: 1px solid color-ink(border);
    border-left: 0;
    border-radius: 0 $border-radius $border-radius 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.tile.is-polycode .tile-img {
  position: static;
  object-fit: cover;
  width: 295px;
  height: 252px;
}

// Chevron




// .tile.is-polycode .icon.forward {
//   background: $icon-dark-inactive;

//   @include media-breakpoint-up(lg) {
//     background: $transparent;
//   }
// }


// -----------------------------------------------------------------------------
// TUTORIALS

.tile.tutorials {
  background: rgb(0, 102, 0) url('/a/img/p-front/card/tutorials.jpg') no-repeat;
  overflow: visible;

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    background-image: url('/a/img/p-front/card/tutorials@2x.jpg');
    background-size: 611px 262px;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    // justify-content: flex-end;
  }
}

.tile.tutorials .tile-body {
  @include media-breakpoint-up(lg) {
    flex: 0 0 21.6rem; // Width single tile on laptops
  }

  @include media-breakpoint-up(xxl) {
    flex-basis: 29.5rem;  // Width single tile on XXL screens
  }
}

.tile.tutorials .tile-summary,
.tile.about-us .tile-summary {
  color: rgba(255, 255, 255, .54);
}

// Portrait

.tile.tutorials .tile-img {

  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    // bottom: -10px;
    bottom: 0;
    // left: 0;
    right: 0;
  }
}


// -----------------------------------------------------------------------------
// ABOUT US

.tile.about-us {
  background: rgb(0, 102, 0) url('/a/img/p-front/card/about-us.jpg') no-repeat;
  text-align: center;

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    background-image: url('/a/img/p-front/card/about-us@2x.jpg');
    background-size: 611px 262px;
  }
}


// -----------------------------------------------------------------------------
// FOCUS / PR HELP

.tile.focus {
  background: $orange-light url('/a/img/p-front/card/focus.jpg') no-repeat -79px 0;

  @include media-breakpoint-up(xxl) {
    background-position: 0 0;
  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    background-image: url('/a/img/p-front/card/focus@2x.jpg');
    background-size: 304px 262px;
  }
}

.tile.focus .tile-subhead {
  color: rgb(191, 89, 38);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .24);
}


// -----------------------------------------------------------------------------
// BLOG

.tile.blog {
  background: $orange url('/a/img/blog/related-blog-posts.jpg') no-repeat -1px 0;

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    background-image: url('/a/img/blog/related-blog-posts@2x.jpg');
    background-size: 672px 260px;
  }

  @include media-breakpoint-up(lg) {
    background-position: 99% 0;
  }
}


// -----------------------------------------------------------------------------
// CONTACTS

@include media-breakpoint-up(lg) {
  .tile.contacts {
    background: $orange url('/a/img/p-front/card/address.png') no-repeat 60% 0;

    @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
      background-image: url('/a/img/p-front/card/address@2x.png');
      background-size: 672px 260px;
    }
  }
}


// -----------------------------------------------------------------------------
// MANAGEMENT

.tile.management {
  background-color: $orange-light;
  overflow: visible;
}

.tile.management .tile-headline {
  background: rgba(255, 153, 102, .9);
  border-top: 1px solid rgba(51, 0, 0, .12);
  border-radius: 0 0 ($border-radius - 1px) ($border-radius - 1px);
  font-family: $font-family-sans-serif;
  font-weight: normal;
  text-transform: none;
  padding: 18px 24px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  z-index: 2;
}

.tile.management .tile-img {
  bottom: 0;
  right: 0;
}

// -----------------------------------------------------------------------------
// JOBS

.tile.jobs {
  background-color: $brand-jobs;
}
