// -----------------------------------------------------------------------------
// Container
// -----------------------------------------------------------------------------

// 1) Content + padding: {534, 900, 1216} + 12 * 2 = 558
//

.page-front main.container {
  padding-right: 12px;
  padding-left: 12px;

  @include media-breakpoint-up(sm) {
    max-width: 558px; // 1
  }

  @include media-breakpoint-up(lg) {
    max-width: 924px; // 1
  }

  @include media-breakpoint-up(xxl) {
    width: auto;
    max-width: 1240px; // 1
  }
}

// Row
.page-front main.container .row,
.tiles .row,
.row.tiles {
  @include media-breakpoint-up(sm) {
    margin-right: -6px;
    margin-left: -6px;

    > [class*='col-'] {
      padding-right: 6px;
      padding-left: 6px;
    }
  } // mq
} // .tiles .row



// -------------------------------------
// Base Styles
// -------------------------------------

.tile {
  border-radius: $border-radius;
  display: block;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  min-height: 1px;
  height: 252px;

  &:hover {
    .icon.forward {
      fill: rgba(255, 255, 255, .8);
    }
  }

  @include media-breakpoint-up(sm) {
    max-width: 262px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 295px;
  }
}

// Chevron

.icon.forward {
  border-radius: 24px;
  border: 1px solid;
  width: 24px;
  height: 24px;
  position: absolute;
  transition: fill .4s ease-in;
}

.tile.wide,
.tile.large {
  @include media-breakpoint-up(sm) {
    max-width: none;
  }

  @include media-breakpoint-up(lg) {
    max-width: 602px;
  }
}

.tile.large {
  height: 516px;
}

// box-sizing of a.tile and .tile.like-link is content-box.
// so we subtract width of top and bottom borders

a.tile.large.group,
.tile.large.group.like-link {
  height: 514px;
}


// -------------------------------------
// Tiles' typography
// -------------------------------------

// Tile eyebrows, headlines and captions
.tile-eyebrow,
.tile-link,
.tile-headline,
.tile-subhead,
a.tile {
  font-family: $font-family-sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  padding: 0;
}

// Tile eyebrows, headlines and captions colors
.tile-eyebrow,
.tile-link,
.tile-headline,
.tile-subhead,
a.tile {
  color: #fff;
}

// Tile link colors
.tile-link {
  color: $negative-secondary;

  &:hover,
  &:focus {
    color: #fff;
  }
}

// Tile eyebrows, headlines
.tile-headline,
.tile-eyebrow {
  font-weight: 500;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .12);

  small {
    font-size: 100%;
  }
}

.tile-subhead,
a.tile {
  font-family: $font-family-sans-serif;
  font-weight: normal;
}


// -------------------------------------
// Tiles' areas
// -------------------------------------


.tile-footer {
  &:last-child {
    border-radius: 0 0 ($border-radius - 1px) ($border-radius - 1px);
  }
}


// -------------------------------------
// LINKS
// -------------------------------------

// Whole tile is a link

a.tile,
a.tile-header,
.tile.like-link {
  @extend %box-shadow;

  box-sizing: content-box;
  cursor: pointer;
  margin: 0 0 1.2rem;
  overflow: hidden;

  .tile-img {
    position: absolute;
    width: auto;
    max-width: none;
  }

  .tile-img.bottom-left {
    bottom: 0;
    left: 0;
  }

  .tile-img.bottom-right {
    right: 0;
    bottom: 0;
  }


  .tile-img.top-fit {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    border-radius: ($border-radius - 1px) ($border-radius - 1px) 0 0;
    top: 0;
    right: 0;
    left: 0;

    &.in-large-tile {
      height: 311px;
    }
  }
}

// Box shadow on hover
a.tile:hover,
a.tile-header:hover,
.carousel.has-tile:hover .like-link,
.metric.has-link:hover,
.poster.like-link:hover {
  @extend %box-shadow-hover;
}

// The first :hover solution (expanding) stuff
// Patch for vertical alignment of slides in a carousel expanded on hover
// .has-tile:hover .tile-slide {
//   margin-top: 4px;

//   &.active {
//     margin-top: 0;
//   }
// }

// Link lable. I.e. more, forward etc
.tile-link-lable {
  display: inline-block;
  position: relative;
  font-size: $font-size-xs;
  text-transform: uppercase;
  margin-top: $spacer-y;
  padding-right: 20px;

  // Icon
  .icon {
    position: absolute;
    top: .1rem;
    right: 0;
  }
}

.tile-link-lable.on-dark {
  color: rgba(255, 255, 255, .7);
}

// Icon

.page-rnd .icon-details-plus {
  fill: rgb(76, 128, 178);
}

.page-rnd .icon-details-oval {
  fill: rgb(25, 76, 128);
}

// .page-pr .icon-details-plus {
//   fill: rgb(128, 76, 128);
// }

// .page-pr .icon-details-oval {
//   fill: rgb(89, 38, 89);
// }

// -------------------------------------
// SIGNAGE
// A card with top icon and centered text
// -------------------------------------

.tile.signage {
  color: #fff;
  text-align: center;

  .tile-headline {
    font-family: $font-family-sans-serif;
  }

  .tile-body {
    padding: 9rem 12px 0;
  }

  // Icon
  .icon.top {
    margin-left: -16px;
    position: absolute;
    top: 36px;
    left: 50%;
    width: 32px;
    height: 32px;
  }

  // Chevron
  .icon.forward {
    margin-left: -12px;
    bottom: 27px;
    left: 50%;
  }
} // .tile.signage


.signage .tile-headline.services {
  font-weight: 700;
}


// -------------------------------------
// POSTER
// A pure text card, a card with background, or image
// -------------------------------------

.tile.poster {
  color: #fff;
  text-align: left;

  .tile-body {
    padding: 4.3rem 24px 0;

    @include media-breakpoint-up(xxl) {
      padding: 4.3rem 32px 0;
    }
  }

  // Title
  .tile-headline,
  .tile-eyebrow {
    text-transform: uppercase;
  }

  .tile-subhead,
  .tile-summary {
    margin-top: -.1rem;
    margin-bottom: 0;
  }

  .tile-subhead + .tile-summary {
    margin-top: 0;
  }

  // Chevron
  .icon.forward {
    border-color: rgba(255, 255, 255, .64);
    fill: rgba(255, 255, 255, .64);
    right: 24px;
    bottom: 16px;
    z-index: 4;
  }

  &:hover {
    .icon.forward {
      fill: rgb(255, 255, 255);
    }
  }
} // .tile.poster


// -------------------------------------
// POSTER FOR RELATED STORIES
// Card with space for absolutely positioned
// eyebrow
// -------------------------------------

.tile.related-case,
.tile.related-article {
  background: #c33;
} // .tile.-related

// Blue
.tile.related-case {
  background: rgb(51, 102, 153) url('/a/img/blog/related-blog-cases.jpg') 0 0 no-repeat;

  @include media-breakpoint-up(lg) {
    background-position: -45px 0;
  } // lg
}

// Orange
.tile.first-related-article,
.tile.second-related-article,
.tile.third-related-article {
  background: rgb(255, 102, 0) url('/a/img/blog/related-blog-posts.jpg') no-repeat;
}

.tile.second-related-article {
  background-position: -224px 0;
}

.tile.third-related-article {
  background-position: -448px 0;
}



// -------------------------------------
// GROUP
// Tiles containing widgets
// -------------------------------------

.tile.group {
  background: #fff;
  border: 1px solid $color-border;
  text-align: center;

  // Minus borders width

  &.large {
    @include media-breakpoint-up(lg) {
      max-width: 600px;
    }
  }

  // Title
  .tile-headline,
  .tile-subhead {
    text-transform: uppercase;
  }

}


// -------------------------------------
// CAROUSEL
// -------------------------------------

// 1) Image height and margin-bottom
.tile.group.large .tile-slide {
  flex-direction: column;
  padding-top: 354px; // 1)
}

.tile-slide .tile-headline {

  color: $body-color;
  font-weight: 300;
  text-shadow: none;
  padding: 0 23px;

  b {
    font-weight: 500;
  }
}

.tile-slide .tile-summary {

  display: none;

  @include media-breakpoint-up(sm) {
    @include line-clampin($line-count: 2);

    color: $color-text-secondary;
    padding: 0 23px;
    transition: color .16s cubic-bezier(.4, 0, .2, 1);
  }
}

.tile-slide:hover .tile-summary {
  color: $body-color;
}

// Footer: next / prev and caption/link

.has-tile .carousel-footer {
  margin-left: -4rem;
  position: absolute;
  left: 50%;
  bottom: 1.8rem;
  width: 8rem;
  z-index: 1;
}

.has-tile .carousel-footer,
.has-tile .carousel-control {
  transition: transform .24s cubic-bezier(.4, 0, .2, 1);
  transform: translateY(0);
}

.has-tile:hover {
  .carousel-footer,
  .carousel-control {
    transform: translateY(-.4rem);
  }
}


